Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2018-07, with the labels that each got.

#1332 BookingType parameter should be described
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
Labels: area:exchange

#1381 *-CSOnlinePSTNGateway commands
  skype/skype-ps/skype/Get-CSOnlinePSTNGateway.md
  skype/skype-ps/skype/New-CSOnlinePSTNGateway.md
  skype/skype-ps/skype/Remove-CSOnlinePSTNGateway.md
  skype/skype-ps/skype/Set-CSOnlinePSTNGateway.md
  skype/skype-ps/skype/skype.md
Labels: area:skype

#1393 Include note regarding 10000 item limit if the -SearchQuery param is used
  exchange/exchange-ps/exchange/mailboxes/Search-Mailbox.md
Labels: area:exchange

#1375 Update Add-SPOTheme.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOTheme.md
Labels: area:spo-powershell

#1405 Update Get-MessageTrackingLog.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrackingLog.md
Labels: area:exchange

#1412 Proofread
  skype/skype-ps/skype/Get-CsCloudCallDataConnectorConfiguration.md
Labels: area:skype

#1413 Proofread
  skype/skype-ps/skype/Get-CsCloudCallDataConnector.md
Labels: area:skype

#1414 Proofread
  skype/skype-ps/skype/New-CsCloudCallDataConnectorConfiguration.md
Labels: area:skype

#1415 Proofread
  skype/skype-ps/skype/Set-CsCloudCallDataConnector.md
Labels: area:skype

#1416 Proofread
  skype/skype-ps/skype/Set-CsCloudCallDataConnectorConfiguration.md
Labels: area:skype

#1407 Update Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
Labels: area:exchange

#1432 Fixes metadata for external help file.
  skype/skype-ps/skype/New-CsPlatformServiceSettings.md
Labels: area:skype

#1431 Fixes metadata for external help file.
  skype/skype-ps/skype/New-CsHybridApplicationEndpoint.md
Labels: area:skype

#1430 Fixes metadata for external help file.
  skype/skype-ps/skype/Set-CsHybridApplicationEndpoint.md
Labels: area:skype

#1429 Fixes metadata for external help file.
  skype/skype-ps/skype/Set-CsPlatformServiceSettings.md
Labels: area:skype

#1428 Fixes metadata for external help file.
  skype/skype-ps/skype/Remove-CsHybridApplicationEndpoint.md
Labels: area:skype

#1427 Fixes metadata for external help file.
  skype/skype-ps/skype/Get-CsHybridApplicationEndpoint.md
Labels: area:skype

#1426 Fixes metadata for external help file.
  skype/skype-ps/skype/Get-CsPlatformServiceSettings.md
Labels: area:skype

#1425 Fixes metadata for external help file.
  skype/skype-ps/skype/Remove-CsAdditionalInternalDomain.md
Labels: area:skype

#1424 Fixes metadata for external help file.
  skype/skype-ps/skype/New-CsAdditionalInternalDomain.md
Labels: area:skype

#1423 Fixes metadata for external help file.
  skype/skype-ps/skype/Get-CsAdditionalInternalDomain.md
Labels: area:skype

#1422 Fixes metadata for external help file.
  skype/skype-ps/skype/Remove-CsPlatformServiceSettings.md
Labels: area:skype

#1435 Creating calling policy documentation
  skype/skype-ps/skype/Get-CsTeamsCallingPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsCallingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
Labels: area:skype

#1458 Update Start-HistoricalSearch.md
  exchange/exchange-ps/exchange/mail-flow/Start-HistoricalSearch.md
Labels: area:exchange

#1468 Update Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: area:exchange

#1466 removed deprecated parameters from New- and Set-CaseHoldRule
  exchange/exchange-ps/exchange/policy-and-compliance-ediscovery/New-CaseHoldRule.md
Labels: area:exchange

#1475 Patch 8
  skype/skype-ps/skype/Get-CsHybridApplicationEndpoint.md
  skype/skype-ps/skype/Get-CsImConfiguration.md
  skype/skype-ps/skype/Get-CsPushNotificationConfiguration.md
  skype/skype-ps/skype/New-CsPushNotificationConfiguration.md
  skype/skype-ps/skype/Remove-CsPushNotificationConfiguration.md
  skype/skype-ps/skype/Set-CsImConfiguration.md
  skype/skype-ps/skype/Set-CsPushNotificationConfiguration.md
Labels: area:skype

#1478 Update Set-ExchangeServer.md
  exchange/exchange-ps/exchange/organization/Set-ExchangeServer.md
Labels: area:exchange

#1392 Patch 7
  skype/skype-ps/skype/Complete-CsCceApplianceRegistration.md
  skype/skype-ps/skype/Get-CsCallerIdPolicy.md
  skype/skype-ps/skype/Grant-CsCallerIdPolicy.md
  skype/skype-ps/skype/New-CsAdditionalInternalDomain.md
  skype/skype-ps/skype/New-CsCallerIdPolicy.md
  skype/skype-ps/skype/Remove-CsAdditionalInternalDomain.md
  skype/skype-ps/skype/Remove-CsCallerIdPolicy.md
  skype/skype-ps/skype/Set-CsCallerIdPolicy.md
  skype/skype-ps/skype/Set-CsCceApplianceDeploymentStatus.md
  skype/skype-ps/skype/Set-CsCceApplianceStatus.md
Labels: area:skype

#1448 Dariomws306 patch 1
  skype/skype-ps/skype/Get-CsOnlineTelephoneNumber.md
  skype/skype-ps/skype/Get-CsOnlineVoiceUser.md
  skype/skype-ps/skype/Get-CsPlatformServiceSettings.md
  skype/skype-ps/skype/New-CsExternalUserCommunicationPolicy.md
  skype/skype-ps/skype/New-CsPlatformServiceSettings.md
  skype/skype-ps/skype/Remove-CsOnlineTelephoneNumber.md
  skype/skype-ps/skype/Remove-CsPlatformServiceSettings.md
  skype/skype-ps/skype/Set-CsCceApplianceStatus.md
  skype/skype-ps/skype/Set-CsHybridApplicationEndpoint.md
  skype/skype-ps/skype/Set-CsOnlineVoiceUser.md
  skype/skype-ps/skype/Set-CsOnlineVoiceUserBulk.md
  skype/skype-ps/skype/Set-CsPlatformServiceSettings.md
  skype/skype-ps/skype/Test-CsOnlinePortabilityIn.md
Labels: area:skype

#1494 Update New-TeamChannel.md
  teams/teams-ps/teams/New-TeamChannel.md
Labels: area:teams

#1513 Update New-Team.md
  teams/teams-ps/teams/New-Team.md
Labels: area:teams
