Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2018-08, with the labels that each got.

#1518 Update recipientfilter-properties.md
  exchange/docs-conceptual/exchange-server/recipient-filters/recipientfilter-properties.md
Labels: area:exchange

#1533 Update to match index.
  teams/docs-conceptual/intro.md
Labels: area:teams

#1545 Update Cs Teams Meeting Policy
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
Labels: area:teams

#1542 Dariomws306 patch 3
  skype/skype-ps/skype/Disable-CsOnlineDialInConferencingUser.md
  skype/skype-ps/skype/Enable-CsOnlineDialInConferencingUser.md
  skype/skype-ps/skype/Get-CsCallingLineIdentity.md
  skype/skype-ps/skype/Get-CsGraphPolicy.md
  skype/skype-ps/skype/Get-CsHuntGroupTenantInformation.md
  skype/skype-ps/skype/Get-CsHybridPSTNAppliance.md
  skype/skype-ps/skype/Get-CsOnlineDialInConferencingUser.md
  skype/skype-ps/skype/Get-CsOnlineVoicemailPolicy.md
  skype/skype-ps/skype/Get-CsUserSession.md
  skype/skype-ps/skype/Grant-CsCallingLineIdentity.md
  skype/skype-ps/skype/Grant-CsGraphPolicy.md
  skype/skype-ps/skype/Grant-CsOnlineVoicemailPolicy.md
  skype/skype-ps/skype/New-CsCallingLineIdentity.md
  skype/skype-ps/skype/Register-CsHybridPSTNAppliance.md
  skype/skype-ps/skype/Remove-CsCallingLineIdentity.md
  skype/skype-ps/skype/Set-CsCallingLineIdentity.md
  skype/skype-ps/skype/Set-CsHybridPSTNAppliance.md
  skype/skype-ps/skype/Set-CsOnlineDialInConferencingUser.md
  skype/skype-ps/skype/Set-CsOnlineVoicemailPolicy.md
  skype/skype-ps/skype/Unregister-CsHybridPSTNAppliance.md
Labels: area:skype

#1540 Add in new enum value for teamsmeetingpolicy
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:teams

#1548 Update .openpublishing.publish.config.json
  .openpublishing.publish.config.json
Labels: area:exchange, area:officewebapps, area:pnp-powershell, area:skype, area:sp-server-powershell, area:spo-powershell, area:staffhub, area:teams, area:whiteboard

#1565 Update Register-SPMTMigration.md
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
Labels: area:spmt

#1570 Patch 10
  skype/skype-ps/skype/Get-CsMeetingMigrationStatus.md
  skype/skype-ps/skype/Get-CsOAuthConfiguration.md
  skype/skype-ps/skype/Grant-CsDialoutPolicy.md
  skype/skype-ps/skype/New-CsEmergencyNumber.md
  skype/skype-ps/skype/Reset-CsNotificationQueues.md
  skype/skype-ps/skype/Set-CsOAuthConfiguration.md
  skype/skype-ps/skype/Start-CsExMeetingMigration.md
Labels: area:skype

#1579 AppDesktopSharingMode parameter cannot set with New-Cs​Teams​Meeting​…
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
Labels: area:teams

#1582 Example still showed -Visibility.
  teams/teams-ps/teams/New-Team.md
Labels: area:teams

#1593 Update Export-SPBusinessDataCatalogModel.md
  sharepoint/sharepoint-ps/sharepoint-server/Export-SPBusinessDataCatalogModel.md
Labels: area:sp-server-powershell

#1591 Update Set-CsOAuthConfiguration.md
  skype/skype-ps/skype/Set-CsOAuthConfiguration.md
Labels: area:skype

#1502 Patch 9
  skype/skype-ps/skype/Get-CsOnlineEnhancedEmergencyServiceDisclaimer.md
  skype/skype-ps/skype/Get-CsTenantMigrationConfiguration.md
  skype/skype-ps/skype/Get-CsUserLocationStatus.md
  skype/skype-ps/skype/Remove-CsSlaConfiguration.md
  skype/skype-ps/skype/Remove-CsSlaDelegates.md
  skype/skype-ps/skype/Set-CsSlaConfiguration.md
  skype/skype-ps/skype/Set-CsTenantMigrationConfiguration.md
Labels: area:skype, area:teams

#1564 Update New-ClientAccessRule.md
  exchange/exchange-ps/exchange/client-access/New-ClientAccessRule.md
Labels: area:exchange

#1597 Update Get-MessageTrace.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrace.md
Labels: area:exchange

#1595 Update description to AllSourceMailboxes(New-MailboxSearch.md)
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-MailboxSearch.md
Labels: area:exchange

#1606 Update Set-OWAMailboxPolicy for 3rd party file providers parameters
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: area:exchange

#1644 Updates to New-UnifiedGroup
  exchange/exchange-ps/exchange/users-and-groups/New-UnifiedGroup.md
Labels: area:exchange

#1649 Updates to New/Set-MigrationBatch
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
Labels: Microsoft submitter

#1618 Added note on DirectFileAccessOn*ComputersEnabled
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: area:exchange

#1656 Updates to Set-OwaMailboxPolic
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#1661 Chrisda to Master
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-IRMConfiguration.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpSensitiveInformationType.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpSensitiveInformationType.md
Labels: Microsoft submitter

#1651 Update Test-ImapConnectivity.md
  exchange/exchange-ps/exchange/client-access/Test-ImapConnectivity.md
Labels: Microsoft submitter, area:exchange

#1659 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Test-ImapConnectivity.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-IRMConfiguration.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpSensitiveInformationType.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpSensitiveInformationType.md
  repo_docs/UPDATE_CMDLETS.md
  skype/skype-ps/skype/New-CSOnlinePSTNGateway.md
  skype/skype-ps/skype/Set-CSOnlinePSTNGateway.md
Labels: Microsoft submitter

#1663 Minor fixes to Set-OwaMailboxPolicy
  exchange/exchange-ps/exchange/client-access-servers/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/New-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Remove-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#1664 Master to Live
  exchange/exchange-ps/exchange/client-access-servers/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/New-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Remove-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#1669 More fixes to Set-OwaMailboxPolicy
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#1670 Master to Live
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#1674 Sync parameters in Set-OwaMailboxPolicy and Set-OwaVirtualDirectory
  exchange/exchange-ps/exchange/client-access-servers/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#1676 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/client-access-servers/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  skype/skype-ps/skype/Move-CsUser.md
Labels: Microsoft submitter

#1678 Updates to New-ComplianceSearchAction
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSearchAction.md
Labels: Microsoft submitter
