Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2018-05, with the labels that each got.

#960 Update New-SPConfigurationDatabase.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPConfigurationDatabase.md
Labels: area:sp-server-powershell

#855 Update Remove-SPEnterpriseSearchCrawlContentSource.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPEnterpriseSearchCrawlContentSource.md
Labels: area:sp-server-powershell

#854 Update Remove-SPEnterpriseSearchContentEnrichmentConfiguration.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPEnterpriseSearchContentEnrichmentConfiguration.md
Labels: area:sp-server-powershell

#853 Update Remove-SPEnterpriseSearchComponent.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPEnterpriseSearchComponent.md
Labels: area:sp-server-powershell

#852 Update Remove-SPContentDatabase.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPContentDatabase.md
Labels: area:sp-server-powershell

#843 Update Get-SPSiteMapDatabase.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPSiteMapDatabase.md
Labels: area:sp-server-powershell

#844 Update Get-SPSiteMaster.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPSiteMaster.md
Labels: area:sp-server-powershell

#845 Update Get-SPUserSolutionAllowList.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPUserSolutionAllowList.md
Labels: area:sp-server-powershell

#846 Update Get-SPWebApplicationAppDomain.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPWebApplicationAppDomain.md
Labels: area:sp-server-powershell

#847 Update Get-SPWorkflowServiceApplicationProxy.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPWorkflowServiceApplicationProxy.md
Labels: area:sp-server-powershell

#848 Update Get-SPWebTemplatesEnabledForSiteMaster.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPWebTemplatesEnabledForSiteMaster.md
Labels: area:sp-server-powershell

#849 Update Remove-SPAppPrincipalPermission.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPAppPrincipalPermission.md
Labels: area:sp-server-powershell

#850 Update Remove-SPCentralAdministration.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPCentralAdministration.md
Labels: area:sp-server-powershell

#851 Update Remove-SPClaimTypeMapping.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPClaimTypeMapping.md
Labels: area:sp-server-powershell

#834 Update Get-SPProjectEventServiceSettings.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPProjectEventServiceSettings.md
Labels: area:sp-server-powershell

#835 Update Get-SPProjectEnterpriseProjectTaskSync.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPProjectEnterpriseProjectTaskSync.md
Labels: area:sp-server-powershell

#836 Update Get-SPProjectDatabaseUsage.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPProjectDatabaseUsage.md
Labels: area:sp-server-powershell

#837 Update Get-SPProjectIsEmailNotificationEnabled.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPProjectIsEmailNotificationEnabled.md
Labels: area:sp-server-powershell

#838 Update Get-SPSecureStoreApplication.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPSecureStoreApplication.md
Labels: area:sp-server-powershell

#839 Update Get-SPService.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPService.md
Labels: area:sp-server-powershell

#840 Update Get-SPServiceApplication.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPServiceApplication.md
Labels: area:sp-server-powershell

#841 Update Get-SPServiceInstance.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPServiceInstance.md
Labels: area:sp-server-powershell

#842 Update Get-SPSite.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPSite.md
Labels: area:sp-server-powershell

#934 Update Restore-SPODeletedSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Restore-SPODeletedSite.md
Labels: area:spo-powershell

#947 Update Remove-SPOUserProfile.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOUserProfile.md
Labels: area:spo-powershell

#955 fixed typo for ExcludeFromOrgHolds parameter name
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/policy-and-compliance-ediscovery/Get-ComplianceCase.md
Labels: area:exchange

#937 Metadata Update as per VSO:BUG 2283348
  exchange/docs-conceptual/exchange-server/connect-to-exchange-servers-using-remote-powershell.md
Labels: area:whiteboard

#936 Metadata Update as per VSO:BUG 2283348
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
Labels: area:whiteboard

#897 Update Get-SPAccessServicesDatabaseServerGroup.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAccessServicesDatabaseServerGroup.md
Labels: area:sp-server-powershell

#965 Master to ExMigration
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-server/connect-to-exchange-servers-using-remote-powershell.md
  exchange/exchange-ps/exchange/antispam-antimalware/Export-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/Get-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/Preview-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/Release-QuarantineMessage.md
  exchange/exchange-ps/exchange/mailboxes/Search-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/policy-and-compliance-ediscovery/Get-ComplianceCase.md
  officewebapps/officewebapps-ps/officewebapps/Get-OfficeWebAppsExcelBIServer.md
  repo_docs/NEW_CMDLETS.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOUserProfile.md
  sharepoint/sharepoint-ps/sharepoint-online/Restore-SPODeletedSite.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAccessServicesDatabaseServerGroup.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPProjectDatabaseUsage.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPProjectEnterpriseProjectTaskSync.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPProjectEventServiceSettings.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPProjectIsEmailNotificationEnabled.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPSecureStoreApplication.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPService.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPServiceApplication.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPServiceInstance.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPSite.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPSiteMapDatabase.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPSiteMaster.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPUserSolutionAllowList.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPWebApplicationAppDomain.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPWebTemplatesEnabledForSiteMaster.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPWorkflowServiceApplicationProxy.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPConfigurationDatabase.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPAppPrincipalPermission.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPCentralAdministration.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPClaimTypeMapping.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPContentDatabase.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPEnterpriseSearchComponent.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPEnterpriseSearchContentEnrichmentConfiguration.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPEnterpriseSearchCrawlContentSource.md
  skype/docs-conceptual/index.md
  skype/docs-conceptual/intro.md
  skype/skype-ps/skype/Add-CsSlaDelegates.md
  skype/skype-ps/skype/Enable-CsMeetingRoom.md
  skype/skype-ps/skype/Get-CsTeamsUpgradeConfiguration.md
  skype/skype-ps/skype/Get-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Set-CsTeamsUpgradeConfiguration.md
  skype/skype-ps/skype/skype.md
  teams/docs-conceptual/index.md
  teams/docs-conceptual/intro.md
  whiteboard/whiteboard-ps/whiteboard/Get-Whiteboard.md
  whiteboard/whiteboard-ps/whiteboard/Invoke-TransferAllWhiteboards.md
  whiteboard/whiteboard-ps/whiteboard/Set-WhiteboardOwner.md
Labels: area:exchange

#975 Update Set-MailPublicFolder.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Set-MailPublicFolder.md
Labels: area:exchange

#986 Updated code sample
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOTheme.md
Labels: area:spo-powershell

#967 Update Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#961 Update Set-SPOSiteOffice365Group.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSiteOffice365Group.md
Labels: area:spo-powershell

#993 Update Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxCalendarConfiguration.md
Labels: area:exchange

#1006 Fix missing space from New-UnifiedGroup help text
  exchange/exchange-ps/exchange/users-and-groups/New-UnifiedGroup.md
Labels: area:exchange

#1029 Update New-CaseHoldPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-ediscovery/New-CaseHoldPolicy.md
Labels: area:exchange

#1015 Update Set-SPOHubSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOHubSite.md
Labels: area:spo-powershell

#1012 Update Get-SPOHubSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOHubSite.md
Labels: area:spo-powershell

#1013 Update Grant-SPOHubSiteRights.md
  sharepoint/sharepoint-ps/sharepoint-online/Grant-SPOHubSiteRights.md
Labels: area:spo-powershell

#1014 Update Register-SPOHubSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Register-SPOHubSite.md
Labels: area:spo-powershell

#1042 Update Get-CsTeamsUpgradeConfiguration.md
  skype/skype-ps/skype/Get-CsTeamsUpgradeConfiguration.md
Labels: area:skype

#1041 Update Set-CsTeamsUpgradeConfiguration.md
  skype/skype-ps/skype/Set-CsTeamsUpgradeConfiguration.md
Labels: area:skype

#1063 Update documentation for Exchange Migration cmdlets
  exchange/exchange-ps/exchange/move-and-migration/Complete-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationEndpoint.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationEndpoint.md
  exchange/exchange-ps/exchange/move-and-migration/Start-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/Test-MigrationServerAvailability.md
Labels: area:exchange

#1039 md files for new cmdlets
  staffhub/staffhub-ps/staffhub/Get-StaffHubShifts.md
  staffhub/staffhub-ps/staffhub/Get-StaffHubUsersForTenant.md
  staffhub/staffhub-ps/staffhub/Remove-StaffHubUser.md
  staffhub/staffhub-ps/staffhub/staffhub.md
Labels: area:staffhub

#1086 Fixing Typo
  skype/skype-ps/skype/New-CsEdgeAllowList.md
  skype/skype-ps/skype/Remove-CsCertificate.md
  skype/skype-ps/skype/Stop-CsWindowsService.md
Labels: area:skype

#1088 Fix links.
  sharepoint/sharepoint-ps/sharepoint-online/Export-SPOQueryLogs.md
Labels: area:spo-powershell

#1099 Whiteboard Powershell: ForceAuthPrompt documentation
  whiteboard/whiteboard-ps/whiteboard/Get-Whiteboard.md
  whiteboard/whiteboard-ps/whiteboard/Invoke-TransferAllWhiteboards.md
  whiteboard/whiteboard-ps/whiteboard/Set-WhiteboardOwner.md
  whiteboard/whiteboard-ps/whiteboard/whiteboard.md
Labels: area:whiteboard

#1104 Update Get-CsTeamsInteropPolicy.md
  skype/skype-ps/skype/Get-CsTeamsInteropPolicy.md
Labels: area:skype, area:teams

#1105 Update Grant-CsTeamsInteropPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsInteropPolicy.md
Labels: area:skype, area:teams

#1106 Update Get-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Get-CsTeamsUpgradePolicy.md
Labels: area:skype, area:teams

#1107 Update New-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/New-CsTeamsUpgradePolicy.md
Labels: area:skype, area:teams

#1108 Update Set-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Set-CsTeamsUpgradePolicy.md
Labels: area:skype, area:teams

#1109 Update Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
Labels: area:skype, area:teams

#1110 Update Remove-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Remove-CsTeamsUpgradePolicy.md
Labels: area:skype, area:teams

#1111 Update Get-CsTeamsUpgradeConfiguration.md
  skype/skype-ps/skype/Get-CsTeamsUpgradeConfiguration.md
Labels: area:skype, area:teams

#1112 Update Set-CsTeamsUpgradeConfiguration.md
  skype/skype-ps/skype/Set-CsTeamsUpgradeConfiguration.md
Labels: area:skype, area:teams

#1102 Update Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
Labels: area:exchange

#1124 Update New-SafeLinksRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeLinksRule.md
Labels: area:exchange

#1123 Update Set-SafeLinksRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-SafeLinksRule.md
Labels: area:exchange

#1119 Updates for -HiddenFromExchangeClientsEnabled
  exchange/exchange-ps/exchange/users-and-groups/Set-UnifiedGroup.md
Labels: area:exchange

#1135 Update Set-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: area:exchange
