Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2018-06, with the labels that each got.

#1151 Document new Start-MigrationUser parameters
  exchange/exchange-ps/exchange/move-and-migration/Complete-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationUser.md
Labels: area:exchange

#1150 Update Set-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: area:exchange

#1149 EHAM shard related changes
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSearch.md
Labels: area:exchange

#1148 Update New-UnifiedGroup.md
  exchange/exchange-ps/exchange/users-and-groups/New-UnifiedGroup.md
Labels: area:exchange

#1159 Added EHAM shard info to Set-ComplianceSearch
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSearch.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/Set-ComplianceSearch.md
Labels: area:exchange

#1183 Update Request-SPOPersonalSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Request-SPOPersonalSite.md
Labels: area:spo-powershell

#1067 Update Set-SPOSiteDesign.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSiteDesign.md
Labels: area:spo-powershell

#1188 Update New-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/New-CsTeamsUpgradePolicy.md
Labels: area:skype

#1190 Update Remove-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Remove-CsTeamsUpgradePolicy.md
Labels: area:skype

#1189 Update Set-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Set-CsTeamsUpgradePolicy.md
Labels: area:skype

#1195 Update Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
Labels: area:skype

#1194 Update Get-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Get-CsTeamsUpgradePolicy.md
Labels: area:skype

#1193 Update Remove-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Remove-CsTeamsUpgradePolicy.md
Labels: area:skype

#1192 Update Set-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Set-CsTeamsUpgradePolicy.md
Labels: area:skype

#1191 Update New-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/New-CsTeamsUpgradePolicy.md
Labels: area:skype

#1196 Update Set-CsTeamsUpgradeConfiguration.md
  skype/skype-ps/skype/Set-CsTeamsUpgradeConfiguration.md
Labels: area:skype

#1197 Update Get-CsTeamsUpgradeConfiguration.md
  skype/skype-ps/skype/Get-CsTeamsUpgradeConfiguration.md
Labels: area:skype

#1172 Update Grant-CsExternalUserCommunicationPolicy.md
  skype/skype-ps/skype/Grant-CsExternalUserCommunicationPolicy.md
Labels: area:skype

#1198 Update Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
Labels: area:skype

#1199 Update Get-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Get-CsTeamsUpgradePolicy.md
Labels: area:skype

#1200 Master to Live for a number of updates.
  exchange/exchange-ps/exchange/mailboxes/Add-MailboxFolderPermission.md
  skype/skype-ps/skype/Get-CsTeamsUpgradeConfiguration.md
  skype/skype-ps/skype/Get-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Grant-CsExternalUserCommunicationPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/New-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Remove-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Set-CsTeamsUpgradeConfiguration.md
  skype/skype-ps/skype/Set-CsTeamsUpgradePolicy.md
Labels: area:exchange, area:skype

#1202 Update New-CsExternalUserCommunicationPolicy.md
  skype/skype-ps/skype/New-CsExternalUserCommunicationPolicy.md
Labels: area:skype

#1217 Update Set-CsTeamsUpgradeConfiguration.md
  skype/skype-ps/skype/Set-CsTeamsUpgradeConfiguration.md
Labels: area:skype

#1216 Update Get-CsTeamsUpgradeConfiguration.md
  skype/skype-ps/skype/Get-CsTeamsUpgradeConfiguration.md
Labels: area:skype

#1215 Update Set-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Set-CsTeamsUpgradePolicy.md
Labels: area:skype

#1219 Added hint of equivalent SfBO cmdlet for Get-CsUser
  skype/skype-ps/skype/Get-CsUser.md
Labels: area:skype

#1214 Update Remove-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Remove-CsTeamsUpgradePolicy.md
Labels: area:skype

#1213 Update Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
Labels: area:skype

#1212 Update Get-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Get-CsTeamsUpgradePolicy.md
Labels: area:skype

#1229 Update Set-MigrationEndpoint to discuss batch update semantics
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationEndpoint.md
Labels: area:exchange

#1228 Update Get-CsUserSession.md + fixed example
  skype/skype-ps/skype/Get-CsUserSession.md
Labels: area:skype

#1248 Update Uninstall-SPSolution.md
  sharepoint/sharepoint-ps/sharepoint-server/Uninstall-SPSolution.md
Labels: area:sp-server-powershell

#1239 Patch 5
  skype/skype-ps/skype/Get-CsExternalUserCommunicationPolicy.md
  skype/skype-ps/skype/Get-CsHybridApplicationEndpoint.md
  skype/skype-ps/skype/Get-CsIPPhonePolicy.md
  skype/skype-ps/skype/Grant-CsExternalUserCommunicationPolicy.md
  skype/skype-ps/skype/Grant-CsIPPhonePolicy.md
  skype/skype-ps/skype/New-CsExternalUserCommunicationPolicy.md
  skype/skype-ps/skype/Remove-CsExternalUserCommunicationPolicy.md
  skype/skype-ps/skype/Set-CsExternalUserCommunicationPolicy.md
  skype/skype-ps/skype/Set-CsIPPhonePolicy.md
Labels: area:skype

#1291 Add link to module browser.
  teams/docs-conceptual/intro.md
Labels: area:teams

#1293 Fixes formatting.
  skype/skype-ps/skype/Move-CsManagementServer.md
Labels: area:skype

#1286 UpdateInboxRules update
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: area:exchange

#1234 Make categories show up in right side navigation
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
Labels: area:pnp-powershell

#1302 Patch 6
  skype/skype-ps/skype/Get-CsImConfiguration.md
  skype/skype-ps/skype/New-CsImConfiguration.md
  skype/skype-ps/skype/Remove-CsImConfiguration.md
  skype/skype-ps/skype/Set-CsImConfiguration.md
Labels: area:skype

#1304 Update Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-MailDetailATPReport.md
Labels: area:exchange

#1288 Update Set-CsMeetingConfiguration.md
  skype/skype-ps/skype/Set-CsMeetingConfiguration.md
Labels: area:skype

#1317 Minor formatting fixes
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
  exchange/docs-conceptual/exchange-server/recipient-filters/recipientfilter-properties.md
Labels: area:exchange

#1344 Update to ComplianceRetentionPolicy to state a location parameter is required to create a retention policy
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-RetentionCompliancePolicy.md
Labels: area:exchange

#1346 Update Get-AdvancedThreatProtectionDocumentReport.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AdvancedThreatProtectionDocumentReport.md
Labels: area:exchange

#1345 Update Get-AdvancedThreatProtectionDocumentDetail.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AdvancedThreatProtectionDocumentDetail.md
Labels: area:exchange

#1336 Filling up missing information.
  skype/skype-ps/skype/Export-CsUserData.md
  skype/skype-ps/skype/Set-CsMeetingConfiguration.md
  skype/skype-ps/skype/Set-CsOnlineDialInConferencingUserDefaultNumber.md
  skype/skype-ps/skype/Update-CsTenantMeetingUrl.md
Labels: area:skype

#1356 Publish Get-AdvancedThreatProtectionDocumentDetail
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AdvancedThreatProtectionDocumentDetail.md
Labels: area:exchange

#1357 Publish Get-AdvancedThreatProtectionDocumentReport
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AdvancedThreatProtectionDocumentReport.md
Labels: area:exchange

#1366 Update Grant-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsMeetingPolicy.md
Labels: area:teams

#1365 Update Set-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:teams

#1285 Update Set-CsConferencingPolicy.md
  skype/skype-ps/skype/Set-CsConferencingPolicy.md
Labels: area:skype

#1361 EOP admin quarantine update
  exchange/exchange-ps/exchange/antispam-antimalware/New-MalwareFilterPolicy.md
Labels: area:exchange

#1362 For EOP, malware quarantine related updates
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MalwareFilterPolicy.md
Labels: area:exchange
