Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2018-04, with the labels that each got.

#659 Update Get-SPTimerJob.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPTimerJob.md
Labels: area:sp-server-powershell

#658 Update New-SPStateServiceApplicationProxy.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPStateServiceApplicationProxy.md
Labels: area:sp-server-powershell

#657 Update New-SPStateServiceApplication.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPStateServiceApplication.md
Labels: area:sp-server-powershell

#341 Update Reset-SPProjectEventServiceSettings.md
  sharepoint/sharepoint-ps/sharepoint-server/Reset-SPProjectEventServiceSettings.md
Labels: area:sp-server-powershell

#339 Update Reset-SPProjectPCSSettings.md
  sharepoint/sharepoint-ps/sharepoint-server/Reset-SPProjectPCSSettings.md
Labels: area:sp-server-powershell

#331 Update Pause-SPProjectWebInstance.md
  sharepoint/sharepoint-ps/sharepoint-server/Pause-SPProjectWebInstance.md
Labels: area:sp-server-powershell

#259 Update Copy-SPActivitiesToWorkflowService.md
  sharepoint/sharepoint-ps/sharepoint-server/Copy-SPActivitiesToWorkflowService.md
Labels: area:sp-server-powershell

#478 Update New-SPSiteSubscription.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPSiteSubscription.md
Labels: area:sp-server-powershell

#477 Update New-SPSiteSubscriptionFeaturePack.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPSiteSubscriptionFeaturePack.md
Labels: area:sp-server-powershell

#664 Update New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxRestoreRequest.md
Labels: area:exchange

#680 Adding Notes
  skype/skype-ps/skype/Get-CsTeamsInteropPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsInteropPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsInteropPolicy.md
Labels: area:skype

#682 fixed an typo that will cause a connection issue
  sharepoint/sharepoint-ps/sharepoint-online/Connect-SPOService.md
Labels: area:spo-powershell

#812 Update Get-SPProfileLeader.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPProfileLeader.md
Labels: area:sp-server-powershell

#737 Update Get-SPAuthenticationProvider.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAuthenticationProvider.md
Labels: area:sp-server-powershell

#727 Update Get-SPAppHostingQuotaConfiguration.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAppHostingQuotaConfiguration.md
Labels: area:sp-server-powershell

#691 Update Get-FASTSearchMetadataCrawledPropertyMapping.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchMetadataCrawledPropertyMapping.md
Labels: area:sp-server-powershell

#823 Update Remove-SPSite.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPSite.md
Labels: area:sp-server-powershell

#814 Update Get-SPPendingUpgradeActions.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPPendingUpgradeActions.md
Labels: area:sp-server-powershell

#813 Update Get-SPProfileServiceApplicationSecurity.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPProfileServiceApplicationSecurity.md
Labels: area:sp-server-powershell

#811 Update Get-SPPluggableSecurityTrimmer.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPPluggableSecurityTrimmer.md
Labels: area:sp-server-powershell

#810 Update Get-SPMicrofeedOptions.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPMicrofeedOptions.md
Labels: area:sp-server-powershell

#809 Update Get-SPInsightsConfig.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPInsightsConfig.md
Labels: area:sp-server-powershell

#808 Update Get-SPFeature.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPFeature.md
Labels: area:sp-server-powershell

#807 Update Get-SPFarmConfig.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPFarmConfig.md
Labels: area:sp-server-powershell

#806 Update Get-SPExcelBlockedFileType.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPExcelBlockedFileType.md
Labels: area:sp-server-powershell

#805 Update Get-SPExcelBIServer.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPExcelBIServer.md
Labels: area:sp-server-powershell

#804 Update Get-SPEnterpriseSearchTopology.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchTopology.md
Labels: area:sp-server-powershell

#803 Update Get-SPEnterpriseSearchStatus.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchStatus.md
Labels: area:sp-server-powershell

#802 Update Get-SPEnterpriseSearchServiceInstance.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchServiceInstance.md
Labels: area:sp-server-powershell

#801 Update Get-SPEnterpriseSearchServiceApplicationProxy.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchServiceApplicationProxy.md
Labels: area:sp-server-powershell

#800 Update Get-SPEnterpriseSearchServiceApplication.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchServiceApplication.md
Labels: area:sp-server-powershell

#799 Update Get-SPEnterpriseSearchService.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchService.md
Labels: area:sp-server-powershell

#798 Update Get-SPEnterpriseSearchSecurityTrimmer.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchSecurityTrimmer.md
Labels: area:sp-server-powershell

#797 Update Get-SPDatabase.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPDatabase.md
Labels: area:sp-server-powershell

#796 Update Get-SPDataConnectionFileDependent.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPDataConnectionFileDependent.md
Labels: area:sp-server-powershell

#794 Update Get-SPEnterpriseSearchResultSource.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchResultSource.md
Labels: area:sp-server-powershell

#793 Update Get-SPEnterpriseSearchResultItemType.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchResultItemType.md
Labels: area:sp-server-powershell

#792 Update Get-SPEnterpriseSearchRankingModel.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchRankingModel.md
Labels: area:sp-server-powershell

#791 Update Get-SPEnterpriseSearchQuerySuggestionCandidates.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchQuerySuggestionCandidates.md
Labels: area:sp-server-powershell

#790 Update Get-SPEnterpriseSearchQuerySpellingCorrection.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchQuerySpellingCorrection.md
Labels: area:sp-server-powershell

#789 Update Get-SPEnterpriseSearchQueryScopeRule.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchQueryScopeRule.md
Labels: area:sp-server-powershell

#787 Update Get-SPEnterpriseSearchQueryDemoted.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchQueryDemoted.md
Labels: area:sp-server-powershell

#786 Update Get-SPEnterpriseSearchQueryAuthority.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchQueryAuthority.md
Labels: area:sp-server-powershell

#785 Update Get-SPEnterpriseSearchPropertyRuleCollection.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchPropertyRuleCollection.md
Labels: area:sp-server-powershell

#784 Update Get-SPEnterpriseSearchPropertyRule.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchPropertyRule.md
Labels: area:sp-server-powershell

#783 Update Get-SPEnterpriseSearchOwner.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchOwner.md
Labels: area:sp-server-powershell

#775 Update Get-SPEnterpriseSearchHostController.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchHostController.md
Labels: area:sp-server-powershell

#776 Update Get-SPEnterpriseSearchLanguageResourcePhrase.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchLanguageResourcePhrase.md
Labels: area:sp-server-powershell

#777 Update Get-SPEnterpriseSearchLinguisticComponentsStatus.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchLinguisticComponentsStatus.md
Labels: area:sp-server-powershell

#778 Update Get-SPEnterpriseSearchLinksDatabase.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchLinksDatabase.md
Labels: area:sp-server-powershell

#779 Update Get-SPEnterpriseSearchMetadataCategory.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchMetadataCategory.md
Labels: area:sp-server-powershell

#780 Update Get-SPEnterpriseSearchMetadataCrawledProperty.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchMetadataCrawledProperty.md
Labels: area:sp-server-powershell

#781 Update Get-SPEnterpriseSearchMetadataManagedProperty.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchMetadataManagedProperty.md
Labels: area:sp-server-powershell

#782 Update Get-SPEnterpriseSearchMetadataMapping.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchMetadataMapping.md
Labels: area:sp-server-powershell

#774 Update Get-SPEnterpriseSearchFileFormat.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchFileFormat.md
Labels: area:sp-server-powershell

#772 Update Get-SPEnterpriseSearchCrawlRule.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchCrawlRule.md
Labels: area:sp-server-powershell

#771 Update Get-SPEnterpriseSearchCrawlMapping.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchCrawlMapping.md
Labels: area:sp-server-powershell

#770 Update Get-SPEnterpriseSearchCrawlLogReadPermission.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchCrawlLogReadPermission.md
Labels: area:sp-server-powershell

#769 Update Get-SPEnterpriseSearchCrawlExtension.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchCrawlExtension.md
Labels: area:sp-server-powershell

#768 Update Get-SPEnterpriseSearchCrawlDatabase.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchCrawlDatabase.md
Labels: area:sp-server-powershell

#767 Update Get-SPEnterpriseSearchCrawlCustomConnector.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchCrawlCustomConnector.md
Labels: area:sp-server-powershell

#766 Update Get-SPEnterpriseSearchCrawlContentSource.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchCrawlContentSource.md
Labels: area:sp-server-powershell

#765 Update Get-SPEnterpriseSearchContentEnrichmentConfiguration.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchContentEnrichmentConfiguration.md
Labels: area:sp-server-powershell

#764 Update Get-SPEnterpriseSearchComponent.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchComponent.md
Labels: area:sp-server-powershell

#763 Update Get-SPEnterpriseSearchAdministrationComponent.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchAdministrationComponent.md
Labels: area:sp-server-powershell

#762 Update Get-SPDiagnosticsPerformanceCounter.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPDiagnosticsPerformanceCounter.md
Labels: area:sp-server-powershell

#757 Update Remove-DatabaseFromAvailabilityGroup.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-DatabaseFromAvailabilityGroup.md
Labels: area:sp-server-powershell

#756 Update Get-SPCustomLayoutsPage.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPCustomLayoutsPage.md
Labels: area:sp-server-powershell

#755 Update Get-SPContentDeploymentPath.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPContentDeploymentPath.md
Labels: area:sp-server-powershell

#754 Update Get-SPContentDeploymentJob.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPContentDeploymentJob.md
Labels: area:sp-server-powershell

#753 Update Get-SPContentDatabase.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPContentDatabase.md
Labels: area:sp-server-powershell

#751 Update Get-SPClaimTypeEncoding.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPClaimTypeEncoding.md
Labels: area:sp-server-powershell

#750 Update Get-SPClaimProviderManager.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPClaimProviderManager.md
Labels: area:sp-server-powershell

#749 Update Get-SPClaimProvider.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPClaimProvider.md
Labels: area:sp-server-powershell

#748 Update Get-SPCertificateAuthority.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPCertificateAuthority.md
Labels: area:sp-server-powershell

#746 Update Get-SPBusinessDataCatalogThrottleConfig.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPBusinessDataCatalogThrottleConfig.md
Labels: area:sp-server-powershell

#745 Update Get-SPBusinessDataCatalogMetadataObject.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPBusinessDataCatalogMetadataObject.md
Labels: area:sp-server-powershell

#744 Update Get-SPBusinessDataCatalogEntityNotificationWeb.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPBusinessDataCatalogEntityNotificationWeb.md
Labels: area:sp-server-powershell

#743 Update Get-SPBrowserCustomerExperienceImprovementProgram.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPBrowserCustomerExperienceImprovementProgram.md
Labels: area:sp-server-powershell

#742 Update Get-SPBingMapsKey.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPBingMapsKey.md
Labels: area:sp-server-powershell

#741 Update Get-SPBingMapsBlock.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPBingMapsBlock.md
Labels: area:sp-server-powershell

#740 Update Get-SPBackupHistory.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPBackupHistory.md
Labels: area:sp-server-powershell

#739 Update Get-SPAppAcquisitionConfiguration.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAppAcquisitionConfiguration.md
Labels: area:sp-server-powershell

#738 Update Get-SPAuthenticationRealm.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAuthenticationRealm.md
Labels: area:sp-server-powershell

#719 Update Get-FASTSearchSpelltuningStatus.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSpelltuningStatus.md
Labels: area:sp-server-powershell

#720 Update Get-ProjectServerLicense.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-ProjectServerLicense.md
Labels: area:sp-server-powershell

#721 Update Get-SPAccessServiceApplication.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAccessServiceApplication.md
Labels: area:sp-server-powershell

#722 Update Get-SPAccessServicesApplication.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAccessServicesApplication.md
Labels: area:sp-server-powershell

#723 Update Get-SPAppAutoProvisionConnection.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAppAutoProvisionConnection.md
Labels: area:sp-server-powershell

#724 Update Get-SPAppDeniedEndpointList.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAppDeniedEndpointList.md
Labels: area:sp-server-powershell

#725 Update Get-SPAppDisablingConfiguration.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAppDisablingConfiguration.md
Labels: area:sp-server-powershell

#726 Update Get-SPAppDomain.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAppDomain.md
Labels: area:sp-server-powershell

#728 Update Get-SPAppInstance.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAppInstance.md
Labels: area:sp-server-powershell

#709 Update Get-FASTSearchSecurityGeneralSettings.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityGeneralSettings.md
Labels: area:sp-server-powershell

#710 Update Get-FASTSearchSecurityLogLevel.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityLogLevel.md
Labels: area:sp-server-powershell

#711 Update Get-FASTSearchSecurityLotusNotesUserStore.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityLotusNotesUserStore.md
Labels: area:sp-server-powershell

#712 Update Get-FASTSearchSecurityPublicFilter.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityPublicFilter.md
Labels: area:sp-server-powershell

#713 Update Get-FASTSearchSecurityRegexAliaser.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityRegexAliaser.md
Labels: area:sp-server-powershell

#714 Update Get-FASTSearchSecurityUserFilter.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityUserFilter.md
Labels: area:sp-server-powershell

#715 Update Get-FASTSearchSecurityUserStore.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityUserStore.md
Labels: area:sp-server-powershell

#716 Update Get-FASTSearchSecurityUserStoreGroupExpansion.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityUserStoreGroupExpansion.md
Labels: area:sp-server-powershell

#717 Update Get-FASTSearchSecurityWorkerNode.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityWorkerNode.md
Labels: area:sp-server-powershell

#718 Update Get-FASTSearchSecurityXMLAliaser.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityXMLAliaser.md
Labels: area:sp-server-powershell

#699 Update Get-FASTSearchContentCollection.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchContentCollection.md
Labels: area:sp-server-powershell

#700 Update Get-FASTSearchResource.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchResource.md
Labels: area:sp-server-powershell

#701 Update Get-FASTSearchSearchSettingGroup.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSearchSettingGroup.md
Labels: area:sp-server-powershell

#702 Update Get-FASTSearchSecurityAliaser.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityAliaser.md
Labels: area:sp-server-powershell

#703 Update Get-FASTSearchSecurityCCTKServer.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityCCTKServer.md
Labels: area:sp-server-powershell

#704 Update Get-FASTSearchSecurityClaimsUserStore.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityClaimsUserStore.md
Labels: area:sp-server-powershell

#705 Update Get-FASTSearchSecurityCompleteGroupExpansion.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityCompleteGroupExpansion.md
Labels: area:sp-server-powershell

#706 Update Get-FASTSearchSecurityDecodedSid.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityDecodedSid.md
Labels: area:sp-server-powershell

#707 Update Get-FASTSearchSecurityDefaultUserStore.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityDefaultUserStore.md
Labels: area:sp-server-powershell

#708 Update Get-FASTSearchSecurityEncodedSid.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchSecurityEncodedSid.md
Labels: area:sp-server-powershell

#667 NoDelete Description Update
  sharepoint/sharepoint-ps/sharepoint-server/Update-SPProfilePhotoStore.md
Labels: area:sp-server-powershell

#479 Update New-SPSubscriptionSettingsServiceApplication.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPSubscriptionSettingsServiceApplication.md
Labels: area:sp-server-powershell

#690 Update Get-FASTSearchMetadataCrawledProperty.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchMetadataCrawledProperty.md
Labels: area:sp-server-powershell

#692 Update Get-FASTSearchMetadataFullTextIndex.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchMetadataFullTextIndex.md
Labels: area:sp-server-powershell

#693 Update Get-FASTSearchMetadataFullTextIndexMapping.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchMetadataFullTextIndexMapping.md
Labels: area:sp-server-powershell

#694 Update Get-FASTSearchMetadataManagedProperty.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchMetadataManagedProperty.md
Labels: area:sp-server-powershell

#695 Update Get-FASTSearchMetadataRankProfile.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchMetadataRankProfile.md
Labels: area:sp-server-powershell

#696 Update Get-AvailabilityGroupStatus.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-AvailabilityGroupStatus.md
Labels: area:sp-server-powershell

#697 Update Get-FASTSearchDocumentProcessingPipeline.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchDocumentProcessingPipeline.md
Labels: area:sp-server-powershell

#698 Update Get-FASTSearchMetadataCategory.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-FASTSearchMetadataCategory.md
Labels: area:sp-server-powershell

#917 Update New-TeamsRetentionCompliancePolicy.md - Ansuman
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-TeamsRetentionCompliancePolicy.md
Labels: area:exchange, area:teams

#903 A note for "-Force" usage
  sharepoint/sharepoint-ps/sharepoint-server/Enable-SPFeature.md
Labels: area:sp-server-powershell

#898 Update Get-SPAccessServicesDatabaseServerGroupMapping.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAccessServicesDatabaseServerGroupMapping.md
Labels: area:sp-server-powershell

#893 Update Remove-FASTSearchMetadataCrawledPropertyMapping.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-FASTSearchMetadataCrawledPropertyMapping.md
Labels: area:sp-server-powershell

#896 Update Get-SPAccessServicesDatabaseServer.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAccessServicesDatabaseServer.md
Labels: area:sp-server-powershell

#895 Update Get-SPAccessServicesDatabase.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAccessServicesDatabase.md
Labels: area:sp-server-powershell

#894 Update Get-SPAccessServicesApplication.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPAccessServicesApplication.md
Labels: area:sp-server-powershell

#892 Update Remove-FASTSearchSpelltuning.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-FASTSearchSpelltuning.md
Labels: area:sp-server-powershell

#883 Update Remove-SPServiceApplicationProxy.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPServiceApplicationProxy.md
Labels: area:sp-server-powershell

#884 Update Remove-SPSiteMaster.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPSiteMaster.md
Labels: area:sp-server-powershell

#885 Update Remove-SPSiteSubscriptionProfileConfig.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPSiteSubscriptionProfileConfig.md
Labels: area:sp-server-powershell

#886 Update Remove-SPTrustedRootAuthority.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPTrustedRootAuthority.md
Labels: area:sp-server-powershell

#887 Update Remove-SPWeb.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPWeb.md
Labels: area:sp-server-powershell

#888 Update Remove-SPWebApplicationAppDomain.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPWebApplicationAppDomain.md
Labels: area:sp-server-powershell

#889 Update Remove-FASTSearchMetadataFullTextIndexMapping.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-FASTSearchMetadataFullTextIndexMapping.md
Labels: area:sp-server-powershell

#890 Update Remove-FASTSearchMetadataManagedProperty.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-FASTSearchMetadataManagedProperty.md
Labels: area:sp-server-powershell

#891 Update Remove-FASTSearchMetadataRankProfile.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-FASTSearchMetadataRankProfile.md
Labels: area:sp-server-powershell

#873 Update Remove-SPEnterpriseSearchServiceApplicationSiteSettings.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPEnterpriseSearchServiceApplicationSiteSettings.md
Labels: area:sp-server-powershell

#874 Update Remove-SPEnterpriseSearchSiteHitRule.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPEnterpriseSearchSiteHitRule.md
Labels: area:sp-server-powershell

#875 Update Remove-SPEnterpriseSearchTenantConfiguration.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPEnterpriseSearchTenantConfiguration.md
Labels: area:sp-server-powershell

#876 Update Remove-SPEnterpriseSearchTenantSchema.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPEnterpriseSearchTenantSchema.md
Labels: area:sp-server-powershell

#877 Update Remove-SPEnterpriseSearchTopology.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPEnterpriseSearchTopology.md
Labels: area:sp-server-powershell

#878 Update Remove-SPExcelBIServer.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPExcelBIServer.md
Labels: area:sp-server-powershell

#879 Update Remove-SPPluggableSecurityTrimmer.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPPluggableSecurityTrimmer.md
Labels: area:sp-server-powershell

#880 Update Remove-SPProfileLeader.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPProfileLeader.md
Labels: area:sp-server-powershell

#881 Update Remove-SPProjectWebInstanceData.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPProjectWebInstanceData.md
Labels: area:sp-server-powershell

#863 Update Remove-SPEnterpriseSearchLinksDatabase.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPEnterpriseSearchLinksDatabase.md
Labels: area:sp-server-powershell
