Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2019-09, with the labels that each got.

#3932 Cmdlet documentation for batch policy assignment
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter

#3928 Add AuthenticationPolicy
  exchange/exchange-ps/exchange/users-and-groups/Set-User.md
Labels: area:exchange

#3921 Update Get-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Get-Mailbox.md
Labels: area:exchange

#3740 Update Set-TransportRule.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-TransportRule.md
Labels: Microsoft submitter, area:exchange

#3763 Update New-TransportRule.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-TransportRule.md
Labels: Microsoft submitter, area:exchange

#3904 Removed unsupported LinkTypes
  exchange/exchange-ps/exchange/users-and-groups/Add-UnifiedGroupLinks.md
Labels: area:exchange

#3908 RecipientAddress works with wildcard chars
  exchange/exchange-ps/exchange/mail-flow/Start-HistoricalSearch.md
Labels: area:exchange

#3907 Added 2 examples
  exchange/exchange-ps/exchange/policy-and-compliance/Set-ProtectionAlert.md
Labels: area:exchange

#3922 IncidentReportContent listed Service twice as a valid value.
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpComplianceRule.md
Labels: Microsoft submitter, area:exchange

#3927 Update Set-User.md
  exchange/exchange-ps/exchange/users-and-groups/Set-User.md
Labels: area:exchange

#3935 Chrisda to Master
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedOutboundSpamFilterPolicy.md
Labels: Microsoft submitter

#3934 Update Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: Microsoft submitter

#3936 Master to Live
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/mail-flow/Start-HistoricalSearch.md
  exchange/exchange-ps/exchange/mailboxes/Get-Mailbox.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-TransportRule.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-ProtectionAlert.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-TransportRule.md
  exchange/exchange-ps/exchange/users-and-groups/Add-UnifiedGroupLinks.md
  exchange/exchange-ps/exchange/users-and-groups/Set-User.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter

#3938 Update New-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/New-ApplicationAccessPolicy.md
Labels: Microsoft submitter, area:exchange

#3941 Ex2016CU12 to Master
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: Microsoft submitter

#3940 Update Move-DatabasePath.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Move-DatabasePath.md
Labels: area:exchange

#3950 Master to Live
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Move-DatabasePath.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/organization/New-ApplicationAccessPolicy.md
Labels: Microsoft submitter

#3951 [Set-Mailbox] adding ability to remove delay hold applied with groupmailbox
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: area:exchange

#3959 Improved some descriptions
  skype/skype-ps/skype/New-CsTeamsEmergencyCallRoutingPolicy.md
  skype/skype-ps/skype/New-CsTeamsEmergencyCallingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsEmergencyCallRoutingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsEmergencyCallingPolicy.md
Labels: area:skype, area:teams

#3960 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  officewebapps/docs-conceptual/index.md
  officewebapps/docs-conceptual/intro.md
  sharepoint/docs-conceptual/sharepoint-online/connect-sharepoint-online.md
  sharepoint/docs-conceptual/sharepoint-online/introduction-sharepoint-online-management-shell.md
  skype/docs-conceptual/index.md
  skype/docs-conceptual/intro.md
  skype/skype-ps/skype/New-CsHybridApplicationEndpoint.md
  skype/skype-ps/skype/New-CsTeamsEmergencyCallRoutingPolicy.md
  skype/skype-ps/skype/New-CsTeamsEmergencyCallingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsEmergencyCallRoutingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsEmergencyCallingPolicy.md
  teams/docs-conceptual/intro.md
  whiteboard/docs-conceptual/index.md
  whiteboard/docs-conceptual/overview.md
Labels: Microsoft submitter

#3967 Update New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpComplianceRule.md
Labels: Microsoft submitter, area:exchange

#3982 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpComplianceRule.md
  skype/skype-ps/skype/Set-CsTeamsMessagingPolicy.md
  skype/skype-ps/skype/Set-CsTenantFederationConfiguration.md
Labels: Microsoft submitter

#3968 Clarified ClientAccessServerEnabled parameter
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-IRMConfiguration.md
Labels: area:exchange

#3969 added license req
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSearchAction.md
Labels: area:exchange

#3976 Update Set-DatabaseAvailabilityGroup.md
  exchange/exchange-ps/exchange/database-availability-groups/Set-DatabaseAvailabilityGroup.md
Labels: area:exchange

#3984 Update New-ActiveSyncMailboxPolicy.md
  exchange/exchange-ps/exchange/devices/New-ActiveSyncMailboxPolicy.md
Labels: area:exchange

#3985 Update recipientfilter-properties.md
  exchange/docs-conceptual/exchange-server/recipient-filters/recipientfilter-properties.md
Labels: area:exchange

#3989 Update Move-CsUser.md
  skype/skype-ps/skype/Move-CsUser.md
Labels: Microsoft submitter

#3990 Master to Live
  exchange/docs-conceptual/exchange-server/recipient-filters/recipientfilter-properties.md
  exchange/exchange-ps/exchange/database-availability-groups/Set-DatabaseAvailabilityGroup.md
  exchange/exchange-ps/exchange/devices/New-ActiveSyncMailboxPolicy.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-IRMConfiguration.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSearchAction.md
  skype/skype-ps/skype/Move-CsUser.md
Labels: Microsoft submitter

#3571 [fix] updated sample
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPSiteSubscriptionConfig.md
Labels: area:sp-server-powershell

#3859 Update Set-SPSecurityTokenServiceConfig.md
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPSecurityTokenServiceConfig.md
Labels: area:sp-server-powershell

#3937 Changed max hub sites number
  sharepoint/sharepoint-ps/sharepoint-online/Register-SPOHubSite.md
Labels: area:sp-server-powershell

#3942 Update Set and Remove OrganizationAssets CMDLet
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOOrgAssetsLibrary.md
Labels: area:sp-server-powershell

#3987 Rename policy package related help docs
  teams/teams-ps/teams/Get-CsPolicyPackage.md
  teams/teams-ps/teams/Get-CsUserPolicyPackage.md
  teams/teams-ps/teams/Get-CsUserPolicyPackageRecommendation.md
  teams/teams-ps/teams/Grant-CsUserPolicyPackage.md
Labels: Microsoft submitter, area:skype, area:teams

#3983 Update Get-CsClientPolicy.md
  skype/skype-ps/skype/Get-CsClientPolicy.md
Labels: area:skype, area:teams

#3992 Update Backup-SPFarm.md
  sharepoint/sharepoint-ps/sharepoint-server/Backup-SPFarm.md
Labels: area:sp-server-powershell

#3970 Number of Hubs per tenant has been increased to 2000
  sharepoint/sharepoint-ps/sharepoint-online/Register-SPOHubSite.md
Labels: Microsoft submitter, area:spo-powershell

#3948 Removed DisabledWebPartIds parameter
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:sp-server-powershell

#3996 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteRename.md
  sharepoint/sharepoint-ps/sharepoint-server/Backup-SPFarm.md
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPSecurityTokenServiceConfig.md
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPSiteSubscriptionConfig.md
  skype/skype-ps/skype/Get-CsClientPolicy.md
  teams/teams-ps/teams/Get-CsPolicyPackage.md
  teams/teams-ps/teams/Get-CsUserPolicyPackage.md
  teams/teams-ps/teams/Get-CsUserPolicyPackageRecommendation.md
  teams/teams-ps/teams/Grant-CsUserPolicyPackage.md
Labels: Microsoft submitter

#4003 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Set-CsClientPolicy.md
Labels: Microsoft submitter

#3997 Update New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxRestoreRequest.md
Labels: area:exchange

#4005 Master to Live
  exchange/exchange-ps/exchange/mailboxes/New-MailboxRestoreRequest.md
Labels: Microsoft submitter

#4007 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-server/Import-SPWeb.md
Labels: Microsoft submitter

#4014 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Grant-CsTeamsEmergencyCallRoutingPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsEmergencyCallingPolicy.md
  skype/skype-ps/skype/skype.md
Labels: Microsoft submitter

#4009 Example corrected
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Enable-MetaCacheDatabase.md
Labels: Microsoft submitter, area:exchange

#4022 Chrisda to Master
  exchange/docs-conceptual/exchange-eop/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/exchange-eop/exchange-online-protection-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/disable-access-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell.md
  exchange/docs-conceptual/exchange-server/connect-to-exchange-servers-using-remote-powershell.md
  exchange/docs-conceptual/exchange-server/control-remote-powershell-access-to-exchange-servers.md
  exchange/docs-conceptual/exchange-server/exchange-cmdlet-syntax.md
  exchange/docs-conceptual/exchange-server/exchange-management-shell.md
  exchange/docs-conceptual/exchange-server/find-exchange-cmdlet-permissions.md
  exchange/docs-conceptual/exchange-server/open-the-exchange-management-shell.md
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
  exchange/docs-conceptual/exchange-server/recipient-filters/recipient-filters.md
  exchange/docs-conceptual/exchange-server/recipient-filters/recipientfilter-properties.md
  exchange/docs-conceptual/exchange-server/use-update-exchangehelp.md
  exchange/docs-conceptual/index.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
  exchange/docs-conceptual/office-365-scc/office-365-scc-powershell.md
Labels: Microsoft submitter

#4025 Update connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
Labels: Microsoft submitter

#4010 Fix JSON for LocalSettings and show usage
  exchange/exchange-ps/exchange/policy-and-compliance/Set-Label.md
Labels: area:exchange

#4024 Update Get-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
Labels: area:spo-powershell

#4030 Update connect-to-exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4031 Update connect-to-exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4033 Delete Set-ExoAppSettings.md
  exchange/exchange-ps/exchange/rest-api-client-module/Set-ExoAppSettings.md
Labels: Microsoft submitter, area:exchange

#4034 Update connect-to-exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4040 Update New-CsMobilityPolicy.md
  skype/skype-ps/skype/New-CsMobilityPolicy.md
Labels: area:skype, area:teams

#4035 Edited synopsis
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteRename.md
Labels: area:spo-powershell

#4043 Added some descriptions
  skype/skype-ps/skype/Set-CsExternalUserCommunicationPolicy.md
Labels: area:skype, area:teams

#4042 Update connect-to-exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4037 Update connect-to-exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4036 Update connect-to-exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4019 Fixed example to reflect proper property name 'PropertyName'
  sharepoint/sharepoint-ps/sharepoint-pnp/Set-PnPUserProfileProperty.md
Labels: Microsoft submitter, area:pnp-powershell

#3979 Updated description and related link
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantTaxonomyReplicationParameters.md
Labels: area:spo-powershell

#3980 Added satellite location note in description
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenantTaxonomyReplicationParameters.md
Labels: area:spo-powershell

#4051 Corrected examples and misleading parameter desc
  skype/skype-ps/skype/Get-CsUserCallForwardingSettings.md
  skype/skype-ps/skype/Get-CsUserDelegates.md
  skype/skype-ps/skype/Get-CsUserTeamMembers.md
  skype/skype-ps/skype/Invoke-CsRgsStoreReplicateData.md
  skype/skype-ps/skype/New-CsOnlineLisCivicAddress.md
  skype/skype-ps/skype/Remove-CsOnlineLisCivicAddress.md
  skype/skype-ps/skype/Remove-CsOnlineLisLocation.md
  skype/skype-ps/skype/Set-CsOnlineLisCivicAddress.md
  skype/skype-ps/skype/Test-CsEffectiveTenantDialPlan.md
  skype/skype-ps/skype/Test-CsOnlineLisCivicAddress.md
Labels: area:skype, area:teams

#4062 Fixed example in -LocaleSettings
  exchange/exchange-ps/exchange/policy-and-compliance/New-Label.md
Labels: Microsoft submitter, area:exchange

#4066 Updates to MalwareFilterPolicy cmdlets per email
  exchange/exchange-ps/exchange/antispam-antimalware/New-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MalwareFilterPolicy.md
Labels: Microsoft submitter

#4063 typo
  skype/skype-ps/skype/Test-CsEffectiveTenantDialPlan.md
Labels: area:skype

#4049 Update comment on UserPrincipalName
  skype/skype-ps/skype/New-CsOnlineApplicationInstance.md
Labels: Microsoft submitter, area:skype, area:teams

#4073 Create Get-CsTeamsUpgradeStatus.md
  skype/skype-ps/skype/Get-CsTeamsUpgradeStatus.md
Labels: Microsoft submitter, area:skype, area:teams

#4075 Update skype.md
  skype/skype-ps/skype/skype.md
Labels: Microsoft submitter, area:skype, area:teams

#4077 Update Get-CsTeamsUpgradeStatus.md
  skype/skype-ps/skype/Get-CsTeamsUpgradeStatus.md
Labels: Microsoft submitter

#4070 Patch 50
  exchange/exchange-ps/exchange/federation-and-hybrid/Set-RemoteMailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Set-MailPublicFolder.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-MailContact.md
  exchange/exchange-ps/exchange/users-and-groups/Set-MailUser.md
Labels: area:exchange

#4078 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/federation-and-hybrid/Set-RemoteMailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Set-MailPublicFolder.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-MailContact.md
  exchange/exchange-ps/exchange/users-and-groups/Set-MailUser.md
  skype/skype-ps/skype/Get-CsTeamsUpgradeStatus.md
Labels: Microsoft submitter

#4079 Updates to HostedContentFilterPolicy cmdlet topics
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
Labels: Microsoft submitter

#4080 Master to Live
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
Labels: Microsoft submitter
