Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2019-02, with the labels that each got.

#2716 Chrisda
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: Microsoft submitter

#2717 Master to Live
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  skype/skype-ps/skype/Get-CsCallerIdPolicy.md
  skype/skype-ps/skype/Get-CsMeetingConfiguration.md
  skype/skype-ps/skype/New-CsOnlinePSTNGateway.md
  skype/skype-ps/skype/Set-CsConferencingPolicy.md
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
  skype/skype-ps/skype/skype.md
Labels: Microsoft submitter

#2720 Update filter-properties.md
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
Labels: Microsoft submitter

#2725 Update Set-CASMailbox.md
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
Labels: Microsoft submitter

#2726 Get-MailTrafficATPReport and Get-MailDetailATPReport EventType update…
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-MailTrafficATPReport.md
Labels: Microsoft submitter

#2727 Master to Live
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-MailTrafficATPReport.md
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
  tools/office-cmdlet-updater/README.md
Labels: Microsoft submitter

#2734 Update Get-RecoverableItems to included Purgeditems parameter
  exchange/exchange-ps/exchange/mailboxes/Get-RecoverableItems.md
Labels: area:exchange

#2745 Chrisda to Master
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/antispam-antimalware/Get-QuarantineMessage.md
  exchange/exchange-ps/exchange/client-access-servers/Set-OutlookAnywhere.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Get-OMEMessageStatus.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-OMEMessageRevocation.md
  exchange/exchange-ps/exchange/mail-flow/Add-ResubmitRequest.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTraceDetail.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrackingLog.md
  exchange/exchange-ps/exchange/mail-flow/Search-MessageTrackingReport.md
  exchange/exchange-ps/exchange/mail-flow/Start-HistoricalSearch.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/reporting/Get-MailDetailDlpPolicyReport.md
  exchange/exchange-ps/exchange/reporting/Get-MailDetailMalwareReport.md
  exchange/exchange-ps/exchange/reporting/Get-MailDetailSpamReport.md
  exchange/exchange-ps/exchange/reporting/Get-MailDetailTransportRuleReport.md
Labels: Microsoft submitter

#2747 Update Set-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: Microsoft submitter

#2748 Create .openpublishing.redirection.json
  .openpublishing.redirection.json
Labels: Microsoft submitter

#2754 SupRevAct-chrisda to Master
  exchange/exchange-ps/exchange/reporting/Get-SupervisoryReviewActivity.md
  exchange/exchange-ps/exchange/reporting/Get-SupervisoryReviewOverallProgressReport.md
  exchange/exchange-ps/exchange/reporting/Get-SupervisoryReviewTopCasesReport.md
Labels: Microsoft submitter

#2682 Update New-CsMobilityPolicy.md
  skype/skype-ps/skype/Move-CsMeetingRoom.md
  skype/skype-ps/skype/New-CsMobilityPolicy.md
Labels: area:skype

#2737 Update Set-ThrottlingPolicy.md
  exchange/exchange-ps/exchange/server-health-and-performance/Set-ThrottlingPolicy.md
Labels: Microsoft submitter

#2732 Update example
  skype/skype-ps/skype/Get-CsMeetingMigrationStatus.md
Labels: area:skype

#2749 Missing | in example 2
  skype/skype-ps/skype/Set-CsAddressBookNormalizationRule.md
Labels: area:skype

#2743 Adding note, clarifying Voice Policy for online hosted accounts
  skype/skype-ps/skype/Grant-CsVoicePolicy.md
Labels: area:skype

#2751 Update Disable-RemoteMailbox.md
  exchange/exchange-ps/exchange/federation-and-hybrid/Disable-RemoteMailbox.md
Labels: area:exchange

#2760 Chrisda to Master
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-OMEConfiguration.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationConfig.md
Labels: Microsoft submitter

#2764 Chrisda to Master
  exchange/exchange-ps/exchange/mailboxes/Get-Mailbox.md
  exchange/exchange-ps/exchange/users-and-groups/Get-MailUser.md
  exchange/exchange-ps/exchange/users-and-groups/Get-Recipient.md
  exchange/exchange-ps/exchange/users-and-groups/Get-UnifiedGroup.md
Labels: Microsoft submitter

#2762 Added description for new RemoveOrphanedHolds parameter
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: Microsoft submitter

#2775 Update Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
Labels: Microsoft submitter

#2777 Update params with correct variable types
  skype/skype-ps/skype/Get-CsTenantNetworkRegion.md
  skype/skype-ps/skype/Get-CsTenantNetworkSite.md
  skype/skype-ps/skype/Get-CsTenantNetworkSubnet.md
  skype/skype-ps/skype/Get-CsTenantTrustedIPAddress.md
  skype/skype-ps/skype/New-CsTenantNetworkRegion.md
  skype/skype-ps/skype/New-CsTenantNetworkSite.md
  skype/skype-ps/skype/New-CsTenantNetworkSubnet.md
  skype/skype-ps/skype/New-CsTenantTrustedIPAddress.md
  skype/skype-ps/skype/Remove-CsTenantNetworkRegion.md
  skype/skype-ps/skype/Remove-CsTenantNetworkSite.md
  skype/skype-ps/skype/Remove-CsTenantNetworkSubnet.md
  skype/skype-ps/skype/Remove-CsTenantTrustedIPAddress.md
  skype/skype-ps/skype/Set-CsTenantNetworkRegion.md
  skype/skype-ps/skype/Set-CsTenantNetworkSite.md
  skype/skype-ps/skype/Set-CsTenantNetworkSubnet.md
  skype/skype-ps/skype/Set-CsTenantTrustedIPAddress.md
Labels: Microsoft submitter

#2784 Update Test-PopConnectivity.md
  exchange/exchange-ps/exchange/client-access/Test-PopConnectivity.md
Labels: area:exchange

#2780 Update Get-SPEnterpriseSearchRankingModel.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchRankingModel.md
Labels: area:sp-server-powershell

#2779 Update Register-SPMTMigration.md
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
Labels: area:spo-powershell

#2773 Update Grant-SPOHubSiteRights.md
  sharepoint/sharepoint-ps/sharepoint-online/Grant-SPOHubSiteRights.md
Labels: area:spo-powershell

#2739 EnableAppDesktopsharing not per-user level
  skype/skype-ps/skype/Set-CsConferencingPolicy.md
Labels: area:skype

#2786 Update Add-TeamUser.md
  teams/teams-ps/teams/Add-TeamUser.md
Labels: area:teams

#2787 Updates to mailbox type segregation parameters
  exchange/exchange-ps/exchange/client-access/Get-CASMailbox.md
  exchange/exchange-ps/exchange/devices/Get-ActiveSyncDevice.md
  exchange/exchange-ps/exchange/devices/Get-MobileDevice.md
  exchange/exchange-ps/exchange/federation-and-hybrid/Disable-RemoteMailbox.md
  exchange/exchange-ps/exchange/federation-and-hybrid/Enable-RemoteMailbox.md
  exchange/exchange-ps/exchange/federation-and-hybrid/Get-RemoteMailbox.md
  exchange/exchange-ps/exchange/federation-and-hybrid/New-RemoteMailbox.md
  exchange/exchange-ps/exchange/mailboxes/Connect-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Disable-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Enable-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Get-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxFolderPermission.md
  exchange/exchange-ps/exchange/mailboxes/Get-UserPhoto.md
  exchange/exchange-ps/exchange/mailboxes/New-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Remove-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Remove-UserPhoto.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-UserPhoto.md
  exchange/exchange-ps/exchange/mailboxes/Undo-SoftDeletedMailbox.md
  exchange/exchange-ps/exchange/users-and-groups/Get-User.md
  exchange/exchange-ps/exchange/users-and-groups/Set-User.md
Labels: Microsoft submitter

#2790 Update Get-SPOHideDefaultThemes.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOHideDefaultThemes.md
Labels: area:spo-powershell

#2795 Chrisda to Master
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/client-access-servers/Get-ClientAccessServer.md
  exchange/exchange-ps/exchange/client-access-servers/Set-ClientAccessServer.md
  exchange/exchange-ps/exchange/client-access-servers/Set-ClientAccessService.md
  exchange/exchange-ps/exchange/database-availability-groups/Set-DatabaseAvailabilityGroup.md
  exchange/exchange-ps/exchange/database-availability-groups/Update-MailboxDatabaseCopy.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-SmimeConfig.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Set-MailboxDatabase.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxFolderStatistics.md
  exchange/exchange-ps/exchange/mailboxes/New-App.md
  exchange/exchange-ps/exchange/mailboxes/Set-UserPhoto.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationEndpoint.md
  exchange/exchange-ps/exchange/move-and-migration/New-MoveRequest.md
  exchange/exchange-ps/exchange/server-health-and-performance/Set-ServerComponentState.md
  exchange/exchange-ps/exchange/unified-messaging/Set-UMService.md
  exchange/exchange-ps/exchange/users-and-groups/Set-MailContact.md
Labels: Microsoft submitter

#2797 Chrisda to Master
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-ActivityAlert.md
Labels: Microsoft submitter

#2806 Merges Master to Live. See commits for details.
  exchange/docfx.json
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-ActivityAlert.md
  skype/skype-ps/skype/Grant-CsVoicePolicy.md
  skype/skype-ps/skype/New-CsSimpleUrlConfiguration.md
  skype/skype-ps/skype/Set-CsCallingLineIdentity.md
  skype/skype-ps/skype/Set-CsMeetingConfiguration.md
Labels: Microsoft submitter

#2826 Chrisda to Master
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-IPAllowListProvider.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-IPBlockListProvider.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-IPBlockListProvidersConfig.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MailboxJunkEmailConfiguration.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-SenderFilterConfig.md
  exchange/exchange-ps/exchange/client-access-servers/Set-ClientAccessServer.md
  exchange/exchange-ps/exchange/client-access-servers/Set-ClientAccessService.md
  exchange/exchange-ps/exchange/client-access-servers/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
  exchange/exchange-ps/exchange/client-access/Set-ClientAccessRule.md
  exchange/exchange-ps/exchange/client-access/Set-ImapSettings.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-PopSettings.md
  exchange/exchange-ps/exchange/devices/Set-ActiveSyncOrganizationSettings.md
  exchange/exchange-ps/exchange/devices/Set-DeviceTenantRule.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-AddressList.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-GlobalAddressList.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-AddressList.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-GlobalAddressList.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-OfflineAddressBook.md
  exchange/exchange-ps/exchange/federation-and-hybrid/Set-RemoteMailbox.md
  exchange/exchange-ps/exchange/mail-flow/Set-ForeignConnector.md
  exchange/exchange-ps/exchange/mail-flow/Set-SendConnector.md
  exchange/exchange-ps/exchange/mail-flow/Set-TransportConfig.md
  exchange/exchange-ps/exchange/mail-flow/Set-TransportServer.md
  exchange/exchange-ps/exchange/mail-flow/Set-TransportService.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Set-MailboxServer.md
  exchange/exchange-ps/exchange/mailboxes/Set-InboxRule.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-ResourceConfig.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/New-SyncMailPublicFolder.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Set-MailPublicFolder.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Set-SharingPolicy.md
  exchange/exchange-ps/exchange/unified-messaging/Set-UMCallRouterSettings.md
  exchange/exchange-ps/exchange/unified-messaging/Set-UMService.md
  exchange/exchange-ps/exchange/users-and-groups/New-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-MailContact.md
  exchange/exchange-ps/exchange/users-and-groups/Set-MailUser.md
  exchange/exchange-ps/exchange/users-and-groups/Set-UnifiedGroup.md
Labels: Microsoft submitter

#2827 Master to Live
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-IPAllowListProvider.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-IPBlockListProvider.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-IPBlockListProvidersConfig.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MailboxJunkEmailConfiguration.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-SenderFilterConfig.md
  exchange/exchange-ps/exchange/client-access-servers/Set-ClientAccessServer.md
  exchange/exchange-ps/exchange/client-access-servers/Set-ClientAccessService.md
  exchange/exchange-ps/exchange/client-access-servers/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
  exchange/exchange-ps/exchange/client-access/Set-ClientAccessRule.md
  exchange/exchange-ps/exchange/client-access/Set-ImapSettings.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-PopSettings.md
  exchange/exchange-ps/exchange/devices/Set-ActiveSyncOrganizationSettings.md
  exchange/exchange-ps/exchange/devices/Set-DeviceTenantRule.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-AddressList.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-GlobalAddressList.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-AddressList.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-GlobalAddressList.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-OfflineAddressBook.md
  exchange/exchange-ps/exchange/federation-and-hybrid/Set-RemoteMailbox.md
  exchange/exchange-ps/exchange/mail-flow/Set-ForeignConnector.md
  exchange/exchange-ps/exchange/mail-flow/Set-SendConnector.md
  exchange/exchange-ps/exchange/mail-flow/Set-TransportConfig.md
  exchange/exchange-ps/exchange/mail-flow/Set-TransportServer.md
  exchange/exchange-ps/exchange/mail-flow/Set-TransportService.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Set-MailboxServer.md
  exchange/exchange-ps/exchange/mailboxes/Set-InboxRule.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-ResourceConfig.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/New-SyncMailPublicFolder.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Set-MailPublicFolder.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Set-SharingPolicy.md
  exchange/exchange-ps/exchange/unified-messaging/Set-UMCallRouterSettings.md
  exchange/exchange-ps/exchange/unified-messaging/Set-UMService.md
  exchange/exchange-ps/exchange/users-and-groups/New-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-MailContact.md
  exchange/exchange-ps/exchange/users-and-groups/Set-MailUser.md
  exchange/exchange-ps/exchange/users-and-groups/Set-UnifiedGroup.md
  teams/teams-ps/teams/Remove-Team.md
Labels: Microsoft submitter

#2834 GCC-chrisda to Master
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
Labels: Microsoft submitter

#2835 Chrisda to Master
  exchange/exchange-ps/exchange/client-access/New-ClientAccessRule.md
  exchange/exchange-ps/exchange/client-access/Set-ClientAccessRule.md
  exchange/exchange-ps/exchange/federation-and-hybrid/Set-RemoteMailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-TransportRule.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-TransportRule.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/New-SyncMailPublicFolder.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Set-MailPublicFolder.md
  exchange/exchange-ps/exchange/users-and-groups/New-UnifiedGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-MailContact.md
  exchange/exchange-ps/exchange/users-and-groups/Set-MailUser.md
  exchange/exchange-ps/exchange/users-and-groups/Set-UnifiedGroup.md
Labels: Microsoft submitter

#2837 Update Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
Labels: Microsoft submitter

#2831 typo: Double word "the"
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-AddressList.md
Labels: area:exchange

#2843 Removed Get-CSAdminRole reference
  skype/skype-ps/skype/Get-CsUserSession.md
Labels: area:skype

#2854 Update Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
Labels: area:skype, area:teams

#2844 Corrected2107+Expanded Examples
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
Labels: area:exchange

#2859 Error 2220
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
Labels: area:skype, area:teams

#2830 Update Install-SPSolution.md
  sharepoint/sharepoint-ps/sharepoint-server/Install-SPSolution.md
Labels: area:sp-server-powershell

#2813 Update Set-SPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOUser.md
Labels: area:spo-powershell

#2684 UseFindPeopleInPeoplePicker details
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#2864 Minor text cleanup. Standardised to "Wi-Fi" throughout
  skype/skype-ps/skype/Set-CsMobilityPolicy.md
Labels: area:skype, area:teams

#2774 Update Get-SPOSiteGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteGroup.md
Labels: area:spo-powershell

#2872 Chrisda to Master
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Get-SmimeConfig.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-IRMConfiguration.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-SmimeConfig.md
  exchange/exchange-ps/exchange/mail-flow/Set-RemoteDomain.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Set-MailboxDatabase.md
Labels: Microsoft submitter

#2778 Docs for *-SPOOrgNewsSite
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOOrgNewsSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOOrgNewsSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOOrgNewsSite.md
Labels: area:spo-powershell

#2882 Update Remove-MailboxUserConfiguration.md
  exchange/exchange-ps/exchange/mailboxes/Remove-MailboxUserConfiguration.md
Labels: Microsoft submitter

#2883 Update Set-MailboxDatabase.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Set-MailboxDatabase.md
Labels: Microsoft submitter

#2860 Updates to Mailbox audit log search cmdlets
  exchange/exchange-ps/exchange/policy-and-compliance-audit/New-MailboxAuditLogSearch.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-MailboxAuditLog.md
Labels: Microsoft submitter, area:exchange

#2878 ok
  skype/skype-ps/skype/Grant-CsVoicePolicy.md
  skype/skype-ps/skype/Remove-CsVoicePolicy.md
  skype/skype-ps/skype/Set-CsUserServicesPolicy.md
Labels: area:skype

#2893 Added description for Guest users parameter
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#2887 Added descriptions for some parameters
  skype/skype-ps/skype/New-CsRegistrarConfiguration.md
Labels: area:skype

#2886 Update Set-CsHostedVoicemailPolicy.md
  skype/skype-ps/skype/Set-CsHostedVoicemailPolicy.md
Labels: area:skype, area:teams

#2876 Update Get-TenantAnalyticsConfig.md
  exchange/exchange-ps/exchange/reporting/Get-TenantAnalyticsConfig.md
Labels: Microsoft submitter, area:exchange

#2898 Update Set-SPEnterpriseSearchService
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPEnterpriseSearchService.md
Labels: Microsoft submitter

#2892 Added description for Guest users parameter
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#2885 Add CustomizedExternalSharingServiceUrl feature
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: Microsoft submitter, area:spo-powershell

#2884 Corrected user requirement for Owner parameter
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSite.md
Labels: area:spo-powershell

#2814 Update sharepoint-pnp-cmdlets.md
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
Labels: area:pnp-powershell

#2875 Update Set-TenantAnalyticsConfig.md
  exchange/exchange-ps/exchange/reporting/Set-TenantAnalyticsConfig.md
Labels: Microsoft submitter, area:exchange

#2904 Update Get-TenantAnalyticsConfig.md
  exchange/exchange-ps/exchange/reporting/Get-TenantAnalyticsConfig.md
Labels: Microsoft submitter

#2889 Update Get-MailTrafficSummaryReport.md
  exchange/exchange-ps/exchange/reporting/Get-MailTrafficSummaryReport.md
Labels: area:exchange

#2905 Master to Live
  exchange/exchange-ps/exchange/reporting/Get-MailTrafficSummaryReport.md
  exchange/exchange-ps/exchange/reporting/Get-TenantAnalyticsConfig.md
Labels: Microsoft submitter

#2920 Update Remove-SPODeletedSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPODeletedSite.md
Labels: Microsoft submitter

#2922 Update Set-TenantAnalyticsConfig.md
  exchange/exchange-ps/exchange/reporting/Set-TenantAnalyticsConfig.md
Labels: Microsoft submitter, area:exchange

#2925 Update Get-SPOGeoAdministrator.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOGeoAdministrator.md
Labels: Microsoft submitter

#2918 Update Get-Team.md
  teams/teams-ps/teams/Get-Team.md
Labels: area:teams

#2927 Chrisda to Master
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/Invoke-ComplianceSearchActionStep.md
Labels: Microsoft submitter

#2902 Update Start-CsExMeetingMigration.md
  skype/skype-ps/skype/Start-CsExMeetingMigration.md
Labels: area:skype, area:teams

#2917 Minor Corrections to Issue #1323
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOCrossGeoMovedUsers.md
Labels: area:spo-powershell

#2914 Minor Corrections #1320
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOGeoMoveCompatibilityStatus.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOGeoStorageQuota.md
Labels: area:spo-powershell

#2912 Corrected periods at the end and some others minor changes. #1319
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOGeoAdministrator.md
Labels: area:spo-powershell

#2909 Minor corrections Issue #1325
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOGeoAdministrator.md
Labels: area:spo-powershell

#2911 Minor Corrections Issue #1322
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOGeoAdministrator.md
Labels: area:spo-powershell

#2913 Update on grammar #1321
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOGeoStorageQuota.md
Labels: area:spo-powershell

#2910 Minor corrections and added another example #1324
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOCrossGeoUsers.md
Labels: area:spo-powershell

#2908 Expanded information #1326
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOGeoStorageQuota.md
Labels: area:spo-powershell
