Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2019-08, with the labels that each got.

#3786 Corrected param value for WindowsAuthentication
  exchange/exchange-ps/exchange/client-access-servers/Set-OwaVirtualDirectory.md
Labels: area:exchange

#3788 Update Set-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: Microsoft submitter, area:teams

#3785 Add Emergency Calling & Routing new cmdlets
  Get-CsTeamsEmergencyCallRoutingPolicy.md
  Get-CsTeamsEmergencyCallingPolicy.md
  New-CsTeamsEmergencyCallRoutingPolicy.md
  New-CsTeamsEmergencyCallingPolicy.md
  New-CsTeamsEmergencyNumber.md
  Remove-CsTeamsEmergencyCallRoutingPolicy.md
  Remove-CsTeamsEmergencyCallingPolicy.md
  Set-CsTeamsEmergencyCallRoutingPolicy.md
  Set-CsTeamsEmergencyCallingPolicy.md
Labels: Microsoft submitter, area:teams

#3793 Merges Master to Live. See commits for details.
  Get-CsTeamsEmergencyCallRoutingPolicy.md
  Get-CsTeamsEmergencyCallingPolicy.md
  New-CsTeamsEmergencyCallRoutingPolicy.md
  New-CsTeamsEmergencyCallingPolicy.md
  New-CsTeamsEmergencyNumber.md
  Remove-CsTeamsEmergencyCallRoutingPolicy.md
  Remove-CsTeamsEmergencyCallingPolicy.md
  Set-CsTeamsEmergencyCallRoutingPolicy.md
  Set-CsTeamsEmergencyCallingPolicy.md
  exchange/exchange-ps/exchange/client-access-servers/Set-OwaVirtualDirectory.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: Microsoft submitter

#3798 Update New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
Labels: Microsoft submitter, area:skype, area:teams

#3789 AdditionalStorageProvidersAvailable in-by-default
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter, area:exchange

#3801 Chrisda to Master
  .openpublishing.redirection.json
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-UrlTrace.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpEdmSchema.md
Labels: Microsoft submitter

#3803 Master to Live
  .openpublishing.redirection.json
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-UrlTrace.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpEdmSchema.md
  sharepoint/docs-conceptual/overview.md
  sharepoint/docs-conceptual/sharepoint-online/sharepoint-online-cmdlets.md
  sharepoint/docs-conceptual/sharepoint-server/sharepoint-server-cmdlets.md
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Reset-CsRoutingGroup.md
  spmt/docs-conceptual/index.md
  spmt/docs-conceptual/intro.md
  spmt/docs-conceptual/overview.md
  staffhub/docs-conceptual/index.md
  staffhub/docs-conceptual/intro.md
  staffhub/docs-conceptual/overview.md
  teams/docs-conceptual/index.md
  teams/docs-conceptual/overview.md
Labels: Microsoft submitter

#3804 Update Set-CsCdrConfiguration.md
  skype/skype-ps/skype/Set-CsCdrConfiguration.md
Labels: area:skype, area:teams

#3806 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Get-CsUserCallForwardingSettings.md
  skype/skype-ps/skype/Get-CsUserDelegates.md
  skype/skype-ps/skype/Get-CsUserTeamMembers.md
  skype/skype-ps/skype/Invoke-CsRgsStoreReplicateData.md
  skype/skype-ps/skype/Set-CsCdrConfiguration.md
  skype/skype-ps/skype/Set-CsUserCallForwardingSettings.md
  skype/skype-ps/skype/Set-CsUserDelegates.md
  skype/skype-ps/skype/Set-CsUserTeamMembers.md
  skype/skype-ps/skype/skype.md
Labels: Microsoft submitter

#3815 Changed Example 2
  exchange/exchange-ps/exchange/federation-and-hybrid/Enable-RemoteMailbox.md
Labels: area:exchange

#3808 typo
  skype/skype-ps/skype/skype.md
Labels: area:skype, area:teams

#3814 Added descriptions for ClientAdalAuthOverride values
  skype/skype-ps/skype/Set-CsOAuthConfiguration.md
Labels: area:skype, area:teams

#3813 Update Get-CsUserDelegates.md
  skype/skype-ps/skype/Get-CsUserDelegates.md
Labels: Microsoft submitter, area:skype, area:teams

#3811 Update Invoke-CsRGSStoreReplicateData.md
  skype/skype-ps/skype/Invoke-CsRgsStoreReplicateData.md
Labels: Microsoft submitter, area:skype, area:teams

#3820 Update Get-CsUserCallForwardingSettings.md
  skype/skype-ps/skype/Get-CsUserCallForwardingSettings.md
Labels: Microsoft submitter

#3821 Update Get-CsUserTeamMembers.md
  skype/skype-ps/skype/Get-CsUserTeamMembers.md
Labels: Microsoft submitter, area:skype, area:teams

#3823 Update Set-CsUserCallForwardingSettings.md
  skype/skype-ps/skype/Set-CsUserCallForwardingSettings.md
Labels: Microsoft submitter, area:skype, area:teams

#3827 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Get-CsUserCallForwardingSettings.md
  skype/skype-ps/skype/Get-CsUserTeamMembers.md
  skype/skype-ps/skype/Set-CsUserCallForwardingSettings.md
Labels: Microsoft submitter

#3830 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOOrgAssetsLibrary.md
Labels: Microsoft submitter

#3826 Patch 31
  exchange/docs-conceptual/exchange-online/exchange-online-powershell.md
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
  exchange/docs-conceptual/exchange-server/recipient-filters/recipient-filters.md
  exchange/docs-conceptual/exchange-server/recipient-filters/recipientfilter-properties.md
  exchange/docs-conceptual/toc.yml
Labels: area:exchange

#3840 Added example when using variables in recipientfilter
  exchange/exchange-ps/exchange/users-and-groups/Set-DynamicDistributionGroup.md
Labels: area:exchange

#3841 Fixed cmdlet name in example
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AdvancedThreatProtectionDocumentDetail.md
Labels: area:exchange

#3846 Chrisda to Master
  exchange/exchange-ps/exchange/client-access-servers/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#3845 Corrected typo
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
Labels: area:skype, area:teams

#3862 Update Import-CsUserData.md
  skype/skype-ps/skype/Import-CsUserData.md
Labels: Microsoft submitter, area:skype, area:teams

#3867 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-RetentionCompliancePolicy.md
  skype/skype-ps/skype/Import-CsUserData.md
  skype/skype-ps/skype/skype.md
Labels: Microsoft submitter

#3874 changed hyphen code
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
Labels: area:pnp-powershell

#3876 Corrected example
  teams/teams-ps/teams/Get-TeamHelp.md
Labels: area:skype, area:teams

#3542 Update Remove-TeamUser.md
  teams/teams-ps/teams/Remove-TeamUser.md
Labels: area:teams

#3878 Merges Master to Live. See commits for details.
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPEnterpriseSearchAdministrationComponent.md
  teams/teams-ps/teams/Get-TeamHelp.md
  teams/teams-ps/teams/Remove-TeamUser.md
Labels: Microsoft submitter

#3879 Added missing spaces in the parameters section
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
Labels: area:spmt

#3914 Merges Master to Live. See commits for details.
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-IRMConfiguration.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxImportRequest.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-Place.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-MailboxSearch.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpKeywordDictionary.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-RetentionCompliancePolicy.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  skype/skype-ps/skype/Get-CsOnlineDialInConferencingUserInfo.md
  skype/skype-ps/skype/Get-CsTeamsEmergencyCallRoutingPolicy.md
  skype/skype-ps/skype/Get-CsTeamsEmergencyCallingPolicy.md
  skype/skype-ps/skype/New-CsOnlinePSTNGateway.md
  skype/skype-ps/skype/New-CsTeamsEmergencyCallRoutingPolicy.md
  skype/skype-ps/skype/New-CsTeamsEmergencyCallingPolicy.md
  skype/skype-ps/skype/New-CsTeamsEmergencyNumber.md
  skype/skype-ps/skype/Remove-CsTeamsEmergencyCallRoutingPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsEmergencyCallingPolicy.md
  skype/skype-ps/skype/Set-CsClientPolicy.md
  skype/skype-ps/skype/Set-CsConferencingPolicy.md
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
  skype/skype-ps/skype/Set-CsTeamsEmergencyCallRoutingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsEmergencyCallingPolicy.md
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
Labels: Microsoft submitter
