Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2019-11, with the labels that each got.

#4308 Enable pdf encryption chrisda
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-IRMConfiguration.md
Labels: Microsoft submitter

#4298 Update Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
Labels: Microsoft submitter

#4299 Update Get-EXOMailboxPermission.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxPermission.md
Labels: Microsoft submitter

#4300 Update Get-EXOMobileDeviceStatistics.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMobileDeviceStatistics.md
Labels: Microsoft submitter

#4301 Update Get-EXOMobileDeviceStatistics.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMobileDeviceStatistics.md
Labels: Microsoft submitter

#4302 Update Get-EXORecipient.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXORecipient.md
Labels: Microsoft submitter

#4303 Update Get-EXORecipientPermission.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXORecipientPermission.md
Labels: Microsoft submitter

#4304 Update Get-EXOMailboxFolderPermission.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxFolderPermission.md
Labels: Microsoft submitter

#4305 Update Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
Labels: Microsoft submitter

#4307 Removing "Private Preview" from Private Channel Member CRUD Cmdlets
  teams/teams-ps/teams/Add-TeamChannelUser.md
  teams/teams-ps/teams/Get-TeamChannelUser.md
  teams/teams-ps/teams/Remove-TeamChannelUser.md
Labels: Microsoft submitter, area:teams

#4295 BookInPolicy group notice
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
Labels: area:exchange

#4309 Owa mbx pol chrisda
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#4310 Master to Live
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-IRMConfiguration.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
  teams/teams-ps/teams/Add-TeamChannelUser.md
  teams/teams-ps/teams/Get-TeamChannelUser.md
  teams/teams-ps/teams/Remove-TeamChannelUser.md
Labels: Microsoft submitter

#4311 Ex o rest module chrisda
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/cmdlet-property-sets.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/docs-conceptual/toc.yml
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOCasMailbox.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailbox.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxFolderPermission.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxFolderStatistics.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxPermission.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxStatistics.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMobileDeviceStatistics.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXORecipient.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXORecipientPermission.md
Labels: Microsoft submitter

#4312 Master to Live
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/cmdlet-property-sets.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/docs-conceptual/toc.yml
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOCasMailbox.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailbox.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxFolderPermission.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxFolderStatistics.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxPermission.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxStatistics.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMobileDeviceStatistics.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXORecipient.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXORecipientPermission.md
  skype/skype-ps/skype/Reset-CsRoutingGroup.md
Labels: Microsoft submitter

#4315 Remove en-us from Exchange topic links
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-server/exchange-cmdlet-syntax.md
  exchange/exchange-ps/exchange/client-access/Get-CASMailbox.md
  exchange/exchange-ps/exchange/client-access/Get-CASMailboxPlan.md
  exchange/exchange-ps/exchange/client-access/New-ClientAccessRule.md
  exchange/exchange-ps/exchange/client-access/Set-ClientAccessRule.md
  exchange/exchange-ps/exchange/devices/Get-ActiveSyncDevice.md
  exchange/exchange-ps/exchange/devices/Get-ActiveSyncDeviceClass.md
  exchange/exchange-ps/exchange/devices/Get-MobileDevice.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-AddressList.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-GlobalAddressList.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-AddressList.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-GlobalAddressList.md
  exchange/exchange-ps/exchange/federation-and-hybrid/Get-RemoteMailbox.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Get-StoreUsageStatistics.md
  exchange/exchange-ps/exchange/mailboxes/Get-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxPlan.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxStatistics.md
  exchange/exchange-ps/exchange/mailboxes/Get-UserPhoto.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/organization/Set-ExchangeSettings.md
  exchange/exchange-ps/exchange/policy-and-compliance/Get-TransportRule.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-OrganizationSegment.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-ProtectionAlert.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-ProtectionAlert.md
  exchange/exchange-ps/exchange/role-based-access-control/Get-RoleGroup.md
  exchange/exchange-ps/exchange/role-based-access-control/New-ManagementScope.md
  exchange/exchange-ps/exchange/role-based-access-control/Set-ManagementScope.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Get-MailPublicFolder.md
  exchange/exchange-ps/exchange/unified-messaging/Get-UMMailbox.md
  exchange/exchange-ps/exchange/users-and-groups/Get-Contact.md
  exchange/exchange-ps/exchange/users-and-groups/Get-DistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Get-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Get-Group.md
  exchange/exchange-ps/exchange/users-and-groups/Get-LinkedUser.md
  exchange/exchange-ps/exchange/users-and-groups/Get-MailContact.md
  exchange/exchange-ps/exchange/users-and-groups/Get-MailUser.md
  exchange/exchange-ps/exchange/users-and-groups/Get-Recipient.md
  exchange/exchange-ps/exchange/users-and-groups/Get-SecurityPrincipal.md
  exchange/exchange-ps/exchange/users-and-groups/Get-UnifiedGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Get-User.md
  exchange/exchange-ps/exchange/users-and-groups/New-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DynamicDistributionGroup.md
Labels: Microsoft submitter

#4318 Update Move-CsUser.md
  skype/skype-ps/skype/Move-CsUser.md
Labels: Microsoft submitter

#4317 Additional updates for batch and group policy assignment docs
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:skype, area:teams

#4319 Update redirection file
  .openpublishing.redirection.json
  exchange/docfx.json
Labels: Microsoft submitter, area:exchange

#4323 Update cmdlet-property-sets.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/cmdlet-property-sets.md
Labels: Microsoft submitter, area:exchange

#4316 Fixed error in Example 7
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
Labels: area:exchange

#4327 Master to Live
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/cmdlet-property-sets.md
  exchange/docs-conceptual/exchange-server/exchange-cmdlet-syntax.md
  exchange/exchange-ps/exchange/client-access/Get-CASMailbox.md
  exchange/exchange-ps/exchange/client-access/Get-CASMailboxPlan.md
  exchange/exchange-ps/exchange/client-access/New-ClientAccessRule.md
  exchange/exchange-ps/exchange/client-access/Set-ClientAccessRule.md
  exchange/exchange-ps/exchange/devices/Get-ActiveSyncDevice.md
  exchange/exchange-ps/exchange/devices/Get-ActiveSyncDeviceClass.md
  exchange/exchange-ps/exchange/devices/Get-MobileDevice.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-AddressList.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-GlobalAddressList.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-AddressList.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-GlobalAddressList.md
  exchange/exchange-ps/exchange/federation-and-hybrid/Get-RemoteMailbox.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Get-StoreUsageStatistics.md
  exchange/exchange-ps/exchange/mailboxes/Get-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxPlan.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxStatistics.md
  exchange/exchange-ps/exchange/mailboxes/Get-UserPhoto.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/organization/Set-ExchangeSettings.md
  exchange/exchange-ps/exchange/policy-and-compliance/Get-TransportRule.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-OrganizationSegment.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-ProtectionAlert.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-ProtectionAlert.md
  exchange/exchange-ps/exchange/role-based-access-control/Get-RoleGroup.md
  exchange/exchange-ps/exchange/role-based-access-control/New-ManagementScope.md
  exchange/exchange-ps/exchange/role-based-access-control/Set-ManagementScope.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Get-MailPublicFolder.md
  exchange/exchange-ps/exchange/unified-messaging/Get-UMMailbox.md
  exchange/exchange-ps/exchange/users-and-groups/Get-Contact.md
  exchange/exchange-ps/exchange/users-and-groups/Get-DistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Get-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Get-Group.md
  exchange/exchange-ps/exchange/users-and-groups/Get-LinkedUser.md
  exchange/exchange-ps/exchange/users-and-groups/Get-MailContact.md
  exchange/exchange-ps/exchange/users-and-groups/Get-MailUser.md
  exchange/exchange-ps/exchange/users-and-groups/Get-Recipient.md
  exchange/exchange-ps/exchange/users-and-groups/Get-SecurityPrincipal.md
  exchange/exchange-ps/exchange/users-and-groups/Get-UnifiedGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Get-User.md
  exchange/exchange-ps/exchange/users-and-groups/New-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DynamicDistributionGroup.md
  skype/skype-ps/skype/Move-CsUser.md
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#4314 MD tweaks and a couple of tiny typos corrected.
  skype/skype-ps/skype/Reset-CsPoolRegistrarState.md
Labels: area:skype, area:teams

#4328 Fix 404 redirect URL
  .openpublishing.redirection.json
Labels: Microsoft submitter, area:exchange

#4331 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Reset-CsPoolRegistrarState.md
Labels: Microsoft submitter

#4332 Chrisda to Master
  .openpublishing.redirection.json
  exchange/docfx.json
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxRegionalConfiguration.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/mailboxes/Disable-InboxRule.md
  exchange/exchange-ps/exchange/mailboxes/Enable-InboxRule.md
  exchange/exchange-ps/exchange/mailboxes/Get-InboxRule.md
  exchange/exchange-ps/exchange/mailboxes/Remove-InboxRule.md
  exchange/exchange-ps/exchange/mailboxes/Set-InboxRule.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMobileDeviceStatistics.md
Labels: Microsoft submitter

#4334 Master to Live
  .openpublishing.redirection.json
  exchange/docfx.json
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxRegionalConfiguration.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/mailboxes/Disable-InboxRule.md
  exchange/exchange-ps/exchange/mailboxes/Enable-InboxRule.md
  exchange/exchange-ps/exchange/mailboxes/Get-InboxRule.md
  exchange/exchange-ps/exchange/mailboxes/Remove-InboxRule.md
  exchange/exchange-ps/exchange/mailboxes/Set-InboxRule.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMobileDeviceStatistics.md
Labels: Microsoft submitter

#4335 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter

#4338 Update Get-CsVoicePolicy.md
  skype/skype-ps/skype/Get-CsVoicePolicy.md
Labels: Microsoft submitter

#4341 adds note for beta on channel operations affected
  teams/teams-ps/teams/Add-TeamChannelUser.md
  teams/teams-ps/teams/Get-TeamChannel.md
  teams/teams-ps/teams/Get-TeamChannelUser.md
  teams/teams-ps/teams/New-TeamChannel.md
  teams/teams-ps/teams/Remove-TeamChannel.md
  teams/teams-ps/teams/Remove-TeamChannelUser.md
  teams/teams-ps/teams/Set-TeamChannel.md
Labels: Microsoft submitter, area:skype, area:teams

#4344 Fixes DatabasePaths typo
  skype/skype-ps/skype/Install-CsDatabase.md
Labels: area:skype, area:teams

#4345 Fixed Filter example on Description
  skype/skype-ps/skype/Get-CsAdPrincipal.md
Labels: area:skype, area:teams

#4340 Update to Set-OrganizationConfig.md to correct the prioritization for…
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
Labels: Microsoft submitter, area:exchange

#4351 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4350 Merges Master to Live. See commits for details.
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  skype/skype-ps/skype/Get-CsAdPrincipal.md
  skype/skype-ps/skype/Get-CsVoicePolicy.md
  skype/skype-ps/skype/Install-CsDatabase.md
  skype/skype-ps/skype/Remove-CsOnlinePSTNGateway.md
  teams/teams-ps/teams/Add-TeamChannelUser.md
  teams/teams-ps/teams/Get-TeamChannel.md
  teams/teams-ps/teams/Get-TeamChannelUser.md
  teams/teams-ps/teams/New-TeamChannel.md
  teams/teams-ps/teams/Remove-TeamChannel.md
  teams/teams-ps/teams/Remove-TeamChannelUser.md
  teams/teams-ps/teams/Set-TeamChannel.md
Labels: Microsoft submitter

#4354 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter

#4358 Add SSO section for Issue #3206
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
Labels: area:exchange

#4360 QueryWindowInDays Max Value
  exchange/exchange-ps/exchange/mailboxes/Remove-CalendarEvents.md
Labels: area:exchange

#4362 DLPedm-chrisda to master
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpEdmSchema.md
Labels: Microsoft submitter

#4363 Update New-ComplianceTag.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-ComplianceTag.md
Labels: Microsoft submitter

#4370 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-ComplianceTag.md
  skype/skype-ps/skype/Grant-CsTeamsMessagingPolicy.md
Labels: Microsoft submitter

#4375 UserCredential = Get-Credential
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
Labels: area:exchange

#4381 Update Register-SPMTMigration.md
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
Labels: Microsoft submitter, area:spmt

#4380 Create Get-TeamsApp.md
  Get-TeamsApp.md
Labels: area:skype, area:teams

#4379 Create Remove-TeamsApp.md
  teams/teams-ps/teams/Remove-TeamsApp.md
Labels: area:skype, area:teams

#4378 Create Set-TeamsApp.md
  teams/teams-ps/teams/Set-TeamsApp.md
Labels: area:skype, area:teams

#4377 Create New-TeamsApp.md
  teams/teams-ps/teams/New-TeamsApp.md
Labels: area:skype, area:teams

#4389 Create Get-TeamsApp.md
  teams/teams-ps/teams/Get-TeamsApp.md
Labels: area:skype, area:teams

#4388 Adding new cmdlets for TeamsApp to the TOC
  teams/teams-ps/teams/teams.md
Labels: area:skype, area:teams

#4391 Merges Master to Live. See commits for details.
  teams/teams-ps/teams/Get-TeamsApp.md
  teams/teams-ps/teams/teams.md
Labels: Microsoft submitter

#4385 Update Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: area:exchange

#4398 Changed BlockeAccessScope param Type
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpComplianceRule.md
Labels: Microsoft submitter, area:exchange

#4397 Correcting parameter value
  skype/skype-ps/skype/Set-CsAuthConfig.md
Labels: area:skype, area:teams

#4401 Fixes spelling.
  skype/skype-ps/skype/Set-CsAuthConfig.md
Labels: Microsoft submitter, area:skype, area:teams

#4406 Added PD for RemoveDelayReleaseHoldApplied
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: Microsoft submitter

#4403 Update Get-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Get-Mailbox.md
Labels: area:exchange

#4405 Update New-DlpKeywordDictionary.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpKeywordDictionary.md
Labels: area:exchange

#4404 Update Start-HistoricalSearch.md
  exchange/exchange-ps/exchange/mail-flow/Start-HistoricalSearch.md
Labels: area:exchange

#4408 Master to Live
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/mail-flow/Start-HistoricalSearch.md
  exchange/exchange-ps/exchange/mailboxes/Get-Mailbox.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpKeywordDictionary.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpComplianceRule.md
  skype/skype-ps/skype/Set-CsAuthConfig.md
Labels: Microsoft submitter

#4413 Chrisda to Master
  exchange/exchange-ps/exchange/antispam-antimalware/Add-AttachmentFilterEntry.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-AttachmentFilterListConfig.md
  exchange/exchange-ps/exchange/mail-flow/New-EdgeSyncServiceConfig.md
  exchange/exchange-ps/exchange/mail-flow/Set-EdgeSyncServiceConfig.md
Labels: Microsoft submitter

#4402 Adding docs for TeamsMobilityPolicy cmdlets
  skype/skype-ps/skype/Get-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/New-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/skype.md
Labels: area:skype, area:teams

#4415 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/antispam-antimalware/Add-AttachmentFilterEntry.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-AttachmentFilterListConfig.md
  exchange/exchange-ps/exchange/mail-flow/New-EdgeSyncServiceConfig.md
  exchange/exchange-ps/exchange/mail-flow/Set-EdgeSyncServiceConfig.md
  skype/skype-ps/skype/Get-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/New-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/skype.md
Labels: Microsoft submitter

#4421 Update Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
Labels: Microsoft submitter, area:exchange

#4426 Update Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
Labels: area:exchange

#4427 Update connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
Labels: area:exchange

#4431 Update Rotate-DkimSigningConfig.md
  exchange/exchange-ps/exchange/antispam-antimalware/Rotate-DkimSigningConfig.md
Labels: area:exchange

#4442 Merge Remove delay hold chrisda branch to master
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: Microsoft submitter

#4438 filled example template
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxPermission.md
Labels: area:exchange

#4416 Add SkippedItemApproval parameters
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/New-MoveRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationUser.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MoveRequest.md
Labels: Microsoft submitter, area:exchange

#4443 Master to Live
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Rotate-DkimSigningConfig.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/New-MoveRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationUser.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MoveRequest.md
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxPermission.md
Labels: Microsoft submitter

#4430 Added 2nd example
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPProfileServiceApplicationSecurity.md
Labels: area:sp-server-powershell

#4422 Fix parameter descriptions
  skype/skype-ps/skype/New-CsTeamsEmergencyNumber.md
Labels: area:skype

#4462 Updated errors in cmdlets
  skype/skype-ps/skype/Set-CsTeamsClientConfiguration.md
Labels: Microsoft submitter, area:skype, area:teams

#4474 Adding link to list of Ps cmdlets
  sharepoint/docs-conceptual/sharepoint-online/introduction-sharepoint-online-management-shell.md
Labels: area:spo-powershell

#4471 Improving AllowFederatedParticipantJoinAsSameEnterprise desc
  skype/skype-ps/skype/Set-CsConferencingPolicy.md
Labels: area:skype, area:teams

#4475 Fixes formatting.
  sharepoint/docs-conceptual/sharepoint-online/introduction-sharepoint-online-management-shell.md
Labels: Microsoft submitter

#4417 Adding AcceptGatewayPAIForOutboundCalls param
  skype/skype-ps/skype/Set-CsTrunkConfiguration.md
Labels: area:skype

#4463 Merges Master to Live. See commits for details.
  sharepoint/docs-conceptual/sharepoint-online/introduction-sharepoint-online-management-shell.md
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPProfileServiceApplicationSecurity.md
  skype/skype-ps/skype/New-CsTeamsEmergencyNumber.md
  skype/skype-ps/skype/Set-CsConferencingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsClientConfiguration.md
  skype/skype-ps/skype/Set-CsTrunkConfiguration.md
Labels: Microsoft submitter
