Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2019-05, with the labels that each got.

#3328 Adds metadata requirement for reviewer and author and manager.
  repo_docs/NEW_CMDLETS.md
Labels: Microsoft submitter

#3331 Merges Master to Live. See commits for details.
  repo_docs/NEW_CMDLETS.md
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
  sharepoint/sharepoint-ps/sharepoint-server/Move-SPUser.md
Labels: Microsoft submitter

#3362 Merging SPO cmdlet udpates to live branch
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite
  sharepoint/sharepoint-ps/sharepoint-online/sharepoint-online.md
Labels: Microsoft submitter

#3363 Chrisda to Master
  exchange/exchange-ps/exchange/mail-flow/Get-TransportServer.md
  exchange/exchange-ps/exchange/mail-flow/Get-TransportService.md
  exchange/exchange-ps/exchange/mail-flow/Set-TransportServer.md
  exchange/exchange-ps/exchange/mail-flow/Set-TransportService.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Get-DlpSiDetectionsReport.md
  exchange/exchange-ps/exchange/unified-messaging/Get-UMService.md
  exchange/exchange-ps/exchange/unified-messaging/Get-UmServer.md
  exchange/exchange-ps/exchange/unified-messaging/Set-UMService.md
  exchange/exchange-ps/exchange/unified-messaging/Set-UmServer.md
Labels: Microsoft submitter

#3346 Fixed typo in example 3
  exchange/exchange-ps/exchange/mailboxes/New-MailboxRestoreRequest.md
Labels: area:exchange

#3365 update to live-SPCommSite
  exchange/exchange-ps/exchange/mail-flow/Get-TransportServer.md
  exchange/exchange-ps/exchange/mail-flow/Get-TransportService.md
  exchange/exchange-ps/exchange/mail-flow/Set-TransportServer.md
  exchange/exchange-ps/exchange/mail-flow/Set-TransportService.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Get-DlpSiDetectionsReport.md
  exchange/exchange-ps/exchange/unified-messaging/Get-UMService.md
  exchange/exchange-ps/exchange/unified-messaging/Get-UmServer.md
  exchange/exchange-ps/exchange/unified-messaging/Set-UMService.md
  exchange/exchange-ps/exchange/unified-messaging/Set-UmServer.md
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
Labels: Microsoft submitter

#3345 Set-CsOnlineVoiceApplicationInstance
  skype/skype-ps/skype/Set-CsOnlineVoiceApplicationInstance.md
Labels: Microsoft submitter, area:skype, area:teams

#3276 Update Connect-MicrosoftTeams
  teams/teams-ps/teams/Connect-MicrosoftTeams.md
Labels: Microsoft submitter, area:skype, area:teams

#3347 Update Get-CsOnlineDialOutPolicy.md
  skype/skype-ps/skype/Get-CsOnlineDialOutPolicy.md
Labels: area:skype, area:teams

#3354 Update Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
Labels: area:skype, area:teams

#3371 Merges master to live. See commits for details.
  skype/skype-ps/skype/Get-CsOnlineDialOutPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Set-CsOnlineVoiceApplicationInstance.md
  teams/teams-ps/teams/Connect-MicrosoftTeams.md
Labels: Microsoft submitter

#3372 Update Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#3353 Update Remove-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Remove-DlpCompliancePolicy.md
Labels: area:exchange

#3348 Update Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
Labels: area:exchange

#3368 Added details to Enable-SPOCommSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
Labels: area:spo-powershell

#3377 Update Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
Labels: Microsoft submitter

#3366 Update Enable-SPOCommSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
Labels: area:spo-powershell

#3343 Fix for incorrect formatting for ConditionalAccessPolicy
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#3333 Fixes incorrect formatting for ConditionalAccessPolicy
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#3382 Reformatting cmdlet file
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
Labels: area:spo-powershell

#3386 Chrisda to Master
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeLinksRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-SafeLinksRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-MalwareFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MalwareFilterRule.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-GlobalAddressList.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-OMEConfiguration.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Set-RetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-ActivityAlert.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-TransportRule.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-TransportRule.md
Labels: Microsoft submitter

#3336 Added an example
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPSiteSubscriptionProfileConfig.md
Labels: area:sp-server-powershell

#3396 Update Set-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:skype, area:teams

#3395 Update Start-CsExMeetingMigration.md
  skype/skype-ps/skype/Start-CsExMeetingMigration.md
Labels: area:skype, area:teams

#3394 Update Set-CsTeamsCallingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
Labels: area:skype, area:teams

#3405 Changing TeamsCallingPolicy to include busy on busy doc
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
Labels: Microsoft submitter, area:skype, area:teams

#3406 Updating live
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPSiteSubscriptionProfileConfig.md
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Start-CsExMeetingMigration.md
Labels: Microsoft submitter

#3408 Update Set-CsCallingLineIdentity.md
  skype/skype-ps/skype/Set-CsCallingLineIdentity.md
Labels: area:skype, area:teams

#3330 Corrected the req permission
  sharepoint/docs-conceptual/overview.md
Labels: area:sp-server-powershell

#3416 Further adjustments to RecoverableItems cmdlet updates
  exchange/exchange-ps/exchange/mailboxes/Get-RecoverableItems.md
  exchange/exchange-ps/exchange/mailboxes/Restore-RecoverableItems.md
Labels: Microsoft submitter, area:exchange

#3403 Update Enable-SPOCommSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
Labels: area:spo-powershell

#3419 Fixed Syntax error in New-ThrottlingPolicy.md
  exchange/exchange-ps/exchange/server-health-and-performance/New-ThrottlingPolicy.md
Labels: area:exchange

#3422 Chrisda to Master
  exchange/exchange-ps/exchange/mailboxes/Get-CalendarDiagnosticLog.md
  exchange/exchange-ps/exchange/mailboxes/Get-CalendarDiagnosticObjects.md
Labels: Microsoft submitter

#3424 Master to Live
  exchange/exchange-ps/exchange/mailboxes/Get-CalendarDiagnosticLog.md
  exchange/exchange-ps/exchange/mailboxes/Get-CalendarDiagnosticObjects.md
  exchange/exchange-ps/exchange/mailboxes/Get-RecoverableItems.md
  exchange/exchange-ps/exchange/mailboxes/Restore-RecoverableItems.md
  exchange/exchange-ps/exchange/server-health-and-performance/New-ThrottlingPolicy.md
  sharepoint/docs-conceptual/overview.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOHubSiteAssociation.md
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPExcelBIServer.md
  sharepoint/sharepoint-ps/sharepoint-server/New-FASTSearchMetadataFullTextIndex.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-FASTSearchMetadataCategory.md
  sharepoint/sharepoint-ps/sharepoint-server/Set-FASTSearchMetadataFullTextIndexMapping.md
Labels: Microsoft submitter

#3428 Added ReadOnly LockState
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#3427 Added a link to more info and a note
  sharepoint/sharepoint-ps/sharepoint-online/Register-SPOHubSite.md
Labels: area:spo-powershell

#3402 Clarifying the PowerShell reference
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
Labels: area:spo-powershell

#3401 Escaping < and > in https://tenant.sharepoint.com URLs
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
Labels: area:spo-powershell

#3432 updated descriptions for mailbox and optionalinmailbox parameters
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-RetentionPolicyTag.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Set-RetentionPolicyTag.md
Labels: Microsoft submitter

#3436 Update Remove-DlpComplianceRule.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Remove-DlpComplianceRule.md
Labels: Microsoft submitter, area:exchange

#3442 Update Set-Place.md
  exchange/exchange-ps/exchange/mailboxes/Set-Place.md
Labels: Microsoft submitter

#3443 Update Set-Place.md
  exchange/exchange-ps/exchange/mailboxes/Set-Place.md
Labels: Microsoft submitter

#3448 Update Set-CsOnlineVoicemailUserSettings.md
  skype/skype-ps/skype/Set-CsOnlineVoicemailUserSettings.md
Labels: area:skype, area:teams

#3452 OMEConfig-chrisda to Master
  exchange/exchange-ps/exchange/encryption-and-certificates/Get-OMEConfiguration.md
  exchange/exchange-ps/exchange/encryption-and-certificates/New-OMEConfiguration.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-OMEConfiguration.md
Labels: Microsoft submitter

#3462 Updated Identity parameter
  exchange/exchange-ps/exchange/users-and-groups/Set-User.md
Labels: area:exchange

#3455 Update Set-Place.md
  exchange/exchange-ps/exchange/mailboxes/Set-Place.md
Labels: Microsoft submitter, area:exchange

#3454 Update Set-Place.md
  exchange/exchange-ps/exchange/mailboxes/Set-Place.md
Labels: Microsoft submitter, area:exchange

#3467 Added ManagedBy parameter
  staffhub/staffhub-ps/staffhub/Get-StaffHubTeamsForTenant.md
Labels: area:staffhub

#3458 Update New-CsCallingLineIdentity.md
  skype/skype-ps/skype/New-CsCallingLineIdentity.md
Labels: area:skype, area:teams

#3459 Update New-Team.md
  teams/teams-ps/teams/New-Team.md
Labels: area:skype, area:teams

#3460 coblom/whiteboardExport
  whiteboard/docs-conceptual/LICENSE.txt
  whiteboard/docs-conceptual/index.md
  whiteboard/docs-conceptual/overview.md
  whiteboard/mapping/monikerMapping.json
  whiteboard/whiteboard-ps/whiteboard/Get-Whiteboard.md
  whiteboard/whiteboard-ps/whiteboard/Invoke-TransferAllWhiteboards.md
  whiteboard/whiteboard-ps/whiteboard/Set-WhiteboardOwner.md
  whiteboard/whiteboard-ps/whiteboard/whiteboard.md
Labels: Microsoft submitter, area:whiteboard

#3478 Fixed ResetType
  skype/skype-ps/skype/Reset-CsRoutingGroup.md
Labels: area:skype, area:teams

#3453 Master to Live
  exchange/exchange-ps/exchange/encryption-and-certificates/Get-OMEConfiguration.md
  exchange/exchange-ps/exchange/encryption-and-certificates/New-OMEConfiguration.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-OMEConfiguration.md
  exchange/exchange-ps/exchange/users-and-groups/Set-User.md
  skype/docs-conceptual/index.md
  skype/skype-ps/skype/New-CsAutoAttendantCallHandlingAssociation.md
  skype/skype-ps/skype/New-CsCallingLineIdentity.md
  skype/skype-ps/skype/Remove-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Reset-CsRoutingGroup.md
  skype/skype-ps/skype/Set-CsOnlineVoicemailUserSettings.md
  staffhub/staffhub-ps/staffhub/Get-StaffHubTeamsForTenant.md
  teams/teams-ps/teams/New-Team.md
  whiteboard/docs-conceptual/LICENSE.txt
  whiteboard/docs-conceptual/index.md
  whiteboard/docs-conceptual/overview.md
  whiteboard/mapping/monikerMapping.json
  whiteboard/whiteboard-ps/whiteboard/Get-Whiteboard.md
  whiteboard/whiteboard-ps/whiteboard/Invoke-TransferAllWhiteboards.md
  whiteboard/whiteboard-ps/whiteboard/Set-WhiteboardOwner.md
  whiteboard/whiteboard-ps/whiteboard/whiteboard.md
Labels: Microsoft submitter

#3451 Clarifies UpdateVersions possible values
  sharepoint/sharepoint-ps/sharepoint-server/Import-SPWeb.md
Labels: area:sp-server-powershell

#3475 Update Set-ProtectionAlert.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-ProtectionAlert.md
Labels: area:exchange

#3420 Added recommended size for previewImageUrl
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOSiteDesign.md
Labels: area:spo-powershell

#3441 Changed Title for Description
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPWeb.md
Labels: area:sp-server-powershell

#3398 Added using Update-Module as an alternative
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
Labels: area:spo-powershell

#3468 Update New-OrganizationRelationship
  exchange/exchange-ps/exchange/sharing-and-collaboration/New-OrganizationRelationship.md
Labels: area:exchange

#3479 Chrisda to Master
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/mail-flow/New-OutboundConnector.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-MailboxSearch.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-RetentionPolicyTag.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Set-RetentionPolicyTag.md
Labels: Microsoft submitter

#3481 Master to Live
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/mail-flow/New-OutboundConnector.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-MailboxSearch.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-RetentionPolicyTag.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Set-RetentionPolicyTag.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-ProtectionAlert.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/New-OrganizationRelationship.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOSiteDesign.md
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
  sharepoint/sharepoint-ps/sharepoint-server/Import-SPWeb.md
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPWeb.md
Labels: Microsoft submitter

#3477 Added missing descriptions
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOHubSite.md
Labels: area:spo-powershell

#3484 Update Invoke-CsComputerFailOver.md
  skype/skype-ps/skype/Invoke-CsComputerFailOver.md
Labels: area:skype, area:teams

#3487 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOHubSite.md
  skype/skype-ps/skype/Get-CsOnlineApplicationEndpoint.md
  skype/skype-ps/skype/Invoke-CsComputerFailOver.md
  skype/skype-ps/skype/New-CsOnlineApplicationEndpoint.md
  skype/skype-ps/skype/Remove-CsOnlineApplicationEndpoint.md
  skype/skype-ps/skype/Set-CsOnlineApplicationEndpoint.md
  teams/teams-ps/teams/Add-TeamUser.md
Labels: Microsoft submitter

#3488 Update Set-CsOnlineVoiceApplicationInstance.md
  skype/skype-ps/skype/Set-CsOnlineVoiceApplicationInstance.md
Labels: area:skype, area:teams

#3489 Minor edits to examples
  exchange/exchange-ps/exchange/organization/New-ApplicationAccessPolicy.md
Labels: Microsoft submitter, area:exchange

#3490 AppAccessPol to Master
  exchange/exchange-ps/exchange/organization/Get-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/New-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/Remove-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/Set-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/Test-ApplicationAccessPolicy.md
Labels: Microsoft submitter

#3491 Master to Live
  exchange/exchange-ps/exchange/organization/Get-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/New-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/Remove-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/Set-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/Test-ApplicationAccessPolicy.md
  skype/skype-ps/skype/Set-CsOnlineVoiceApplicationInstance.md
Labels: Microsoft submitter
