Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2019-10, with the labels that each got.

#4088 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Get-CsOnlineLisSubnet.md
  skype/skype-ps/skype/New-CsTenantNetworkSubnet.md
  skype/skype-ps/skype/Remove-CsOnlineLisSubnet.md
  skype/skype-ps/skype/Set-CsOnlineLisSubnet.md
  skype/skype-ps/skype/Set-CsTenantTrustedIPAddress.md
Labels: Microsoft submitter

#3580 Path of example should be just export.cmp
  sharepoint/sharepoint-ps/sharepoint-server/Export-SPWeb.md
Labels: area:sp-server-powershell

#4082 Minor udpates to ExO cmdlet topics
  exchange/exchange-ps/exchange/devices/Clear-MobileDevice.md
  exchange/exchange-ps/exchange/devices/Get-MobileDevice.md
  exchange/exchange-ps/exchange/devices/Get-MobileDeviceStatistics.md
  exchange/exchange-ps/exchange/devices/Remove-MobileDevice.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxFolderStatistics.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxPermission.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxStatistics.md
Labels: Microsoft submitter, area:exchange

#4084 Update Set-MailboxSpellingConfiguration.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxSpellingConfiguration.md
Labels: area:exchange

#4085 Update Set-DistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DistributionGroup.md
Labels: area:exchange

#4092 Changed example to full path
  sharepoint/sharepoint-ps/sharepoint-server/Export-SPWeb.md
Labels: area:sp-server-powershell

#4091 Update Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
Labels: area:exchange

#4094 Adding note about time to be reflected
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOOrgAssetsLibrary.md
Labels: area:spo-powershell

#4093 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxSpellingConfiguration.md
  exchange/exchange-ps/exchange/devices/Clear-MobileDevice.md
  exchange/exchange-ps/exchange/devices/Get-MobileDevice.md
  exchange/exchange-ps/exchange/devices/Get-MobileDeviceStatistics.md
  exchange/exchange-ps/exchange/devices/Remove-MobileDevice.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxFolderStatistics.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxPermission.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxStatistics.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DistributionGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-server/Export-SPWeb.md
Labels: Microsoft submitter

#4095 New Teams group policy assignment related documentation
  teams/teams-ps/teams/Get-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:skype, area:teams

#4097 Chrisda to Master
  exchange/exchange-ps/exchange/move-and-migration/Get-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Get-PublicFolderMigrationRequestStatistics.md
  exchange/exchange-ps/exchange/move-and-migration/New-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Remove-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Resume-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Set-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Suspend-PublicFolderMigrationRequest.md
Labels: Microsoft submitter

#4096 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/move-and-migration/Get-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Get-PublicFolderMigrationRequestStatistics.md
  exchange/exchange-ps/exchange/move-and-migration/New-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Remove-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Resume-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Set-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Suspend-PublicFolderMigrationRequest.md
  teams/teams-ps/teams/Get-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#4103 Wrong cmdlet in notes for exchange 2013+
  exchange/exchange-ps/exchange/devices/Set-ActiveSyncMailboxPolicy.md
Labels: area:exchange

#4108 Update connect-sharepoint-online.md
  sharepoint/docs-conceptual/sharepoint-online/connect-sharepoint-online.md
Labels: area:spo-powershell

#4109 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/devices/Set-ActiveSyncMailboxPolicy.md
  sharepoint/docs-conceptual/sharepoint-online/connect-sharepoint-online.md
Labels: Microsoft submitter

#4115 Update Set-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:skype, area:teams

#4117 Update Set-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: Microsoft submitter

#4116 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: Microsoft submitter

#4111 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4107 Update Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
Labels: area:exchange

#4113 Update Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/exchange-ps-v2-module/Connect-ExchangeOnline.md
Labels: Microsoft submitter, area:exchange

#4105 Update Set-Mailbox Params exclude linked subtype
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: Microsoft submitter, area:exchange

#4118 Chrisda to Master
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-IRMConfiguration.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Start-ManagedFolderAssistant.md
Labels: Microsoft submitter

#4120 Master to Live
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-IRMConfiguration.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Start-ManagedFolderAssistant.md
Labels: Microsoft submitter

#4125 Additional updates for the new batch and group cmdlets that are in preview
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/Get-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:skype, area:teams

#4126 Merges Master to Live. See commits to details.
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/Get-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#4132 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Get-CsIPPhonePolicy.md
  skype/skype-ps/skype/Grant-CsIPPhonePolicy.md
  skype/skype-ps/skype/Set-CsIPPhonePolicy.md
Labels: Microsoft submitter

#4135 Update Get-ExoCasMailbox.md
  exchange/exchange-ps/exchange/exchange-ps-v2-module/Get-ExoCasMailbox.md
Labels: Microsoft submitter

#4136 Update Get-ExoMailbox.md
  exchange/exchange-ps/exchange/exchange-ps-v2-module/Get-ExoMailbox.md
Labels: Microsoft submitter

#4141 Update Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
Labels: Microsoft submitter

#4134 Align ForwardPai param to Set- cmdlet
  skype/skype-ps/skype/New-CsOnlinePSTNGateway.md
Labels: area:skype

#4133 Added description for Tenant parameter
  skype/skype-ps/skype/Remove-CsVoiceNormalizationRule.md
Labels: area:skype

#4140 Corrected Param for ConditionalAccessPolicy
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#4142 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/New-CsOnlinePSTNGateway.md
  skype/skype-ps/skype/Remove-CsVoiceNormalizationRule.md
Labels: Microsoft submitter

#4144 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteRename.md
Labels: Microsoft submitter

#4137 Fixed broken formatting for asterisk symbol
  skype/skype-ps/skype/Get-CsOnlineUser.md
Labels: area:skype

#4146 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Get-CsOnlineUser.md
Labels: Microsoft submitter

#4150 Update-SetOfflineAddressBook
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-OfflineAddressBook.md
Labels: area:exchange

#4152 Chrisda to Master
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AdvancedThreatProtectionDocumentReport.md
  exchange/exchange-ps/exchange/database-availability-groups/Set-MailboxDatabaseCopy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-OfflineAddressBook.md
  exchange/exchange-ps/exchange/federation-and-hybrid/Add-FederatedDomain.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxImportRequest.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/move-and-migration/New-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/New-PublicFolderMoveRequest.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-ManagedContentSettings.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-ManagedFolder.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-ManagedFolderMailboxPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-ManagedContentSettings.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-ManagedFolder.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-ManagedFolderMailboxPolicy.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/New-PublicFolderDatabase.md
Labels: Microsoft submitter

#4154 Master to Live
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AdvancedThreatProtectionDocumentReport.md
  exchange/exchange-ps/exchange/database-availability-groups/Set-MailboxDatabaseCopy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-OfflineAddressBook.md
  exchange/exchange-ps/exchange/federation-and-hybrid/Add-FederatedDomain.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxImportRequest.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/move-and-migration/New-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/New-PublicFolderMoveRequest.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-ManagedContentSettings.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-ManagedFolder.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-ManagedFolderMailboxPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-ManagedContentSettings.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-ManagedFolder.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-ManagedFolderMailboxPolicy.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/New-PublicFolderDatabase.md
Labels: Microsoft submitter

#4162 Typo that prevents correct rendering of table
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
Labels: area:pnp-powershell

#4149 Added 2 new parameters
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: Microsoft submitter, area:spo-powershell

#4147 Update New-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
Labels: area:exchange

#4163 Update New-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/New-DynamicDistributionGroup.md
Labels: area:exchange

#4166 Further DirectMembershipOnly updates to DDG parameters
  exchange/exchange-ps/exchange/users-and-groups/New-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DynamicDistributionGroup.md
Labels: Microsoft submitter

#4165 master into live
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/users-and-groups/New-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DynamicDistributionGroup.md
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: Microsoft submitter

#4167 Update Disable-InboxRule.md
  exchange/exchange-ps/exchange/mailboxes/Disable-InboxRule.md
Labels: area:exchange

#4170 Update connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/exchange-eop/connect-to-exchange-online-protection-powershell.md
Labels: Microsoft submitter

#4169 Patch 55
  skype/skype-ps/skype/Get-CsInboundBlockedNumberPattern.md
  skype/skype-ps/skype/New-CsInboundBlockedNumberPattern.md
  skype/skype-ps/skype/Remove-CsInboundBlockedNumberPattern.md
  skype/skype-ps/skype/Set-CsInboundBlockedNumberPattern.md
Labels: area:skype

#4179 Merges Master to Live. See commits for details.
  exchange/docs-conceptual/exchange-eop/connect-to-exchange-online-protection-powershell.md
  exchange/exchange-ps/exchange/mailboxes/Disable-InboxRule.md
  skype/skype-ps/skype/Get-CsInboundBlockedNumberPattern.md
  skype/skype-ps/skype/New-CsExternalUserCommunicationPolicy.md
  skype/skype-ps/skype/New-CsInboundBlockedNumberPattern.md
  skype/skype-ps/skype/Remove-CsInboundBlockedNumberPattern.md
  skype/skype-ps/skype/Set-CsExternalUserCommunicationPolicy.md
  skype/skype-ps/skype/Set-CsInboundBlockedNumberPattern.md
Labels: Microsoft submitter

#4168 Update Invoke-SPOSiteSwap.md
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
Labels: Microsoft submitter, area:spo-powershell

#4182 Updates to Get-HybridMailflow cmdlets
  exchange/exchange-ps/exchange/federation-and-hybrid/Get-HybridMailflow.md
  exchange/exchange-ps/exchange/federation-and-hybrid/Get-HybridMailflowDatacenterIPs.md
Labels: Microsoft submitter

#4183 Master to Live
  .openpublishing.redirection.json
  exchange/exchange-ps/exchange/federation-and-hybrid/Get-HybridMailflow.md
  exchange/exchange-ps/exchange/federation-and-hybrid/Get-HybridMailflowDatacenterIPs.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Get-DlpComplianceRuleV2.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpComplianceRuleV2.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Remove-DlpComplianceRuleV2.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpComplianceRuleV2.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-TeamsRetentionCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-TeamsRetentionComplianceRule.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-TeamsRetentionCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-TeamsRetentionComplianceRule.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Remove-TeamsRetentionCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Remove-TeamsRetentionComplianceRule.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Set-TeamsRetentionCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Set-TeamsRetentionComplianceRule.md
  exchange/exchange-ps/exchange/policy-and-compliance/Export-TransportRuleCollection.md
  exchange/exchange-ps/exchange/policy-and-compliance/Import-TransportRuleCollection.md
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
  skype/skype-ps/skype/Set-CsConferencingPolicy.md
Labels: Microsoft submitter

#4156 Add parameters to example 2 Get-SPOHubSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOHubSite.md
Labels: area:spo-powershell

#4159 Point important things Unregister-SPOHubSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Unregister-SPOHubSite.md
Labels: area:spo-powershell

#4160 Content fix on Start-SPOSiteRename.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteRename.md
Labels: area:spo-powershell

#4161 Removed more than one param set statement
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOUser.md
Labels: area:spo-powershell

#4174 Removed Q3 date and added ref to 365 roadmap
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
Labels: area:spo-powershell

#4164 Update Get-SPODataConnectionSetting.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPODataConnectionSetting.md
Labels: area:spo-powershell

#4200 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPODataConnectionSetting.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOHubSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteRename.md
  sharepoint/sharepoint-ps/sharepoint-online/Unregister-SPOHubSite.md
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPContentDatabase.md
  skype/skype-ps/skype/Set-CsMobilityPolicy.md
Labels: Microsoft submitter

#4201 Update Set-CsOnlineDialInConferencingTenantSettings.md
  skype/skype-ps/skype/Set-CsOnlineDialInConferencingTenantSettings.md
Labels: Microsoft submitter

#4213 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Set-CsOnlineDialInConferencingTenantSettings.md
Labels: Microsoft submitter

#4207 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4208 Update Get-EXOMailbox.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailbox.md
Labels: Microsoft submitter, area:exchange

#4209 Update Get-EXOMailboxStatistics.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxStatistics.md
Labels: Microsoft submitter, area:exchange

#4212 Update Get-EXOMailboxFolderStatistics.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxFolderStatistics.md
Labels: Microsoft submitter, area:exchange

#4214 Updated note for serial PF migration cmdlets
  exchange/exchange-ps/exchange/move-and-migration/Get-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Get-PublicFolderMigrationRequestStatistics.md
  exchange/exchange-ps/exchange/move-and-migration/New-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Remove-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Resume-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Set-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Suspend-PublicFolderMigrationRequest.md
Labels: Microsoft submitter

#4188 Update to reflect the support for DAP and MFA
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
Labels: Microsoft submitter, area:exchange

#4216 Enable pdf encryption chrisda
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-IRMConfiguration.md
Labels: Microsoft submitter, area:exchange

#4221 Fixed code block fencing on winrm commands
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
Labels: Microsoft submitter, area:exchange

#4222 Master to Live
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-IRMConfiguration.md
  exchange/exchange-ps/exchange/move-and-migration/Get-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Get-PublicFolderMigrationRequestStatistics.md
  exchange/exchange-ps/exchange/move-and-migration/New-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Remove-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Resume-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Set-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Suspend-PublicFolderMigrationRequest.md
Labels: Microsoft submitter

#4220 Changed description for WhatIf parameter
  skype/skype-ps/skype/Set-CsOnlineDialInConferencingUser.md
Labels: area:skype, area:teams

#4217 Update Remove-CsCallingLineIdentity.md
  skype/skype-ps/skype/Remove-CsCallingLineIdentity.md
Labels: area:skype, area:teams

#4226 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-server/Uninstall-SPFeature.md
Labels: Microsoft submitter

#4230 Update Export-ActiveSyncLog.md
  exchange/exchange-ps/exchange/devices/Export-ActiveSyncLog.md
Labels: area:exchange

#4228 Update Get-CsOnlineDirectoryTenant.md
  skype/skype-ps/skype/Get-CsOnlineDirectoryTenant.md
Labels: area:skype, area:teams

#4232 Corrected Example 2
  sharepoint/sharepoint-ps/sharepoint-server/Start-SPAssignment.md
Labels: area:sp-server-powershell

#4234 Update New-SPEnterpriseSearchMetadataCrawledProperty.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPEnterpriseSearchMetadataCrawledProperty.md
Labels: area:sp-server-powershell

#4233 Update Get-PublicFolderStatistics.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Get-PublicFolderStatistics.md
Labels: area:exchange

#4239 Corrected Example 1
  skype/skype-ps/skype/Reset-CsRoutingGroup.md
Labels: area:skype, area:teams

#4231 Update Get-EXORecipientPermission.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXORecipientPermission.md
Labels: Microsoft submitter, area:exchange

#4225 Update Set-OWaMailboxPolicy
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter, area:exchange

#4244 Update Get-CsTeamsUpgradeStatus.md
  skype/skype-ps/skype/Get-CsTeamsUpgradeStatus.md
Labels: Microsoft submitter, area:skype, area:teams

#4236 Update Search-AdminAuditLog.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-AdminAuditLog.md
Labels: Microsoft submitter, area:exchange

#4246 Chrisda to Master
  exchange/exchange-ps/exchange/mailboxes/Search-Mailbox.md
Labels: Microsoft submitter

#4245 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/devices/Export-ActiveSyncLog.md
  exchange/exchange-ps/exchange/mailboxes/Search-Mailbox.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-AdminAuditLog.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Get-PublicFolderStatistics.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPEnterpriseSearchMetadataCrawledProperty.md
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPContentDatabase.md
  sharepoint/sharepoint-ps/sharepoint-server/Start-SPAssignment.md
  skype/skype-ps/skype/Get-CsOnlineDirectoryTenant.md
  skype/skype-ps/skype/Get-CsTeamsUpgradeStatus.md
  skype/skype-ps/skype/Reset-CsRoutingGroup.md
Labels: Microsoft submitter

#4237 Update set-owamailboxpolicy to add NPS parameter
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter, area:exchange

#4255 Merges Master to Live. See commits for details.
  teams/teams-ps/teams/New-Team.md
Labels: Microsoft submitter

#4258 Example 7: wrong parameter, should be Path instead of filename
  sharepoint/sharepoint-ps/sharepoint-pnp/Add-PnPFile.md
Labels: area:pnp-powershell

#4267 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-pnp/Add-PnPFile.md
Labels: Microsoft submitter

#4257 Update Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AtpPolicyForO365.md
Labels: area:exchange

#4271 Update New-SPWebApplication.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPWebApplication.md
Labels: area:sp-server-powershell

#4281 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-server/New-SPProfileServiceApplicationProxy.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPWebApplication.md
Labels: Microsoft submitter

#4278 Update Get-EXOMailboxStatistics.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxStatistics.md
Labels: Microsoft submitter, area:exchange

#4277 Property CustomerLockboxEnabled doesn't exist for the cmdlet
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
Labels: Microsoft submitter, area:exchange

#4280 Update Get-EXOMailboxFolderStatistics.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxFolderStatistics.md
Labels: Microsoft submitter, area:exchange

#4282 Removing reference to missing parameters
  exchange/exchange-ps/exchange/users-and-groups/Set-UnifiedGroup.md
Labels: area:exchange

#4291 Merges Master to Live. See commits for details.
  teams/teams-ps/teams/New-TeamChannel.md
Labels: Microsoft submitter

#4293 Tweak to Exchange OPath filter info.
  exchange/docs-conceptual/exchange-server/recipient-filters/recipient-filters.md
  exchange/exchange-ps/exchange/devices/Get-ActiveSyncDeviceStatistics.md
  exchange/exchange-ps/exchange/devices/Get-MobileDeviceStatistics.md
Labels: Microsoft submitter

#4294 Master to Live
  exchange/docs-conceptual/exchange-server/recipient-filters/recipient-filters.md
  exchange/exchange-ps/exchange/devices/Get-ActiveSyncDeviceStatistics.md
  exchange/exchange-ps/exchange/devices/Get-MobileDeviceStatistics.md
Labels: Microsoft submitter
