Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2019-07, with the labels that each got.

#3643 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPEnterpriseSearchCrawlRule.md
  sharepoint/sharepoint-ps/sharepoint-server/sharepoint-server.md
Labels: Microsoft submitter

#3644 Added new params for membership type and owner
  teams/teams-ps/teams/New-TeamChannel.md
Labels: area:teams

#3651 Update Set-ActivityAlert.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-ActivityAlert.md
Labels: area:exchange

#3652 Update New-ActivityAlert.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-ActivityAlert.md
Labels: area:exchange

#3635 Adding section for -EnableAzureADB2BIntegration
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: Microsoft submitter, area:spo-powershell

#3670 Mip to Master
  exchange/exchange-ps/exchange/policy-and-compliance/Get-Label.md
  exchange/exchange-ps/exchange/policy-and-compliance/Get-LabelPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-Label.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-LabelPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Remove-Label.md
  exchange/exchange-ps/exchange/policy-and-compliance/Remove-LabelPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-Label.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-LabelPolicy.md
Labels: Microsoft submitter

#3671 Master to Live
  exchange/exchange-ps/exchange/policy-and-compliance/Get-Label.md
  exchange/exchange-ps/exchange/policy-and-compliance/Get-LabelPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-ActivityAlert.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-Label.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-LabelPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Remove-Label.md
  exchange/exchange-ps/exchange/policy-and-compliance/Remove-LabelPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-ActivityAlert.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-Label.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-LabelPolicy.md
  exchange/exchange-ps/exchange/users-and-groups/Set-UnifiedGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
  skype/skype-ps/skype/Set-CsMediaConfiguration.md
  teams/teams-ps/teams/New-TeamChannel.md
Labels: Microsoft submitter

#3666 Update New-CsSimpleUrl.md
  skype/skype-ps/skype/New-CsSimpleUrl.md
Labels: area:skype

#3595 Update Set-CsOnlinePSTNGateway.md
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
Labels: area:skype, area:teams

#3677 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Get-CsTenantNetworkRegion.md
  skype/skype-ps/skype/Get-CsTenantNetworkSite.md
  skype/skype-ps/skype/Get-CsTenantNetworkSubnet.md
  skype/skype-ps/skype/Get-CsTenantTrustedIPAddress.md
  skype/skype-ps/skype/New-CsSimpleUrl.md
  skype/skype-ps/skype/New-CsTenantNetworkRegion.md
  skype/skype-ps/skype/New-CsTenantNetworkSite.md
  skype/skype-ps/skype/New-CsTenantNetworkSubnet.md
  skype/skype-ps/skype/New-CsTenantTrustedIPAddress.md
  skype/skype-ps/skype/Remove-CsTenantNetworkRegion.md
  skype/skype-ps/skype/Remove-CsTenantNetworkSite.md
  skype/skype-ps/skype/Remove-CsTenantNetworkSubnet.md
  skype/skype-ps/skype/Remove-CsTenantTrustedIPAddress.md
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
  skype/skype-ps/skype/Set-CsTenantNetworkRegion.md
  skype/skype-ps/skype/Set-CsTenantNetworkSite.md
  skype/skype-ps/skype/Set-CsTenantNetworkSubnet.md
  skype/skype-ps/skype/Set-CsTenantTrustedIPAddress.md
Labels: Microsoft submitter

#3676 Chrisda to Master
  exchange/exchange-ps/exchange/devices/Get-ActiveSyncDeviceStatistics.md
  exchange/exchange-ps/exchange/users-and-groups/New-DynamicDistributionGroup.md
Labels: Microsoft submitter

#3653 Update Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-UnifiedAuditLog.md
Labels: area:exchange

#3665 Update Search-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Search-Mailbox.md
Labels: area:exchange

#3668 Added a note about owners
  exchange/exchange-ps/exchange/users-and-groups/Add-UnifiedGroupLinks.md
Labels: area:exchange

#3673 Update Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
Labels: area:exchange

#3678 Master to Live
  exchange/exchange-ps/exchange/devices/Get-ActiveSyncDeviceStatistics.md
  exchange/exchange-ps/exchange/mailboxes/Search-Mailbox.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/users-and-groups/Add-UnifiedGroupLinks.md
  exchange/exchange-ps/exchange/users-and-groups/New-DynamicDistributionGroup.md
Labels: Microsoft submitter

#3694 Update Get-MessageTraceDetail.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTraceDetail.md
Labels: Microsoft submitter

#3679 AdditionalStorageProvidersAvailable new parameter
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter, area:exchange

#3698 Adds clarity to fork, PR in step 8.
  repo_docs/NEW_CMDLETS.md
Labels: Microsoft submitter

#3696 Added documentation for 3 new policy packaging cmdlets
  Get-TeamPolicyPackage.md
  Get-TeamUserPolicyPackageRecommendation.md
  Grant-TeamUserPolicyPackage.md
Labels: Microsoft submitter, area:skype, area:teams

#3697 Added 3 new policy packaging cmdlets to the TOC
  teams/teams-ps/teams/teams.md
Labels: Microsoft submitter, area:skype, area:teams

#3703 Merges Master to Live. See commits for details.
  Get-TeamPolicyPackage.md
  Get-TeamUserPolicyPackageRecommendation.md
  Grant-TeamUserPolicyPackage.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTraceDetail.md
  repo_docs/NEW_CMDLETS.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOOrgAssetsLibrary.md
  teams/teams-ps/teams/teams.md
Labels: Microsoft submitter

#3708 New cmdlet Invoke-SPOSIteSwap
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
Labels: Microsoft submitter, area:spo-powershell

#3699 Update sharepoint-online.md
  sharepoint/sharepoint-ps/sharepoint-online/sharepoint-online.md
Labels: Microsoft submitter, area:spo-powershell

#3727 Site Swap
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
  sharepoint/sharepoint-ps/sharepoint-online/sharepoint-online.md
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
Labels: Microsoft submitter

#3710 Update New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishPolicy.md
Labels: Microsoft submitter, area:exchange

#3718 Update Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
Labels: Microsoft submitter, area:exchange

#3702 Update Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: Microsoft submitter, area:spo-powershell

#3719 Update New-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/New-Mailbox.md
Labels: Microsoft submitter, area:exchange

#3720 Update Set-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: Microsoft submitter, area:exchange

#3722 Update Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
Labels: Microsoft submitter, area:exchange

#3723 Update New-OfficeWebAppsFarm.md
  officewebapps/officewebapps-ps/officewebapps/New-OfficeWebAppsFarm.md
Labels: Microsoft submitter

#3724 Update Set-OfficeWebAppsFarm.md
  officewebapps/officewebapps-ps/officewebapps/Set-OfficeWebAppsFarm.md
Labels: Microsoft submitter

#3725 Update New-OfficeWebAppsFarm.md
  officewebapps/officewebapps-ps/officewebapps/New-OfficeWebAppsFarm.md
Labels: Microsoft submitter

#3726 Update Set-OfficeWebAppsFarm.md
  officewebapps/officewebapps-ps/officewebapps/Set-OfficeWebAppsFarm.md
Labels: Microsoft submitter

#3729 Master to Live
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/mailboxes/New-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  officewebapps/officewebapps-ps/officewebapps/New-OfficeWebAppsFarm.md
  officewebapps/officewebapps-ps/officewebapps/Set-OfficeWebAppsFarm.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: Microsoft submitter

#3736 Update Get-MailTrafficReport.md
  exchange/exchange-ps/exchange/reporting/Get-MailTrafficReport.md
Labels: Microsoft submitter, area:exchange

#3733 Update Backup-CsPool.md
  skype/skype-ps/skype/Backup-CsPool.md
Labels: Microsoft submitter

#3689 Update Invoke-CsBackupServiceSync.md
  skype/skype-ps/skype/Invoke-CsBackupServiceSync.md
Labels: area:skype

#3688 Update Get-CsBackupServiceStatus.md
  skype/skype-ps/skype/Get-CsBackupServiceStatus.md
Labels: area:skype

#3687 Update Set-CsBackupServiceConfiguration.md
  skype/skype-ps/skype/Set-CsBackupServiceConfiguration.md
Labels: area:skype

#3683 Update Invoke-CsBackupServiceSync.md
  skype/skype-ps/skype/Invoke-CsBackupServiceSync.md
Labels: area:skype

#3748 Update Set-CsBackupServiceConfiguration.md
  skype/skype-ps/skype/Set-CsBackupServiceConfiguration.md
Labels: Microsoft submitter

#3663 Changed "to" to "from"
  sharepoint/sharepoint-ps/sharepoint-server/Stop-SPContentTypeReplication.md
Labels: area:sp-server-powershell

#3750 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-server/Stop-SPContentTypeReplication.md
  sharepoint/sharepoint-ps/sharepoint-server/sharepoint-server.md
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: Microsoft submitter

#3754 Merged master into live. See commits for details
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOOrgAssetsLibrary.md
Labels: Microsoft submitter

#3649 Added command-let to remove user from a channel
  teams/teams-ps/teams/Remove-TeamChannelUser.md
Labels: area:teams

#3648 Added command-let to add user to a channel
  teams/teams-ps/teams/Add-TeamChannelUser.md
Labels: area:teams

#3645 Added new param for membership type
  teams/teams-ps/teams/Get-TeamChannel.md
Labels: area:teams

#3646 Added command-let to get users in a channel
  teams/teams-ps/teams/Get-TeamChannelUser.md
Labels: area:teams

#3716 Update New-CsTeamsPinnedApp.md
  skype/skype-ps/skype/New-CsTeamsPinnedApp.md
Labels: Microsoft submitter

#3715 Update New-CsTenantTrustedIPAddress.md
  skype/skype-ps/skype/New-CsTenantTrustedIPAddress.md
Labels: Microsoft submitter

#3714 Update Get-CsCallQueue.md
  skype/skype-ps/skype/Get-CsCallQueue.md
Labels: Microsoft submitter

#3713 Update New-CsCallQueue.md
  skype/skype-ps/skype/New-CsCallQueue.md
Labels: Microsoft submitter

#3712 Update Remove-CsCallQueue.md
  skype/skype-ps/skype/Remove-CsCallQueue.md
Labels: Microsoft submitter

#3711 Update Set-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: Microsoft submitter

#3755 Update Invoke-CsBackupServiceSync.md
  skype/skype-ps/skype/Invoke-CsBackupServiceSync.md
Labels: Microsoft submitter, area:skype, area:teams

#3730 Remove references to parameters no longer available in the latest release
  whiteboard/whiteboard-ps/whiteboard/Get-Whiteboard.md
  whiteboard/whiteboard-ps/whiteboard/Invoke-TransferAllWhiteboards.md
  whiteboard/whiteboard-ps/whiteboard/Set-WhiteboardOwner.md
Labels: Microsoft submitter, area:whiteboard

#3757 Changed Conditions for Condition without the 's' in Example
  exchange/exchange-ps/exchange/policy-and-compliance/New-SupervisoryReviewRule.md
Labels: Microsoft submitter, area:exchange

#3669 Fixed typo
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPODeletedSite.md
Labels: area:spo-powershell

#3721 Add documentation for Sync-CsOnlineApplicationInstance
  skype/skype-ps/skype/Sync-CsOnlineApplicationInstance.md
Labels: Microsoft submitter, area:skype, area:teams

#3759 Remove New-CsOnlineApplicationEndpoint
  skype/skype-ps/skype/New-CsHybridApplicationEndpoint.md
Labels: area:skype, area:teams

#3507 Update Get-SPUserSettingsProvider.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPUserSettingsProvider.md
Labels: area:sp-server-powershell

#3770 Added some more Description and a Note
  teams/teams-ps/teams/New-Team.md
  teams/teams-ps/teams/Remove-Team.md
Labels: Microsoft submitter

#3738 Update Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: Microsoft submitter, area:spo-powershell

#3772 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  teams/teams-ps/teams/New-Team.md
  teams/teams-ps/teams/Remove-Team.md
Labels: Microsoft submitter

#3777 Places-chrisda to Master
  exchange/exchange-ps/exchange/mailboxes/Get-Place.md
  exchange/exchange-ps/exchange/mailboxes/Set-Place.md
Labels: Microsoft submitter, area:exchange

#3778 Master to Live
  exchange/exchange-ps/exchange/mailboxes/Get-Place.md
  exchange/exchange-ps/exchange/mailboxes/Set-Place.md
Labels: Microsoft submitter, area:exchange

#3761 Corrected parameter of example 1
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeLinksRule.md
Labels: area:exchange

#3780 Update Get-MobileDevice.md
  exchange/docs-conceptual/exchange-eop/connect-to-exchange-online-protection-powershell.md
  exchange/exchange-ps/exchange/devices/Get-MobileDevice.md
Labels: Microsoft submitter

#3781 Master to Live
  exchange/docs-conceptual/exchange-eop/connect-to-exchange-online-protection-powershell.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeLinksRule.md
  exchange/exchange-ps/exchange/devices/Get-MobileDevice.md
Labels: Microsoft submitter

#3776 Incorrect page title
  skype/skype-ps/skype/New-CsOnlineVoiceRoute.md
Labels: area:skype

#3783 Update Sync-CsOnlineApplicationInstance meta data
  skype/skype-ps/skype/Sync-CsOnlineApplicationInstance.md
Labels: Microsoft submitter

#3782 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/New-CsOnlineVoiceRoute.md
  skype/skype-ps/skype/Sync-CsOnlineApplicationInstance.md
Labels: Microsoft submitter
