Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2019-12, with the labels that each got.

#4445 Update Search-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Search-Mailbox.md
Labels: area:exchange

#4446 Update New-DlpKeywordDictionary.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpKeywordDictionary.md
Labels: area:exchange

#4460 Update Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
Labels: area:exchange

#4481 Update Set-CsAuthConfig.md
  skype/skype-ps/skype/Set-CsAuthConfig.md
Labels: Microsoft submitter, area:skype

#4480 Changing behavior if no computer or pool is specified
  skype/skype-ps/skype/Start-CsClsLogging.md
  skype/skype-ps/skype/Stop-CsClsLogging.md
Labels: area:skype

#4461 Update Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-UnifiedAuditLog.md
Labels: area:exchange

#4467 Update Set-UnifiedGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-UnifiedGroup.md
Labels: area:exchange

#4470 Update Set-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: area:exchange

#4432 Update Invoke-SPOSiteSwap.md
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
Labels: Microsoft submitter, area:spo-powershell

#4486 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/mailboxes/Search-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpKeywordDictionary.md
  exchange/exchange-ps/exchange/users-and-groups/Set-UnifiedGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
  skype/skype-ps/skype/Set-CsAuthConfig.md
  skype/skype-ps/skype/Start-CsClsLogging.md
  skype/skype-ps/skype/Stop-CsClsLogging.md
Labels: Microsoft submitter

#4473 Update Test-ServiceHealth.md
  exchange/exchange-ps/exchange/server-health-and-performance/Test-ServiceHealth.md
Labels: area:exchange

#4479 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4488 Chrisda to Master
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/exchange-ps/exchange/antispam-antimalware/Disable-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Enable-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Get-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Remove-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterRule.md
Labels: Microsoft submitter, area:exchange

#4493 remove operation ID
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:skype, area:teams

#4494 remove operation ID
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:skype, area:teams

#4495 Remove operation ID
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:skype, area:teams

#4496 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Get-CsDialPlan.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#4497 Chrisda to Master
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
Labels: Microsoft submitter

#4498 Master to Live
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
Labels: Microsoft submitter

#4499 Update Set-MailboxAutoReplyConfiguration.md
  exchange/exchange-ps/exchange/mailboxes/Set-MailboxAutoReplyConfiguration.md
Labels: Microsoft submitter, area:exchange

#4500 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4507 Master to Live
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/mailboxes/Set-MailboxAutoReplyConfiguration.md
Labels: Microsoft submitter

#4508 Update Set-CASMailbox.md
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
Labels: area:exchange

#4509 Example 1, fixed
  exchange/exchange-ps/exchange/mail-flow/Set-RemoteDomain.md
Labels: area:exchange

#4511 -IncludeFolders type list correction
  exchange/exchange-ps/exchange/mailboxes/New-MailboxExportRequest.md
Labels: area:exchange

#4523 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4525 DlpComp-chrisda to Master
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Get-DlpComplianceRule.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpComplianceRule.md
Labels: Microsoft submitter

#4514 Master to Live
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
  exchange/exchange-ps/exchange/mail-flow/Set-RemoteDomain.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Get-DlpComplianceRule.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpComplianceRule.md
Labels: Microsoft submitter

#4516 Added new parameters related to functionality developed recently.
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
Labels: area:skype, area:teams

#4515 Added new parameters related to functionality developed recently.
  skype/skype-ps/skype/New-CsOnlinePSTNGateway.md
Labels: area:skype, area:teams

#4527 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/New-CsOnlinePSTNGateway.md
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
Labels: Microsoft submitter

#4526 Update New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxExportRequest.md
Labels: area:exchange

#4522 Changing link to a working link
  sharepoint/sharepoint-ps/sharepoint-server/Install-SPSolution.md
Labels: area:sp-server-powershell

#4529 Merges Master to Live. See commits for details.
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxExportRequest.md
  sharepoint/sharepoint-ps/sharepoint-server/Install-SPSolution.md
Labels: Microsoft submitter

#3853 Parameter is missing from example
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOOrgAssetsLibrary.md
Labels: area:spo-powershell

#4039 Included description for all commands
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#4326 Text change for SharePoint Online Administrator
  sharepoint/docs-conceptual/sharepoint-online/introduction-sharepoint-online-management-shell.md
Labels: area:spo-powershell

#4395 Corrected note
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSiteGroup.md
Labels: area:spo-powershell

#4387 Corrected Example #3
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#4447 Update Remove-SPODeletedSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPODeletedSite.md
Labels: area:spo-powershell

#4158 Point important things Revoke-SPOHubSiteRights.md
  sharepoint/sharepoint-ps/sharepoint-online/Revoke-SPOHubSiteRights.md
Labels: area:spo-powershell

#4535 Update Connect-MicrosoftTeams.md
  teams/teams-ps/teams/Connect-MicrosoftTeams.md
Labels: area:teams

#4545 Update Export-UMPrompt.md
  exchange/exchange-ps/exchange/unified-messaging/Export-UMPrompt.md
Labels: area:exchange

#4546 Update Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: area:exchange

#4390 Corrected examples
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteContentMove.md
Labels: area:spo-powershell

#4506 Updating DisabledWebPartIds behavior
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#4551 Update New-ExchangeCertificate.md
  exchange/exchange-ps/exchange/encryption-and-certificates/New-ExchangeCertificate.md
Labels: area:exchange

#4548 Update Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AtpPolicyForO365.md
Labels: area:exchange

#4547 Update mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
Labels: area:exchange

#4531 Chrisda to Master
  exchange/exchange-ps/exchange/client-access-servers/Get-MapiVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access-servers/New-MapiVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access-servers/Set-MapiVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/mailboxes/Set-Place.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Set-MailPublicFolder.md
Labels: Microsoft submitter, area:exchange

#4554 Merges Master to Live. See commits for details.
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/client-access-servers/Get-MapiVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access-servers/New-MapiVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access-servers/Set-MapiVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/encryption-and-certificates/New-ExchangeCertificate.md
  exchange/exchange-ps/exchange/mailboxes/Set-Place.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Set-MailPublicFolder.md
  exchange/exchange-ps/exchange/unified-messaging/Export-UMPrompt.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteContentMove.md
  teams/teams-ps/teams/Connect-MicrosoftTeams.md
Labels: Microsoft submitter

#4555 Clarified that only mail-enabled USGs should be used as role group me…
  exchange/exchange-ps/exchange/role-based-access-control/New-RoleGroup.md
  exchange/exchange-ps/exchange/role-based-access-control/Update-RoleGroupMember.md
Labels: Microsoft submitter

#4556 Updating after discussion with EEE switch req
  exchange/exchange-ps/exchange/mailboxes/Remove-CalendarEvents.md
Labels: Microsoft submitter

#4559 Update Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AtpPolicyForO365.md
Labels: area:exchange

#4557 Patch 76
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrace.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTraceDetail.md
Labels: area:exchange

#4566 Update Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: area:exchange

#4590 Update sharepoint-pnp-cmdlets.md
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
Labels: Microsoft submitter
