Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2019-03, with the labels that each got.

#2930 Update Export-AutoDiscoverConfig.md
  exchange/exchange-ps/exchange/client-access/Export-AutoDiscoverConfig.md
Labels: area:exchange

#2941 Update Get-SPDeletedSite.md
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPDeletedSite.md
Labels: Microsoft submitter

#2929 Update Start-ManagedFolderAssistant.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Start-ManagedFolderAssistant.md
Labels: area:exchange

#2948 Update for EnableQoS and EnableInCallQoS
  skype/skype-ps/skype/New-CsMediaConfiguration.md
Labels: area:skype, area:teams

#2947 Minor grammar and text fixups
  skype/skype-ps/skype/Set-CsIPPhonePolicy.md
Labels: area:skype, area:teams

#2888 Initial documentation for applicationInstance cmdlets
  skype/skype-ps/skype/Get-CsOnlineApplicationInstance.md
  skype/skype-ps/skype/New-CsOnlineApplicationInstance.md
  skype/skype-ps/skype/Set-CsOnlineApplicationInstance.md
Labels: Microsoft submitter, area:skype, area:teams

#2944 Dariomws9
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
Labels: area:exchange

#2964 Update skype.md to add application instance docs
  skype/skype-ps/skype/skype.md
Labels: Microsoft submitter

#2957 update set-owamailboxpolicy
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter, area:exchange

#3003 Chrisda to Master
  exchange/exchange-ps/exchange/mailboxes/New-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Update-PublicFolderMailbox.md
Labels: Microsoft submitter

#2939 Update Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#3013 Update Enable-CsOnlineDialInConferencingUser.md
  skype/skype-ps/skype/Enable-CsOnlineDialInConferencingUser.md
Labels: area:skype, area:teams

#3027 Chrisda to Master
  exchange/exchange-ps/exchange/client-access-servers/New-RpcClientAccess.md
  exchange/exchange-ps/exchange/client-access-servers/Remove-RpcClientAccess.md
  exchange/exchange-ps/exchange/client-access/Test-OwaConnectivity.md
  exchange/exchange-ps/exchange/mail-flow/Get-RoutingGroupConnector.md
  exchange/exchange-ps/exchange/mail-flow/New-RoutingGroupConnector.md
  exchange/exchange-ps/exchange/mail-flow/New-SendConnector.md
  exchange/exchange-ps/exchange/mail-flow/Remove-RoutingGroupConnector.md
  exchange/exchange-ps/exchange/mail-flow/Set-RoutingGroupConnector.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Clean-MailboxDatabase.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Update-FileDistributionService.md
  exchange/exchange-ps/exchange/mailboxes/Restore-Mailbox.md
  exchange/exchange-ps/exchange/organization/Test-SystemHealth.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-ManagedContentSettings.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-ManagedFolder.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-ManagedContentSettings.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-ManagedFolder.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Remove-ManagedContentSettings.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Remove-ManagedFolder.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Set-ManagedContentSettings.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Set-ManagedFolder.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Start-RetentionAutoTagLearning.md
  exchange/exchange-ps/exchange/server-health-and-performance/Get-AvailabilityReportOutage.md
  exchange/exchange-ps/exchange/server-health-and-performance/New-AvailabilityReportOutage.md
  exchange/exchange-ps/exchange/server-health-and-performance/Remove-AvailabilityReportOutage.md
  exchange/exchange-ps/exchange/server-health-and-performance/Set-AvailabilityReportOutage.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Add-PublicFolderAdministrativePermission.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Get-PublicFolderAdministrativePermission.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/New-PublicFolderDatabase.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/New-PublicFolderDatabaseRepairRequest.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Remove-PublicFolderAdministrativePermission.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Remove-PublicFolderDatabase.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Resume-PublicFolderReplication.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Set-PublicFolderDatabase.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Suspend-PublicFolderReplication.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Update-PublicFolder.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Update-PublicFolderHierarchy.md
  exchange/exchange-ps/exchange/unified-messaging/Disable-UMServer.md
  exchange/exchange-ps/exchange/unified-messaging/Enable-UMServer.md
  exchange/exchange-ps/exchange/unified-messaging/Get-UmServer.md
  exchange/exchange-ps/exchange/unified-messaging/Set-UmServer.md
Labels: Microsoft submitter

#3019 Update New-MailboxImportRequest.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxImportRequest.md
Labels: area:exchange

#3011 Update set-imapsettings
  exchange/exchange-ps/exchange/client-access/Set-ImapSettings.md
Labels: area:exchange

#2973 Dariomws12
  exchange/exchange-ps/exchange/users-and-groups/New-MailUser.md
Labels: area:exchange

#3034 Removed the -NewURL --
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: Microsoft submitter

#3020 Update New-CsMobilityPolicy.md
  skype/skype-ps/skype/New-CsMobilityPolicy.md
Labels: area:skype

#3058 Chrisda to Master
  exchange/exchange-ps/exchange/client-access-servers/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Get-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Remove-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Set-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/users-and-groups/New-MailUser.md
Labels: Microsoft submitter

#3037 Update Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
Labels: area:exchange

#3059 Update connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
Labels: Microsoft submitter

#3024 Remove CallerIdPolicy
  skype/skype-ps/skype/Get-CsCallerIdPolicy.md
  skype/skype-ps/skype/Grant-CsCallerIdPolicy.md
  skype/skype-ps/skype/New-CsCallerIdPolicy.md
  skype/skype-ps/skype/Remove-CsCallerIdPolicy.md
  skype/skype-ps/skype/Set-CsCallerIdPolicy.md
Labels: Microsoft submitter, area:skype

#3065 Remove CallerIDPolicy from TOC
  skype/skype-ps/skype/skype.md
Labels: Microsoft submitter

#3053 typo: Pictire -> Picture
  teams/teams-ps/teams/Set-TeamPicture.md
Labels: area:teams

#3016 Assignments docs
  skype/skype-ps/skype/Get-CsTeamsEducationAssignmentsAppPolicy.md
  skype/skype-ps/skype/Set-CsTeamsEducationAssignmentsAppPolicy.md
Labels: Microsoft submitter, area:skype

#3069 Add LBR cmdlets to TOC
  skype/skype-ps/skype/skype.md
Labels: Microsoft submitter

#3051 typo: settng -> setting
  skype/skype-ps/skype/New-CsTeamsMeetingBroadcastPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingBroadcastPolicy.md
Labels: area:skype

#3068 Markjjo working
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: Microsoft submitter, area:exchange

#3064 Update New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxRestoreRequest.md
Labels: area:exchange

#3041 typo: Double word "be"
  sharepoint/sharepoint-ps/sharepoint-pnp/Add-PnPTaxonomyField.md
Labels: area:pnp-powershell

#3052 typo: Confguration -> Configuration
  skype/skype-ps/skype/Set-CsWebServiceConfiguration.md
Labels: area:skype, area:teams

#3050 fix: CsTeamsUpgradePolicy
  skype/skype-ps/skype/New-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Remove-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Set-CsTeamsUpgradePolicy.md
Labels: area:skype, area:teams

#3048 fix: skype/skype-ps/skype/Move-CsUser.md
  skype/skype-ps/skype/Move-CsUser.md
Labels: area:skype, area:teams

#3049 fix: skype/skype-ps/skype/New-CsMobilityPolicy.md
  skype/skype-ps/skype/New-CsMobilityPolicy.md
Labels: area:skype, area:teams

#3055 fix: MD039/no-space-in-links
  sharepoint/docs-conceptual/overview.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOGeoAdministrator.md
Labels: area:spo-powershell

#3040 fix: MD025/single-h1
  README.md
  sharepoint/docs-conceptual/sharepoint-online/introduction-sharepoint-online-management-shell.md
Labels: area:spo-powershell

#3080 Chrisda to Master
  exchange/exchange-ps/exchange/client-access-servers/New-MapiVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access-servers/Set-MapiVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/Test-OutlookConnectivity.md
  exchange/exchange-ps/exchange/devices/Set-ActiveSyncOrganizationSettings.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Get-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/Resume-MoveRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/organization/Get-PartnerApplication.md
  exchange/exchange-ps/exchange/organization/New-PartnerApplication.md
  exchange/exchange-ps/exchange/organization/Set-PartnerApplication.md
  exchange/exchange-ps/exchange/server-health-and-performance/Set-ThrottlingPolicy.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Update-SiteMailbox.md
Labels: Microsoft submitter

#3090 -LinkType EventSubscribers has been deprecated in Add-UnifiedGroupLinks
  exchange/exchange-ps/exchange/users-and-groups/Add-UnifiedGroupLinks.md
Labels: area:exchange

#3091 LinkType EventSubscribers has been deprecated in remove-UnifiedGroupLinks
  exchange/exchange-ps/exchange/users-and-groups/Remove-UnifiedGroupLinks.md
Labels: area:exchange

#3094 Master to Live
  README.md
  exchange/exchange-ps/exchange/client-access-servers/New-MapiVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access-servers/Set-MapiVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/Test-OutlookConnectivity.md
  exchange/exchange-ps/exchange/devices/Get-MobileDevice.md
  exchange/exchange-ps/exchange/devices/Set-ActiveSyncOrganizationSettings.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/Get-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/Resume-MoveRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/organization/Get-PartnerApplication.md
  exchange/exchange-ps/exchange/organization/New-PartnerApplication.md
  exchange/exchange-ps/exchange/organization/Set-PartnerApplication.md
  exchange/exchange-ps/exchange/server-health-and-performance/Set-ThrottlingPolicy.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Update-SiteMailbox.md
  exchange/exchange-ps/exchange/users-and-groups/Add-UnifiedGroupLinks.md
  exchange/exchange-ps/exchange/users-and-groups/Remove-UnifiedGroupLinks.md
  sharepoint/docs-conceptual/overview.md
  sharepoint/docs-conceptual/sharepoint-online/introduction-sharepoint-online-management-shell.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOGeoAdministrator.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOOrgNewsSite.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Add-PnPTaxonomyField.md
  skype/skype-ps/skype/Move-CsUser.md
  skype/skype-ps/skype/New-CsMobilityPolicy.md
  skype/skype-ps/skype/New-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Remove-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Set-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Set-CsWebServiceConfiguration.md
Labels: Microsoft submitter

#3097 Chrisda to Master
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
  exchange/exchange-ps/exchange/move-and-migration/Resume-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/organization/Get-AuthServer.md
  exchange/exchange-ps/exchange/organization/New-AuthServer.md
  exchange/exchange-ps/exchange/organization/Remove-AuthServer.md
  exchange/exchange-ps/exchange/organization/Set-AuthServer.md
Labels: Microsoft submitter

#3099 Issue#2794
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOHideDefaultThemes.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOHideDefaultThemes.md
Labels: area:spo-powershell

#3101 Issue #2818
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#3105 Patch 2
  sharepoint/sharepoint-ps/sharepoint-online/Request-SPOPersonalSite.md
Labels: Microsoft submitter, area:exchange

#3111 Update New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpCompliancePolicy.md
Labels: area:exchange

#3115 troubleshooting module page
  spmt/spmt-ps/spmt/spmt.md
Labels: Microsoft submitter

#3118 Add Exchange Server 2019 to -InternetWebProxyBypassList
  exchange/exchange-ps/exchange/organization/Set-ExchangeServer.md
Labels: Microsoft submitter, area:exchange

#3117 Update Set-OwaMailboxPolicy
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter, area:exchange

#3114 Added note about date range
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-UrlTrace.md
Labels: area:exchange

#3122 Chrisda to Master
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeLinksRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/client-access/New-ClientAccessRule.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/devices/New-ActiveSyncDeviceAccessRule.md
  exchange/exchange-ps/exchange/devices/New-ActiveSyncMailboxPolicy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/mail-flow/Set-TransportService.md
  exchange/exchange-ps/exchange/mailboxes/Get-RecoverableItems.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/mailboxes/Remove-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Remove-MailboxImportRequest.md
  exchange/exchange-ps/exchange/mailboxes/Restore-RecoverableItems.md
  exchange/exchange-ps/exchange/mailboxes/Search-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationEndpoint.md
  exchange/exchange-ps/exchange/move-and-migration/Remove-MoveRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Test-MigrationServerAvailability.md
  exchange/exchange-ps/exchange/organization/New-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/organization/Set-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/organization/Set-ExchangeServer.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Set-AdminAuditLogConfig.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-TransportRule.md
Labels: Microsoft submitter

#3124 Chrisda to Master
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
  sharepoint/sharepoint-ps/sharepoint-online/Request-SPOPersonalSite.md
Labels: Microsoft submitter

#3123 Master to Live
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-UrlTrace.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeLinksRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/client-access/New-ClientAccessRule.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/devices/New-ActiveSyncDeviceAccessRule.md
  exchange/exchange-ps/exchange/devices/New-ActiveSyncMailboxPolicy.md
  exchange/exchange-ps/exchange/email-addresses-and-address-books/New-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/mail-flow/Set-TransportService.md
  exchange/exchange-ps/exchange/mailboxes/Get-RecoverableItems.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/mailboxes/Remove-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Remove-MailboxImportRequest.md
  exchange/exchange-ps/exchange/mailboxes/Restore-RecoverableItems.md
  exchange/exchange-ps/exchange/mailboxes/Search-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationEndpoint.md
  exchange/exchange-ps/exchange/move-and-migration/Remove-MoveRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Test-MigrationServerAvailability.md
  exchange/exchange-ps/exchange/organization/New-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/organization/Set-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/organization/Set-ExchangeServer.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Set-AdminAuditLogConfig.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-TransportRule.md
  spmt/spmt-ps/spmt/spmt.md
Labels: Microsoft submitter

#3120 SPO Limits #1830
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOMigrationPackage.md
Labels: area:spo-powershell

#3137 update set-inboxrule
  exchange/exchange-ps/exchange/mailboxes/Set-InboxRule.md
Labels: Microsoft submitter

#3136 update New-InboxRule
  exchange/exchange-ps/exchange/mailboxes/New-InboxRule.md
Labels: Microsoft submitter

#3133 Documentation updates for ApplicationAccessPolicy cmdlets
  exchange/exchange-ps/exchange/organization/Get-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/New-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/Remove-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/Set-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/Test-ApplicationAccessPolicy.md
Labels: Microsoft submitter

#3142 Update exchange.md
  exchange/exchange-ps/exchange/exchange.md
Labels: Microsoft submitter

#3143 Chrisda to Master
  exchange/exchange-ps/exchange/client-access/Test-OutlookConnectivity.md
  exchange/exchange-ps/exchange/mailboxes/Remove-Mailbox.md
Labels: Microsoft submitter

#3144 App access policy cmdlet docs edit
  exchange/exchange-ps/exchange/organization/New-ApplicationAccessPolicy.md
Labels: Microsoft submitter

#3147 Updates to *-TextMessagingAccount cmdlets
  exchange/exchange-ps/exchange/client-access/Clear-TextMessagingAccount.md
  exchange/exchange-ps/exchange/client-access/Get-TextMessagingAccount.md
  exchange/exchange-ps/exchange/client-access/Set-TextMessagingAccount.md
  exchange/exchange-ps/exchange/mailboxes/Set-InboxRule.md
Labels: Microsoft submitter

#3148 Master to Live
  exchange/exchange-ps/exchange/client-access/Clear-TextMessagingAccount.md
  exchange/exchange-ps/exchange/client-access/Get-TextMessagingAccount.md
  exchange/exchange-ps/exchange/client-access/Set-TextMessagingAccount.md
  exchange/exchange-ps/exchange/client-access/Test-OutlookConnectivity.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/exchange-ps/exchange/mailboxes/Remove-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-InboxRule.md
Labels: Microsoft submitter

#3159 Chrisda to Mastr
  exchange/exchange-ps/exchange/client-access-servers/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/mailboxes/Get-RecoverableItems.md
  exchange/exchange-ps/exchange/policy-and-compliance/Enable-JournalRule.md
Labels: Microsoft submitter

#3160 Fix parameter type in NGC AA Cmdlet document
  skype/skype-ps/skype/New-CsAutoAttendant.md
  skype/skype-ps/skype/New-CsAutoAttendantMenuOption.md
Labels: Microsoft submitter

#3112 Fixed ExchangeAutodiscoverAllowedDomains example
  skype/skype-ps/skype/Set-CsOAuthConfiguration.md
Labels: area:skype

#3157 Update Set-OrganizationConfig
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
Labels: Microsoft submitter
