Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2020-05, with the labels that each got.

#5443 Updating to use preferred username parameter
  skype/skype-ps/skype/New-CsOnlineSession.md
Labels: Microsoft submitter, area:skype

#5420 Typo on Update Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
Labels: area:skype, area:teams

#5421 Updated description of -Force parameter on Get-CsOnlineDialInConferencingUserInfo.md
  skype/skype-ps/skype/Get-CsOnlineDialInConferencingUserInfo.md
Labels: area:skype, area:teams

#5432 Added preview notice
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantOrgRelation.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantOrgRelationByPartner.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantOrgRelationByScenario.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOTenantOrgRelation.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOTenantOrgRelation.md
  sharepoint/sharepoint-ps/sharepoint-online/Verify-SPOTenantOrgRelation.md
Labels: area:spo-powershell

#5442 Updated Example Command
  sharepoint/sharepoint-ps/sharepoint-pnp/Set-PnPApplicationCustomizer.md
Labels: area:pnp-powershell

#5445 Clarifying unique user processing
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter, area:skype

#5446 Guidance on group size
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:skype

#5450 Adding deprecated note
  skype/skype-ps/skype/Set-CsOnlineVoiceUserBulk.md
Labels: area:skype

#5455 Removed double quotes under NOTES section
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOHubToHubAssociation.md
Labels: area:spo-powershell

#5459 Renaming parameter and removing inexistent
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#5462 Fixing param in example
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPAppPrincipalPermission.md
Labels: area:sp-server-powershell

#5467 Update Get-PnPHubSiteChild.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Get-PnPHubSiteChild.md
Labels: area:pnp-powershell

#5469 Update GetSPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOUser.md
Labels: area:spo-powershell

#5466 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#5422 Update New-CsTeamsEmergencyCallingPolicy.md
  skype/skype-ps/skype/New-CsTeamsEmergencyCallingPolicy.md
Labels: Microsoft submitter, area:skype, area:teams

#5474 Adds information about Applies To and link to Teams conceptual article.
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: Microsoft submitter, area:skype, area:teams

#5475 Improving desc for CopyEvents
  sharepoint/sharepoint-ps/sharepoint-server/Move-SPSite.md
Labels: area:sp-server-powershell

#5477 Update Remove-SPAppPrincipalPermission.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPAppPrincipalPermission.md
Labels: area:sp-server-powershell

#5476 Added Example (25) to perform Admin activities
  sharepoint/sharepoint-ps/sharepoint-pnp/Connect-PnPOnline.md
Labels: area:pnp-powershell

#5437 Adding BlockDownloadLinksFileType to Set-SPOSite
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: Microsoft submitter, area:spo-powershell

#5480 Merges Master to Live. See commits for details.
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/organization/New-ApplicationAccessPolicy.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOHubToHubAssociation.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantOrgRelation.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantOrgRelationByPartner.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantOrgRelationByScenario.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOTenantOrgRelation.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOTenantOrgRelation.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Verify-SPOTenantOrgRelation.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Connect-PnPOnline.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Get-PnPHubSiteChild.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Set-PnPApplicationCustomizer.md
  sharepoint/sharepoint-ps/sharepoint-server/Move-SPSite.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPAppPrincipalPermission.md
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPAppPrincipalPermission.md
  skype/skype-ps/skype/Get-CsOnlineDialInConferencingUserInfo.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/New-CsOnlineSession.md
  skype/skype-ps/skype/New-CsTeamsEmergencyCallingPolicy.md
  skype/skype-ps/skype/Set-CsCallQueue.md
  skype/skype-ps/skype/Set-CsOnlineVoiceUserBulk.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#5464 Added a note in PolicyScopeGroupId description on New-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/New-ApplicationAccessPolicy.md
Labels: area:exchange

#5471 Refreshing examples
  exchange/exchange-ps/exchange/federation-and-hybrid/Set-FederationTrust.md
Labels: area:exchange

#5473 Added notes
  exchange/exchange-ps/exchange/federation-and-hybrid/Set-FederationTrust.md
Labels: area:exchange

#5481 Chrisda to Master
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MailboxJunkEmailConfiguration.md
  exchange/exchange-ps/exchange/mailboxes/Get-InboxRule.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-AdminAuditLog.md
  exchange/exchange-ps/exchange/users-and-groups/New-EOPDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/New-EOPMailUser.md
  exchange/exchange-ps/exchange/users-and-groups/Set-EOPDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-EOPGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-EOPMailUser.md
  exchange/exchange-ps/exchange/users-and-groups/Set-EOPUser.md
  exchange/exchange-ps/exchange/users-and-groups/Update-EOPDistributionGroupMember.md
Labels: Microsoft submitter, area:exchange

#5490 Exchange PowerShell flattening last step
  exchange/docs-conceptual/exchange-server/recipient-filters/recipient-filters.md
  exchange/mapping/monikerMapping.json
  exchange/mapping/serviceMapping.json
Labels: area:exchange

#5478 CSTeamsIPPhonePolicy
  skype/skype-ps/skype/Get-CsTeamsIPPhonePolicy.md
  skype/skype-ps/skype/Grant-CsTeamsIPPhonePolicy.md
  skype/skype-ps/skype/New-CsTeamsIPPhonePolicy.md
  skype/skype-ps/skype/Remove-CsTeamsIPPhonePolicy.md
  skype/skype-ps/skype/Set-CsTeamsIPPhonePolicy.md
  skype/skype-ps/skype/skype.md
Labels: Microsoft submitter, area:skype, area:teams

#5488 Master to Live
  Get-TeamsApp.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MailboxJunkEmailConfiguration.md
  exchange/exchange-ps/exchange/federation-and-hybrid/Set-FederationTrust.md
  exchange/exchange-ps/exchange/mailboxes/Get-InboxRule.md
  exchange/exchange-ps/exchange/organization/New-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-AdminAuditLog.md
  exchange/exchange-ps/exchange/users-and-groups/New-EOPDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/New-EOPMailUser.md
  exchange/exchange-ps/exchange/users-and-groups/Set-EOPDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-EOPGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-EOPMailUser.md
  exchange/exchange-ps/exchange/users-and-groups/Set-EOPUser.md
  exchange/exchange-ps/exchange/users-and-groups/Update-EOPDistributionGroupMember.md
  skype/skype-ps/skype/Get-CsTeamsIPPhonePolicy.md
  skype/skype-ps/skype/Grant-CsTeamsIPPhonePolicy.md
  skype/skype-ps/skype/New-CsTeamsIPPhonePolicy.md
  skype/skype-ps/skype/Remove-CsTeamsIPPhonePolicy.md
  skype/skype-ps/skype/Set-CsTeamsIPPhonePolicy.md
  skype/skype-ps/skype/skype.md
Labels: Microsoft submitter

#5492 Update Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#5456 Deprecation of Get-CsUserSession
  skype/skype-ps/skype/Get-CsUserSession.md
Labels: Microsoft submitter, area:skype, area:teams

#5483 Adding some descriptions
  skype/skype-ps/skype/Set-CsUserTeamMembers.md
Labels: area:skype, area:teams

#5484 Adding some descriptions
  skype/skype-ps/skype/Set-CsUserDelegates.md
Labels: area:skype, area:teams

#5499 Update Example 1
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOHomeSite.md
Labels: area:spo-powershell

#5503 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOHomeSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  skype/skype-ps/skype/Get-CsUserSession.md
  skype/skype-ps/skype/Set-CsUserDelegates.md
  skype/skype-ps/skype/Set-CsUserTeamMembers.md
Labels: Microsoft submitter

#5505 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Set-CsOnlineDialInConferencingTenantSettings.md
Labels: Microsoft submitter

#5508 Adding ConferenceMode param to New-CsCallQueue, Set-CsCallQueue cmdlets.
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: Microsoft submitter, area:teams / skype

#5507 Removing global word from role
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOTenantCdnOrigin.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Connect-SPOService.md
  sharepoint/sharepoint-ps/sharepoint-online/Disconnect-SPOService.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOAppErrors.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOAppInfo.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPODeletedSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantLogEntry.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantLogLastAvailableTimeInUtc.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantSyncClientRestriction.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOWebTemplate.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSiteGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOGeoAdministrator.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOSiteGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOTenantSyncClientRestriction.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Repair-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Request-SPOUpgradeEvaluationSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Restore-SPODeletedSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Revoke-SPOUserSession.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSiteGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSiteOffice365Group.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenantSyncClientRestriction.md
  sharepoint/sharepoint-ps/sharepoint-online/Test-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Upgrade-SPOSite.md
Labels: area:spo-powershell

#5510 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOTenantCdnOrigin.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Connect-SPOService.md
  sharepoint/sharepoint-ps/sharepoint-online/Disconnect-SPOService.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOAppErrors.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOAppInfo.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPODeletedSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantLogEntry.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantLogLastAvailableTimeInUtc.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantSyncClientRestriction.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOWebTemplate.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSiteGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOGeoAdministrator.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOSiteGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOTenantSyncClientRestriction.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Repair-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Request-SPOUpgradeEvaluationSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Restore-SPODeletedSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Revoke-SPOUserSession.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSiteGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSiteOffice365Group.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenantSyncClientRestriction.md
  sharepoint/sharepoint-ps/sharepoint-online/Test-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Upgrade-SPOSite.md
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
  teams/teams-ps/teams/Remove-TeamUser.md
Labels: Microsoft submitter

#5525 Update Get-CsTeamsChannelsPolicy.md
  skype/skype-ps/skype/Get-CsTeamsChannelsPolicy.md
Labels: area:teams / skype

#5528 Corrected 2nd example
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOUser.md
Labels: area:spo-powershell

#5529 Improving Examples
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOUserAndContentMove.md
Labels: area:spo-powershell

#5527 Adding UpdateUserTypeFromAzureAD
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOUser.md
Labels: area:spo-powershell

#5514 Copied exchange.md and servicesMapping.json from qinezh-test branch
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: area:exchange

#5526 Adding WhatIf current behavior
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#5531 Fixed example 1 in Set-AdminAuditLogConfig.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Set-AdminAuditLogConfig.md
Labels: area:exchange

#5532 Fixed examples in Get-EXOMailboxFolderPermission.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxFolderPermission.md
Labels: area:exchange

#5547 Update Set-CsOnlineLisPort.md
  skype/skype-ps/skype/Set-CsOnlineLisPort.md
Labels: Microsoft submitter

#5546 Added a note about WinRM in client OS in "connect to EXO" articles
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: area:exchange

#5530 Added VideoFiltersMode on Set/New-CsTeamsMeetingPolicy
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:teams / skype

#5539 Added ApplyRightsProtectionCustomizationTemplate param
  exchange/exchange-ps/exchange/policy-and-compliance/New-TransportRule.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-TransportRule.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Test-OrganizationRelationship.md
Labels: Microsoft submitter, area:exchange

#5534 Improving iisreset requirement.
  sharepoint/sharepoint-ps/sharepoint-server/Move-SPSite.md
Labels: area:sp-server-powershell

#5542 Adding userlist parameter
  skype/skype-ps/skype/Move-CsUser.md
Labels: area:teams / skype

#5543 Adding some descriptions
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteRename.md
Labels: area:spo-powershell

#5550 Master to Live
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Set-AdminAuditLogConfig.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-TransportRule.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-TransportRule.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxFolderPermission.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Test-OrganizationRelationship.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteRename.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOUserAndContentMove.md
  sharepoint/sharepoint-ps/sharepoint-server/Move-SPSite.md
  skype/skype-ps/skype/Get-CsTeamsChannelsPolicy.md
  skype/skype-ps/skype/Move-CsUser.md
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsOnlineLisPort.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: Microsoft submitter

#5544 Update Set-CsOnlineLisSwitch.md
  skype/skype-ps/skype/Set-CsOnlineLisSwitch.md
Labels: Microsoft submitter, area:teams / skype

#5545 Update Set-CsOnlineLisSwitch.md
  skype/skype-ps/skype/Set-CsOnlineLisSwitch.md
Labels: Microsoft submitter, area:teams / skype

#5560 Removing one level to fix overview link
  whiteboard/whiteboard-ps/whiteboard/whiteboard.md
Labels: area:whiteboard

#5559 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Set-CsOnlineLisSwitch.md
  whiteboard/whiteboard-ps/whiteboard/whiteboard.md
Labels: Microsoft submitter

#5563 Removed paramvalue
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#5564 Adding description for Identity
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOTheme.md
Labels: area:spo-powershell

#5565 Adding descriptions and param sets
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOGeoAdministrator.md
Labels: area:spo-powershell

#5569 Chrisda to Master
  exchange/docs-conceptual/exchange-eop/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-server/connect-to-exchange-servers-using-remote-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/organization/Get-ExchangeServerAccessLicense.md
  exchange/exchange-ps/exchange/organization/Get-ExchangeServerAccessLicenseUser.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-OrganizationSegment.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-OrganizationSegment.md
  exchange/exchange-ps/exchange/users-and-groups/New-EOPDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/New-EOPMailUser.md
  exchange/exchange-ps/exchange/users-and-groups/Remove-EOPDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Remove-EOPMailUser.md
  exchange/exchange-ps/exchange/users-and-groups/Set-EOPDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-EOPGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-EOPMailUser.md
  exchange/exchange-ps/exchange/users-and-groups/Set-EOPUser.md
  exchange/exchange-ps/exchange/users-and-groups/Update-EOPDistributionGroupMember.md
Labels: Microsoft submitter

#5570 Update Set-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: Microsoft submitter, area:teams / skype

#5573 Added AllowEngagementReport to Set/New-CSTeamsMeetingPolicy
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:teams / skype

#5574 Adding simpler example
  teams/teams-ps/teams/Connect-MicrosoftTeams.md
Labels: area:teams / skype

#5576 Fixed example 1 and removed example 3 in Get-MailboxAutoReplyConfiguration.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxAutoReplyConfiguration.md
Labels: area:exchange

#5587 Fixing TZ link
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSite.md
Labels: area:spo-powershell

#5586 Replacing dead link
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOUser.md
Labels: area:spo-powershell

#5584 Fixing param sets link
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOGeoAdministrator.md
Labels: area:spo-powershell

#5583 Adding missing param in example
  whiteboard/whiteboard-ps/whiteboard/Set-WhiteboardOwner.md
Labels: area:whiteboard

#5589 Updated guidance on batch size/count and supported policies
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter, area:teams / skype

#5585 Adding descriptions for params
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOTheme.md
Labels: area:spo-powershell

#5533 Adding Commandlets for Cached Structural Navigation
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOStructuralNavigationCacheSiteState.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOStructuralNavigationCacheWebState.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOStructuralNavigationCacheSiteState.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOStructuralNavigationCacheWebState.md
  sharepoint/sharepoint-ps/sharepoint-online/sharepoint-online.md
Labels: Microsoft submitter, area:spo-powershell

#5592 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxAutoReplyConfiguration.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOTheme.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOStructuralNavigationCacheSiteState.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOStructuralNavigationCacheWebState.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOGeoAdministrator.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOStructuralNavigationCacheSiteState.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOStructuralNavigationCacheWebState.md
  sharepoint/sharepoint-ps/sharepoint-online/sharepoint-online.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
  whiteboard/whiteboard-ps/whiteboard/Set-WhiteboardOwner.md
Labels: Microsoft submitter

#5582 Updated PSSessionOption parameter description in Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
Labels: area:exchange

#5590 Update New-Label.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-Label.md
Labels: Microsoft submitter, area:exchange

#5601 Master to Live
  exchange/exchange-ps/exchange/policy-and-compliance/New-Label.md
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
Labels: Microsoft submitter

#5597 Replacing dead link
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOUserInfo.md
  sharepoint/sharepoint-ps/sharepoint-online/Restore-SPODeletedSite.md
Labels: area:spo-powershell

#5600 Updating to include instructions for unassigning
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter, area:teams / skype

#5593 Update Invoke-SPOSiteSwap.md
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
Labels: Microsoft submitter, area:spo-powershell

#5598 Adding missing parameters
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
Labels: area:teams / skype

#5611 Add examples to Add-TeamsAppInstallation and Update-TeamsAppInstallation
  teams/teams-ps/teams/Add-TeamsAppInstallation.md
  teams/teams-ps/teams/Update-TeamsAppInstallation.md
Labels: Microsoft submitter, area:teams / skype

#5607 Update sharepoint-pnp-cmdlets.md
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
Labels: area:pnp-powershell

#5604 Update Get-UserBriefingConfig.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-UserBriefingConfig.md
Labels: area:exchange

#5605 Update Set-UserBriefingConfig.md
  exchange/exchange-ps/exchange/powershell-v2-module/Set-UserBriefingConfig.md
Labels: area:exchange

#5612 Update Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-MailDetailATPReport.md
Labels: area:exchange

#5613 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#5616 Merges Master to Live. See commits for details.
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-MailDetailATPReport.md
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOUserInfo.md
  sharepoint/sharepoint-ps/sharepoint-online/Restore-SPODeletedSite.md
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
  skype/skype-ps/skype/Test-CsExUMVoiceMail.md
  teams/teams-ps/teams/Add-TeamsAppInstallation.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/Update-TeamsAppInstallation.md
Labels: Microsoft submitter

#5623 UserBriefing-chrisda to Master
  exchange/exchange-ps/exchange/Get-UserBriefingConfig.md
  exchange/exchange-ps/exchange/Set-UserBriefingConfig.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter

#5624 Update Set-Label.md
  exchange/exchange-ps/exchange/Set-Label.md
Labels: Microsoft submitter

#5625 Master to Live
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Get-UserBriefingConfig.md
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-UserBriefingConfig.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter

#5626 Update exchange.md
  exchange/exchange-ps/exchange/exchange.md
Labels: Microsoft submitter

#5627 Master to Live
  exchange/exchange-ps/exchange/exchange.md
Labels: Microsoft submitter

#5629 Update Get-EXOMailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderStatistics.md
Labels: Microsoft submitter, area:exchange

#5632 Update Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter, area:exchange

#5634 Update Set-CsTeamsCallingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
Labels: Microsoft submitter, area:teams / skype

#5643 Chrisda to Master
  exchange/exchange-ps/exchange/Get-TenantAnalyticsConfig.md
  exchange/exchange-ps/exchange/Get-UserBriefingConfig.md
  exchange/exchange-ps/exchange/Release-QuarantineMessage.md
  exchange/exchange-ps/exchange/Set-UserBriefingConfig.md
Labels: Microsoft submitter

#5633 Update Import-CsOnlineAudioFile.md
  skype/skype-ps/skype/Import-CsOnlineAudioFile.md
Labels: Microsoft submitter, area:teams / skype

#5645 Consistency updates to README.md
  README.md
  images/add_related_link.png
  images/auto_fork.png
  images/comparing-changes-page.png
  images/contrib-consumption-model.png
  images/edit_video_capture.jpg
  images/open-a-pull-request-page.png
  images/propose-file-change.png
  images/quick-update-edit.png
  images/quick-update-github.png
Labels: Microsoft submitter

#5631 Update Set-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: Microsoft submitter, area:teams / skype

#5636 Adding confirm description
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteRename.md
Labels: area:spo-powershell

#5650 Update Disconnect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Disconnect-ExchangeOnline.md
Labels: Microsoft submitter, area:exchange

#5639 Update Set-CsTeamsCallingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
Labels: Microsoft submitter, area:teams / skype

#5649 Change MBX type to Shared for non ProvisionMailbox
  exchange/exchange-ps/exchange/Set-RemoteMailbox.md
Labels: area:exchange

#5654 OLMeetings-chrisda to Master
  exchange/exchange-ps/exchange/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
Labels: Microsoft submitter, area:exchange

#5647 Master to Live
  README.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-OMEConfiguration.md
  exchange/exchange-ps/exchange/Get-TenantAnalyticsConfig.md
  exchange/exchange-ps/exchange/Get-UserBriefingConfig.md
  exchange/exchange-ps/exchange/Release-QuarantineMessage.md
  exchange/exchange-ps/exchange/Set-CASMailbox.md
  exchange/exchange-ps/exchange/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/Set-OMEConfiguration.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/Set-RemoteMailbox.md
  exchange/exchange-ps/exchange/Set-UserBriefingConfig.md
  images/add_related_link.png
  images/auto_fork.png
  images/comparing-changes-page.png
  images/contrib-consumption-model.png
  images/edit_video_capture.jpg
  images/open-a-pull-request-page.png
  images/propose-file-change.png
  images/quick-update-edit.png
  images/quick-update-github.png
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOSiteGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteRename.md
  skype/skype-ps/skype/Import-CsOnlineAudioFile.md
  skype/skype-ps/skype/Set-CsCallQueue.md
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
Labels: Microsoft submitter

#5656 Updates to SafeLinks/SafeAttachments topics
  exchange/exchange-ps/exchange/New-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/Set-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/Set-SafeLinksPolicy.md
Labels: Microsoft submitter, area:exchange

#5667 Better example for use of -LocalSettings switch
  exchange/exchange-ps/exchange/Set-Label.md
Labels: area:exchange

#5670 Remove wildcard support on Get-EXOCasMailbox.md
  exchange/exchange-ps/exchange/Get-EXOCasMailbox.md
Labels: area:exchange

#5674 Corrected examples
  sharepoint/sharepoint-ps/sharepoint-server/New-SPClaimProvider.md
Labels: area:sp-server-powershell

#5679 Update Enable-Mailbox.md
  exchange/exchange-ps/exchange/Enable-Mailbox.md
Labels: Microsoft submitter

#5677 Master to Live
  exchange/exchange-ps/exchange/Enable-Mailbox.md
  exchange/exchange-ps/exchange/Get-EXOCasMailbox.md
  exchange/exchange-ps/exchange/New-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/Set-SafeLinksPolicy.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPClaimProvider.md
Labels: Microsoft submitter

#5676 Adding improved description
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
Labels: area:spo-powershell

#5683 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
Labels: Microsoft submitter

#5680 Added AllowNDIStreaming parameter to Set/New-CsTeamsMeetingPolicy
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:teams / skype

#5684 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: Microsoft submitter

#5685 Updated default values in New-Team.md
  teams/teams-ps/teams/New-Team.md
Labels: area:teams / skype

#5695 Mention how to include html in the email body
  sharepoint/sharepoint-ps/sharepoint-pnp/Send-PnPMail.md
Labels: area:pnp-powershell

#5696 Update Get-FailedContentIndexDocuments.md
  exchange/exchange-ps/exchange/Get-FailedContentIndexDocuments.md
Labels: Microsoft submitter, area:exchange

#5698 Testing Metadata change
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#5699 Update Register-SPMTMigration.md
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
Labels: Microsoft submitter, area:spmt

#5692 Added DesignatedPresenterRoleMode parameter to New/Set-CsTeamsMeetingPolicy
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:teams / skype

#5691 Marked Get/Set-CsOnlineNumberPortOutOrderPin as internal use
  skype/skype-ps/skype/Get-CsOnlineNumberPortOutOrderPin.md
  skype/skype-ps/skype/Set-CsOnlineNumberPortOutOrderPin.md
Labels: area:teams / skype

#5700 Merges Master to Live. See commits for details.
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
  exchange/exchange-ps/exchange/Get-FailedContentIndexDocuments.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Send-PnPMail.md
  skype/skype-ps/skype/Get-CsOnlineNumberPortOutOrderPin.md
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsOnlineNumberPortOutOrderPin.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
  teams/teams-ps/teams/New-Team.md
Labels: Microsoft submitter

#5704 Update Get-EXOMailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderStatistics.md
Labels: Microsoft submitter, area:exchange

#5707 Update Get-EXOMailboxFolderPermission.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderPermission.md
Labels: Microsoft submitter, area:exchange

#5713 Updates to CountryOrRegion parameter
  exchange/exchange-ps/exchange/Set-Contact.md
  exchange/exchange-ps/exchange/Set-EOPUser.md
  exchange/exchange-ps/exchange/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/Set-Place.md
  exchange/exchange-ps/exchange/Set-TextMessagingAccount.md
  exchange/exchange-ps/exchange/Set-User.md
Labels: Microsoft submitter, area:exchange

#5708 Update Connect-IPPSSession.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
Labels: Microsoft submitter, area:exchange

#5715 Updates to Get-ExO* cmdlets
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Get-EXOCasMailbox.md
  exchange/exchange-ps/exchange/Get-EXOMailbox.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderPermission.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-EXOMailboxPermission.md
  exchange/exchange-ps/exchange/Get-EXOMailboxStatistics.md
  exchange/exchange-ps/exchange/Get-EXORecipient.md
  exchange/exchange-ps/exchange/Get-EXORecipientPermission.md
Labels: Microsoft submitter

#5716 Master to Live
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Get-EXOCasMailbox.md
  exchange/exchange-ps/exchange/Get-EXOMailbox.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderPermission.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-EXOMailboxPermission.md
  exchange/exchange-ps/exchange/Get-EXOMailboxStatistics.md
  exchange/exchange-ps/exchange/Get-EXORecipient.md
  exchange/exchange-ps/exchange/Get-EXORecipientPermission.md
  exchange/exchange-ps/exchange/Set-Contact.md
  exchange/exchange-ps/exchange/Set-EOPUser.md
  exchange/exchange-ps/exchange/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/Set-Place.md
  exchange/exchange-ps/exchange/Set-TextMessagingAccount.md
  exchange/exchange-ps/exchange/Set-User.md
Labels: Microsoft submitter

#5722 Update Set-ThrottlingPolicy.md
  exchange/exchange-ps/exchange/Set-ThrottlingPolicy.md
Labels: Microsoft submitter

#5723 Update New-ThrottlingPolicy.md
  exchange/exchange-ps/exchange/New-ThrottlingPolicy.md
Labels: Microsoft submitter

#5726 Update New-UnifiedGroup.md
  exchange/exchange-ps/exchange/New-UnifiedGroup.md
Labels: Microsoft submitter

#5731 Update Get-TenantAllowBlockListItems.md
  exchange/exchange-ps/exchange/Get-TenantAllowBlockListItems.md
Labels: Microsoft submitter

#5732 Update New-TenantAllowBlockListItems.md
  exchange/exchange-ps/exchange/New-TenantAllowBlockListItems.md
Labels: Microsoft submitter

#5733 Update Remove-TenantAllowBlockListItems.md
  exchange/exchange-ps/exchange/Remove-TenantAllowBlockListItems.md
Labels: Microsoft submitter

#5734 Update Set-TenantAllowBlockListItems.md
  exchange/exchange-ps/exchange/Set-TenantAllowBlockListItems.md
Labels: Microsoft submitter

#5745 Connect-chrisda to Master
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
  exchange/exchange-ps/exchange/Disconnect-ExchangeOnline.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter

#5737 Updated Remove-ComplianceTag.md
  exchange/exchange-ps/exchange/Remove-ComplianceTag.md
Labels: area:exchange

#5750 TABL-chrisda to Master
  exchange/exchange-ps/exchange/Get-TenantAllowBlockListItems.md
  exchange/exchange-ps/exchange/New-TenantAllowBlockListItems.md
  exchange/exchange-ps/exchange/Remove-TenantAllowBlockListItems.md
  exchange/exchange-ps/exchange/Set-TenantAllowBlockListItems.md
Labels: Microsoft submitter

#5747 Master to Live
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
  exchange/exchange-ps/exchange/Disconnect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Get-TenantAllowBlockListItems.md
  exchange/exchange-ps/exchange/New-TenantAllowBlockListItems.md
  exchange/exchange-ps/exchange/New-ThrottlingPolicy.md
  exchange/exchange-ps/exchange/New-UnifiedGroup.md
  exchange/exchange-ps/exchange/Remove-ComplianceTag.md
  exchange/exchange-ps/exchange/Remove-TenantAllowBlockListItems.md
  exchange/exchange-ps/exchange/Set-TenantAllowBlockListItems.md
  exchange/exchange-ps/exchange/Set-ThrottlingPolicy.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter
