Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2020-04, with the labels that each got.

#5211 Privacy url chrisda to Master
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-OMEConfiguration.md
Labels: Microsoft submitter

#5202 Update Set-CsConferencingPolicy.md
  skype/skype-ps/skype/Set-CsConferencingPolicy.md
Labels: area:skype, area:teams

#5204 Update Set-PnPClientSidePage.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Set-PnPClientSidePage.md
Labels: area:pnp-powershell

#5212 Master to Live
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-OMEConfiguration.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Set-PnPClientSidePage.md
  skype/skype-ps/skype/Set-CsConferencingPolicy.md
Labels: Microsoft submitter

#5219 Changing description for WhatIf
  skype/skype-ps/skype/Set-CsOnlineVoiceUser.md
Labels: area:skype, area:teams

#5220 Adding title to cmdlets
  sharepoint/sharepoint-ps/sharepoint-online/Approve-SPOTenantServicePrincipalPermissionGrant.md
  sharepoint/sharepoint-ps/sharepoint-online/Approve-SPOTenantServicePrincipalPermissionRequest.md
  sharepoint/sharepoint-ps/sharepoint-online/Deny-SPOTenantServicePrincipalPermissionRequest.md
  sharepoint/sharepoint-ps/sharepoint-online/Disable-SPOTenantServicePrincipal.md
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOTenantServicePrincipal.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteDesignRun.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteDesignRunStatus.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantServicePrincipalPermissionGrants.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantServicePrincipalPermissionRequests.md
  sharepoint/sharepoint-ps/sharepoint-online/Revoke-SPOTenantServicePrincipalPermission.md
  sharepoint/sharepoint-ps/sharepoint-server/Update-SPProfileSync.md
Labels: area:sp-server-powershell, area:spo-powershell

#5213 Added documentation for PresenceBasedRouting param of New-CsCallQueue and and Set-CsCallQueue cmdlets.
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: Microsoft submitter, area:skype, area:teams

#5225 Fixed example 1 on Grant-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsMobilityPolicy.md
Labels: area:skype, area:teams

#5223 Fixed OnlinePstnGatewayList value format
  skype/skype-ps/skype/New-CsOnlineVoiceRoute.md
  skype/skype-ps/skype/Set-CsOnlineVoiceRoute.md
Labels: area:skype, area:teams

#5227 Adding statement about internal use
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantLogEntry.md
Labels: area:spo-powershell

#5234 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Approve-SPOTenantServicePrincipalPermissionGrant.md
  sharepoint/sharepoint-ps/sharepoint-online/Approve-SPOTenantServicePrincipalPermissionRequest.md
  sharepoint/sharepoint-ps/sharepoint-online/Deny-SPOTenantServicePrincipalPermissionRequest.md
  sharepoint/sharepoint-ps/sharepoint-online/Disable-SPOTenantServicePrincipal.md
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOTenantServicePrincipal.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteDesignRun.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteDesignRunStatus.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantLogEntry.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantServicePrincipalPermissionGrants.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantServicePrincipalPermissionRequests.md
  sharepoint/sharepoint-ps/sharepoint-online/Revoke-SPOTenantServicePrincipalPermission.md
  sharepoint/sharepoint-ps/sharepoint-server/Update-SPProfileSync.md
  skype/skype-ps/skype/Grant-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/New-CsOnlineVoiceRoute.md
  skype/skype-ps/skype/New-CsPersistentChatRoom.md
  skype/skype-ps/skype/Set-CsCallQueue.md
  skype/skype-ps/skype/Set-CsOnlineVoiceRoute.md
  skype/skype-ps/skype/Set-CsOnlineVoiceUser.md
Labels: Microsoft submitter

#5231 Correcting link
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
Labels: area:spo-powershell

#5221 Update cloud or on-prem only parameters New-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
Labels: area:exchange

#5224 Archive parameter is available only in on-premises Exchange (Export-MailboxDiagnosticLogs)
  exchange/exchange-ps/exchange/mailboxes/Export-MailboxDiagnosticLogs.md
Labels: area:exchange

#5235 Master to Live
  exchange/exchange-ps/exchange/mailboxes/Export-MailboxDiagnosticLogs.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
Labels: Microsoft submitter

#5236 Chrisda to Master
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-PhishFilterPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-PhishFilterPolicy.md
  exchange/exchange-ps/exchange/exchange.md
  officewebapps/officewebapps-ps/officewebapps/officewebapps.md
  sharepoint/sharepoint-ps/sharepoint-online/sharepoint-online.md
  sharepoint/sharepoint-ps/sharepoint-pnp/sharepoint-pnp.md
  sharepoint/sharepoint-ps/sharepoint-server/sharepoint-server.md
  skype/skype-ps/skype/skype.md
  spmt/spmt-ps/spmt/spmt.md
  staffhub/staffhub-ps/staffhub/staffhub.md
  teams/teams-ps/teams/teams.md
  whiteboard/whiteboard-ps/whiteboard/whiteboard.md
Labels: Microsoft submitter

#5237 Master to Live
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-PhishFilterPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-PhishFilterPolicy.md
  exchange/exchange-ps/exchange/exchange.md
  officewebapps/officewebapps-ps/officewebapps/officewebapps.md
  sharepoint/sharepoint-ps/sharepoint-online/sharepoint-online.md
  sharepoint/sharepoint-ps/sharepoint-pnp/sharepoint-pnp.md
  sharepoint/sharepoint-ps/sharepoint-server/sharepoint-server.md
  skype/skype-ps/skype/skype.md
  spmt/spmt-ps/spmt/spmt.md
  staffhub/staffhub-ps/staffhub/staffhub.md
  teams/teams-ps/teams/teams.md
  whiteboard/whiteboard-ps/whiteboard/whiteboard.md
Labels: Microsoft submitter

#5243 Update New-CsConferencingPolicy.md
  skype/skype-ps/skype/New-CsConferencingPolicy.md
Labels: Microsoft submitter

#5242 Update Grant-CsBroadcastMeetingPolicy.md
  skype/skype-ps/skype/Grant-CsBroadcastMeetingPolicy.md
Labels: Microsoft submitter

#5244 Publishing to live
  skype/skype-ps/skype/Grant-CsBroadcastMeetingPolicy.md
  skype/skype-ps/skype/New-CsConferencingPolicy.md
Labels: Microsoft submitter

#5217 Missing Type=SharedVoicemail in the Syntax section
  skype/skype-ps/skype/New-CsAutoAttendantCallableEntity.md
Labels: area:skype, area:teams

#5246 ExO parameters updated
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
Labels: Microsoft submitter, area:exchange

#5249 Update New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpCompliancePolicy.md
Labels: Microsoft submitter, area:exchange

#5248 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpCompliancePolicy.md
  skype/skype-ps/skype/New-CsAutoAttendantCallableEntity.md
Labels: Microsoft submitter

#5250 Update New-CsAutoAttendantCallableEntity.md
  skype/skype-ps/skype/New-CsAutoAttendantCallableEntity.md
Labels: area:skype, area:teams

#5251 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/New-CsAutoAttendantCallableEntity.md
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: Microsoft submitter

#5255 Missing parameter in Get-PnPHubSiteChild doc
  sharepoint/sharepoint-ps/sharepoint-pnp/Get-PnPHubSiteChild.md
Labels: area:pnp-powershell

#5254 Update Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: Microsoft submitter, area:spo-powershell

#5260 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Get-PnPHubSiteChild.md
Labels: Microsoft submitter

#5264 AppAuth-chrisda to Master
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/cmdlet-property-sets.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/docs-conceptual/media/app-only-auth-exchange-api-perms.png
  exchange/docs-conceptual/media/app-only-auth-exchange-manageasapp.png
  exchange/docs-conceptual/media/app-only-auth-register-app.png
  exchange/docs-conceptual/media/app-only-auth-role-assignment.png
  exchange/docs-conceptual/media/app-only-auth-upload-cert.png
Labels: Microsoft submitter

#5265 Master to Live
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/cmdlet-property-sets.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/docs-conceptual/media/app-only-auth-exchange-api-perms.png
  exchange/docs-conceptual/media/app-only-auth-exchange-manageasapp.png
  exchange/docs-conceptual/media/app-only-auth-register-app.png
  exchange/docs-conceptual/media/app-only-auth-role-assignment.png
  exchange/docs-conceptual/media/app-only-auth-upload-cert.png
Labels: Microsoft submitter

#5275 Typo "**admin@contoso.onmicrosoft.com**"→"**admin\@contoso.onmicrosof…
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOGeoAdministrator.md
Labels: area:spo-powershell

#5266 Adding missing info
  skype/skype-ps/skype/Get-CsOnlineDialInConferencingUserState.md
Labels: area:skype, area:teams

#5278 modified permission needed to run the cmdlet
  sharepoint/sharepoint-ps/sharepoint-pnp/Get-PnPTenant.md
Labels: area:pnp-powershell

#5268 Adding an example and description
  skype/skype-ps/skype/Unregister-CsOnlineDialInConferencingServiceNumber.md
Labels: area:skype, area:teams

#5270 Update documentation
  teams/teams-ps/teams/New-CsBatchPolicyPackageAssignmentOperation.md
Labels: Microsoft submitter, area:skype, area:teams

#5276 Added '' to examples
  skype/skype-ps/skype/New-CsTeamsTranslationRule.md
Labels: Microsoft submitter, area:skype, area:teams

#5281 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOGeoAdministrator.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Get-PnPTenant.md
  skype/skype-ps/skype/Get-CsOnlineDialInConferencingUserState.md
  skype/skype-ps/skype/New-CsTeamsTranslationRule.md
  skype/skype-ps/skype/Unregister-CsOnlineDialInConferencingServiceNumber.md
  teams/teams-ps/teams/New-CsBatchPolicyPackageAssignmentOperation.md
Labels: Microsoft submitter

#5280 Added note about Get-ExchangeCertificate on connect-to-exchange-servers-using-remote-powershell.md
  exchange/docs-conceptual/exchange-server/connect-to-exchange-servers-using-remote-powershell.md
Labels: area:exchange

#5282 Update GroupCreationEnabled parameter on Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: area:exchange

#5283 Chrisda to Master
  exchange/docs-conceptual/exchange-eop/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-server/connect-to-exchange-servers-using-remote-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
Labels: Microsoft submitter

#5272 Update New-OrganizationSegment.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-OrganizationSegment.md
Labels: Microsoft submitter, area:exchange

#5279 Added note re: EOL'd OSes
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#5284 Master to Live
  exchange/docs-conceptual/exchange-eop/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-server/connect-to-exchange-servers-using-remote-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-OrganizationSegment.md
Labels: Microsoft submitter

#5285 Typo fix
  exchange/docs-conceptual/exchange-eop/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-server/connect-to-exchange-servers-using-remote-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
Labels: Microsoft submitter

#5286 Master to Live
  exchange/docs-conceptual/exchange-eop/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-server/connect-to-exchange-servers-using-remote-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
Labels: Microsoft submitter

#5292 Completed status values
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrace.md
Labels: area:exchange

#5301 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrace.md
Labels: Microsoft submitter

#5303 Changing IP Address of Example 2
  skype/skype-ps/skype/New-CsTenantTrustedIPAddress.md
Labels: area:skype, area:teams

#5304 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/New-CsTenantTrustedIPAddress.md
Labels: Microsoft submitter

#5305 Update New-CsTeamsTranslationRule.md
  skype/skype-ps/skype/New-CsTeamsTranslationRule.md
Labels: Microsoft submitter

#5308 Added SharePoint 2019, updated links to new GitHub org
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
Labels: area:pnp-powershell

#5306 Fixed example 3 on New-CsAutoAttendantCallHandlingAssociation.md
  skype/skype-ps/skype/New-CsAutoAttendantCallHandlingAssociation.md
Labels: area:skype, area:teams

#5307 Removed Exchange Online from Get-MessageTrackingReport.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrackingReport.md
Labels: area:exchange

#5310 Remove "last accessed time" from Synopsis on Get-PublicFolderItemStatistics.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Get-PublicFolderItemStatistics.md
Labels: area:exchange

#5130 Update Set-ReceiveConnector.md
  exchange/exchange-ps/exchange/mail-flow/Set-ReceiveConnector.md
Labels: area:exchange

#5311 Master to Live
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrackingReport.md
  exchange/exchange-ps/exchange/mail-flow/Set-ReceiveConnector.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Get-PublicFolderItemStatistics.md
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
  skype/skype-ps/skype/New-CsAutoAttendantCallHandlingAssociation.md
  skype/skype-ps/skype/New-CsTeamsTranslationRule.md
Labels: Microsoft submitter

#5337 moving link to SPServer TOC
  sharepoint/sharepoint-ps/sharepoint-online/sharepoint-online.md
  sharepoint/sharepoint-ps/sharepoint-server/sharepoint-server.md
Labels: area:spo-powershell

#5338 Adding description for CommentsOnSitePagesDisabled
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#5335 Added parameter -PidfloSupported
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
Labels: Microsoft submitter, area:skype

#5336 Added parameter -PidfloSupported
  skype/skype-ps/skype/New-CsOnlinePSTNGateway.md
Labels: Microsoft submitter, area:skype

#5323 MaxRecipientEnvelopeLimit
  exchange/exchange-ps/exchange/mail-flow/Set-TransportConfig.md
Labels: Microsoft submitter, area:exchange

#5320 Initial upload of -TeamsAppInstallation cmdlets
  teams/teams-ps/teams/Add-TeamsAppInstallation.md
  teams/teams-ps/teams/Get-TeamsAppInstallation.md
  teams/teams-ps/teams/Remove-TeamsAppInstallation.md
  teams/teams-ps/teams/Update-TeamsAppInstallation.md
Labels: area:skype, area:teams

#5334 Updated release note for April release
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#5343 Merges Master to Live. See commits for details.
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/mail-flow/Set-TransportConfig.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/sharepoint-online.md
  sharepoint/sharepoint-ps/sharepoint-server/sharepoint-server.md
  skype/skype-ps/skype/New-CsOnlinePSTNGateway.md
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
  teams/teams-ps/teams/Add-TeamsAppInstallation.md
  teams/teams-ps/teams/Get-TeamsAppInstallation.md
  teams/teams-ps/teams/Remove-TeamsAppInstallation.md
  teams/teams-ps/teams/Update-TeamsAppInstallation.md
Labels: Microsoft submitter

#5342 changed recordtype value
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Get-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/New-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Set-UnifiedAuditLogRetentionPolicy.md
Labels: Microsoft submitter, area:exchange

#5340 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#5345 Master to Live
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Get-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/New-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Set-UnifiedAuditLogRetentionPolicy.md
Labels: Microsoft submitter

#5349 Chrisda to Master
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-PhishFilterPolicy.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrace.md
Labels: Microsoft submitter

#5352 Master to Live
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-PhishFilterPolicy.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrace.md
  teams/docs-conceptual/index.md
Labels: Microsoft submitter

#5353 Clarification on needed role to run commandlet
  sharepoint/sharepoint-ps/sharepoint-pnp/Apply-PnPTenantTemplate.md
Labels: area:pnp-powershell

#5354 Changed sample script current shows error when running
  sharepoint/sharepoint-ps/sharepoint-pnp/Initialize-PnPPowerShellAuthentication.md
Labels: area:pnp-powershell

#5355 suggested a description
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOSiteCollectionAppCatalog.md
Labels: area:spo-powershell

#5356 Removing support for IsOptimizedforAccessibility
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
Labels: Microsoft submitter, area:exchange

#5357 Update Get-MessageTrace.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrace.md
Labels: area:exchange

#5359 Master to Live
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrace.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOSiteCollectionAppCatalog.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Apply-PnPTenantTemplate.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Initialize-PnPPowerShellAuthentication.md
Labels: Microsoft submitter

#5366 Update Get-MessageTrace.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrace.md
Labels: Microsoft submitter

#5367 Master to Live
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrace.md
Labels: Microsoft submitter

#5371 Update New-CsOnlineVoiceRoutingPolicy.md
  skype/skype-ps/skype/New-CsOnlineVoiceRoutingPolicy.md
Labels: area:skype, area:teams

#5372 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/New-CsOnlineVoiceRoutingPolicy.md
Labels: Microsoft submitter

#5370 Update Grant-CsOnlineVoiceRoutingPolicy.md
  skype/skype-ps/skype/Grant-CsOnlineVoiceRoutingPolicy.md
Labels: area:skype, area:teams

#5376 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Grant-CsOnlineVoiceRoutingPolicy.md
Labels: Microsoft submitter

#5369 Fixed ImmutableId parameter description on New-RemoteMailbox.md
  exchange/exchange-ps/exchange/federation-and-hybrid/New-RemoteMailbox.md
Labels: area:exchange

#5374 Added example 5 and word "valid" to Date/TimeFormat parameters description on Set-MailboxRegionalConfiguration.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxRegionalConfiguration.md
Labels: area:exchange

#5380 Chrisda to Master
  exchange/exchange-ps/exchange/policy-and-compliance/Set-LabelPolicy.md
Labels: Microsoft submitter

#5384 Update date/time values on filter-properties.md
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
Labels: area:exchange

#5387 Adding New-CsTeamsFeedbackPolicy
  skype/skype-ps/skype/New-CsTeamsFeedbackPolicy.md
Labels: area:skype, area:teams

#5385 Add note that DisplayName filter is case-sensitive
  teams/teams-ps/teams/Get-Team.md
Labels: area:skype, area:teams

#5386 ExplicitLogonEnabled not supported in EXO
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter, area:exchange

#5391 Update Set-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSearchAction.md
Labels: Microsoft submitter, area:exchange

#5389 Update to Regisiter-SPMTMigration.md
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
Labels: Microsoft submitter, area:spo-powershell

#5393 Updates to deprecate OnlineVoiceRoutingPolicy parameter.
  skype/skype-ps/skype/Set-CsTenantNetworkSite.md
Labels: Microsoft submitter, area:skype, area:teams

#5394 Phish-chrisda to Master
  exchange/exchange-ps/exchange/advanced-threat-protection/Disable-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Enable-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Remove-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Remove-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedOutboundSpamFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-MalwareFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedOutboundSpamFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MalwareFilterRule.md
Labels: Microsoft submitter, area:exchange

#5392 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#5396 Merges Master to Live. See commits for details.
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Disable-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Enable-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Remove-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Remove-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedOutboundSpamFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-MalwareFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedOutboundSpamFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MalwareFilterRule.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxRegionalConfiguration.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/federation-and-hybrid/New-RemoteMailbox.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSearchAction.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-LabelPolicy.md
  skype/skype-ps/skype/New-CsTeamsFeedbackPolicy.md
  skype/skype-ps/skype/Set-CsTenantNetworkSite.md
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
  teams/teams-ps/teams/Get-Team.md
Labels: Microsoft submitter

#5395 Updating timing of change to Teams client.
  teams/teams-ps/teams/Add-TeamUser.md
Labels: Microsoft submitter, area:teams

#5398 Changing example to HubSiteId
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOHubToHubAssociation.md
Labels: area:spo-powershell

#5403 Update the New/Set-CsTeamsComplianceRecordingApplication documentation - remove warnings
  skype/skype-ps/skype/New-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Set-CsTeamsComplianceRecordingApplication.md
Labels: Microsoft submitter

#5402 Updates to phish cmdlets
  exchange/exchange-ps/exchange/advanced-threat-protection/Disable-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Enable-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Remove-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Remove-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishRule.md
Labels: Microsoft submitter

#5408 Correcting author
  skype/skype-ps/skype/Get-CsOnlineLisSubnet.md
  skype/skype-ps/skype/Set-CsOnlineLisSubnet.md
Labels: area:skype

#5407 Adding removed note
  skype/skype-ps/skype/Set-CsTeamsMobilityPolicy.md
Labels: area:skype

#5401 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/advanced-threat-protection/Disable-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Enable-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Remove-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Remove-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishRule.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOHubToHubAssociation.md
  skype/skype-ps/skype/Get-CsOnlineLisSubnet.md
  skype/skype-ps/skype/New-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Set-CsOnlineLisSubnet.md
  skype/skype-ps/skype/Set-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Set-CsTeamsMobilityPolicy.md
  teams/teams-ps/teams/Add-TeamUser.md
Labels: Microsoft submitter

#5416 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Move-CsUser.md
Labels: Microsoft submitter

#5417 Update Set-Place.md
  exchange/exchange-ps/exchange/mailboxes/Set-Place.md
Labels: Microsoft submitter

#5418 Master to Live
  exchange/exchange-ps/exchange/mailboxes/Set-Place.md
Labels: Microsoft submitter

#5434 Updates to anti-phishing cmdlets
  exchange/exchange-ps/exchange/advanced-threat-protection/Disable-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Enable-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Remove-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Remove-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishRule.md
Labels: Microsoft submitter

#5436 Master to Live
  exchange/exchange-ps/exchange/advanced-threat-protection/Disable-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Enable-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Remove-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Remove-AntiPhishRule.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishRule.md
Labels: Microsoft submitter
