Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2020-07, with the labels that each got.

#6045 Corrected parameter
  exchange/exchange-ps/exchange/Set-IRMConfiguration.md
Labels: Microsoft submitter

#6052 Chrisda to Master
  exchange/exchange-ps/exchange/Get-ComplianceSearch.md
  exchange/exchange-ps/exchange/New-ComplianceSearch.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
Labels: Microsoft submitter

#6053 Master to Live
  exchange/exchange-ps/exchange/Get-ComplianceSearch.md
  exchange/exchange-ps/exchange/New-ComplianceSearch.md
  exchange/exchange-ps/exchange/Set-IRMConfiguration.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
Labels: Microsoft submitter, area:exchange

#6055 Update Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/Set-AtpPolicyForO365.md
Labels: Microsoft submitter, area:exchange

#6061 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: Microsoft submitter

#6057 Update connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
Labels: Microsoft submitter, area:exchange

#6056 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#6062 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/exchange-ps/exchange/Set-AtpPolicyForO365.md
Labels: Microsoft submitter

#6068 Minor formatting fixes
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
Labels: Microsoft submitter

#6047 Making synopsis shorter
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteScript.md
Labels: area:spo-powershell

#6048 Adding synopsis
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOMultiGeoExperience.md
Labels: area:spo-powershell

#6046 Proposing adding example
  skype/skype-ps/skype/Get-CsOnlineUser.md
Labels: area:teams / skype

#6069 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOMultiGeoExperience.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteScript.md
  skype/skype-ps/skype/Get-CsOnlineUser.md
Labels: Microsoft submitter

#6063 remove preview label
  teams/teams-ps/teams/Get-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: area:teams

#6044 Remove the preview label for batch
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter, area:teams / skype

#6043 Remove the preview label for batch
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter, area:teams / skype

#6091 push live
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/Get-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#6076 Fixed AppID parameter value in app-only-auth-powershell-v2.md
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: area:exchange

#6073 Update Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
Labels: area:exchange

#6081 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#6085 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#6090 Fixed Exchange admin role in app-only-auth-powershell-v2.md
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: area:exchange

#6104 Chrisda to Master
  exchange/exchange-ps/exchange/Import-ContactList.md
  exchange/exchange-ps/exchange/New-MigrationBatch.md
  exchange/exchange-ps/exchange/New-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/Set-MigrationBatch.md
Labels: Microsoft submitter

#6105 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/exchange-ps/exchange/Import-ContactList.md
  exchange/exchange-ps/exchange/New-Label.md
  exchange/exchange-ps/exchange/New-MigrationBatch.md
  exchange/exchange-ps/exchange/New-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#6110 Update connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
Labels: Microsoft submitter

#6111 Update connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
Labels: Microsoft submitter

#6112 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
Labels: Microsoft submitter

#6117 Update Get-MailboxAuditBypassAssociation.md
  exchange/exchange-ps/exchange/Get-MailboxAuditBypassAssociation.md
Labels: Microsoft submitter

#6118 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Get-MailboxAuditBypassAssociation.md
Labels: Microsoft submitter

#6000 Update policy package cmdlets documentation
  teams/teams-ps/teams/Get-CsPolicyPackage.md
  teams/teams-ps/teams/Get-CsUserPolicyPackage.md
  teams/teams-ps/teams/Get-CsUserPolicyPackageRecommendation.md
  teams/teams-ps/teams/Grant-CsGroupPolicyPackageAssignment.md
  teams/teams-ps/teams/Grant-CsUserPolicyPackage.md
  teams/teams-ps/teams/New-CsBatchPolicyPackageAssignmentOperation.md
Labels: Microsoft submitter, area:teams / skype

#6088 Reflecting current behavior
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOUser.md
Labels: area:spo-powershell

#6126 Chrisda to Master
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/toc.yml
  exchange/exchange-ps/exchange/New-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/Set-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
Labels: Microsoft submitter

#6129 Update Get-RecoverableItems.md
  exchange/exchange-ps/exchange/Get-RecoverableItems.md
Labels: Microsoft submitter, area:exchange

#6128 Update Release-QuarantineMessage.md
  exchange/exchange-ps/exchange/Release-QuarantineMessage.md
Labels: Microsoft submitter

#6131 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/toc.yml
  exchange/exchange-ps/exchange/Get-PhishFilterPolicy.md
  exchange/exchange-ps/exchange/Get-RecoverableItems.md
  exchange/exchange-ps/exchange/New-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/Release-QuarantineMessage.md
  exchange/exchange-ps/exchange/Set-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOUser.md
  teams/teams-ps/teams/Get-CsPolicyPackage.md
  teams/teams-ps/teams/Get-CsUserPolicyPackage.md
  teams/teams-ps/teams/Get-CsUserPolicyPackageRecommendation.md
  teams/teams-ps/teams/Grant-CsGroupPolicyPackageAssignment.md
  teams/teams-ps/teams/Grant-CsUserPolicyPackage.md
  teams/teams-ps/teams/New-CsBatchPolicyPackageAssignmentOperation.md
Labels: Microsoft submitter

#6086 Update Set-CsOnlineLisPort.md
  skype/skype-ps/skype/Set-CsOnlineLisPort.md
Labels: Microsoft submitter, area:teams / skype

#6121 updating desc
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenantCdnPolicy.md
Labels: area:spo-powershell

#6137 Chrisda to Master
  exchange/exchange-ps/exchange/New-Label.md
  exchange/exchange-ps/exchange/New-LabelPolicy.md
  exchange/exchange-ps/exchange/Release-QuarantineMessage.md
  exchange/exchange-ps/exchange/Set-CalendarNotification.md
  exchange/exchange-ps/exchange/Set-Label.md
Labels: Microsoft submitter

#6140 MAEE-chrisda to Master
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
Labels: Microsoft submitter

#6141 Redo of markjjo PR #6139
  exchange/exchange-ps/exchange/New-CaseHoldPolicy.md
  exchange/exchange-ps/exchange/New-RetentionComplianceRule.md
  exchange/exchange-ps/exchange/Set-CaseHoldPolicy.md
  exchange/exchange-ps/exchange/Set-RetentionComplianceRule.md
Labels: Microsoft submitter

#6142 Master to Live
  exchange/exchange-ps/exchange/New-CaseHoldPolicy.md
  exchange/exchange-ps/exchange/New-Label.md
  exchange/exchange-ps/exchange/New-LabelPolicy.md
  exchange/exchange-ps/exchange/New-RetentionComplianceRule.md
  exchange/exchange-ps/exchange/Release-QuarantineMessage.md
  exchange/exchange-ps/exchange/Set-CalendarNotification.md
  exchange/exchange-ps/exchange/Set-CaseHoldPolicy.md
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/Set-RetentionComplianceRule.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenantCdnPolicy.md
  skype/skype-ps/skype/Set-CsOnlineLisPort.md
Labels: Microsoft submitter

#6123 remove references to "root site"
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
Labels: Microsoft submitter, area:spo-powershell

#6174 Pushing needed SPO PowerShell edits live
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
Labels: Microsoft submitter

#6146 Update Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/Get-MailDetailATPReport.md
Labels: Microsoft submitter, area:exchange

#6149 Added information about how to remove LocaleSettings entries in Set-Label.md
  exchange/exchange-ps/exchange/Set-Label.md
Labels: area:exchange

#6125 Update Get-SPOCrossGeoUsers.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOCrossGeoUsers.md
Labels: area:spo-powershell

#6166 Update Set-RegulatoryComplianceUI.md
  exchange/exchange-ps/exchange/Set-RegulatoryComplianceUI.md
Labels: Microsoft submitter, area:exchange

#6113 Set cmdlet will be available soon
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:teams / skype

#6151 Adding required roles
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: area:teams / skype

#6152 Added more detail for ConfereceMode parameter to Update New-CsCallQueue.md
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: area:teams / skype

#6153 Clarifying
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: area:teams, area:teams / skype

#6161 Adding missing descriptions
  sharepoint/sharepoint-ps/sharepoint-server/Clear-SPMetadataWebServicePartitionData.md
Labels: area:sp-server-powershell

#6156 Adding wildcard support for CsOnlineLisWirelessAccessPoint
  skype/skype-ps/skype/Get-CsOnlineLisWirelessAccessPoint.md
  skype/skype-ps/skype/Remove-CsOnlineLisWirelessAccessPoint.md
  skype/skype-ps/skype/Set-CsOnlineLisWirelessAccessPoint.md
Labels: Microsoft submitter, area:teams / skype

#6133 Migrate Exchange Powershell to card based landing page.
  exchange/docfx.json
  exchange/docs-conceptual/index.md
  exchange/docs-conceptual/index.yml
  exchange/docs-conceptual/toc.yml
Labels: Microsoft submitter, area:exchange

#6155 Updates to Serdar unless someone else should be assigned.
  officewebapps/docfx.json
  skype/docfx.json
  spmt/docfx.json
  staffhub/docfx.json
  teams/docfx.json
Labels: Microsoft submitter

#6162 Removing cmdlets that belong to SPServer
  sharepoint/sharepoint-ps/sharepoint-online/sharepoint-online.md
Labels: area:spo-powershell

#6173 Updated NotifyUser description in Set-ProtectionAlert.md
  exchange/exchange-ps/exchange/Set-ProtectionAlert.md
Labels: area:exchange

#6175 Added MacOutlookEnabled to Set-CASMailbox.md
  exchange/exchange-ps/exchange/Set-CASMailbox.md
Labels: area:exchange

#6183 ReportingUpdates-chrisda to Master
  exchange/exchange-ps/exchange/Get-DlpDetectionsReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficATPReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficPolicyReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficTopReport.md
  exchange/exchange-ps/exchange/Get-SafeLinksAggregateReport.md
Labels: Microsoft submitter

#6192 Update Get-ATPTotalTrafficReport.md
  exchange/exchange-ps/exchange/Get-ATPTotalTrafficReport.md
Labels: Microsoft submitter

#6194 Chrisda to Master
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Get-AdvancedThreatProtectionTrafficReport.md
  exchange/exchange-ps/exchange/Get-CASMailbox.md
  exchange/exchange-ps/exchange/Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/Get-MailDetailDlpPolicyReport.md
  exchange/exchange-ps/exchange/Get-MailDetailMalwareReport.md
  exchange/exchange-ps/exchange/Get-MailDetailSpamReport.md
  exchange/exchange-ps/exchange/Get-MailDetailTransportRuleReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficATPReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficPolicyReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficTopReport.md
  exchange/exchange-ps/exchange/Get-Mailbox.md
  exchange/exchange-ps/exchange/Get-MailboxFolderPermission.md
  exchange/exchange-ps/exchange/Get-MailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-MailboxPermission.md
  exchange/exchange-ps/exchange/Get-MailboxStatistics.md
  exchange/exchange-ps/exchange/Get-MessageTraceDetail.md
  exchange/exchange-ps/exchange/Get-MobileDeviceStatistics.md
  exchange/exchange-ps/exchange/Get-Recipient.md
  exchange/exchange-ps/exchange/Get-RecipientPermission.md
  exchange/exchange-ps/exchange/Get-SpoofMailReport.md
  exchange/exchange-ps/exchange/Search-Mailbox.md
  exchange/exchange-ps/exchange/Set-ProtectionAlert.md
Labels: Microsoft submitter

#6195 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Get-AdvancedThreatProtectionTrafficReport.md
  exchange/exchange-ps/exchange/Get-CASMailbox.md
  exchange/exchange-ps/exchange/Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/Get-MailDetailDlpPolicyReport.md
  exchange/exchange-ps/exchange/Get-MailDetailMalwareReport.md
  exchange/exchange-ps/exchange/Get-MailDetailSpamReport.md
  exchange/exchange-ps/exchange/Get-MailDetailTransportRuleReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficATPReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficPolicyReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficTopReport.md
  exchange/exchange-ps/exchange/Get-Mailbox.md
  exchange/exchange-ps/exchange/Get-MailboxFolderPermission.md
  exchange/exchange-ps/exchange/Get-MailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-MailboxPermission.md
  exchange/exchange-ps/exchange/Get-MailboxStatistics.md
  exchange/exchange-ps/exchange/Get-MessageTraceDetail.md
  exchange/exchange-ps/exchange/Get-MobileDeviceStatistics.md
  exchange/exchange-ps/exchange/Get-Recipient.md
  exchange/exchange-ps/exchange/Get-RecipientPermission.md
  exchange/exchange-ps/exchange/Get-SpoofMailReport.md
  exchange/exchange-ps/exchange/Search-Mailbox.md
  exchange/exchange-ps/exchange/Set-ProtectionAlert.md
Labels: Microsoft submitter

#6199 Updates to SmtpClientAuthenticationDisabled param per email
  exchange/exchange-ps/exchange/Set-CASMailbox.md
  exchange/exchange-ps/exchange/Set-TransportConfig.md
Labels: Microsoft submitter

#6200 Master to Live
  exchange/exchange-ps/exchange/Set-CASMailbox.md
  exchange/exchange-ps/exchange/Set-TransportConfig.md
Labels: Microsoft submitter

#6211 Chrisda to Master
  exchange/exchange-ps/exchange/Get-UrlTrace.md
  exchange/exchange-ps/exchange/New-DlpEdmSchema.md
  exchange/exchange-ps/exchange/Remove-DlpEdmSchema.md
Labels: Microsoft submitter

#6212 Master to Live
  exchange/exchange-ps/exchange/Get-MailTrafficATPReport.md
  exchange/exchange-ps/exchange/Get-MigrationBatch.md
  exchange/exchange-ps/exchange/Get-UrlTrace.md
  exchange/exchange-ps/exchange/New-DlpEdmSchema.md
  exchange/exchange-ps/exchange/New-MigrationBatch.md
  exchange/exchange-ps/exchange/Remove-DlpEdmSchema.md
  exchange/exchange-ps/exchange/Set-MigrationBatch.md
Labels: Microsoft submitter

#6219 Master to Live
  exchange/exchange-ps/exchange/New-EmailAddressPolicy.md
Labels: Microsoft submitter

#6226 Cleaned up GCC High/DoD references
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
Labels: Microsoft submitter

#6228 Create Get-ATPTotalTrafficReport.md
  exchange/exchange-ps/exchange/Get-ATPTotalTrafficReport.md
Labels: Microsoft submitter

#6229 Chrisda to Master
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter

#6231 Chrisda to Master
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/mfa-connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
Labels: Microsoft submitter

#6233 Master to Live
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/mfa-connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
  exchange/exchange-ps/exchange/Get-ATPTotalTrafficReport.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter

#6234 Add Cortana in Teams Pshell topic files
  skype/skype-ps/skype/Get-CsTeamsCortanaPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsCortanaPolicy.md
  skype/skype-ps/skype/New-CsTeamsCortanaPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsCortanaPolicy.md
  skype/skype-ps/skype/Set-CsTeamsCortanaPolicy.md
Labels: Microsoft submitter, area:teams / skype

#6244 Master to Live
  skype/skype-ps/skype/Get-CsTeamsCortanaPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsCortanaPolicy.md
  skype/skype-ps/skype/New-CsTeamsCortanaPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsCortanaPolicy.md
  skype/skype-ps/skype/Set-CsTeamsCortanaPolicy.md
Labels: Microsoft submitter

#6240 Minor updates
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#6241 Added new parameters to Set-Label.md
  exchange/exchange-ps/exchange/New-Label.md
  exchange/exchange-ps/exchange/Set-Label.md
Labels: area:exchange

#6247 Update to remove support of -IgnoreLegalHold
  exchange/exchange-ps/exchange/Remove-Mailbox.md
Labels: Microsoft submitter

#6248 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/New-Label.md
  exchange/exchange-ps/exchange/Remove-Mailbox.md
  exchange/exchange-ps/exchange/Set-Label.md
Labels: Microsoft submitter

#6216 Remove Grant-CsGroupPolicyPackageAssignment.md temporarily
  teams/teams-ps/teams/Grant-CsGroupPolicyPackageAssignment.md
Labels: Microsoft submitter, area:teams / skype

#6220 Update Export-SPOQueryLogs.md
  sharepoint/sharepoint-ps/sharepoint-online/Export-SPOQueryLogs.md
Labels: area:spo-powershell

#6224 Fix link and formatting
  whiteboard/whiteboard-ps/whiteboard/whiteboard.md
Labels: area:whiteboard

#5959 Adding ShareData param
  skype/skype-ps/skype/New-CsOnlineVoicemailPolicy.md
  skype/skype-ps/skype/Set-CsOnlineVoicemailPolicy.md
Labels: area:teams / skype

#6256 Update notes for -EnableUnauthenticatedSender
  exchange/exchange-ps/exchange/Set-AntiPhishPolicy.md
Labels: Microsoft submitter, area:exchange
