Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2020-11, with the labels that each got.

#6770 Typo in Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
Labels: area:exchange

#6772 Fix typo
  exchange/exchange-ps/exchange/Set-MailboxRegionalConfiguration.md
Labels: area:exchange

#6774 Updated days you can search for in Get-MessageTraceDetail.md
  exchange/exchange-ps/exchange/Get-MessageTraceDetail.md
Labels: area:exchange

#6776 Added 2 to Cert object type in Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
Labels: area:exchange

#6715 Update Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: Microsoft submitter, area:spo-powershell

#6775 Adding better description
  skype/skype-ps/skype/New-CsTeamsMessagingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMessagingPolicy.md
Labels: area:teams / skype

#6783 Update Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/Set-OwaVirtualDirectory.md
Labels: area:exchange

#6785 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: area:exchange

#6787 Update Grant-CsGroupPolicyPackageAssignment.md
  teams/teams-ps/teams/Grant-CsGroupPolicyPackageAssignment.md
Labels: Microsoft submitter

#6792 Identity param position in syntax blocks
  exchange/exchange-ps/exchange/Add-ADPermission.md
  exchange/exchange-ps/exchange/Add-DatabaseAvailabilityGroupServer.md
  exchange/exchange-ps/exchange/Add-MailboxPermission.md
  exchange/exchange-ps/exchange/Add-PublicFolderAdministrativePermission.md
  exchange/exchange-ps/exchange/Connect-Mailbox.md
  exchange/exchange-ps/exchange/Get-InformationBarrierRecipientStatus.md
  exchange/exchange-ps/exchange/Get-MailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-MailboxRepairRequest.md
  exchange/exchange-ps/exchange/Get-MailboxStatistics.md
  exchange/exchange-ps/exchange/Import-ContactList.md
  exchange/exchange-ps/exchange/Import-DlpPolicyCollection.md
  exchange/exchange-ps/exchange/Import-JournalRuleCollection.md
  exchange/exchange-ps/exchange/Move-ActiveMailboxDatabase.md
  exchange/exchange-ps/exchange/New-DatabaseAvailabilityGroupNetwork.md
  exchange/exchange-ps/exchange/New-DkimSigningConfig.md
  exchange/exchange-ps/exchange/New-Mailbox.md
  exchange/exchange-ps/exchange/New-MailboxRepairRequest.md
  exchange/exchange-ps/exchange/New-MigrationBatch.md
  exchange/exchange-ps/exchange/Remove-ADPermission.md
  exchange/exchange-ps/exchange/Remove-DatabaseAvailabilityGroupServer.md
  exchange/exchange-ps/exchange/Remove-MailboxPermission.md
  exchange/exchange-ps/exchange/Remove-PublicFolderAdministrativePermission.md
  exchange/exchange-ps/exchange/Test-ActiveSyncConnectivity.md
Labels: Microsoft submitter, area:exchange

#6782 Align description
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteUserInvitations.md
Labels: area:spo-powershell

#6780 Adding missing parameter
  skype/skype-ps/skype/New-CsTeamsMessagingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMessagingPolicy.md
Labels: area:teams / skype

#6795 Chrisda to Master
  exchange/docs-conceptual/basic-auth-connect-to-eop-powershell.md
  exchange/docs-conceptual/basic-auth-connect-to-exo-powershell.md
  exchange/docs-conceptual/basic-auth-connect-to-scc-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/docs-conceptual/v1-module-mfa-connect-to-exo-powershell.md
  exchange/docs-conceptual/v1-module-mfa-connect-to-scc-powershell.md
Labels: Microsoft submitter

#6797 Added example to empty an AdvancedSettings value
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-LabelPolicy.md
Labels: Microsoft submitter

#6788 Update Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: Microsoft submitter, area:spo-powershell

#6798 Fixed errant ]] on WhatIf
  exchange/exchange-ps/exchange/Enable-RemoteMailbox.md
  exchange/exchange-ps/exchange/New-ComplianceSearchAction.md
Labels: Microsoft submitter, area:exchange

#6740 Fixing link
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPODataConnectionSettingMetadata.md
Labels: area:spo-powershell

#6739 Fixing synopsis
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOMultiGeoExperience.md
Labels: area:spo-powershell

#6454 Fix for Example 2
  sharepoint/sharepoint-ps/sharepoint-pnp/Add-PnPSiteClassification.md
Labels: area:pnp-powershell

#6493 Update connect-sharepoint-online.md
  sharepoint/docs-conceptual/sharepoint-online/connect-sharepoint-online.md
Labels: Microsoft submitter, area:spo-powershell

#6703 Fixed invalid parameter in Example 3
  sharepoint/sharepoint-ps/sharepoint-pnp/Remove-PnPList.md
Labels: area:pnp-powershell

#6709 Update Get-PnPWikiPageContent.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Get-PnPWikiPageContent.md
Labels: area:pnp-powershell

#6748 Add note to block download
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: Microsoft submitter, area:spo-powershell

#6669 Added new supported policy type
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:teams / skype

#6753 Update New-PnPTenantSite.md
  sharepoint/sharepoint-ps/sharepoint-pnp/New-PnPTenantSite.md
Labels: area:pnp-powershell

#6600 Update Set-CsTeamsCallingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
Labels: area:teams / skype

#6304 Update Start-SPOUserAndContentMove.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOUserAndContentMove.md
Labels: Microsoft submitter, area:spo-powershell

#6305 Update Start-SPOUnifiedGroupMove.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOUnifiedGroupMove.md
Labels: Microsoft submitter, area:spo-powershell

#6749 BlockDownloadLinksFileType Note
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: Microsoft submitter, area:spo-powershell

#6801 CalendarProc-chrisda to Master
  exchange/exchange-ps/exchange/Set-CalendarProcessing.md
Labels: Microsoft submitter

#6803 Master to Live
  exchange/exchange-ps/exchange/Enable-RemoteMailbox.md
  exchange/exchange-ps/exchange/New-ComplianceSearchAction.md
  exchange/exchange-ps/exchange/Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-LabelPolicy.md
  sharepoint/docs-conceptual/sharepoint-online/connect-sharepoint-online.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPODataConnectionSettingMetadata.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOMultiGeoExperience.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOUnifiedGroupMove.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOUserAndContentMove.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Add-PnPSiteClassification.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Get-PnPWikiPageContent.md
  sharepoint/sharepoint-ps/sharepoint-pnp/New-PnPTenantSite.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Remove-PnPList.md
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#6805 Chrisda to Master
  exchange/exchange-ps/exchange/Set-MailboxCalendarFolder.md
  whiteboard/docs-conceptual/overview.md
Labels: Microsoft submitter

#6808 Removed AdvancedSettings removal example
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-LabelPolicy.md
Labels: Microsoft submitter

#6807 Master to Live
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-LabelPolicy.md
  exchange/exchange-ps/exchange/Set-MailboxCalendarFolder.md
  whiteboard/docs-conceptual/overview.md
Labels: Microsoft submitter

#6809 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#6817 Typo fixes
  exchange/exchange-ps/exchange/New-TransportRule.md
  exchange/exchange-ps/exchange/Set-DlpComplianceRule.md
Labels: Microsoft submitter, area:exchange

#6818 Publishing changes to live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/exchange-ps/exchange/New-TransportRule.md
  exchange/exchange-ps/exchange/Set-DlpComplianceRule.md
  sharepoint/sharepoint-ps/sharepoint-online/Submit-SPOMigrationJob.md
  skype/skype-ps/skype/Set-CsTenantNetworkSite.md
Labels: Microsoft submitter

#6819 Add supported character sets
  exchange/exchange-ps/exchange/New-DlpComplianceRule.md
Labels: Microsoft submitter

#6822 Added TargetSharingEpr
  exchange/exchange-ps/exchange/New-IntraOrganizationConnector.md
  exchange/exchange-ps/exchange/Set-IntraOrganizationConnector.md
Labels: Microsoft submitter

#6824 Chrisda to Master
  exchange/exchange-ps/exchange/Get-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/New-ActivityAlert.md
  exchange/exchange-ps/exchange/New-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/Set-ActivityAlert.md
  exchange/exchange-ps/exchange/Set-UnifiedAuditLogRetentionPolicy.md
Labels: Microsoft submitter

#6823 Master to Live
  exchange/exchange-ps/exchange/Get-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/New-ActivityAlert.md
  exchange/exchange-ps/exchange/New-IntraOrganizationConnector.md
  exchange/exchange-ps/exchange/New-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/Set-ActivityAlert.md
  exchange/exchange-ps/exchange/Set-IntraOrganizationConnector.md
  exchange/exchange-ps/exchange/Set-UnifiedAuditLogRetentionPolicy.md
Labels: Microsoft submitter

#6825 Updated link in RecordType(s) param description
  exchange/exchange-ps/exchange/Get-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/New-ActivityAlert.md
  exchange/exchange-ps/exchange/New-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/Set-ActivityAlert.md
  exchange/exchange-ps/exchange/Set-UnifiedAuditLogRetentionPolicy.md
Labels: Microsoft submitter

#6828 Master to Live
  exchange/exchange-ps/exchange/Get-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/New-ActivityAlert.md
  exchange/exchange-ps/exchange/New-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/Set-ActivityAlert.md
  exchange/exchange-ps/exchange/Set-UnifiedAuditLogRetentionPolicy.md
Labels: Microsoft submitter

#6830 Adding global metadata to sharepoint-pnp
  sharepoint/docfx.json
Labels: Microsoft submitter

#6831 fixing ms.author errors
  skype/skype-ps/skype/Get-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/New-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMobilityPolicy.md
Labels: Microsoft submitter

#6833 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
Labels: Microsoft submitter

#6834 Master to Live
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  sharepoint/docfx.json
  skype/skype-ps/skype/Get-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/New-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMobilityPolicy.md
Labels: Microsoft submitter

#6860 Chrisda to Master
  exchange/docs-conceptual/v1-module-mfa-connect-to-exo-powershell.md
  exchange/exchange-ps/exchange/Add-ManagementRoleEntry.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
  exchange/exchange-ps/exchange/Get-EXOCasMailbox.md
  exchange/exchange-ps/exchange/Get-EXOMailbox.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderPermission.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-EXOMailboxPermission.md
  exchange/exchange-ps/exchange/Get-EXOMailboxStatistics.md
  exchange/exchange-ps/exchange/Get-EXOMobileDeviceStatistics.md
  exchange/exchange-ps/exchange/Get-EXORecipient.md
  exchange/exchange-ps/exchange/Get-EXORecipientPermission.md
  exchange/exchange-ps/exchange/Get-MailboxFolder.md
  exchange/exchange-ps/exchange/Get-ManagementRoleEntry.md
  exchange/exchange-ps/exchange/Get-MessageCategory.md
  exchange/exchange-ps/exchange/Get-RecipientPermission.md
  exchange/exchange-ps/exchange/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/New-MailboxFolder.md
  exchange/exchange-ps/exchange/Remove-ManagementRoleEntry.md
  exchange/exchange-ps/exchange/Set-DatabaseAvailabilityGroup.md
  exchange/exchange-ps/exchange/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/Set-ManagementRoleEntry.md
Labels: Microsoft submitter

#6838 Update Set-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/Set-MalwareFilterPolicy.md
Labels: area:exchange

#6839 Update New-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/New-MalwareFilterPolicy.md
Labels: area:exchange

#6845 Update Set-SettingOverride.md
  exchange/exchange-ps/exchange/Set-SettingOverride.md
Labels: area:exchange

#6855 Update Set-InboundConnector.md
  exchange/exchange-ps/exchange/Set-InboundConnector.md
Labels: Microsoft submitter

#6862 Update Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/Get-MailDetailATPReport.md
Labels: Microsoft submitter, area:exchange

#6863 Chrisda to Master
  exchange/exchange-ps/exchange/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/Set-AntiPhishPolicy.md
Labels: Microsoft submitter

#6844 Clarifying and removing note tag
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
Labels: area:spo-powershell

#6847 Fix video tag
  sharepoint/docs-conceptual/sharepoint-online/connect-sharepoint-online.md
Labels: area:spo-powershell

#6848 Adding related link
  sharepoint/sharepoint-ps/sharepoint-server/Suspend-SPEnterpriseSearchServiceApplication.md
Labels: area:sp-server-powershell

#6864 Master to Live
  exchange/docs-conceptual/v1-module-mfa-connect-to-exo-powershell.md
  exchange/exchange-ps/exchange/Add-ManagementRoleEntry.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
  exchange/exchange-ps/exchange/Get-EXOCasMailbox.md
  exchange/exchange-ps/exchange/Get-EXOMailbox.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderPermission.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-EXOMailboxPermission.md
  exchange/exchange-ps/exchange/Get-EXOMailboxStatistics.md
  exchange/exchange-ps/exchange/Get-EXOMobileDeviceStatistics.md
  exchange/exchange-ps/exchange/Get-EXORecipient.md
  exchange/exchange-ps/exchange/Get-EXORecipientPermission.md
  exchange/exchange-ps/exchange/Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/Get-MailboxFolder.md
  exchange/exchange-ps/exchange/Get-ManagementRoleEntry.md
  exchange/exchange-ps/exchange/Get-MessageCategory.md
  exchange/exchange-ps/exchange/Get-RecipientPermission.md
  exchange/exchange-ps/exchange/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/New-InboundConnector.md
  exchange/exchange-ps/exchange/New-MailboxFolder.md
  exchange/exchange-ps/exchange/New-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/Remove-ManagementRoleEntry.md
  exchange/exchange-ps/exchange/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/Set-DatabaseAvailabilityGroup.md
  exchange/exchange-ps/exchange/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/Set-InboundConnector.md
  exchange/exchange-ps/exchange/Set-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/Set-ManagementRoleEntry.md
  exchange/exchange-ps/exchange/Set-Place.md
  exchange/exchange-ps/exchange/Set-SettingOverride.md
  sharepoint/docs-conceptual/sharepoint-online/connect-sharepoint-online.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-server/Suspend-SPEnterpriseSearchServiceApplication.md
Labels: Microsoft submitter

#6849 Fix example
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPClaimTypeMapping.md
Labels: area:sp-server-powershell

#6850 Fix param in example
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPTrustedRootAuthority.md
Labels: area:sp-server-powershell

#6835 Adding missing parameters
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:teams / skype

#6869 Patch 6
  sharepoint/sharepoint-ps/sharepoint-online/Unlock-SPOSensitivityLabelEncryptedFile.md
Labels: Microsoft submitter

#6877 Chrisda to Master
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
  exchange/exchange-ps/exchange/Disconnect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Get-CompromisedUserAggregateReport.md
  exchange/exchange-ps/exchange/Get-EXOCasMailbox.md
  exchange/exchange-ps/exchange/Get-EXOMailbox.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderPermission.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-EXOMailboxPermission.md
  exchange/exchange-ps/exchange/Get-EXOMailboxStatistics.md
  exchange/exchange-ps/exchange/Get-EXOMobileDeviceStatistics.md
  exchange/exchange-ps/exchange/Get-EXORecipient.md
  exchange/exchange-ps/exchange/Get-EXORecipientPermission.md
  exchange/exchange-ps/exchange/Get-MyAnalyticsFeatureConfig.md
  exchange/exchange-ps/exchange/Get-UserBriefingConfig.md
  exchange/exchange-ps/exchange/Set-MyAnalyticsFeatureConfig.md
  exchange/exchange-ps/exchange/Set-UserBriefingConfig.md
Labels: Microsoft submitter

#6880 Master to Live
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
  exchange/exchange-ps/exchange/Disconnect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Get-CompromisedUserAggregateReport.md
  exchange/exchange-ps/exchange/Get-EXOCasMailbox.md
  exchange/exchange-ps/exchange/Get-EXOMailbox.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderPermission.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-EXOMailboxPermission.md
  exchange/exchange-ps/exchange/Get-EXOMailboxStatistics.md
  exchange/exchange-ps/exchange/Get-EXOMobileDeviceStatistics.md
  exchange/exchange-ps/exchange/Get-EXORecipient.md
  exchange/exchange-ps/exchange/Get-EXORecipientPermission.md
  exchange/exchange-ps/exchange/Get-MyAnalyticsFeatureConfig.md
  exchange/exchange-ps/exchange/Get-UserBriefingConfig.md
  exchange/exchange-ps/exchange/Set-MyAnalyticsFeatureConfig.md
  exchange/exchange-ps/exchange/Set-UserBriefingConfig.md
  sharepoint/sharepoint-ps/sharepoint-online/Unlock-SPOSensitivityLabelEncryptedFile.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPClaimTypeMapping.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPTrustedRootAuthority.md
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: Microsoft submitter

#6840 Update Get-CsPolicyPackage.md
  teams/teams-ps/teams/Get-CsPolicyPackage.md
Labels: Microsoft submitter, area:teams

#6885 Update New-SPOSdnProvider.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSdnProvider.md
Labels: area:spo-powershell

#6884 Updating group size recommendation
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:teams / skype

#6868 Update Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: Microsoft submitter, area:spo-powershell

#6895 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#6914 Typo in Example 1
  exchange/exchange-ps/exchange/New-UnifiedGroup.md
Labels: area:exchange

#6899 changed title
  officewebapps/docs-conceptual/index.md
Labels: Microsoft submitter, area:officewebapps

#6900 V smandalika 4597486 b2
  skype/docs-conceptual/index.md
Labels: Microsoft submitter, area:teams / skype

#6816 Remove preview tag
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
Labels: Microsoft submitter, area:teams

#6901 updated title and H1
  spmt/docs-conceptual/index.md
Labels: Microsoft submitter, area:spmt

#6902 changed title and H1
  staffhub/docs-conceptual/index.md
Labels: Microsoft submitter, area:staffhub

#6903 changed title and H1
  teams/docs-conceptual/index.md
Labels: Microsoft submitter, area:teams
