Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2020-12, with the labels that each got.

#6919 Chrisda to Master
  exchange/exchange-ps/exchange/New-Mailbox.md
  exchange/exchange-ps/exchange/Set-ActiveSyncOrganizationSettings.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
Labels: Microsoft submitter

#6921 Added description to index.md files
  officewebapps/docs-conceptual/index.md
  skype/docs-conceptual/index.md
  spmt/docs-conceptual/index.md
  staffhub/docs-conceptual/index.md
  teams/docs-conceptual/index.md
Labels: Microsoft submitter

#6920 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/exchange-ps/exchange/New-Mailbox.md
  exchange/exchange-ps/exchange/New-UnifiedGroup.md
  exchange/exchange-ps/exchange/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/Set-ActiveSyncOrganizationSettings.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
  officewebapps/docs-conceptual/index.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSdnProvider.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  skype/docs-conceptual/index.md
  spmt/docs-conceptual/index.md
  staffhub/docs-conceptual/index.md
  teams/docs-conceptual/index.md
  teams/teams-ps/teams/Get-CsPolicyPackage.md
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#6911 Adding valid params for diff sc
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#6909 Trying to fix cmdlet's rendering
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOGeoMoveCrossCompatibilityStatus.md
Labels: area:spo-powershell

#6908 Typo
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPSecureStoreApplication.md
Labels: area:sp-server-powershell

#6907 Adding possible values
  skype/skype-ps/skype/Set-CsTeamsMeetingBroadcastPolicy.md
Labels: area:teams / skype

#6906 Adding examples
  skype/skype-ps/skype/Get-CsTeamsMeetingBroadcastPolicy.md
Labels: area:teams / skype

#6926 Update Set-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Set-AutoSensitivityLabelRule.md
Labels: area:exchange

#6928 Update New-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelRule.md
Labels: area:exchange

#6931 Chrisda to Master
  exchange/exchange-ps/exchange/Import-DlpPolicyCollection.md
  exchange/exchange-ps/exchange/Import-DlpPolicyTemplate.md
  exchange/exchange-ps/exchange/Import-ExchangeCertificate.md
  exchange/exchange-ps/exchange/Import-JournalRuleCollection.md
  exchange/exchange-ps/exchange/Import-RMSTrustedPublishingDomain.md
  exchange/exchange-ps/exchange/Import-RecipientDataProperty.md
  exchange/exchange-ps/exchange/New-App.md
  exchange/exchange-ps/exchange/New-ClassificationRuleCollection.md
  exchange/exchange-ps/exchange/New-DlpEdmSchema.md
  exchange/exchange-ps/exchange/New-DlpPolicy.md
  exchange/exchange-ps/exchange/New-DlpSensitiveInformationTypeRulePackage.md
  exchange/exchange-ps/exchange/New-EdgeSubscription.md
  exchange/exchange-ps/exchange/Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/Set-ClassificationRuleCollection.md
  exchange/exchange-ps/exchange/Set-DlpEdmSchema.md
  exchange/exchange-ps/exchange/Set-DlpSensitiveInformationTypeRulePackage.md
  exchange/exchange-ps/exchange/Set-UserAnalyticsConfig.md
Labels: Microsoft submitter

#6932 Master to Live
  exchange/exchange-ps/exchange/Import-DlpPolicyCollection.md
  exchange/exchange-ps/exchange/Import-DlpPolicyTemplate.md
  exchange/exchange-ps/exchange/Import-ExchangeCertificate.md
  exchange/exchange-ps/exchange/Import-JournalRuleCollection.md
  exchange/exchange-ps/exchange/Import-RMSTrustedPublishingDomain.md
  exchange/exchange-ps/exchange/Import-RecipientDataProperty.md
  exchange/exchange-ps/exchange/New-App.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/New-ClassificationRuleCollection.md
  exchange/exchange-ps/exchange/New-DlpEdmSchema.md
  exchange/exchange-ps/exchange/New-DlpPolicy.md
  exchange/exchange-ps/exchange/New-DlpSensitiveInformationTypeRulePackage.md
  exchange/exchange-ps/exchange/New-EdgeSubscription.md
  exchange/exchange-ps/exchange/Set-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/Set-ClassificationRuleCollection.md
  exchange/exchange-ps/exchange/Set-DlpEdmSchema.md
  exchange/exchange-ps/exchange/Set-DlpSensitiveInformationTypeRulePackage.md
  exchange/exchange-ps/exchange/Set-UserAnalyticsConfig.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOGeoMoveCrossCompatibilityStatus.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPSecureStoreApplication.md
  skype/skype-ps/skype/Get-CsTeamsMeetingBroadcastPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingBroadcastPolicy.md
Labels: Microsoft submitter

#6936 ATP/Advanced Threat Protection to MDfO365
  exchange/exchange-ps/exchange/Disable-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Disable-SafeLinksRule.md
  exchange/exchange-ps/exchange/Enable-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Enable-SafeLinksRule.md
  exchange/exchange-ps/exchange/Export-QuarantineMessage.md
  exchange/exchange-ps/exchange/Get-ATPTotalTrafficReport.md
  exchange/exchange-ps/exchange/Get-AdvancedThreatProtectionDocumentDetail.md
  exchange/exchange-ps/exchange/Get-AdvancedThreatProtectionDocumentReport.md
  exchange/exchange-ps/exchange/Get-AdvancedThreatProtectionTrafficReport.md
  exchange/exchange-ps/exchange/Get-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/Get-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficATPReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficReport.md
  exchange/exchange-ps/exchange/Get-QuarantineMessage.md
  exchange/exchange-ps/exchange/Get-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/Get-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Get-SafeLinksAggregateReport.md
  exchange/exchange-ps/exchange/Get-SafeLinksDetailReport.md
  exchange/exchange-ps/exchange/Get-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/Get-SafeLinksRule.md
  exchange/exchange-ps/exchange/Get-SpoofMailReport.md
  exchange/exchange-ps/exchange/Get-UrlTrace.md
  exchange/exchange-ps/exchange/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/New-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/New-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/New-SafeLinksRule.md
  exchange/exchange-ps/exchange/Preview-QuarantineMessage.md
  exchange/exchange-ps/exchange/Release-QuarantineMessage.md
  exchange/exchange-ps/exchange/Remove-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/Remove-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Remove-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/Remove-SafeLinksRule.md
  exchange/exchange-ps/exchange/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/Set-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/Set-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Set-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/Set-SafeLinksRule.md
  exchange/exchange-ps/exchange/Start-HistoricalSearch.md
Labels: Microsoft submitter

#6937 Master to Live
  exchange/exchange-ps/exchange/Disable-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Disable-SafeLinksRule.md
  exchange/exchange-ps/exchange/Enable-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Enable-SafeLinksRule.md
  exchange/exchange-ps/exchange/Export-QuarantineMessage.md
  exchange/exchange-ps/exchange/Get-ATPTotalTrafficReport.md
  exchange/exchange-ps/exchange/Get-AdvancedThreatProtectionDocumentDetail.md
  exchange/exchange-ps/exchange/Get-AdvancedThreatProtectionDocumentReport.md
  exchange/exchange-ps/exchange/Get-AdvancedThreatProtectionTrafficReport.md
  exchange/exchange-ps/exchange/Get-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/Get-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficATPReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficReport.md
  exchange/exchange-ps/exchange/Get-QuarantineMessage.md
  exchange/exchange-ps/exchange/Get-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/Get-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Get-SafeLinksAggregateReport.md
  exchange/exchange-ps/exchange/Get-SafeLinksDetailReport.md
  exchange/exchange-ps/exchange/Get-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/Get-SafeLinksRule.md
  exchange/exchange-ps/exchange/Get-SpoofMailReport.md
  exchange/exchange-ps/exchange/Get-UrlTrace.md
  exchange/exchange-ps/exchange/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/New-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/New-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/New-SafeLinksRule.md
  exchange/exchange-ps/exchange/Preview-QuarantineMessage.md
  exchange/exchange-ps/exchange/Release-QuarantineMessage.md
  exchange/exchange-ps/exchange/Remove-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/Remove-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Remove-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/Remove-SafeLinksRule.md
  exchange/exchange-ps/exchange/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/Set-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/Set-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Set-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/Set-SafeLinksRule.md
  exchange/exchange-ps/exchange/Start-HistoricalSearch.md
Labels: Microsoft submitter

#6942 Update Grant-CsTeamsVideoInteropServicePolicy doc.
  skype/skype-ps/skype/Grant-CsTeamsVideoInteropServicePolicy.md
Labels: Microsoft submitter

#6910 Adding description
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOCrossGeoMovedUsers.md
Labels: area:spo-powershell

#6951 Removed en-us from links
  exchange/exchange-ps/exchange/New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/Set-AtpPolicyForO365.md
Labels: Microsoft submitter

#6871 Improved GenerateRingingWhileLocatingUser parameter description in Set/New-CsOnlinePSTNGateway
  skype/skype-ps/skype/New-CsOnlinePSTNGateway.md
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
Labels: area:teams / skype

#6916 Update New-SPEnterpriseSearchMetadataMapping.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPEnterpriseSearchMetadataMapping.md
Labels: area:sp-server-powershell

#6958 Update Set-RetentionCompliancePolicy.md
  exchange/exchange-ps/exchange/Set-RetentionCompliancePolicy.md
Labels: Microsoft submitter

#6959 Master to Live
  exchange/exchange-ps/exchange/Set-RetentionCompliancePolicy.md
  sharepoint/sharepoint-ps/sharepoint-server/New-SPEnterpriseSearchMetadataMapping.md
  skype/skype-ps/skype/New-CsOnlinePSTNGateway.md
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
Labels: Microsoft submitter

#6956 typo
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPODeletedSite.md
Labels: area:spo-powershell

#6967 Master to Live
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPODeletedSite.md
Labels: Microsoft submitter

#6972 DLPv2-chrisda to Master
  exchange/exchange-ps/exchange/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/New-TransportRule.md
  exchange/exchange-ps/exchange/Set-DlpComplianceRule.md
  exchange/exchange-ps/exchange/Set-TransportRule.md
Labels: Microsoft submitter

#6966 Adding missing parameter
  skype/skype-ps/skype/Set-CsTeamsGuestMessagingConfiguration.md
Labels: area:teams / skype

#6973 Adding descriptions
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#6970 Improving description
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOGeoStorageQuota.md
Labels: area:spo-powershell

#6978 Chrisda to Master
  exchange/exchange-ps/exchange/Clear-ActiveSyncDevice.md
  exchange/exchange-ps/exchange/Disconnect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Get-CASMailbox.md
  exchange/exchange-ps/exchange/Get-ClientAccessServer.md
  exchange/exchange-ps/exchange/Get-ComplianceCase.md
  exchange/exchange-ps/exchange/Get-EXOCasMailbox.md
  exchange/exchange-ps/exchange/Get-EXOMailbox.md
  exchange/exchange-ps/exchange/Get-MailboxStatistics.md
  exchange/exchange-ps/exchange/Get-PublicFolderDatabase.md
  exchange/exchange-ps/exchange/Get-UMActiveCalls.md
  exchange/exchange-ps/exchange/Get-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/New-MoveRequest.md
  exchange/exchange-ps/exchange/Remove-DlpKeywordDictionary.md
  exchange/exchange-ps/exchange/Set-MailboxRegionalConfiguration.md
  exchange/exchange-ps/exchange/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/Set-MoveRequest.md
  exchange/exchange-ps/exchange/Set-Notification.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/Set-ProtectionAlert.md
  exchange/exchange-ps/exchange/Set-UMCallRouterSettings.md
Labels: Microsoft submitter

#6984 Update New-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/New-InformationBarrierPolicy.md
Labels: Microsoft submitter

#6988 Fixed codeinline formatting that caused errors in Merge-MarkdownHelp
  exchange/exchange-ps/exchange/Connect-Mailbox.md
  exchange/exchange-ps/exchange/Enable-DistributionGroup.md
  exchange/exchange-ps/exchange/Enable-MailContact.md
  exchange/exchange-ps/exchange/Enable-MailUser.md
  exchange/exchange-ps/exchange/Enable-Mailbox.md
  exchange/exchange-ps/exchange/Enable-RemoteMailbox.md
  exchange/exchange-ps/exchange/New-DistributionGroup.md
  exchange/exchange-ps/exchange/New-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/New-EOPDistributionGroup.md
  exchange/exchange-ps/exchange/New-EOPMailUser.md
  exchange/exchange-ps/exchange/New-MailContact.md
  exchange/exchange-ps/exchange/New-MailUser.md
  exchange/exchange-ps/exchange/New-Mailbox.md
  exchange/exchange-ps/exchange/New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/New-MailboxImportRequest.md
  exchange/exchange-ps/exchange/New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/New-MigrationBatch.md
  exchange/exchange-ps/exchange/New-RemoteMailbox.md
  exchange/exchange-ps/exchange/New-RoleGroup.md
  exchange/exchange-ps/exchange/New-SyncMailPublicFolder.md
  exchange/exchange-ps/exchange/New-UnifiedGroup.md
  exchange/exchange-ps/exchange/Set-CASMailbox.md
  exchange/exchange-ps/exchange/Set-DistributionGroup.md
  exchange/exchange-ps/exchange/Set-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/Set-EOPDistributionGroup.md
  exchange/exchange-ps/exchange/Set-EOPMailUser.md
  exchange/exchange-ps/exchange/Set-MailContact.md
  exchange/exchange-ps/exchange/Set-MailPublicFolder.md
  exchange/exchange-ps/exchange/Set-MailUser.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
  exchange/exchange-ps/exchange/Set-RemoteMailbox.md
  exchange/exchange-ps/exchange/Set-UnifiedGroup.md
  exchange/exchange-ps/exchange/Set-User.md
Labels: Microsoft submitter

#6989 Master to Live
  exchange/exchange-ps/exchange/Connect-Mailbox.md
  exchange/exchange-ps/exchange/Enable-DistributionGroup.md
  exchange/exchange-ps/exchange/Enable-MailContact.md
  exchange/exchange-ps/exchange/Enable-MailUser.md
  exchange/exchange-ps/exchange/Enable-Mailbox.md
  exchange/exchange-ps/exchange/Enable-RemoteMailbox.md
  exchange/exchange-ps/exchange/New-DistributionGroup.md
  exchange/exchange-ps/exchange/New-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/New-EOPDistributionGroup.md
  exchange/exchange-ps/exchange/New-EOPMailUser.md
  exchange/exchange-ps/exchange/New-MailContact.md
  exchange/exchange-ps/exchange/New-MailUser.md
  exchange/exchange-ps/exchange/New-Mailbox.md
  exchange/exchange-ps/exchange/New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/New-MailboxImportRequest.md
  exchange/exchange-ps/exchange/New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/New-MigrationBatch.md
  exchange/exchange-ps/exchange/New-RemoteMailbox.md
  exchange/exchange-ps/exchange/New-RoleGroup.md
  exchange/exchange-ps/exchange/New-SyncMailPublicFolder.md
  exchange/exchange-ps/exchange/New-UnifiedGroup.md
  exchange/exchange-ps/exchange/Set-CASMailbox.md
  exchange/exchange-ps/exchange/Set-DistributionGroup.md
  exchange/exchange-ps/exchange/Set-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/Set-EOPDistributionGroup.md
  exchange/exchange-ps/exchange/Set-EOPMailUser.md
  exchange/exchange-ps/exchange/Set-MailContact.md
  exchange/exchange-ps/exchange/Set-MailPublicFolder.md
  exchange/exchange-ps/exchange/Set-MailUser.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
  exchange/exchange-ps/exchange/Set-RemoteMailbox.md
  exchange/exchange-ps/exchange/Set-UnifiedGroup.md
  exchange/exchange-ps/exchange/Set-User.md
Labels: Microsoft submitter

#6965 Update Set-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:teams / skype

#6974 Update Set-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Set-CsTeamsComplianceRecordingApplication.md
Labels: area:teams / skype

#6991 Remote PowerShell language changes
  repo_docs/NEW_CMDLETS.md
  repo_docs/UPDATE_CMDLETS.md
Labels: Microsoft submitter

#6976 adding desc
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPWorkflowConfig.md
Labels: area:sp-server-powershell

#6979 Adding bulleted list
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: area:teams / skype

#6971 Improving description
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#6857 Update Set-CsTeamsCallingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
Labels: area:teams / skype

#7003 Removing nonexistent parameter
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOUserAndContentMove.md
Labels: area:spo-powershell

#7005 Adding new-csonlinesession to this index
  teams/teams-ps/teams/teams.md
Labels: area:teams / skype

#6933 Adding suggestion
  sharepoint/sharepoint-ps/sharepoint-online/Request-SPOPersonalSite.md
Labels: area:spo-powershell

#7010 Removed Exchange Online
  exchange/exchange-ps/exchange/Search-Mailbox.md
Labels: Microsoft submitter
