Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2020-06, with the labels that each got.

#5762 Updated .pst import topic link
  exchange/exchange-ps/exchange/Get-EXORecipientPermission.md
  exchange/exchange-ps/exchange/New-MailboxImportRequest.md
  exchange/exchange-ps/exchange/Remove-MailboxImportRequest.md
  exchange/exchange-ps/exchange/Resume-MailboxImportRequest.md
  exchange/exchange-ps/exchange/Suspend-MailboxImportRequest.md
Labels: Microsoft submitter

#5769 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter

#5777 Typo
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteRename.md
Labels: area:spo-powershell

#5776 Adding desc for ReplicatedContentTypes
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenantContentTypeReplicationParameters.md
Labels: area:spo-powershell

#5775 Adding desc for ExtensionProvider
  sharepoint/sharepoint-ps/sharepoint-online/New-SPODataConnectionSetting.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPODataConnectionSetting.md
Labels: area:spo-powershell

#5778 Fixed days range in Get-MailTrafficReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficReport.md
Labels: area:exchange

#5781 Updated WinRM requirements to connect to EXO
  exchange/docs-conceptual/exchange-eop/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
Labels: area:exchange

#5779 Added days range to Get-MailDetailTransportRuleReport.md
  exchange/exchange-ps/exchange/Get-MailDetailTransportRuleReport.md
Labels: area:exchange

#5783 Chrisda to Master
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
  exchange/exchange-ps/exchange/Set-Contact.md
  exchange/exchange-ps/exchange/Set-EOPUser.md
  exchange/exchange-ps/exchange/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/Set-TextMessagingAccount.md
  exchange/exchange-ps/exchange/Set-User.md
Labels: Microsoft submitter

#5785 AzureADLbelSync-chrisda to Master
  exchange/exchange-ps/exchange/Execute-AzureADLabelSync.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter

#5729 Fixed AgentAlertTime description in New-CsCallQueue.md
  skype/skype-ps/skype/New-CsCallQueue.md
Labels: area:teams / skype

#5730 Fixing Several Links
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPODataConnectionSetting.md
Labels: area:spo-powershell

#5740 Clarifying UsageLogMaxSpaceGB desc
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPUsageService.md
Labels: area:sp-server-powershell

#5741 Fix link
  sharepoint/sharepoint-ps/sharepoint-server/Get-SPWorkflowConfig.md
Labels: area:sp-server-powershell

#5743 Fix link and typo
  sharepoint/sharepoint-ps/sharepoint-online/Export-SPOUserProfile.md
Labels: area:spo-powershell

#5744 Adding missing descriptions
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenantCdnPolicy.md
Labels: area:spo-powershell

#5751 Added new Shared Voicemail parameters to New/Set-CsCallQueue
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: area:teams / skype

#5774 Clarifying SIP address versus UPN
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter, area:teams / skype

#5782 Add LongestIdle option to routing methods in SetCsCallQueue and NewCsCallQueue along with a description
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: Microsoft submitter, area:teams / skype

#5786 BlockedFileTypes-chrisda to Master
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter, area:exchange

#5787 PerAnonUser-chrisda to Master
  exchange/exchange-ps/exchange/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/Set-DlpComplianceRule.md
Labels: Microsoft submitter, area:exchange

#5780 Update Set-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: Microsoft submitter, area:teams / skype

#5789 RemoveRecordLabel-chrisda to Master
  exchange/exchange-ps/exchange/Remove-RecordLabel.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter, area:exchange

#5790 Get/Set-EventsFromEmailConfiguration
  exchange/exchange-ps/exchange/Get-EventsFromEmailConfiguration.md
  exchange/exchange-ps/exchange/Set-EventsFromEmailConfiguration.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter, area:exchange

#5796 ExternalMailExpiryInDays para description update
  exchange/exchange-ps/exchange/New-OMEConfiguration.md
  exchange/exchange-ps/exchange/Set-OMEConfiguration.md
Labels: Microsoft submitter

#5798 Fixed workload property to match reality in Get-RetentionCompliancePolicy.md
  exchange/exchange-ps/exchange/Get-RetentionCompliancePolicy.md
Labels: area:exchange

#5803 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#5797 Adding missing descriptions
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPAccessServicesDatabaseServer.md
Labels: area:sp-server-powershell

#5804 Master to Live
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPAccessServicesDatabaseServer.md
Labels: Microsoft submitter

#5807 V2Filters-chrisda to Master
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/cmdlet-property-sets.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/filters-v2.md
  exchange/docs-conceptual/toc.yml
Labels: Microsoft submitter, area:exchange

#5808 Added DisplayName info to -Identity description in Get-UnifiedGroup.md
  exchange/exchange-ps/exchange/Get-UnifiedGroup.md
Labels: area:exchange

#5809 Update Set-RemoteMailbox.md
  exchange/exchange-ps/exchange/Set-RemoteMailbox.md
Labels: Microsoft submitter

#5811 Master to Live
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/cmdlet-property-sets.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/filters-v2.md
  exchange/docs-conceptual/toc.yml
  exchange/exchange-ps/exchange/Get-UnifiedGroup.md
  exchange/exchange-ps/exchange/Set-RemoteMailbox.md
Labels: Microsoft submitter

#5810 Adding descriptions
  skype/skype-ps/skype/Set-CsOnlineLisCivicAddress.md
Labels: area:teams / skype

#5816 Remove incorrect note about empty "password key"
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
Labels: area:exchange

#5822 Update Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
Labels: Microsoft submitter

#5757 New parameter for information barriers
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
Labels: area:spo-powershell

#5823 Fixing some links
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#5819 Clarifying GroupId
  teams/teams-ps/teams/New-Team.md
Labels: area:teams / skype

#5824 ExtOut-chrisda to Mater
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
Labels: Microsoft submitter

#5755 Add and Remove Info barriers parameters
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#5806 Update Microsoft Whiteboard Admin Documentation
  whiteboard/whiteboard-ps/whiteboard/Get-Whiteboard.md
  whiteboard/whiteboard-ps/whiteboard/Invoke-TransferAllWhiteboards.md
  whiteboard/whiteboard-ps/whiteboard/Set-WhiteboardOwner.md
  whiteboard/whiteboard-ps/whiteboard/whiteboard.md
Labels: area:whiteboard

#5826 Master to Live
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  skype/skype-ps/skype/Set-CsOnlineLisCivicAddress.md
  teams/teams-ps/teams/New-Team.md
  whiteboard/whiteboard-ps/whiteboard/Get-Whiteboard.md
  whiteboard/whiteboard-ps/whiteboard/Invoke-TransferAllWhiteboards.md
  whiteboard/whiteboard-ps/whiteboard/Set-WhiteboardOwner.md
  whiteboard/whiteboard-ps/whiteboard/whiteboard.md
Labels: Microsoft submitter

#5830 Update Restore-RecoverableItems.md
  exchange/exchange-ps/exchange/Restore-RecoverableItems.md
Labels: Microsoft submitter

#5835 Master to Live
  exchange/exchange-ps/exchange/Get-EXOMailbox.md
  exchange/exchange-ps/exchange/Remove-ComplianceTag.md
  exchange/exchange-ps/exchange/Remove-Label.md
  exchange/exchange-ps/exchange/Restore-RecoverableItems.md
Labels: Microsoft submitter

#5834 Fix spacing
  whiteboard/whiteboard-ps/whiteboard/Get-Whiteboard.md
Labels: area:whiteboard

#5843 Merges Master to Live. See commits for details.
  whiteboard/whiteboard-ps/whiteboard/Get-Whiteboard.md
Labels: Microsoft submitter

#5847 ExConceptFlat-chrisda to Master
  .openpublishing.redirection.json
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/cmdlet-property-sets.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-exchange-servers-using-remote-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/docs-conceptual/control-remote-powershell-access-to-exchange-servers.md
  exchange/docs-conceptual/disable-access-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-cmdlet-syntax.md
  exchange/docs-conceptual/exchange-eop/media/MSN_Video_Widget.gif
  exchange/docs-conceptual/exchange-management-shell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online-protection-powershell.md
  exchange/docs-conceptual/filter-properties.md
  exchange/docs-conceptual/filters-v2.md
  exchange/docs-conceptual/find-exchange-cmdlet-permissions.md
  exchange/docs-conceptual/index.md
  exchange/docs-conceptual/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/mfa-connect-to-scc-powershell.md
  exchange/docs-conceptual/office-365-scc/office-365-scc-powershell.md
  exchange/docs-conceptual/open-the-exchange-management-shell.md
  exchange/docs-conceptual/recipient-filters.md
  exchange/docs-conceptual/recipientfilter-properties.md
  exchange/docs-conceptual/scc-powershell.md
  exchange/docs-conceptual/toc.yml
  exchange/docs-conceptual/use-update-exchangehelp.md
Labels: Microsoft submitter

#5849 Master to Live
  .openpublishing.redirection.json
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/cmdlet-property-sets.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-exchange-servers-using-remote-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/docs-conceptual/control-remote-powershell-access-to-exchange-servers.md
  exchange/docs-conceptual/disable-access-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-cmdlet-syntax.md
  exchange/docs-conceptual/exchange-eop/media/MSN_Video_Widget.gif
  exchange/docs-conceptual/exchange-management-shell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online-protection-powershell.md
  exchange/docs-conceptual/filter-properties.md
  exchange/docs-conceptual/filters-v2.md
  exchange/docs-conceptual/find-exchange-cmdlet-permissions.md
  exchange/docs-conceptual/index.md
  exchange/docs-conceptual/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/mfa-connect-to-scc-powershell.md
  exchange/docs-conceptual/office-365-scc/office-365-scc-powershell.md
  exchange/docs-conceptual/open-the-exchange-management-shell.md
  exchange/docs-conceptual/recipient-filters.md
  exchange/docs-conceptual/recipientfilter-properties.md
  exchange/docs-conceptual/scc-powershell.md
  exchange/docs-conceptual/toc.yml
  exchange/docs-conceptual/use-update-exchangehelp.md
Labels: Microsoft submitter

#5848 Update Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/Set-AtpPolicyForO365.md
Labels: Microsoft submitter, area:exchange

#5850 Create LICENSE.txt
  teams/LICENSE.txt
Labels: Microsoft submitter

#5882 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: Microsoft submitter

#5884 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/exchange-ps/exchange/Get-BlockedSenderAddress.md
Labels: Microsoft submitter

#5872 Added details about some of the possible errors.
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter, area:teams / skype

#5881 Fixed overview link in whiteboard.md
  whiteboard/whiteboard-ps/whiteboard/whiteboard.md
Labels: area:whiteboard

#5880 Added -AllowPSTNUsersToBypassLobby to New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
Labels: area:teams / skype

#5879 Added examples and some missing information in Set-CsUserCallForwardingSettings.md
  skype/skype-ps/skype/Set-CsUserCallForwardingSettings.md
Labels: area:teams / skype

#5878 Update UserList and Report parameters description in Move-CsUser.md
  skype/skype-ps/skype/Move-CsUser.md
Labels: area:teams / skype

#5885 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Move-CsUser.md
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsUserCallForwardingSettings.md
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  whiteboard/whiteboard-ps/whiteboard/whiteboard.md
Labels: Microsoft submitter

#5890 Remove UpdateCalendarDelegation value from AuditDelegate parameter in Set-Mailbox.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
Labels: area:exchange

#5888 Clarifying description section
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantSyncClientRestriction.md
Labels: area:spo-powershell

#5893 Fixing some links
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#5898 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/Set-Mailbox.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantSyncClientRestriction.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-server/Import-SPMetadataWebServicePartitionData.md
  sharepoint/sharepoint-ps/sharepoint-server/Migrate-SPProjectDatabase.md
  skype/skype-ps/skype/Grant-CsExternalAccessPolicy.md
Labels: Microsoft submitter

#5903 Fixing intro link
  sharepoint/sharepoint-ps/sharepoint-online/Disconnect-SPOService.md
  sharepoint/sharepoint-ps/sharepoint-online/Export-SPOQueryLogs.md
  sharepoint/sharepoint-ps/sharepoint-online/Export-SPOUserInfo.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOAppErrors.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPODeletedSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantLogLastAvailableTimeInUtc.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSiteGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPODeletedSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOExternalUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOGeoAdministrator.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Repair-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Request-SPOUpgradeEvaluationSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSiteGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Test-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Upgrade-SPOSite.md
Labels: area:spo-powershell

#5917 Update Execute-AzureADLabelSync.md
  exchange/exchange-ps/exchange/Execute-AzureADLabelSync.md
Labels: Microsoft submitter

#5918 Update Enable-RemoteMailbox.md
  exchange/exchange-ps/exchange/Enable-RemoteMailbox.md
Labels: Microsoft submitter

#5920 Update Set-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/Set-HostedOutboundSpamFilterPolicy.md
Labels: Microsoft submitter

#5919 Notes missing URI instructions for M365 DoD
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
Labels: Microsoft submitter

#5923 Fixed SOC and SMC links
  exchange/exchange-ps/exchange/Enable-RemoteMailbox.md
  exchange/exchange-ps/exchange/Get-PublicFolderClientPermission.md
  exchange/exchange-ps/exchange/New-RemoteMailbox.md
  exchange/exchange-ps/exchange/Set-MailboxJunkEmailConfiguration.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/Set-RemoteMailbox.md
  exchange/exchange-ps/exchange/Set-TransportConfig.md
  exchange/exchange-ps/exchange/Set-UnifiedGroup.md
  exchange/exchange-ps/exchange/Start-ManagedFolderAssistant.md
Labels: Microsoft submitter

#5925 Updated to point to main documentation
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
Labels: Microsoft submitter

#5930 Releasing pending changes
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOCommSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOHideDefaultThemes.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteContentMove.md
Labels: Microsoft submitter

#5931 Update New-Label.md
  exchange/exchange-ps/exchange/New-Label.md
Labels: Microsoft submitter

#5944 Fixed incorrect redirect and technet topic links
  .openpublishing.redirection.json
  exchange/exchange-ps/exchange/Remove-BlockedSenderAddress.md
Labels: Microsoft submitter

#5874 Update Set-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOOrgAssetsLibrary.md
Labels: Microsoft submitter, area:spo-powershell

#5873 Update Add-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOOrgAssetsLibrary.md
Labels: Microsoft submitter, area:spo-powershell

#5945 Master to Live
  .openpublishing.redirection.json
  exchange/exchange-ps/exchange/Get-MessageTrace.md
  exchange/exchange-ps/exchange/Remove-BlockedSenderAddress.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOAppInfo.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantLogEntry.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOWebTemplate.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOOrgAssetsLibrary.md
Labels: Microsoft submitter

#5946 Mfr-chrisda to Master
  exchange/exchange-ps/exchange/Get-CompromisedUserAggregateReport.md
  exchange/exchange-ps/exchange/Get-CompromisedUserDetailReport.md
  exchange/exchange-ps/exchange/Get-MailFilterListReport.md
  exchange/exchange-ps/exchange/Get-MailflowStatusReport.md
  exchange/exchange-ps/exchange/Get-SafeLinksAggregateReport.md
  exchange/exchange-ps/exchange/Get-SafeLinksDetailReport.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter

#5948 Master to Live
  exchange/exchange-ps/exchange/Get-CompromisedUserAggregateReport.md
  exchange/exchange-ps/exchange/Get-CompromisedUserDetailReport.md
  exchange/exchange-ps/exchange/Get-MailFilterListReport.md
  exchange/exchange-ps/exchange/Get-MailflowStatusReport.md
  exchange/exchange-ps/exchange/Get-SafeLinksAggregateReport.md
  exchange/exchange-ps/exchange/Get-SafeLinksDetailReport.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter

#5971 Update cmdlet documentation for CallQueue Shared Voicemail
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: Microsoft submitter

#5975 Added *-TenanatAllowBlockListItems to TOC
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter

#5976 Master to Live
  exchange/exchange-ps/exchange/Remove-Label.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOGeoAdministrator.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
  skype/skype-ps/skype/Set-CsOnlineLisCivicAddress.md
  teams/teams-ps/teams/Get-TeamUser.md
Labels: Microsoft submitter

#5979 Fixes in Call Queue cmdlet documentation
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: Microsoft submitter

#5978 Added Server parameter to the example because it´s required (New-MailboxDatabase.md)
  exchange/exchange-ps/exchange/New-MailboxDatabase.md
Labels: area:exchange

#5980 Added a note about ElevationOfPrivilege retirement in New-ActivityAlert.md
  exchange/exchange-ps/exchange/New-ActivityAlert.md
Labels: area:exchange

#5994 Update open-the-exchange-management-shell.md
  exchange/docs-conceptual/open-the-exchange-management-shell.md
Labels: Microsoft submitter

#5995 Master to Live
  exchange/docs-conceptual/open-the-exchange-management-shell.md
  exchange/exchange-ps/exchange/New-ActivityAlert.md
  exchange/exchange-ps/exchange/New-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/New-MailboxDatabase.md
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: Microsoft submitter

#5953 Updating related links
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:teams / skype

#5954 Updating related links
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:teams / skype

#5999 Added instructions to get all supported language Ids for CQ Shared Voicemail
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: Microsoft submitter

#6001 App-only auth topic updates for GA
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/toc.yml
Labels: Microsoft submitter

#5996 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#6002 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/toc.yml
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#5986 Update Remove-UnifiedGroupLinks.md
  exchange/exchange-ps/exchange/Remove-UnifiedGroupLinks.md
Labels: area:exchange

#5955 Updating related links
  teams/teams-ps/teams/Get-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:teams / skype

#5956 Updating related links
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:teams / skype

#5957 Updating related links
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter, area:teams / skype

#5958 Updating related links
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter, area:teams / skype

#5989 Update New-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/New-EmailAddressPolicy.md
Labels: area:exchange

#5998 Added EnableAuthAdminReadSession parameter to Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
Labels: area:exchange

#6004 Added Malware value to QuarantineTypes parameter in Get-QuarantineMessage.md
  exchange/exchange-ps/exchange/Get-QuarantineMessage.md
Labels: area:exchange

#6010 Update Get-MailTrafficReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficReport.md
Labels: area:exchange

#6011 Update Get-MailDetailMalwareReport.md
  exchange/exchange-ps/exchange/Get-MailDetailMalwareReport.md
Labels: area:exchange

#6012 Update Get-MailDetailSpamReport.md
  exchange/exchange-ps/exchange/Get-MailDetailSpamReport.md
Labels: area:exchange

#6013 Update Get-MailTrafficSummaryReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficSummaryReport.md
Labels: area:exchange

#6014 Update Get-MailTrafficPolicyReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficPolicyReport.md
Labels: area:exchange

#6015 Update Get-MailDetailTransportRuleReport.md
  exchange/exchange-ps/exchange/Get-MailDetailTransportRuleReport.md
Labels: area:exchange

#6030 Updated new and set CallQueue cmdlet documentations for PstnTransferOut feature.
  skype/skype-ps/skype/New-CsCallQueue.md
  skype/skype-ps/skype/Set-CsCallQueue.md
Labels: Microsoft submitter

#6016 Update Get-AdvancedThreatProtectionTrafficReport.md
  exchange/exchange-ps/exchange/Get-AdvancedThreatProtectionTrafficReport.md
Labels: area:exchange

#6017 Update Get-SpoofMailReport.md
  exchange/exchange-ps/exchange/Get-SpoofMailReport.md
Labels: area:exchange

#6018 Update Get-SupervisoryReviewReport.md
  exchange/exchange-ps/exchange/Get-SupervisoryReviewReport.md
Labels: area:exchange

#6019 Update Get-MailTrafficATPReport.md
  exchange/exchange-ps/exchange/Get-MailTrafficATPReport.md
Labels: area:exchange

#6020 Update Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/Get-MailDetailATPReport.md
Labels: area:exchange

#6021 Update Get-CompromisedUserAggregateReport.md
  exchange/exchange-ps/exchange/Get-CompromisedUserAggregateReport.md
Labels: area:exchange

#6022 Update Get-CompromisedUserDetailReport.md
  exchange/exchange-ps/exchange/Get-CompromisedUserDetailReport.md
Labels: area:exchange

#6023 Update Get-MailflowStatusReport.md
  exchange/exchange-ps/exchange/Get-MailflowStatusReport.md
Labels: area:exchange

#6024 Update Get-DlpDetectionsReport.md
  exchange/exchange-ps/exchange/Get-DlpDetectionsReport.md
Labels: area:exchange

#6025 Update Get-DlpDetailReport.md
  exchange/exchange-ps/exchange/Get-DlpDetailReport.md
Labels: area:exchange

#6026 Clarifying required permmissions
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantCdnOrigins.md
Labels: area:spo-powershell

#5934 Adding two new Powershell Policies now available for Group Policy Ass…
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:teams / skype

#5981 Change Office 365 Group to Microsoft 365 Group
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSiteOffice365Group.md
Labels: area:spo-powershell

#6007 Corrected description
  skype/skype-ps/skype/Get-CsOnlineDirectoryTenant.md
Labels: area:teams / skype

#6027 Fixing synopsis
  skype/skype-ps/skype/Get-CsTeamsMessagingPolicy.md
Labels: area:teams / skype

#6028 Update Set-CsTeamsMessagingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMessagingPolicy.md
Labels: Microsoft submitter, area:teams / skype

#6037 Master to Live
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantCdnOrigins.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSiteOffice365Group.md
  skype/skype-ps/skype/Get-CsOnlineDirectoryTenant.md
  skype/skype-ps/skype/Get-CsTeamsMessagingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMessagingPolicy.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#6040 Updated PrimarySMTPAddress
  exchange/docs-conceptual/filter-properties.md
  exchange/docs-conceptual/recipientfilter-properties.md
Labels: Microsoft submitter

#6041 LabelsChrisda to Master
  exchange/exchange-ps/exchange/New-Label.md
  exchange/exchange-ps/exchange/Set-Label.md
Labels: Microsoft submitter

#6042 Master to Live
  exchange/docs-conceptual/filter-properties.md
  exchange/docs-conceptual/recipientfilter-properties.md
  exchange/exchange-ps/exchange/New-Label.md
  exchange/exchange-ps/exchange/Set-Label.md
Labels: Microsoft submitter
