Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2020-02, with the labels that each got.

#4803 Added note to SipSignalingPort
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
Labels: area:skype

#4818 Added AutodiscoverPartialDirSync parameter
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
Labels: Microsoft submitter, area:exchange

#4823 Removing deprecated cmdlets
  teams/teams-ps/teams/teams.md
Labels: area:skype, area:teams

#4822 Adding removed note
  skype/skype-ps/skype/Get-CsTeamsMobilityPolicy.md
Labels: area:skype, area:teams

#4804 Update Get-SPOSiteDataEncryptionPolicy.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteDataEncryptionPolicy.md
Labels: area:spo-powershell

#4805 Update Get-SPOUnifiedGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOUnifiedGroup.md
Labels: area:spo-powershell

#4806 Update Get-SPOUnifiedGroupMoveState.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOUnifiedGroupMoveState.md
Labels: area:spo-powershell

#4824 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4807 Update New-SPOMigrationEncryptionParameters.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOMigrationEncryptionParameters.md
Labels: area:spo-powershell

#4808 Update Remove-SPOMultiGeoCompanyAllowedDataLocation.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOMultiGeoCompanyAllowedDataLocation.md
Labels: area:spo-powershell

#4810 Update Set-SPOUnifiedGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOUnifiedGroup.md
Labels: area:spo-powershell

#4811 Update Start-SPOUnifiedGroupMove.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOUnifiedGroupMove.md
Labels: area:spo-powershell

#4812 Update Update-UserType.md
  sharepoint/sharepoint-ps/sharepoint-online/Update-UserType.md
Labels: area:spo-powershell

#4809 Update Set-SPOMultiGeoCompanyAllowedDataLocation.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOMultiGeoCompanyAllowedDataLocation.md
Labels: area:spo-powershell

#4813 Update Get-SPOCrossGeoMoveReport.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOCrossGeoMoveReport.md
Labels: area:spo-powershell

#4829 Update sharepoint-pnp-cmdlets.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-UnifiedAuditLog.md
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
Labels: Microsoft submitter, area:pnp-powershell

#4828 Adding filterable properties
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
Labels: area:spo-powershell

#4827 Spelling fix
  teams/teams-ps/teams/Get-Team.md
Labels: area:teams

#4825 Adding missing descriptions
  skype/skype-ps/skype/Set-CsOnlineDialInConferencingUserDefaultNumber.md
Labels: area:skype

#4835 Removed Overridelobby setting documentation
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: Microsoft submitter, area:skype, area:teams

#4826 Fixing page title
  skype/skype-ps/skype/Get-CsOnlinePstnUsage.md
  skype/skype-ps/skype/Get-CsOnlineVoiceRoute.md
  skype/skype-ps/skype/Get-CsOnlineVoiceRoutingPolicy.md
Labels: area:skype

#4837 Changing to approved phone numbers
  skype/skype-ps/skype/Set-CsOnlineDialInConferencingUserDefaultNumber.md
Labels: area:skype, area:teams

#4814 Added OfficeTemplateLibrary value to OrgAssetType parameter
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOOrgAssetsLibrary.md
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
Labels: area:spo-powershell

#4832 Update Set-ExchangeServer.md
  exchange/exchange-ps/exchange/organization/Set-ExchangeServer.md
Labels: Microsoft submitter, area:exchange

#4831 Master to Live
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/organization/Set-ExchangeServer.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-UnifiedAuditLog.md
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOCrossGeoMoveReport.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteDataEncryptionPolicy.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOUnifiedGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOUnifiedGroupMoveState.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOMigrationEncryptionParameters.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOMultiGeoCompanyAllowedDataLocation.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOMultiGeoCompanyAllowedDataLocation.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOUnifiedGroup.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOUnifiedGroupMove.md
  sharepoint/sharepoint-ps/sharepoint-online/Update-UserType.md
  skype/skype-ps/skype/Get-CsOnlinePstnUsage.md
  skype/skype-ps/skype/Get-CsOnlineVoiceRoute.md
  skype/skype-ps/skype/Get-CsOnlineVoiceRoutingPolicy.md
  skype/skype-ps/skype/Get-CsTeamsMobilityPolicy.md
  skype/skype-ps/skype/Set-CsOnlineDialInConferencingUserDefaultNumber.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
  teams/teams-ps/teams/Get-Team.md
  teams/teams-ps/teams/teams.md
Labels: Microsoft submitter

#4839 Added NoRestriction as a supported value for GiphyRatingValues
  skype/skype-ps/skype/Set-CsTeamsGuestMessagingConfiguration.md
Labels: Microsoft submitter, area:skype

#4843 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Set-CsTeamsGuestMessagingConfiguration.md
Labels: Microsoft submitter

#4844 Chrisda to Master
  exchange/docs-conceptual/exchange-eop/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/New-MailboxRepairRequest.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSecurityFilter.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/Set-ComplianceSecurityFilter.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/New-PublicFolderDatabaseRepairRequest.md
Labels: Microsoft submitter

#4849 Update Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter, area:exchange

#4850 Merge UAL cmdlet topics to UALRetentionPolicy-chrisda
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Get-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/New-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Remove-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Set-UnifiedAuditLogRetentionPolicy.md
Labels: Microsoft submitter, area:exchange

#4847 Update Add-MailboxPermission.md
  exchange/exchange-ps/exchange/mailboxes/Add-MailboxPermission.md
Labels: Microsoft submitter, area:exchange

#4848 Update RemoveMailboxpermission.md
  exchange/exchange-ps/exchange/mailboxes/Remove-MailboxPermission.md
Labels: Microsoft submitter, area:exchange

#4851 Update Search-MailboxAuditLog.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-MailboxAuditLog.md
Labels: Microsoft submitter

#4852 Ual retention policy chrisda
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Get-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/New-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Remove-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Set-UnifiedAuditLogRetentionPolicy.md
Labels: Microsoft submitter

#4853 Master to Live
  exchange/docs-conceptual/exchange-eop/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/New-MailboxRepairRequest.md
  exchange/exchange-ps/exchange/mailboxes/Add-MailboxPermission.md
  exchange/exchange-ps/exchange/mailboxes/Remove-MailboxPermission.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Get-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/New-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Remove-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-MailboxAuditLog.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Set-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSecurityFilter.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/Set-ComplianceSecurityFilter.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/New-PublicFolderDatabaseRepairRequest.md
Labels: Microsoft submitter

#4862 Add note for recently moved mailboxes scenario.
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Update-StoreMailboxState.md
Labels: area:exchange

#4864 Update Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-UnifiedAuditLog.md
Labels: Microsoft submitter

#4865 Updated the example
  sharepoint/sharepoint-ps/sharepoint-pnp/Remove-PnPTenantCdnOrigin.md
Labels: area:pnp-powershell

#4856 Corrected wrong example description
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteDesignTask.md
Labels: area:spo-powershell

#4869 Removed and redirected Test-ExchangeUMCallFlow
  .openpublishing.redirection.json
  exchange/exchange-ps/exchange/unified-messaging/Test-ExchangeUMCallFlow.md
Labels: Microsoft submitter

#4870 Update mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
Labels: Microsoft submitter

#4868 Merges Master to Live. See commits for details.
  .openpublishing.redirection.json
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Update-StoreMailboxState.md
  exchange/exchange-ps/exchange/policy-and-compliance-audit/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/unified-messaging/Test-ExchangeUMCallFlow.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteDesignTask.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Remove-PnPTenantCdnOrigin.md
Labels: Microsoft submitter

#4876 SafeDocs-chrisda to Master
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AtpPolicyForO365.md
Labels: Microsoft submitter

#4879 Master to Live
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AtpPolicyForO365.md
Labels: Microsoft submitter

#4873 Connection filter policy topic improvements
  exchange/exchange-ps/exchange/antispam-antimalware/Get-HostedConnectionFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedConnectionFilterPolicy.md
Labels: Microsoft submitter

#4871 Add missing note to get-teamChannel
  teams/teams-ps/teams/Get-TeamChannel.md
Labels: Microsoft submitter, area:skype, area:teams

#4887 Adding a working example of SharingCapability
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#4904 Proposing clarifying user desc
  teams/teams-ps/teams/Add-TeamUser.md
Labels: area:teams

#4903 Correcting Example 3
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOExternalUser.md
Labels: area:spo-powershell

#4882 Add shared voicemail docs for Auto Attendant CallableEntity creation
  skype/skype-ps/skype/New-CsAutoAttendantCallableEntity.md
Labels: area:skype

#4901 Removing conflicting note
  skype/skype-ps/skype/Set-CsTeamsCallParkPolicy.md
Labels: area:skype

#4910 Escaped asterisk (MD bug) + removed references to "2015"
  skype/skype-ps/skype/Get-CsUserPoolInfo.md
Labels: area:skype, area:teams

#4925 Adding descriptions for two params
  skype/skype-ps/skype/New-CsMediaConfiguration.md
  skype/skype-ps/skype/Set-CsMediaConfiguration.md
Labels: area:skype, area:teams

#4911 changed removed to returned
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOStorageEntity.md
Labels: area:spo-powershell

#4913 Synopsis suggestion
  sharepoint/sharepoint-ps/sharepoint-online/Update-SPODataEncryptionPolicy.md
Labels: area:spo-powershell

#4914 typo fix
  sharepoint/sharepoint-ps/sharepoint-online/Unregister-SPOHubSite.md
Labels: area:spo-powershell

#4916 typo fix
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOPublicCdnOrigins.md
Labels: area:spo-powershell

#4923 Changing default behavior
  skype/skype-ps/skype/Show-CsClsLogging.md
Labels: area:skype, area:teams

#4899 Document output of the function
  sharepoint/sharepoint-ps/sharepoint-pnp/Get-PnPSiteCollectionAdmin.md
Labels: area:pnp-powershell

#4927 Update Set-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/Set-CsTeamsUpgradePolicy.md
Labels: Microsoft submitter, area:skype, area:teams

#4905 Update filter-properties.md
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
Labels: area:exchange

#4917 Parameter description suggestion
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenantContentTypeReplicationParameters.md
Labels: area:spo-powershell

#4915 Parameter description suggestion
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenantCdnPolicy.md
Labels: area:spo-powershell

#4908 Update Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
Labels: area:exchange

#4881 Chrisda to Master
  exchange/exchange-ps/exchange/mailboxes/Add-MailboxFolderPermission.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxCalendarFolder.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxFolder.md
  exchange/exchange-ps/exchange/mailboxes/Get-MailboxFolderPermission.md
  exchange/exchange-ps/exchange/mailboxes/New-InboxRule.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxFolder.md
  exchange/exchange-ps/exchange/mailboxes/New-SweepRule.md
  exchange/exchange-ps/exchange/mailboxes/Set-InboxRule.md
  exchange/exchange-ps/exchange/mailboxes/Set-MailboxCalendarFolder.md
  exchange/exchange-ps/exchange/mailboxes/Set-MailboxFolderPermission.md
  exchange/exchange-ps/exchange/mailboxes/Set-SweepRule.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/users-and-groups/New-DistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DistributionGroup.md
Labels: Microsoft submitter

#4909 Update Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
Labels: area:exchange

#4919 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4921 Update Search-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Search-Mailbox.md
Labels: area:exchange

#4922 Update mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
Labels: area:exchange

#4941 Updating docs to reflect changes in cmdlets based on TAP feedback
  teams/teams-ps/teams/Get-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#4939 Correction in the hyperlink to New-TeamsApp.md
  teams/teams-ps/teams/teams.md
Labels: area:skype, area:teams

#4931 Added placeholder docs for SPO Version 16.0.19724.12000
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantOrgRelation.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantOrgRelationByPartner.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantOrgRelationByScenario.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOTenantOrgRelation.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOTenantOrgRelation.md
  sharepoint/sharepoint-ps/sharepoint-online/Verify-SPOTenantOrgRelation.md
Labels: area:spo-powershell

#4942 Align the help with current branding
  exchange/exchange-ps/exchange/mailboxes/New-Mailbox.md
Labels: area:exchange

#4944 Chrisda to Master
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
Labels: Microsoft submitter

#4945 Master to Live
  exchange/exchange-ps/exchange/mailboxes/New-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantOrgRelation.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantOrgRelationByPartner.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOTenantOrgRelationByScenario.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOTenantOrgRelation.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOTenantOrgRelation.md
  sharepoint/sharepoint-ps/sharepoint-online/Verify-SPOTenantOrgRelation.md
  teams/teams-ps/teams/Get-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/teams.md
Labels: Microsoft submitter

#4948 Adding Get/Set-CsTenantBlockedCallingNumbers.md
  skype/skype-ps/skype/Get-CsTenantBlockedCallingNumbers.md
  skype/skype-ps/skype/Set-CsTenantBlockedCallingNumbers.md
Labels: Microsoft submitter, area:skype, area:teams

#4952 Updates to cmdlets based on TAP feedback
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter, area:skype, area:teams

#4953 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Get-CsTenantBlockedCallingNumbers.md
  skype/skype-ps/skype/Set-CsTenantBlockedCallingNumbers.md
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter

#4954 Proposing adding a note
  sharepoint/docs-conceptual/sharepoint-online/connect-sharepoint-online.md
Labels: area:spo-powershell

#4965 Fixes note formatting.
  sharepoint/docs-conceptual/sharepoint-online/connect-sharepoint-online.md
Labels: Microsoft submitter, area:spo-powershell

#4962 Adding acceptable value for Visibility
  teams/teams-ps/teams/Get-Team.md
Labels: area:skype, area:teams

#4964 Adding Set-TeamArchivedState
  teams/teams-ps/teams/Set-TeamArchivedState.md
  teams/teams-ps/teams/teams.md
Labels: area:skype, area:teams

#4966 Enhanced Filtering Updates to New/Set-InboundConnector
  exchange/exchange-ps/exchange/mail-flow/New-InboundConnector.md
  exchange/exchange-ps/exchange/mail-flow/Set-InboundConnector.md
  exchange/exchange-ps/exchange/mail-flow/Set-OutboundConnector.md
  exchange/exchange-ps/exchange/users-and-groups/Set-User.md
Labels: Microsoft submitter, area:exchange

#4967 Master to Live
  exchange/exchange-ps/exchange/mail-flow/New-InboundConnector.md
  exchange/exchange-ps/exchange/mail-flow/Set-InboundConnector.md
  exchange/exchange-ps/exchange/mail-flow/Set-OutboundConnector.md
  exchange/exchange-ps/exchange/users-and-groups/Set-User.md
  sharepoint/docs-conceptual/sharepoint-online/connect-sharepoint-online.md
  teams/teams-ps/teams/Get-Team.md
  teams/teams-ps/teams/Set-TeamArchivedState.md
  teams/teams-ps/teams/teams.md
Labels: Microsoft submitter

#4969 Underscore should not be escaped
  exchange/exchange-ps/exchange/client-access/Set-MailboxRegionalConfiguration.md
Labels: area:exchange

#4972 isDirSynced is filterable with Get-Recipient, added to filter-properties.md
  exchange/docs-conceptual/exchange-server/recipient-filters/filter-properties.md
Labels: area:exchange

#4973 Chrisda to Master
  exchange/exchange-ps/exchange/antispam-antimalware/Disable-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Enable-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Get-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Get-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Remove-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Remove-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/mailboxes/Get-InboxRule.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
Labels: Microsoft submitter

#4974 Added missed EventTypes descriptions to Get-MailTrafficReport.md
  exchange/exchange-ps/exchange/reporting/Get-MailTrafficReport.md
Labels: area:exchange

#4977 move/migration cmdlet topic updates
  exchange/exchange-ps/exchange/mailboxes/New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxImportRequest.md
  exchange/exchange-ps/exchange/mailboxes/New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/mailboxes/Set-MailboxExportRequest.md
  exchange/exchange-ps/exchange/mailboxes/Set-MailboxImportRequest.md
  exchange/exchange-ps/exchange/mailboxes/Set-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/move-and-migration/New-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/New-MoveRequest.md
  exchange/exchange-ps/exchange/move-and-migration/New-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/New-PublicFolderMoveRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationBatch.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MigrationUser.md
  exchange/exchange-ps/exchange/move-and-migration/Set-MoveRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Set-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/move-and-migration/Set-PublicFolderMoveRequest.md
Labels: Microsoft submitter

#4991 Update Grant-CsOnlineVoiceRoutingPolicy.md
  skype/skype-ps/skype/Grant-CsOnlineVoiceRoutingPolicy.md
Labels: Microsoft submitter, area:skype, area:teams

#4990 Update Remove-CsOnlineVoiceRoutingPolicy.md
  skype/skype-ps/skype/Remove-CsOnlineVoiceRoutingPolicy.md
Labels: Microsoft submitter, area:skype, area:teams

#4989 Update New-CsOnlineVoiceRoutingPolicy.md
  skype/skype-ps/skype/New-CsOnlineVoiceRoutingPolicy.md
Labels: Microsoft submitter, area:skype, area:teams

#4988 Update Set-CsOnlineVoiceRoutingPolicy.md
  skype/skype-ps/skype/Set-CsOnlineVoiceRoutingPolicy.md
Labels: Microsoft submitter, area:skype, area:teams

#4987 Update Get-CsOnlineVoiceRoutingPolicy.md
  skype/skype-ps/skype/Get-CsOnlineVoiceRoutingPolicy.md
Labels: Microsoft submitter, area:skype, area:teams

#4998 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-pnp/Get-PnPHubSiteChild.md
  skype/skype-ps/skype/Get-CsOnlineVoiceRoutingPolicy.md
  skype/skype-ps/skype/Grant-CsOnlineVoiceRoutingPolicy.md
  skype/skype-ps/skype/New-CsOnlineVoiceRoutingPolicy.md
  skype/skype-ps/skype/Remove-CsOnlineVoiceRoutingPolicy.md
  skype/skype-ps/skype/Set-CsOnlineVoiceRoutingPolicy.md
Labels: Microsoft submitter

#5001 Updates time for change
  teams/teams-ps/teams/Add-TeamUser.md
Labels: Microsoft submitter, area:skype, area:teams

#5002 Merges Master to Live. See commits for details.
  teams/teams-ps/teams/Add-TeamUser.md
Labels: Microsoft submitter
