Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2020-03, with the labels that each got.

#5005 Adding missing parameters
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#4999 Removed all cmdlets under connected-accounts
  exchange/exchange-ps/exchange/connected-accounts/Get-ConnectSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Get-HotmailSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Get-ImapSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Get-PopSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Get-SendAddress.md
  exchange/exchange-ps/exchange/connected-accounts/Get-Subscription.md
  exchange/exchange-ps/exchange/connected-accounts/New-ConnectSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/New-HotmailSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/New-ImapSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/New-PopSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/New-Subscription.md
  exchange/exchange-ps/exchange/connected-accounts/Remove-ConnectSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Remove-Subscription.md
  exchange/exchange-ps/exchange/connected-accounts/Set-ConnectSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Set-HotmailSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Set-ImapSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Set-PopSubscription.md
Labels: Microsoft submitter, area:exchange

#5011 Chrisda to Master
  .openpublishing.redirection.json
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishRule.md
  exchange/exchange-ps/exchange/client-access-servers/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/move-and-migration/Export-MigrationReport.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-RetentionCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/users-and-groups/Get-MailUser.md
Labels: Microsoft submitter

#5012 Master to Live
  .openpublishing.redirection.json
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishRule.md
  exchange/exchange-ps/exchange/client-access-servers/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/connected-accounts/Get-ConnectSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Get-HotmailSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Get-ImapSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Get-PopSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Get-SendAddress.md
  exchange/exchange-ps/exchange/connected-accounts/Get-Subscription.md
  exchange/exchange-ps/exchange/connected-accounts/New-ConnectSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/New-HotmailSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/New-ImapSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/New-PopSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/New-Subscription.md
  exchange/exchange-ps/exchange/connected-accounts/Remove-ConnectSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Remove-Subscription.md
  exchange/exchange-ps/exchange/connected-accounts/Set-ConnectSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Set-HotmailSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Set-ImapSubscription.md
  exchange/exchange-ps/exchange/connected-accounts/Set-PopSubscription.md
  exchange/exchange-ps/exchange/move-and-migration/Export-MigrationReport.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-RetentionCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/users-and-groups/Get-MailUser.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: Microsoft submitter

#5013 Update Set-DkimSigningConfig.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-DkimSigningConfig.md
Labels: Microsoft submitter, area:exchange

#5003 Update documentation for New-CsBatchPolicyPackageAssignmentOperation
  teams/teams-ps/teams/Grant-CsGroupPolicyPackageAssignment.md
  teams/teams-ps/teams/New-CsBatchPolicyPackageAssignmentOperation.md
Labels: Microsoft submitter, area:skype, area:teams

#5016 Adding AllowDownloadingNonWebViewableFiles (Deprecated)
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#5019 Chrisda to Master
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
  exchange/exchange-ps/exchange/move-and-migration/Test-MigrationServerAvailability.md
Labels: Microsoft submitter

#5020 Master to Live
  exchange/exchange-ps/exchange/antispam-antimalware/Set-DkimSigningConfig.md
  exchange/exchange-ps/exchange/client-access/Set-CASMailbox.md
  exchange/exchange-ps/exchange/move-and-migration/Test-MigrationServerAvailability.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
  teams/teams-ps/teams/Grant-CsGroupPolicyPackageAssignment.md
  teams/teams-ps/teams/New-CsBatchPolicyPackageAssignmentOperation.md
Labels: Microsoft submitter

#5006 Update old cmdlets
  sharepoint/sharepoint-ps/sharepoint-pnp/Get-PnPFolder.md
Labels: area:pnp-powershell

#5025 Update Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
Labels: Microsoft submitter, area:exchange

#5023 Get-CaseHoldPolicy: Updating -DistributionDetail
  exchange/exchange-ps/exchange/policy-and-compliance-ediscovery/Get-CaseHoldPolicy.md
Labels: Microsoft submitter, area:exchange

#5026 Master to Live
  exchange/exchange-ps/exchange/policy-and-compliance-ediscovery/Get-CaseHoldPolicy.md
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Get-PnPFolder.md
Labels: Microsoft submitter

#5027 Update Set-CsTeamsClientConfiguration.md
  skype/skype-ps/skype/Set-CsTeamsClientConfiguration.md
Labels: area:skype, area:teams

#5029 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Set-CsTeamsClientConfiguration.md
Labels: Microsoft submitter

#5038 Added missed parameters on Set-CsTeamsMessagingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMessagingPolicy.md
Labels: area:skype

#5040 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Set-CsTeamsMessagingPolicy.md
Labels: Microsoft submitter

#5031 Update Remove-TeamUser.md
  teams/teams-ps/teams/Remove-TeamUser.md
Labels: area:skype, area:teams

#5030 Updating Add-TeamUser.md based on bug fix
  teams/teams-ps/teams/Add-TeamUser.md
Labels: area:skype, area:teams

#5036 Update New-Team.md
  teams/teams-ps/teams/New-Team.md
Labels: Microsoft submitter, area:skype, area:teams

#5041 Merges Master to Live. See commits for details.
  teams/teams-ps/teams/Add-TeamUser.md
  teams/teams-ps/teams/New-Team.md
  teams/teams-ps/teams/Remove-TeamUser.md
Labels: Microsoft submitter

#5039 Update Set-MailboxServer.md
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-IRMConfiguration.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Set-MailboxServer.md
Labels: Microsoft submitter, area:exchange

#5042 Master to Live
  exchange/exchange-ps/exchange/encryption-and-certificates/Set-IRMConfiguration.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Set-MailboxServer.md
Labels: Microsoft submitter

#5050 BlockedFileTypes-chrisda to Master
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#5049 Updates to compliancecase cmdlet ref topics
  exchange/exchange-ps/exchange/policy-and-compliance-ediscovery/Get-ComplianceCase.md
  exchange/exchange-ps/exchange/policy-and-compliance-ediscovery/New-ComplianceCase.md
  exchange/exchange-ps/exchange/policy-and-compliance-ediscovery/Remove-ComplianceCase.md
  exchange/exchange-ps/exchange/policy-and-compliance-ediscovery/Set-ComplianceCase.md
Labels: Microsoft submitter

#5058 Update New-ComplianceSearchAction.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSearchAction.md
Labels: Microsoft submitter

#5059 Master to Live
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSearchAction.md
  exchange/exchange-ps/exchange/policy-and-compliance-ediscovery/Get-ComplianceCase.md
  exchange/exchange-ps/exchange/policy-and-compliance-ediscovery/New-ComplianceCase.md
  exchange/exchange-ps/exchange/policy-and-compliance-ediscovery/Remove-ComplianceCase.md
  exchange/exchange-ps/exchange/policy-and-compliance-ediscovery/Set-ComplianceCase.md
Labels: Microsoft submitter

#5062 Added PreferredMeetingProviderForIslandsMode parameter
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:skype, area:teams

#5064 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: Microsoft submitter

#5060 Update Invoke-SPOSiteSwap.md
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
Labels: Microsoft submitter, area:spo-powershell

#5071 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
Labels: Microsoft submitter

#5083 Remove preview note from New/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: area:skype, area:teams

#5065 Update Set-MailboxJunkEmailConfiguration.md
  exchange/exchange-ps/exchange/antispam-antimalware/Delete-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/Export-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/Get-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/Get-QuarantineMessageHeader.md
  exchange/exchange-ps/exchange/antispam-antimalware/Preview-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/Release-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MailboxJunkEmailConfiguration.md
Labels: Microsoft submitter, area:exchange

#5088 Kaarins landingpage
  .openpublishing.redirection.json
  sharepoint/docs-conceptual/index.md
  sharepoint/docs-conceptual/index.yml
  sharepoint/docs-conceptual/overview.md
  sharepoint/docs-conceptual/sharepoint-online/connect-sharepoint-online.md
  sharepoint/docs-conceptual/sharepoint-online/introduction-sharepoint-online-management-shell.md
  sharepoint/docs-conceptual/sharepoint-online/sharepoint-online-cmdlets.md
  sharepoint/docs-conceptual/toc.yml
Labels: Microsoft submitter, area:spo-powershell

#5090 Added DynamicDelivery value to Action parameter on New/Set-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-SafeAttachmentPolicy.md
Labels: area:exchange

#5087 Update introduction-sharepoint-online-management-shell.md
  sharepoint/docs-conceptual/sharepoint-online/introduction-sharepoint-online-management-shell.md
Labels: area:spo-powershell

#5091 Fixed DisplayName max length on New/Set-UnifiedGroup
  exchange/exchange-ps/exchange/users-and-groups/New-UnifiedGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-UnifiedGroup.md
Labels: area:exchange

#5092 Fix Member parameter description on Add-DistributionGroupMember.md
  exchange/exchange-ps/exchange/users-and-groups/Add-DistributionGroupMember.md
Labels: area:exchange

#5093 Updated example 4 on Get-UnifiedGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Get-UnifiedGroup.md
Labels: area:exchange

#5098 Changing default value for Skip param
  skype/skype-ps/skype/Get-CsCallQueue.md
Labels: area:skype, area:teams

#5086 Fix example 5 on New-CsAutoAttendantCallableEntity.md
  skype/skype-ps/skype/New-CsAutoAttendantCallableEntity.md
Labels: area:skype, area:teams

#5094 Update toc.yml
  sharepoint/docfx.json
  sharepoint/docs-conceptual/index.yml
  sharepoint/docs-conceptual/sharepoint-server/sharepoint-server-cmdlets.md
  sharepoint/docs-conceptual/toc.yml
Labels: Microsoft submitter

#5078 Update Register-SPODataEncryptionPolicy.md
  sharepoint/sharepoint-ps/sharepoint-online/Register-SPODataEncryptionPolicy.md
Labels: area:spo-powershell

#5097 Master to Live
  .openpublishing.redirection.json
  exchange/exchange-ps/exchange/advanced-threat-protection/New-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Delete-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/Export-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/Get-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/Get-QuarantineMessageHeader.md
  exchange/exchange-ps/exchange/antispam-antimalware/Preview-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/Release-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MailboxJunkEmailConfiguration.md
  exchange/exchange-ps/exchange/users-and-groups/Add-DistributionGroupMember.md
  exchange/exchange-ps/exchange/users-and-groups/Get-UnifiedGroup.md
  exchange/exchange-ps/exchange/users-and-groups/New-UnifiedGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-UnifiedGroup.md
  sharepoint/docfx.json
  sharepoint/docs-conceptual/index.md
  sharepoint/docs-conceptual/index.yml
  sharepoint/docs-conceptual/overview.md
  sharepoint/docs-conceptual/sharepoint-online/connect-sharepoint-online.md
  sharepoint/docs-conceptual/sharepoint-online/introduction-sharepoint-online-management-shell.md
  sharepoint/docs-conceptual/sharepoint-online/sharepoint-online-cmdlets.md
  sharepoint/docs-conceptual/sharepoint-server/sharepoint-server-cmdlets.md
  sharepoint/docs-conceptual/toc.yml
  sharepoint/sharepoint-ps/sharepoint-online/Register-SPODataEncryptionPolicy.md
  sharepoint/sharepoint-ps/sharepoint-server/Remove-SPContentDatabase.md
  skype/skype-ps/skype/Get-CsCallQueue.md
  skype/skype-ps/skype/New-CsAutoAttendantCallableEntity.md
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter

#5099 Fixed heading and TOC
  sharepoint/docs-conceptual/index.yml
  sharepoint/docs-conceptual/toc.yml
Labels: Microsoft submitter, area:spo-powershell

#5109 Removes notes that are no longer valid.
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: Microsoft submitter, area:spo-powershell

#5101 Update Execute-AzureADLabelSync.md
  exchange/exchange-ps/exchange/policy-and-compliance/Execute-AzureADLabelSync.md
Labels: Microsoft submitter, area:exchange

#5110 Merges Master to Live. See commits for details.
  sharepoint/docs-conceptual/index.yml
  sharepoint/docs-conceptual/toc.yml
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: Microsoft submitter

#5112 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-server/Set-SPProjectPermissionMode.md
Labels: Microsoft submitter

#5114 Update Get-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AtpPolicyForO365.md
Labels: Microsoft submitter

#5136 Adding description for identity param
  skype/skype-ps/skype/Set-CsOnlineDirectoryUser.md
Labels: area:skype, area:teams

#5135 Correcting related links
  teams/teams-ps/teams/Get-Team.md
Labels: area:skype, area:teams

#5127 Adds information about templates only being available in preview.
  teams/teams-ps/teams/New-Team.md
Labels: Microsoft submitter, area:skype, area:teams

#5117 Add documentation for all TeamsComplianceRecording cmdlets
  skype/skype-ps/skype/Get-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Get-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/New-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/New-CsTeamsComplianceRecordingPairedApplication.md
  skype/skype-ps/skype/New-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Remove-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Set-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/skype.md
Labels: area:skype, area:teams

#5138 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-AtpPolicyForO365.md
  skype/skype-ps/skype/Get-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Get-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/New-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/New-CsTeamsComplianceRecordingPairedApplication.md
  skype/skype-ps/skype/New-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Remove-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/Set-CsOnlineDirectoryUser.md
  skype/skype-ps/skype/Set-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Set-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/skype.md
  teams/teams-ps/teams/Get-Team.md
  teams/teams-ps/teams/New-Team.md
Labels: Microsoft submitter

#5129 SpamFilter-chrisda to Master
  exchange/exchange-ps/exchange/antispam-antimalware/Get-BlockedSenderAddress.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Remove-BlockedSenderAddress.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedOutboundSpamFilterPolicy.md
Labels: Microsoft submitter

#5077 Update Add-SPOHubToHubAssociation.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOHubToHubAssociation.md
Labels: area:spo-powershell

#5141 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/antispam-antimalware/Get-BlockedSenderAddress.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Remove-BlockedSenderAddress.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedOutboundSpamFilterPolicy.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOHubToHubAssociation.md
Labels: Microsoft submitter

#5134 Link typo Set-EcpVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access-servers/Set-EcpVirtualDirectory.md
Labels: area:exchange

#5133 Update Undo-SoftDeletedMailbox.md
  exchange/exchange-ps/exchange/mailboxes/Undo-SoftDeletedMailbox.md
Labels: area:exchange

#5140 Updated Region parameter description
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSecurityFilter.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/Set-ComplianceSecurityFilter.md
Labels: Microsoft submitter, area:exchange

#5149 Update documentation
  teams/teams-ps/teams/Grant-CsUserPolicyPackage.md
Labels: Microsoft submitter

#5152 Update New-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSite.md
Labels: area:spo-powershell

#5156 Indicating public preview for batch policy assignment related cmdlets
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter

#5147 Master to Live
  exchange/exchange-ps/exchange/client-access-servers/Set-EcpVirtualDirectory.md
  exchange/exchange-ps/exchange/mailboxes/Undo-SoftDeletedMailbox.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSecurityFilter.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/Set-ComplianceSecurityFilter.md
  sharepoint/sharepoint-ps/sharepoint-online/New-SPOSite.md
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
  teams/teams-ps/teams/Grant-CsUserPolicyPackage.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter

#5175 Emphasis added for key command information
  teams/teams-ps/teams/Get-Team.md
Labels: Microsoft submitter, area:skype, area:teams

#5174 Adding New-CsOnlineSession
  skype/skype-ps/skype/New-CsOnlineSession.md
Labels: area:skype, area:teams

#5157 Update Remove-DlpSensitiveInformationType.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Remove-DlpSensitiveInformationType.md
Labels: area:exchange

#5166 -Whatif parameter doesn't work on New/Set/Remove-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/New-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/Remove-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/Set-ApplicationAccessPolicy.md
Labels: area:exchange

#5169 Fixed example 7 Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
Labels: area:exchange

#5173 Update mandatory attribute Remove-CalendarEvents.md
  exchange/exchange-ps/exchange/mailboxes/Remove-CalendarEvents.md
Labels: area:exchange

#5183 Update Enable-OrganizationCustomization.md
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/mail-flow/Start-HistoricalSearch.md
  exchange/exchange-ps/exchange/move-and-migration/New-MoveRequest.md
  exchange/exchange-ps/exchange/organization/Enable-OrganizationCustomization.md
Labels: Microsoft submitter, area:exchange

#5184 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/mail-flow/Start-HistoricalSearch.md
  exchange/exchange-ps/exchange/mailboxes/Remove-CalendarEvents.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/move-and-migration/New-MoveRequest.md
  exchange/exchange-ps/exchange/organization/Enable-OrganizationCustomization.md
  exchange/exchange-ps/exchange/organization/New-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/Remove-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/Set-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Remove-DlpSensitiveInformationType.md
  skype/skype-ps/skype/New-CsOnlineSession.md
  teams/teams-ps/teams/Get-Team.md
Labels: Microsoft submitter

#5187 CELA updates for CsTeamsComplianceRecording cmdlets
  skype/skype-ps/skype/Get-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Get-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/New-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/New-CsTeamsComplianceRecordingPairedApplication.md
  skype/skype-ps/skype/New-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Remove-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Set-CsTeamsComplianceRecordingPolicy.md
Labels: Microsoft submitter, area:skype, area:teams

#5193 Updating formatting that is not work and changing preview language
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/Get-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: Microsoft submitter, area:skype, area:teams

#5192 Adding an example
  teams/teams-ps/teams/Get-Team.md
Labels: area:skype, area:teams

#5182 Updated LimitedAccessFileType WebPreviewableFiles description Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#5195 Merges Master to Live. See commits for details.
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
  skype/skype-ps/skype/Get-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Get-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/Grant-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/New-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/New-CsTeamsComplianceRecordingPairedApplication.md
  skype/skype-ps/skype/New-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Remove-CsTeamsComplianceRecordingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsComplianceRecordingApplication.md
  skype/skype-ps/skype/Set-CsTeamsComplianceRecordingPolicy.md
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/Get-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
  teams/teams-ps/teams/Get-Team.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#5185 Adding Get-CsUserSettingsPageConfiguration
  skype/skype-ps/skype/Get-CsUserSettingsPageConfiguration.md
Labels: area:skype, area:teams

#5197 Correcting the format for OnpremPhoneNumber
  skype/skype-ps/skype/Set-CsOnlineApplicationInstance.md
Labels: area:skype, area:teams

#5189 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#5196 Updated ReportJunkEmailEnabled param description
  exchange/exchange-ps/exchange/client-access-servers/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter, area:exchange
