Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2020-10, with the labels that each got.

#6589 Correcting desc and adding example
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOAppErrors.md
Labels: area:spo-powershell

#6629 Adding OCE note
  skype/skype-ps/skype/Set-CsTeamsMessagingPolicy.md
Labels: area:teams / skype

#6641 Updated step 1 in app-only-auth-powershell-v2.md
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: area:exchange

#6642 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOAppErrors.md
  skype/skype-ps/skype/Set-CsTeamsMessagingPolicy.md
Labels: Microsoft submitter

#6613 Update Invoke-SPOSiteSwap.md
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
Labels: Microsoft submitter, area:spo-powershell

#6610 Not all parameter values available in all builds
  exchange/exchange-ps/exchange/Get-MailboxFolderStatistics.md
Labels: area:exchange

#6649 Chrisda to Master
  exchange/docs-conceptual/disable-access-to-exchange-online-powershell.md
  exchange/docs-conceptual/filter-properties.md
  exchange/docs-conceptual/recipientfilter-properties.md
  exchange/exchange-ps/exchange/Get-TransportRule.md
  exchange/exchange-ps/exchange/Get-User.md
  exchange/exchange-ps/exchange/New-AddressList.md
  exchange/exchange-ps/exchange/New-ManagementScope.md
  exchange/exchange-ps/exchange/Set-CASMailbox.md
Labels: Microsoft submitter

#6651 Chrisda to Master
  exchange/exchange-ps/exchange/New-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/New-LabelPolicy.md
  exchange/exchange-ps/exchange/Set-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/Set-LabelPolicy.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenantSyncClientRestriction.md
Labels: Microsoft submitter

#6650 Added notes to PermanentlyDisable parameter in Disable-Mailbox.md
  exchange/exchange-ps/exchange/Disable-Mailbox.md
Labels: area:exchange

#6646 Update Set-Place.md
  exchange/exchange-ps/exchange/Set-Place.md
Labels: area:exchange

#6653 Master to Live
  exchange/docs-conceptual/disable-access-to-exchange-online-powershell.md
  exchange/docs-conceptual/filter-properties.md
  exchange/docs-conceptual/recipientfilter-properties.md
  exchange/exchange-ps/exchange/Disable-Mailbox.md
  exchange/exchange-ps/exchange/Get-MailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-TransportRule.md
  exchange/exchange-ps/exchange/Get-User.md
  exchange/exchange-ps/exchange/New-AddressList.md
  exchange/exchange-ps/exchange/New-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/New-LabelPolicy.md
  exchange/exchange-ps/exchange/New-ManagementScope.md
  exchange/exchange-ps/exchange/Set-CASMailbox.md
  exchange/exchange-ps/exchange/Set-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/Set-LabelPolicy.md
  exchange/exchange-ps/exchange/Set-Place.md
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenantSyncClientRestriction.md
Labels: Microsoft submitter

#6657 Update ADVANCED.md
  repo_docs/ADVANCED.md
Labels: Microsoft submitter

#6658 Chrisda to Master
  README.md
  repo_docs/NEW_CMDLETS.md
  repo_docs/UPDATE_CMDLETS.md
Labels: Microsoft submitter

#6662 Minor formatting updates to Get/Set-UserBriefingConfig
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Get-UserBriefingConfig.md
  exchange/exchange-ps/exchange/Set-UserBriefingConfig.md
Labels: Microsoft submitter

#6664 Remove unnecessary ActiveSync references
  exchange/exchange-ps/exchange/Clear-MobileDevice.md
  exchange/exchange-ps/exchange/Get-MobileDevice.md
  exchange/exchange-ps/exchange/Get-MobileDeviceMailboxPolicy.md
  exchange/exchange-ps/exchange/Get-MobileDeviceStatistics.md
  exchange/exchange-ps/exchange/New-MobileDeviceMailboxPolicy.md
  exchange/exchange-ps/exchange/Remove-MobileDevice.md
  exchange/exchange-ps/exchange/Remove-MobileDeviceMailboxPolicy.md
  exchange/exchange-ps/exchange/Set-MobileDeviceMailboxPolicy.md
Labels: Microsoft submitter

#6666 Master to Live
  README.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Clear-MobileDevice.md
  exchange/exchange-ps/exchange/Get-MobileDevice.md
  exchange/exchange-ps/exchange/Get-MobileDeviceMailboxPolicy.md
  exchange/exchange-ps/exchange/Get-MobileDeviceStatistics.md
  exchange/exchange-ps/exchange/Get-UserBriefingConfig.md
  exchange/exchange-ps/exchange/New-MobileDeviceMailboxPolicy.md
  exchange/exchange-ps/exchange/Remove-MobileDevice.md
  exchange/exchange-ps/exchange/Remove-MobileDeviceMailboxPolicy.md
  exchange/exchange-ps/exchange/Set-MobileDeviceMailboxPolicy.md
  exchange/exchange-ps/exchange/Set-UserBriefingConfig.md
  repo_docs/ADVANCED.md
  repo_docs/NEW_CMDLETS.md
  repo_docs/UPDATE_CMDLETS.md
Labels: Microsoft submitter

#6634 Adding missing desc
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOUnifiedGroupMove.md
Labels: area:spo-powershell

#6635 Adding more Template names
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
Labels: area:spo-powershell

#6637 Adding guids for health check rules
  sharepoint/sharepoint-ps/sharepoint-online/Repair-SPOSite.md
Labels: area:spo-powershell

#6643 Expanding description
  skype/skype-ps/skype/New-CsTenantDialPlan.md
  skype/skype-ps/skype/Set-CsTenantDialPlan.md
Labels: area:teams / skype

#6633 Adding missing info
  sharepoint/sharepoint-ps/sharepoint-online/Stop-SPOSiteContentMove.md
Labels: area:spo-powershell

#6636 Adding missing desc
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteContentMoveState.md
Labels: area:spo-powershell

#6644 Updating article
  skype/skype-ps/skype/Set-CsTenantMigrationConfiguration.md
Labels: area:teams / skype

#6652 Update Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#6667 Updated the descriptions for clarity
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteContentMove.md
Labels: Microsoft submitter, area:spo-powershell

#6682 MyAnalyticsConfig-chrisda
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Get-MyAnalyticsFeatureConfig.md
  exchange/exchange-ps/exchange/Set-MyAnalyticsFeatureConfig.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter

#6683 Master to Live
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Get-MyAnalyticsFeatureConfig.md
  exchange/exchange-ps/exchange/Set-MyAnalyticsFeatureConfig.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteContentMoveState.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteContentMove.md
  sharepoint/sharepoint-ps/sharepoint-online/Stop-SPOSiteContentMove.md
  skype/skype-ps/skype/Set-CsTenantMigrationConfiguration.md
Labels: Microsoft submitter

#6665 Add missing Restore-SPODataEncryptionPolicy SPO PS Cmdlet Documentation
  sharepoint/sharepoint-ps/sharepoint-online/Restore-SPODataEncryptionPolicy.md
Labels: area:spo-powershell

#6685 Master to Live
  sharepoint/sharepoint-ps/sharepoint-online/Restore-SPODataEncryptionPolicy.md
Labels: Microsoft submitter

#6677 Patch 2
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteUserInvitations.md
Labels: area:spo-powershell

#6684 Create Shifts policy commandlets
  teams/teams-ps/teams/Get-CsTeamsShiftsPolicy.md
  teams/teams-ps/teams/Grant-CsTeamsShiftsPolicy.md
  teams/teams-ps/teams/New-CsTeamsShiftsPolicy.md
  teams/teams-ps/teams/Remove-CsTeamsShiftsPolicy.md
  teams/teams-ps/teams/Set-CsTeamsShiftsPolicy.md
Labels: Microsoft submitter, area:teams

#6692 Publish 10/15/2020 12:58 PM PDT
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteUserInvitations.md
  teams/teams-ps/teams/Get-CsTeamsShiftsPolicy.md
  teams/teams-ps/teams/Grant-CsTeamsShiftsPolicy.md
  teams/teams-ps/teams/New-CsTeamsShiftsPolicy.md
  teams/teams-ps/teams/Remove-CsTeamsShiftsPolicy.md
  teams/teams-ps/teams/Set-CsTeamsShiftsPolicy.md
Labels: Microsoft submitter

#6678 Update Remove-SPOHubToHubAssociation.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOHubToHubAssociation.md
Labels: area:spo-powershell

#6687 Update New-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/New-ApplicationAccessPolicy.md
Labels: Microsoft submitter, area:exchange

#6704 Update Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#6705 *-UserBriefingConfig being replaced by *-MyAnalyticsFeatureConfig
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Get-UserBriefingConfig.md
  exchange/exchange-ps/exchange/Set-UserBriefingConfig.md
Labels: Microsoft submitter

#6706 Master to Live
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Get-UserBriefingConfig.md
  exchange/exchange-ps/exchange/New-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/Set-UserBriefingConfig.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOHubToHubAssociation.md
Labels: Microsoft submitter

#6697 Adding deprecated noticed
  skype/skype-ps/skype/Get-CsHuntGroup.md
  skype/skype-ps/skype/New-CsHuntGroup.md
  skype/skype-ps/skype/Remove-CsHuntGroup.md
  skype/skype-ps/skype/Set-CsHuntGroup.md
Labels: area:teams / skype

#6695 Adding MaskPstnNumbersType parameter
  skype/skype-ps/skype/Set-CsOnlineDialInConferencingTenantSettings.md
Labels: area:spo-powershell

#6698 Updated for the publishing feature limitation
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
Labels: Microsoft submitter, area:spo-powershell

#6713 Master to live
  sharepoint/sharepoint-ps/sharepoint-online/Invoke-SPOSiteSwap.md
  skype/skype-ps/skype/Get-CsHuntGroup.md
  skype/skype-ps/skype/New-CsHuntGroup.md
  skype/skype-ps/skype/Remove-CsHuntGroup.md
  skype/skype-ps/skype/Set-CsHuntGroup.md
  skype/skype-ps/skype/Set-CsOnlineDialInConferencingTenantSettings.md
Labels: Microsoft submitter

#6451 Add docs for creating, updating and removing custom packages
  teams/teams-ps/teams/New-CsCustomPolicyPackage.md
  teams/teams-ps/teams/Remove-CsCustomPolicyPackage.md
  teams/teams-ps/teams/Update-CsCustomPolicyPackage.md
Labels: area:teams / skype

#6719 Ex203-chrisda to Master
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
Labels: Microsoft submitter

#6671 Update TOC with TeamsShiftPolicy commandlets
  teams/teams-ps/teams/teams.md
Labels: Microsoft submitter, area:teams

#6729 Chrisda to Master
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Get-RecoverableItems.md
  exchange/exchange-ps/exchange/Restore-RecoverableItems.md
Labels: Microsoft submitter

#6728 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: area:exchange

#6708 Update Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
Labels: Microsoft submitter, area:exchange

#6711 Update Set-UnifiedGroup.md
  exchange/exchange-ps/exchange/Set-UnifiedGroup.md
Labels: area:exchange

#6731 Update sharepoint-pnp-cmdlets.md
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
Labels: Microsoft submitter

#6741 Chrisda to Master
  exchange/exchange-ps/exchange/New-ReceiveConnector.md
  exchange/exchange-ps/exchange/New-SyncMailPublicFolder.md
  exchange/exchange-ps/exchange/Set-DistributionGroup.md
  exchange/exchange-ps/exchange/Set-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/Set-MailContact.md
  exchange/exchange-ps/exchange/Set-MailPublicFolder.md
  exchange/exchange-ps/exchange/Set-MailUser.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
  exchange/exchange-ps/exchange/Set-MailboxPlan.md
  exchange/exchange-ps/exchange/Set-ReceiveConnector.md
  exchange/exchange-ps/exchange/Set-TransportConfig.md
  exchange/exchange-ps/exchange/Set-UnifiedGroup.md
Labels: Microsoft submitter

#6750 Update Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
Labels: Microsoft submitter, area:exchange

#6745 Adding missing parameters
  skype/skype-ps/skype/New-CsTeamsIPPhonePolicy.md
  skype/skype-ps/skype/Set-CsTeamsIPPhonePolicy.md
Labels: area:teams / skype

#6738 Fix example 3
  skype/skype-ps/skype/Set-CsAutoAttendant.md
Labels: area:teams / skype

#6755 Chrisda to Master
  exchange/exchange-ps/exchange/New-TransportRule.md
  exchange/exchange-ps/exchange/Set-TransportRule.md
Labels: Microsoft submitter

#6756 Update Set-ThrottlingPolicy.md
  exchange/exchange-ps/exchange/Set-ThrottlingPolicy.md
Labels: Microsoft submitter, area:exchange

#6758 Update New-ThrottlingPolicy.md
  exchange/exchange-ps/exchange/New-ThrottlingPolicy.md
Labels: Microsoft submitter

#6762 Master to Live
  exchange/exchange-ps/exchange/New-ReceiveConnector.md
  exchange/exchange-ps/exchange/New-SyncMailPublicFolder.md
  exchange/exchange-ps/exchange/New-ThrottlingPolicy.md
  exchange/exchange-ps/exchange/New-TransportRule.md
  exchange/exchange-ps/exchange/Set-DistributionGroup.md
  exchange/exchange-ps/exchange/Set-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/Set-MailContact.md
  exchange/exchange-ps/exchange/Set-MailPublicFolder.md
  exchange/exchange-ps/exchange/Set-MailUser.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
  exchange/exchange-ps/exchange/Set-MailboxPlan.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/Set-ReceiveConnector.md
  exchange/exchange-ps/exchange/Set-ThrottlingPolicy.md
  exchange/exchange-ps/exchange/Set-TransportConfig.md
  exchange/exchange-ps/exchange/Set-TransportRule.md
  exchange/exchange-ps/exchange/Set-UnifiedGroup.md
  skype/skype-ps/skype/New-CsTeamsIPPhonePolicy.md
  skype/skype-ps/skype/Set-CsAutoAttendant.md
  skype/skype-ps/skype/Set-CsTeamsIPPhonePolicy.md
Labels: Microsoft submitter

#6717 Add group policy package assignment documentation
  teams/teams-ps/teams/Grant-CsGroupPolicyPackageAssignment.md
Labels: Microsoft submitter, area:teams
