Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2020-01, with the labels that each got.

#4592 adding examples for emailaddresses
  exchange/exchange-ps/exchange/sharing-and-collaboration/Set-MailPublicFolder.md
Labels: Microsoft submitter, area:exchange

#4596 Update Get-RetentionCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-RetentionCompliancePolicy.md
Labels: area:exchange

#4634 Update Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
Labels: area:exchange

#4573 Chrisda to Master
  exchange/exchange-ps/exchange/mailboxes/Get-Place.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/move-and-migration/Remove-MoveRequest.md
Labels: Microsoft submitter

#4637 Master to Live
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrace.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTraceDetail.md
  exchange/exchange-ps/exchange/mailboxes/Get-Place.md
  exchange/exchange-ps/exchange/mailboxes/Remove-CalendarEvents.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/move-and-migration/Remove-MoveRequest.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-RetentionCompliancePolicy.md
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/role-based-access-control/New-RoleGroup.md
  exchange/exchange-ps/exchange/role-based-access-control/Update-RoleGroupMember.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Set-MailPublicFolder.md
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
Labels: Microsoft submitter

#4642 Corrected SimpleName char len
  skype/skype-ps/skype/New-CsTenantDialPlan.md
Labels: area:skype

#4644 Removes hard coded locale.
  sharepoint/docs-conceptual/index.md
Labels: Microsoft submitter

#4571 Fixes Typo in LiveCaptionsEnabledType value
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:skype

#4643 Removes hard coded locale.
  sharepoint/docs-conceptual/overview.md
Labels: Microsoft submitter

#4640 Update Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
Labels: Microsoft submitter, area:exchange

#4647 Authentication policy updates
  exchange/exchange-ps/exchange/organization/Get-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/organization/New-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/organization/Remove-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/organization/Set-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/users-and-groups/Set-User.md
Labels: Microsoft submitter

#4648 Chrisda to Master
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-UrlTrace.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Disable-MetaCacheDatabase.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Enable-MetaCacheDatabase.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSearchAction.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Get-DlpEdmSchema.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpEdmSchema.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpSensitiveInformationTypeRulePackage.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Remove-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Remove-DlpEdmSchema.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpEdmSchema.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Start-ManagedFolderAssistant.md
  exchange/exchange-ps/exchange/policy-and-compliance/Get-InformationBarrierPoliciesApplicationStatus.md
  exchange/exchange-ps/exchange/policy-and-compliance/Get-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Get-InformationBarrierRecipientStatus.md
  exchange/exchange-ps/exchange/policy-and-compliance/Get-OrganizationSegment.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-OrganizationSegment.md
  exchange/exchange-ps/exchange/policy-and-compliance/Remove-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Remove-OrganizationSegment.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-LabelPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-OrganizationSegment.md
  exchange/exchange-ps/exchange/policy-and-compliance/Start-InformationBarrierPoliciesApplication.md
  exchange/exchange-ps/exchange/policy-and-compliance/Stop-InformationBarrierPoliciesApplication.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOCasMailbox.md
  exchange/exchange-ps/exchange/reporting/Get-SupervisoryReviewActivity.md
  exchange/exchange-ps/exchange/users-and-groups/New-MailUser.md
Labels: Microsoft submitter

#4649 Master to Live
  exchange/exchange-ps/exchange/advanced-threat-protection/Get-UrlTrace.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Disable-MetaCacheDatabase.md
  exchange/exchange-ps/exchange/mailbox-databases-and-servers/Enable-MetaCacheDatabase.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/organization/Get-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/organization/New-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/organization/Remove-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/organization/Set-AuthenticationPolicy.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/policy-and-compliance-content-search/New-ComplianceSearchAction.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Get-DlpEdmSchema.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpEdmSchema.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpSensitiveInformationTypeRulePackage.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Remove-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Remove-DlpEdmSchema.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpEdmSchema.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Start-ManagedFolderAssistant.md
  exchange/exchange-ps/exchange/policy-and-compliance/Get-InformationBarrierPoliciesApplicationStatus.md
  exchange/exchange-ps/exchange/policy-and-compliance/Get-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Get-InformationBarrierRecipientStatus.md
  exchange/exchange-ps/exchange/policy-and-compliance/Get-OrganizationSegment.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-OrganizationSegment.md
  exchange/exchange-ps/exchange/policy-and-compliance/Remove-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Remove-OrganizationSegment.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-LabelPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-OrganizationSegment.md
  exchange/exchange-ps/exchange/policy-and-compliance/Start-InformationBarrierPoliciesApplication.md
  exchange/exchange-ps/exchange/policy-and-compliance/Stop-InformationBarrierPoliciesApplication.md
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOCasMailbox.md
  exchange/exchange-ps/exchange/reporting/Get-SupervisoryReviewActivity.md
  exchange/exchange-ps/exchange/users-and-groups/New-MailUser.md
  exchange/exchange-ps/exchange/users-and-groups/Set-User.md
  sharepoint/docs-conceptual/index.md
  sharepoint/docs-conceptual/overview.md
  skype/skype-ps/skype/New-CsTenantDialPlan.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Test-CsEffectiveTenantDialPlan.md
Labels: Microsoft submitter

#4560 Update New-CsVideoInteropServiceProvider.md
  skype/skype-ps/skype/New-CsVideoInteropServiceProvider.md
Labels: Microsoft submitter, area:skype

#4652 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter

#4563 Fixed merge issues
  skype/skype-ps/skype/Get-CsTeamsTranslationRule.md
  skype/skype-ps/skype/New-CsTeamsTranslationRule.md
  skype/skype-ps/skype/Remove-CsTeamsTranslationRule.md
  skype/skype-ps/skype/Set-CsTeamsTranslationRule.md
Labels: Microsoft submitter, area:skype

#4562 4 new cmdlets for number manipulation/translation rules
  skype/skype-ps/skype/skype.md
Labels: Microsoft submitter, area:skype

#4654 Master to Live
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  skype/skype-ps/skype/Get-CsTeamsTranslationRule.md
  skype/skype-ps/skype/New-CsTeamsTranslationRule.md
  skype/skype-ps/skype/New-CsVideoInteropServiceProvider.md
  skype/skype-ps/skype/Remove-CsTeamsTranslationRule.md
  skype/skype-ps/skype/Set-CsTeamsTranslationRule.md
  skype/skype-ps/skype/skype.md
Labels: Microsoft submitter

#4589 Fix SipSignallingPort param name
  skype/skype-ps/skype/New-CsOnlinePSTNGateway.md
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
Labels: area:skype

#4575 Update Get-SPOSiteScriptFromWeb.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteScriptFromWeb.md
Labels: area:spo-powershell

#4660 Update Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: Microsoft submitter

#4623 Several updates for parameters and syntax
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOTenantServicePrincipal.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOTheme.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOBrowserIdleSignOut.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOBuiltInDesignPackageVisibility.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOHideDefaultThemes.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOHomeSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOStorageEntity.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOWebTheme.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOUnifiedGroupMove.md
  sharepoint/sharepoint-ps/sharepoint-online/Stop-SPOSiteContentMove.md
  sharepoint/sharepoint-ps/sharepoint-online/Update-SPODataEncryptionPolicy.md
  sharepoint/sharepoint-ps/sharepoint-online/Update-UserType.md
Labels: area:spo-powershell

#4661 Adding note under SipSignalingPort
  skype/skype-ps/skype/New-CsOnlinePSTNGateway.md
Labels: area:skype, area:teams

#4586 Update ConvertTo-SPOMigrationTargetedPackage.md
  sharepoint/sharepoint-ps/sharepoint-online/ConvertTo-SPOMigrationTargetedPackage.md
Labels: area:spo-powershell

#4666 Update Get-PnPHealthScore.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Get-PnPHealthScore.md
Labels: Microsoft submitter

#4662 Update Get-PublicFolderItemStatistics.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Get-PublicFolderItemStatistics.md
Labels: area:exchange

#4658 Max number of days for Get-MessageTrace
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrace.md
Labels: area:exchange

#4665 Chrisda to Master
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Get-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MalwareFilterPolicy.md
Labels: Microsoft submitter

#4668 Master to Live
  exchange/exchange-ps/exchange/advanced-threat-protection/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Get-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/mail-flow/Get-MessageTrace.md
  exchange/exchange-ps/exchange/sharing-and-collaboration/Get-PublicFolderItemStatistics.md
  sharepoint/sharepoint-ps/sharepoint-online/ConvertTo-SPOMigrationTargetedPackage.md
  sharepoint/sharepoint-ps/sharepoint-online/Enable-SPOTenantServicePrincipal.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteScriptFromWeb.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOTheme.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOBrowserIdleSignOut.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOBuiltInDesignPackageVisibility.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOHideDefaultThemes.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOHomeSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOStorageEntity.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOWebTheme.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOUnifiedGroupMove.md
  sharepoint/sharepoint-ps/sharepoint-online/Stop-SPOSiteContentMove.md
  sharepoint/sharepoint-ps/sharepoint-online/Update-SPODataEncryptionPolicy.md
  sharepoint/sharepoint-ps/sharepoint-online/Update-UserType.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Get-PnPHealthScore.md
  skype/skype-ps/skype/New-CsOnlinePSTNGateway.md
  skype/skype-ps/skype/Set-CsOnlinePSTNGateway.md
Labels: Microsoft submitter

#4670 Propose adding a link to module in Troubleshooting
  teams/teams-ps/teams/Connect-MicrosoftTeams.md
Labels: area:teams

#4671 Changing intro wording
  skype/skype-ps/skype/Get-CsUser.md
Labels: area:skype

#4673 Update skype.md
  skype/skype-ps/skype/skype.md
Labels: Microsoft submitter, area:skype, area:teams

#4676 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Get-CsUser.md
  skype/skype-ps/skype/skype.md
  teams/teams-ps/teams/Connect-MicrosoftTeams.md
Labels: Microsoft submitter

#4678 Update Set-DynamicDistributionGroup.md
  exchange/exchange-ps/exchange/users-and-groups/Set-DynamicDistributionGroup.md
Labels: area:exchange

#4685 Chrisda to Master
  exchange/exchange-ps/exchange/antispam-antimalware/New-DkimSigningConfig.md
  exchange/exchange-ps/exchange/antispam-antimalware/Rotate-DkimSigningConfig.md
Labels: Microsoft submitter

#4687 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4691 Master to Live
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter

#4693 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter

#4696 Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Labels: Microsoft submitter

#4697 Master to Live
  .openpublishing.redirection.json
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter

#4695 Update Register-SPMTMigration.md
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
Labels: area:spmt

#4694 Update Export-PnPTaxonomy.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Export-PnPTaxonomy.md
Labels: area:pnp-powershell

#4703 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4715 Update Release-QuarantineMessage.md
  exchange/exchange-ps/exchange/antispam-antimalware/Release-QuarantineMessage.md
Labels: Microsoft submitter

#4718 Update New-CsTenantDialPlan.md
  skype/skype-ps/skype/New-CsTenantDialPlan.md
Labels: Microsoft submitter

#4719 Update Set-CsTenantDialPlan.md
  skype/skype-ps/skype/Set-CsTenantDialPlan.md
Labels: Microsoft submitter

#4721 Added parameter desc and example
  skype/skype-ps/skype/Set-CsTenantFederationConfiguration.md
Labels: area:skype, area:teams

#4724 Removes space to check validation.
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
Labels: Microsoft submitter, area:spmt

#4726 Removes unwanted ticks.
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
Labels: Microsoft submitter, area:spmt

#4722 Update Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/organization/Set-OrganizationConfig.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteDesignRun.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteDesignRunStatus.md
  sharepoint/sharepoint-ps/sharepoint-server/Update-SPProfileSync.md
  whiteboard/whiteboard-ps/whiteboard/Get-Whiteboard.md
  whiteboard/whiteboard-ps/whiteboard/Invoke-TransferAllWhiteboards.md
  whiteboard/whiteboard-ps/whiteboard/Set-WhiteboardOwner.md
Labels: Microsoft submitter, area:exchange

#4723 Patch 86
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/powershell-v2-module/Connect-ExchangeOnline.md
Labels: area:exchange

#4714 Update mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
Labels: area:exchange

#4585 Update Add-SPOHubToHubAssociation.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOHubToHubAssociation.md
Labels: area:spo-powershell

#4631 Update Get-SPOAppInfo.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOAppInfo.md
Labels: area:spo-powershell

#4650 [fix] Removed obsolete sample
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOOrgAssetsLibrary.md
Labels: area:spo-powershell

#4699 Typo "**admin@contoso.onmicrosoft.com**"→"**admin\@contoso.onmicrosof…
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOGeoAdministrator.md
Labels: area:spo-powershell

#4706 Added basic info
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOBrowserIdleSignOut.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOBuiltInDesignPackageVisibility.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPODataEncryptionPolicy.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOMultiGeoExperience.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteCollectionAppCatalogs.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteRenameState.md
  sharepoint/sharepoint-ps/sharepoint-online/Register-SPODataEncryptionPolicy.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOBrowserIdleSignOut.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOBuiltInDesignPackageVisibility.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOHomeSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOMultiGeoExperience.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOWebTheme.md
  sharepoint/sharepoint-ps/sharepoint-online/Update-SPODataEncryptionPolicy.md
Labels: area:spo-powershell

#4741 Add documentation for two new teams cmdlets
  teams/teams-ps/teams/Grant-CsGroupPolicyPackageAssignment.md
  teams/teams-ps/teams/New-CsBatchPolicyPackageAssignmentOperation.md
Labels: Microsoft submitter, area:skype, area:teams

#4744 Master to Live
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/mailboxes/Get-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/New-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Remove-Mailbox.md
  exchange/exchange-ps/exchange/mailboxes/Set-Mailbox.md
  exchange/exchange-ps/exchange/organization/Remove-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/policy-and-compliance-dlp/Set-DlpComplianceRule.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxFolderPermission.md
  exchange/exchange-ps/exchange/users-and-groups/Get-User.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteRename.md
  sharepoint/sharepoint-ps/sharepoint-server/Copy-SPActivitiesToWorkflowService.md
  skype/skype-ps/skype/Invoke-CsComputerFailOver.md
  skype/skype-ps/skype/New-CsAutoAttendantMenu.md
  teams/teams-ps/teams/Grant-CsGroupPolicyPackageAssignment.md
  teams/teams-ps/teams/New-CsBatchPolicyPackageAssignmentOperation.md
Labels: Microsoft submitter

#4750 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/cmdlet-property-sets.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter

#4754 Corrected format of several cmdlets
  spmt/spmt-ps/spmt/Add-SPMTTask.md
  spmt/spmt-ps/spmt/Get-SPMTMigration.md
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
  spmt/spmt-ps/spmt/Remove-SPMTTask.md
  spmt/spmt-ps/spmt/Show-SPMTMigration.md
  spmt/spmt-ps/spmt/Start-SPMTMigration.md
  spmt/spmt-ps/spmt/Stop-SPMTMigration.md
  spmt/spmt-ps/spmt/Unregister-SPMTMigration.md
Labels: area:spmt

#4753 Completed example
  skype/skype-ps/skype/Set-CsVideoInteropServiceProvider.md
Labels: area:skype

#4759 Update find-exchange-cmdlet-permissions.md
  exchange/docs-conceptual/exchange-server/find-exchange-cmdlet-permissions.md
Labels: area:exchange

#4758 Update Set-CalendarProcessing.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
Labels: area:exchange

#4760 Update Set-MailboxRegionalConfiguration.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxRegionalConfiguration.md
Labels: area:exchange

#4762 Merges Master to Live. See commits for details.
  exchange/docs-conceptual/exchange-server/find-exchange-cmdlet-permissions.md
  exchange/exchange-ps/exchange/client-access/Set-MailboxRegionalConfiguration.md
  exchange/exchange-ps/exchange/mailboxes/Set-CalendarProcessing.md
  skype/skype-ps/skype/Set-CsVideoInteropServiceProvider.md
  spmt/spmt-ps/spmt/Add-SPMTTask.md
  spmt/spmt-ps/spmt/Get-SPMTMigration.md
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
  spmt/spmt-ps/spmt/Remove-SPMTTask.md
  spmt/spmt-ps/spmt/Show-SPMTMigration.md
  spmt/spmt-ps/spmt/Start-SPMTMigration.md
  spmt/spmt-ps/spmt/Stop-SPMTMigration.md
  spmt/spmt-ps/spmt/Unregister-SPMTMigration.md
Labels: Microsoft submitter

#4761 Update Get-MailboxRegionalConfiguration.md
  exchange/exchange-ps/exchange/client-access/Get-MailboxRegionalConfiguration.md
Labels: area:exchange

#4763 Added example to create default labels for new term
  sharepoint/sharepoint-ps/sharepoint-pnp/New-PnPTerm.md
Labels: area:pnp-powershell

#4765 Merges Master to Live. See commits for details.
  exchange/exchange-ps/exchange/client-access/Get-MailboxRegionalConfiguration.md
  sharepoint/sharepoint-ps/sharepoint-pnp/New-PnPTerm.md
Labels: Microsoft submitter

#4771 Update Set-CsTeamsCallingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
Labels: Microsoft submitter

#4776 Added beta notice
  teams/teams-ps/teams/Set-TeamPicture.md
Labels: area:skype, area:teams

#4772 Merges Master to Live. See commits for details.
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
  teams/teams-ps/teams/Set-TeamPicture.md
Labels: Microsoft submitter

#4779 Update New-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/organization/New-ApplicationAccessPolicy.md
Labels: Microsoft submitter, area:exchange

#4767 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
Labels: Microsoft submitter, area:exchange

#4781 Add document for EnableTranscriptionTranslation in New/Set-CsOnlineVoicemailPolicy
  skype/skype-ps/skype/New-CsOnlineVoicemailPolicy.md
  skype/skype-ps/skype/Set-CsOnlineVoicemailPolicy.md
Labels: Microsoft submitter

#4783 Chrisda to Master
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/exchange-ps/exchange/mailboxes/Get-Mailbox.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-MessageClassification.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-MessageClassification.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailbox.md
Labels: Microsoft submitter

#4768 Added example
  exchange/exchange-ps/exchange/users-and-groups/Get-UnifiedGroup.md
Labels: Microsoft submitter, area:exchange

#4785 Master to Live
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/mailboxes/Get-Mailbox.md
  exchange/exchange-ps/exchange/organization/New-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance/New-MessageClassification.md
  exchange/exchange-ps/exchange/policy-and-compliance/Set-MessageClassification.md
  exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailbox.md
  exchange/exchange-ps/exchange/users-and-groups/Get-UnifiedGroup.md
  skype/skype-ps/skype/New-CsOnlineVoicemailPolicy.md
  skype/skype-ps/skype/Set-CsOnlineVoicemailPolicy.md
Labels: Microsoft submitter

#4786 Updates per Issue #1299
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-ComplianceRetentionEvent.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-ComplianceRetentionEvent.md
Labels: Microsoft submitter

#4787 Added note about ClickOnce and Chromium-based Edge
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
Labels: Microsoft submitter, area:exchange

#4790 Added line breaks in Examples 1 and 2
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-PhishFilterPolicy.md
Labels: area:exchange

#4792 Updated Logo Example
  sharepoint/sharepoint-ps/sharepoint-pnp/Set-PnPSite.md
Labels: Microsoft submitter, area:pnp-powershell

#4791 Update Set-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-SafeLinksPolicy.md
Labels: area:exchange

#4794 Chrisda to Master
  exchange/exchange-ps/exchange/antispam-antimalware/New-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MalwareFilterPolicy.md
Labels: Microsoft submitter

#4793 Merges Master to Live. See commits for details.
  exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-PhishFilterPolicy.md
  exchange/exchange-ps/exchange/advanced-threat-protection/Set-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/New-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/antispam-antimalware/Set-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/Get-ComplianceRetentionEvent.md
  exchange/exchange-ps/exchange/policy-and-compliance-retention/New-ComplianceRetentionEvent.md
  sharepoint/sharepoint-ps/sharepoint-pnp/Set-PnPSite.md
Labels: Microsoft submitter

#4800 Update Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#4801 Master to Live
  exchange/exchange-ps/exchange/client-access/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter
