Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2020-08, with the labels that each got.

#6260 Chrisda to Master
  exchange/exchange-ps/exchange/Disable-MailUser.md
  exchange/exchange-ps/exchange/Disable-Mailbox.md
  exchange/exchange-ps/exchange/Disable-RemoteMailbox.md
  exchange/exchange-ps/exchange/Get-ATPTotalTrafficReport.md
  exchange/exchange-ps/exchange/Get-AdvancedThreatProtectionTrafficReport.md
  exchange/exchange-ps/exchange/Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/Get-TenantAllowBlockListItems.md
  exchange/exchange-ps/exchange/New-TransportRule.md
  exchange/exchange-ps/exchange/Remove-MailUser.md
  exchange/exchange-ps/exchange/Remove-Mailbox.md
  exchange/exchange-ps/exchange/Remove-RemoteMailbox.md
  exchange/exchange-ps/exchange/Set-TransportRule.md
Labels: Microsoft submitter

#6261 Master to Live
  exchange/exchange-ps/exchange/Disable-MailUser.md
  exchange/exchange-ps/exchange/Disable-Mailbox.md
  exchange/exchange-ps/exchange/Disable-RemoteMailbox.md
  exchange/exchange-ps/exchange/Get-ATPTotalTrafficReport.md
  exchange/exchange-ps/exchange/Get-AdvancedThreatProtectionTrafficReport.md
  exchange/exchange-ps/exchange/Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/Get-TenantAllowBlockListItems.md
  exchange/exchange-ps/exchange/New-MailboxSearch.md
  exchange/exchange-ps/exchange/New-TransportRule.md
  exchange/exchange-ps/exchange/Remove-MailUser.md
  exchange/exchange-ps/exchange/Remove-Mailbox.md
  exchange/exchange-ps/exchange/Remove-RemoteMailbox.md
  exchange/exchange-ps/exchange/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/Set-TransportRule.md
  sharepoint/sharepoint-ps/sharepoint-online/Export-SPOQueryLogs.md
  skype/skype-ps/skype/New-CsOnlineVoicemailPolicy.md
  skype/skype-ps/skype/Set-CsOnlineVoicemailPolicy.md
  teams/teams-ps/teams/Grant-CsGroupPolicyPackageAssignment.md
  whiteboard/whiteboard-ps/whiteboard/whiteboard.md
Labels: Microsoft submitter

#6264 Added note about embedded images to AttachmentSizeOver parameter in Set/New-TransportRule
  exchange/exchange-ps/exchange/New-TransportRule.md
  exchange/exchange-ps/exchange/Set-TransportRule.md
Labels: area:exchange

#6267 Chrisda to Master
  exchange/exchange-ps/exchange/Disable-RemoteMailbox.md
  exchange/exchange-ps/exchange/Remove-RemoteMailbox.md
Labels: Microsoft submitter

#6268 Master to Live
  exchange/exchange-ps/exchange/Disable-RemoteMailbox.md
  exchange/exchange-ps/exchange/New-TransportRule.md
  exchange/exchange-ps/exchange/Remove-RemoteMailbox.md
  exchange/exchange-ps/exchange/Set-TransportRule.md
Labels: Microsoft submitter

#6269 Added a note about winrm basic auth in PS to mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/mfa-connect-to-exchange-online-powershell.md
Labels: area:exchange

#6276 Chrisda to Master
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-exchange-servers-using-remote-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/mfa-connect-to-scc-powershell.md
Labels: Microsoft submitter

#6277 Master to Live
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-exchange-servers-using-remote-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/mfa-connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/mfa-connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/Get-MessageTraceDetail.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#6278 Updated example 1 in New-ManagementRole.md
  exchange/exchange-ps/exchange/New-ManagementRole.md
Labels: area:exchange

#6070 Improving descriptions
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOUserAndContentMove.md
Labels: area:spo-powershell

#6182 Adding note and adjusting applicable
  skype/skype-ps/skype/New-CsHostedVoicemailPolicy.md
Labels: area:teams / skype

#6282 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/exchange-ps/exchange/New-ManagementRole.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOUserAndContentMove.md
  skype/skype-ps/skype/New-CsHostedVoicemailPolicy.md
Labels: Microsoft submitter

#6198 Adding RecordingStorageMode
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:teams / skype

#6242 Update Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: Microsoft submitter, area:spo-powershell

#6252 Update Register-SPODataEncryptionPolicy.md
  sharepoint/sharepoint-ps/sharepoint-online/Register-SPODataEncryptionPolicy.md
Labels: area:spo-powershell

#6262 Update Copy-SPAccessServicesDatabaseCredentials.md
  sharepoint/sharepoint-ps/sharepoint-server/Copy-SPAccessServicesDatabaseCredentials.md
Labels: area:sp-server-powershell

#6204 Update New-Team.md
  teams/teams-ps/teams/New-Team.md
Labels: area:teams

#6265 Adding missing descriptions and example
  skype/skype-ps/skype/Test-CsInboundBlockedNumberPattern.md
Labels: area:teams / skype

#6288 Updating clarification on RetentionComment parameter
  exchange/exchange-ps/exchange/Set-Mailbox.md
Labels: Microsoft submitter, area:exchange

#6290 Update Get-CalendarDiagnosticObjects.md
  exchange/exchange-ps/exchange/Get-CalendarDiagnosticObjects.md
  exchange/exchange-ps/exchange/New-Label.md
Labels: Microsoft submitter

#6291 Master to Live
  exchange/exchange-ps/exchange/Get-CalendarDiagnosticObjects.md
  exchange/exchange-ps/exchange/New-Label.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
  sharepoint/sharepoint-ps/sharepoint-online/Register-SPODataEncryptionPolicy.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-server/Copy-SPAccessServicesDatabaseCredentials.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Test-CsInboundBlockedNumberPattern.md
  teams/teams-ps/teams/New-Team.md
Labels: Microsoft submitter

#6300 Updated possible Workload values
  exchange/exchange-ps/exchange/New-AuditConfigurationPolicy.md
  exchange/exchange-ps/exchange/New-AuditConfigurationRule.md
Labels: area:exchange

#6303 Master to Live
  exchange/exchange-ps/exchange/New-AuditConfigurationPolicy.md
  exchange/exchange-ps/exchange/New-AuditConfigurationRule.md
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#6312 Chrisda to Master
  exchange/exchange-ps/exchange/New-InboundConnector.md
  exchange/exchange-ps/exchange/Set-InboundConnector.md
Labels: Microsoft submitter

#6313 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/exchange-ps/exchange/New-InboundConnector.md
  exchange/exchange-ps/exchange/New-ReceiveConnector.md
  exchange/exchange-ps/exchange/Set-InboundConnector.md
  exchange/exchange-ps/exchange/Set-ReceiveConnector.md
Labels: Microsoft submitter

#6311 Adding param set all
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
Labels: area:teams / skype

#6297 Fix bug in example script
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter, area:teams / skype

#6332 Chrisda to ExShuffle-chrisda
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/filter-properties.md
  exchange/docs-conceptual/recipient-filters.md
  exchange/docs-conceptual/recipientfilter-properties.md
Labels: Microsoft submitter

#6324 Update Set-EmailAddressPolicy.md
  exchange/exchange-ps/exchange/Set-EmailAddressPolicy.md
Labels: area:exchange

#6334 Removed deprecated Sway from list of record types
  exchange/exchange-ps/exchange/Get-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/New-ActivityAlert.md
  exchange/exchange-ps/exchange/New-ComplianceSearchAction.md
  exchange/exchange-ps/exchange/New-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/Search-UnifiedAuditLog.md
  exchange/exchange-ps/exchange/Set-ActivityAlert.md
  exchange/exchange-ps/exchange/Set-UnifiedAuditLogRetentionPolicy.md
Labels: Microsoft submitter

#6301 Clarifying belongs to Preview Module
  teams/teams-ps/teams/Add-TeamChannelUser.md
Labels: area:teams / skype

#6306 Adding OrganizerOnly as a valid option
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:teams / skype

#6344 ExShuffle-chrisda to Master
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/scc-powershell.md
Labels: Microsoft submitter

#6346 Master to Live
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/scc-powershell.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: Microsoft submitter

#6318 Remove emergency number max limitation in New-CsTeamsEmergencyNumber
  skype/skype-ps/skype/New-CsTeamsEmergencyNumber.md
Labels: Microsoft submitter, area:teams / skype

#6360 Chrisda to Master
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
Labels: Microsoft submitter

#6361 Master to Live
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
  exchange/exchange-ps/exchange/Get-MailDetailATPReport.md
  skype/skype-ps/skype/New-CsTeamsEmergencyNumber.md
  teams/teams-ps/teams/Get-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Set-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#6362 Update Search-MailboxAuditLog.md
  exchange/exchange-ps/exchange/Search-MailboxAuditLog.md
Labels: Microsoft submitter

#6302 Adding missing desc
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPODeletedSite.md
Labels: area:spo-powershell

#6315 Adding missing descriptions
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSiteUserInvitations.md
Labels: area:spo-powershell

#6364 Updated New/Set-PartnerApplication
  exchange/exchange-ps/exchange/New-PartnerApplication.md
  exchange/exchange-ps/exchange/Set-PartnerApplication.md
Labels: Microsoft submitter

#6366 Updated New/Set-HostedOutboundSpamFilterPolicy
  exchange/exchange-ps/exchange/New-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/Set-HostedOutboundSpamFilterPolicy.md
Labels: Microsoft submitter

#6353 Fixed incorrect letter case inside spmt cmdlet's yaml header
  spmt/spmt-ps/spmt/Add-SPMTTask.md
  spmt/spmt-ps/spmt/Get-SPMTMigration.md
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
  spmt/spmt-ps/spmt/Remove-SPMTTask.md
  spmt/spmt-ps/spmt/Show-SPMTMigration.md
  spmt/spmt-ps/spmt/Start-SPMTMigration.md
  spmt/spmt-ps/spmt/Stop-SPMTMigration.md
  spmt/spmt-ps/spmt/Unregister-SPMTMigration.md
Labels: Microsoft submitter

#6348 Adding missing parameters
  skype/skype-ps/skype/New-CsTenantNetworkSite.md
Labels: area:teams / skype

#6383 Fixed ConnectionUri values for GCC High
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
Labels: Microsoft submitter

#6367 Update Set-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:teams

#6385 SCL threshold values must be equal or greater than (Set-ContentFilterConfig.md)
  exchange/exchange-ps/exchange/Set-ContentFilterConfig.md
Labels: area:exchange

#6393 Update Get-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/Get-AutoSensitivityLabelPolicy.md
Labels: Microsoft submitter, area:exchange

#6396 Update New-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelPolicy.md
Labels: Microsoft submitter

#6397 Update Set-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/Set-AutoSensitivityLabelPolicy.md
Labels: Microsoft submitter

#6400 Update Get-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Get-AutoSensitivityLabelRule.md
Labels: Microsoft submitter

#6359 Update Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: Microsoft submitter, area:spo-powershell

#6369 Update Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
Labels: area:teams

#6387 Update New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: area:teams

#6341 Removing note as it is now GA
  teams/teams-ps/teams/Get-TeamChannel.md
Labels: area:teams

#6401 Update New-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelRule.md
Labels: Microsoft submitter, area:exchange

#6403 Update Remove-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Remove-AutoSensitivityLabelRule.md
Labels: Microsoft submitter, area:exchange

#6404 Update Set-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Set-AutoSensitivityLabelRule.md
Labels: Microsoft submitter, area:exchange

#6407 Patch markdown typo
  exchange/docs-conceptual/exchange-online-powershell-v2.md
Labels: area:exchange

#6411 Update New-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelPolicy.md
Labels: Microsoft submitter, area:exchange

#6414 Added sentence about DL to Start-HistoricalSearch.md
  exchange/exchange-ps/exchange/Start-HistoricalSearch.md
Labels: area:exchange

#6417 CARs-chrisda to Master
  exchange/exchange-ps/exchange/New-ClientAccessRule.md
  exchange/exchange-ps/exchange/Set-ClientAccessRule.md
Labels: Microsoft submitter

#6418 Update New-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelPolicy.md
Labels: Microsoft submitter

#6420 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/New-ClientAccessRule.md
  exchange/exchange-ps/exchange/Set-ClientAccessRule.md
  exchange/exchange-ps/exchange/Start-HistoricalSearch.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/Get-TeamChannel.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#6422 ASL-chrisda to Master
  exchange/exchange-ps/exchange/Get-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/Get-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Remove-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/Remove-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Set-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/Set-AutoSensitivityLabelRule.md
Labels: Microsoft submitter

#6423 Master to Live
  exchange/exchange-ps/exchange/Get-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/Get-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Remove-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/Remove-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Set-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/Set-AutoSensitivityLabelRule.md
Labels: Microsoft submitter

#6425 Update New-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelRule.md
Labels: Microsoft submitter

#6428 ASL-chrisda to Master
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter

#6426 Chrisda to Master
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/exchange-ps/exchange/Disable-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Enable-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Get-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/Get-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/New-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/New-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/New-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/New-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/Remove-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/Remove-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/Set-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/Set-SafeAttachmentRule.md
Labels: Microsoft submitter

#6427 Update Set-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Set-AutoSensitivityLabelRule.md
Labels: Microsoft submitter

#6430 Master to Live
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/exchange-ps/exchange/Disable-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Enable-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Get-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/Get-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/New-HostedOutboundSpamFilterPolicy.md
  exchange/exchange-ps/exchange/New-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/New-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/New-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/Remove-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/Remove-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/Set-AtpPolicyForO365.md
  exchange/exchange-ps/exchange/Set-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Set-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/Set-SafeAttachmentRule.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter

#6237 Update New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: area:teams

#6413 Update Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: Microsoft submitter, area:spo-powershell

#6434 Added OutlookGifPickerDisabled parameter to Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
Labels: area:exchange

#6384 Adding syntax
  skype/skype-ps/skype/New-CsTeamsAppPermissionPolicy.md
  skype/skype-ps/skype/New-CsTeamsAppSetupPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsPinnedApp.md
  skype/skype-ps/skype/Remove-CsVideoInteropServiceProvider.md
Labels: area:teams / skype

#6392 Typo
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
Labels: area:teams / skype

#6410 Update Get-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
Labels: area:spo-powershell

#6409 Adding notice if db does not exists
  sharepoint/sharepoint-ps/sharepoint-server/Mount-SPContentDatabase.md
Labels: area:sp-server-powershell

#6405 Removing article as cmdlet was removed
  teams/teams-ps/teams/Get-TeamHelp.md
Labels: area:teams

#6436 Removed GCC High and DoD information
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
Labels: Microsoft submitter

#6438 Master to Live
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-server/Mount-SPContentDatabase.md
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/New-CsTeamsAppPermissionPolicy.md
  skype/skype-ps/skype/New-CsTeamsAppSetupPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsPinnedApp.md
  skype/skype-ps/skype/Remove-CsVideoInteropServiceProvider.md
  teams/teams-ps/teams/Get-TeamHelp.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#6394 Changing parameter name
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
Labels: area:spmt

#6439 Update Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#6440 Master to Live
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
  spmt/spmt-ps/spmt/Register-SPMTMigration.md
Labels: Microsoft submitter

#6443 ASL-chrisda to Master
  exchange/exchange-ps/exchange/Get-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/Get-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Remove-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/Remove-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Set-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/Set-AutoSensitivityLabelRule.md
Labels: Microsoft submitter

#6444 Master to Live
  exchange/exchange-ps/exchange/Get-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/Get-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Remove-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/Remove-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Set-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/Set-AutoSensitivityLabelRule.md
Labels: Microsoft submitter
