Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2021-03, with the labels that each got.

#7362 Update New-MigrationBatch.md
  exchange/exchange-ps/exchange/New-MigrationBatch.md
Labels: Microsoft submitter, area:exchange

#7356 Added example to Get-MailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-MailboxFolderStatistics.md
Labels: Sign off, area:exchange

#7323 Journal-chrisda to Master
  exchange/exchange-ps/exchange/New-DlpKeywordDictionary.md
  exchange/exchange-ps/exchange/Set-DlpKeywordDictionary.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/Set-RemoteDomain.md
Labels: Microsoft submitter, Sign off, area:exchange

#7324 Remove Exchange Online from EmailComposeMode list
  exchange/exchange-ps/exchange/Set-MailboxMessageConfiguration.md
Labels: Microsoft submitter, Sign off, area:exchange

#7325 Define description for InstantMessagingEnabled
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter, Sign off, area:exchange

#7330 ExtInO-chrisda to Master
  exchange/exchange-ps/exchange/Get-ExternalInOutlook.md
  exchange/exchange-ps/exchange/Set-ExternalInOutlook.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter, Sign off, area:exchange

#7332 Update Update-DatabaseSchema.md
  exchange/exchange-ps/exchange/Update-DatabaseSchema.md
Labels: Microsoft submitter, Sign off, area:exchange

#7338 Update Set-MailboxTransportService.md
  exchange/exchange-ps/exchange/Set-MailboxTransportService.md
Labels: Microsoft submitter, Sign off, area:exchange

#7369 Master to Live
  exchange/exchange-ps/exchange/Get-ExternalInOutlook.md
  exchange/exchange-ps/exchange/Get-MailboxFolderStatistics.md
  exchange/exchange-ps/exchange/New-DlpKeywordDictionary.md
  exchange/exchange-ps/exchange/New-MigrationBatch.md
  exchange/exchange-ps/exchange/Set-DlpKeywordDictionary.md
  exchange/exchange-ps/exchange/Set-ExternalInOutlook.md
  exchange/exchange-ps/exchange/Set-MailboxMessageConfiguration.md
  exchange/exchange-ps/exchange/Set-MailboxTransportService.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/Set-RemoteDomain.md
  exchange/exchange-ps/exchange/Set-TransportConfig.md
  exchange/exchange-ps/exchange/Update-DatabaseSchema.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
  skype/skype-ps/skype/New-CsTeamsFeedbackPolicy.md
  skype/skype-ps/skype/Set-CsTeamsFeedbackPolicy.md
  teams/teams-ps/teams/New-Team.md
Labels: Microsoft submitter

#7367 Added example to Get-EXOMailboxFolderStatistics.md
  exchange/exchange-ps/exchange/Get-EXOMailboxFolderStatistics.md
Labels: area:exchange

#7368 Update Get-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/Get-DlpCompliancePolicy.md
Labels: area:exchange

#7223 Adding new supported policy type
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter, area:teams

#7360 Update New-CsOnlineSession.md
  skype/skype-ps/skype/New-CsOnlineSession.md
Labels: area:teams / skype

#7377 ExO availability fixes
  exchange/exchange-ps/exchange/Complete-MigrationBatch.md
  exchange/exchange-ps/exchange/Export-QuarantineMessage.md
  exchange/exchange-ps/exchange/Export-TransportRuleCollection.md
  exchange/exchange-ps/exchange/Get-MessageTrackingReport.md
  exchange/exchange-ps/exchange/Get-MoveRequestStatistics.md
  exchange/exchange-ps/exchange/Get-QuarantineMessage.md
  exchange/exchange-ps/exchange/Get-TransportRule.md
  exchange/exchange-ps/exchange/Get-User.md
  exchange/exchange-ps/exchange/Import-TransportRuleCollection.md
  exchange/exchange-ps/exchange/New-MessageClassification.md
  exchange/exchange-ps/exchange/New-MigrationBatch.md
  exchange/exchange-ps/exchange/New-MigrationEndpoint.md
  exchange/exchange-ps/exchange/New-OMEConfiguration.md
  exchange/exchange-ps/exchange/New-OrganizationRelationship.md
  exchange/exchange-ps/exchange/New-RoleGroup.md
  exchange/exchange-ps/exchange/New-SafeAttachmentPolicy.md
  exchange/exchange-ps/exchange/New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/New-TransportRule.md
  exchange/exchange-ps/exchange/New-UnifiedGroup.md
  exchange/exchange-ps/exchange/Remove-PublicFolder.md
  exchange/exchange-ps/exchange/Set-MailUser.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
  exchange/exchange-ps/exchange/Set-MigrationConfig.md
  exchange/exchange-ps/exchange/Set-MigrationEndpoint.md
  exchange/exchange-ps/exchange/Set-OMEConfiguration.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/Set-OrganizationRelationship.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/Set-PerimeterConfig.md
  exchange/exchange-ps/exchange/Set-RemoteDomain.md
  exchange/exchange-ps/exchange/Set-RoleGroup.md
  exchange/exchange-ps/exchange/Set-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/Set-TransportRule.md
  exchange/exchange-ps/exchange/Set-UnifiedGroup.md
  exchange/exchange-ps/exchange/Test-MigrationServerAvailability.md
Labels: Microsoft submitter

#7304 Update InventoryType param of Get-CsOnlineTelephoneNumber
  skype/skype-ps/skype/Get-CsOnlineTelephoneNumber.md
Labels: area:teams / skype

#7354 Result size limits
  skype/skype-ps/skype/Get-CsOnlineTelephoneNumber.md
Labels: area:teams / skype

#7353 Update Set-CsOnlineVoiceUser.md
  skype/skype-ps/skype/Set-CsOnlineVoiceUser.md
Labels: area:teams / skype

#7350 Remove OAA references
  skype/skype-ps/skype/New-CsOnlineSchedule.md
Labels: area:teams / skype

#7358 reflect createTemplateFromRequest -> TeamTemplate object transition
  teams/teams-ps/teams/Get-CsTeamTemplate.md
  teams/teams-ps/teams/New-CsTeamTemplate.md
  teams/teams-ps/teams/Remove-CsTeamTemplate.md
  teams/teams-ps/teams/Update-CsTeamTemplate.md
Labels: Microsoft submitter, area:teams

#7285 Update Set-SPOTenant.md
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOTenant.md
Labels: area:spo-powershell

#7315 Proposing adding a note for Region
  sharepoint/docs-conceptual/sharepoint-online/connect-sharepoint-online.md
Labels: area:spo-powershell

#7305 Updating with new param names
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteContentMove.md
Labels: area:spo-powershell

#7388 Chrisda to Master
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/basic-auth-connect-to-eop-powershell.md
  exchange/docs-conceptual/basic-auth-connect-to-exo-powershell.md
  exchange/docs-conceptual/basic-auth-connect-to-scc-powershell.md
  exchange/docs-conceptual/cmdlet-property-sets.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-exchange-servers-using-remote-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/docs-conceptual/control-remote-powershell-access-to-exchange-servers.md
  exchange/docs-conceptual/disable-access-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-cmdlet-syntax.md
  exchange/docs-conceptual/exchange-management-shell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online-protection-powershell.md
  exchange/docs-conceptual/filter-properties.md
  exchange/docs-conceptual/filters-v2.md
  exchange/docs-conceptual/find-exchange-cmdlet-permissions.md
  exchange/docs-conceptual/open-the-exchange-management-shell.md
  exchange/docs-conceptual/recipient-filters.md
  exchange/docs-conceptual/recipientfilter-properties.md
  exchange/docs-conceptual/scc-powershell.md
  exchange/docs-conceptual/use-update-exchangehelp.md
  exchange/docs-conceptual/v1-module-mfa-connect-to-exo-powershell.md
  exchange/docs-conceptual/v1-module-mfa-connect-to-scc-powershell.md
  exchange/docs-conceptual/values-for-custompropertynames-parameter.md
  exchange/exchange-ps/exchange/Add-RoleGroupMember.md
  exchange/exchange-ps/exchange/Get-Group.md
  exchange/exchange-ps/exchange/Get-Recipient.md
  exchange/exchange-ps/exchange/Get-User.md
  exchange/exchange-ps/exchange/New-ActivityAlert.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelPolicy.md
  exchange/exchange-ps/exchange/New-ComplianceSearch.md
  exchange/exchange-ps/exchange/New-ComplianceSearchAction.md
  exchange/exchange-ps/exchange/New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/New-DlpSensitiveInformationType.md
  exchange/exchange-ps/exchange/New-RetentionCompliancePolicy.md
  exchange/exchange-ps/exchange/New-RoleGroup.md
  exchange/exchange-ps/exchange/Remove-RoleGroup.md
  exchange/exchange-ps/exchange/Remove-RoleGroupMember.md
  exchange/exchange-ps/exchange/Set-ActivityAlert.md
  exchange/exchange-ps/exchange/Set-CaseHoldRule.md
  exchange/exchange-ps/exchange/Set-DlpSensitiveInformationType.md
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-LabelPolicy.md
  exchange/exchange-ps/exchange/Set-ProtectionAlert.md
  exchange/exchange-ps/exchange/Set-RoleGroup.md
  exchange/exchange-ps/exchange/Update-RoleGroupMember.md
Labels: Microsoft submitter

#7361 Update teams.md
  teams/teams-ps/teams/teams.md
Labels: area:teams

#7373 adding note to parameter
  teams/teams-ps/teams/Set-Team.md
Labels: area:teams

#7380 Clarifying
  sharepoint/sharepoint-ps/sharepoint-online/Stop-SPOUserAndContentMove.md
Labels: area:spo-powershell

#7390 Chrisda to Master
  exchange/exchange-ps/exchange/Delete-QuarantineMessage.md
  exchange/exchange-ps/exchange/Export-QuarantineMessage.md
  exchange/exchange-ps/exchange/Get-ComplianceRetentionEvent.md
  exchange/exchange-ps/exchange/Get-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/Get-DlpDetectionsReport.md
  exchange/exchange-ps/exchange/Get-DlpSensitiveInformationType.md
  exchange/exchange-ps/exchange/Get-Label.md
  exchange/exchange-ps/exchange/Get-MailFilterListReport.md
  exchange/exchange-ps/exchange/Get-QuarantineMessage.md
  exchange/exchange-ps/exchange/Get-QuarantineMessageHeader.md
  exchange/exchange-ps/exchange/Get-SupervisoryReviewActivity.md
  exchange/exchange-ps/exchange/New-AdminAuditLogSearch.md
  exchange/exchange-ps/exchange/New-ComplianceRetentionEvent.md
  exchange/exchange-ps/exchange/New-ComplianceSearch.md
  exchange/exchange-ps/exchange/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/New-DlpSensitiveInformationTypeRulePackage.md
  exchange/exchange-ps/exchange/New-Label.md
  exchange/exchange-ps/exchange/New-LabelPolicy.md
  exchange/exchange-ps/exchange/New-MailboxImportRequest.md
  exchange/exchange-ps/exchange/New-ProtectionAlert.md
  exchange/exchange-ps/exchange/New-RetentionComplianceRule.md
  exchange/exchange-ps/exchange/New-RoleGroup.md
  exchange/exchange-ps/exchange/New-SupervisoryReviewPolicyV2.md
  exchange/exchange-ps/exchange/New-SupervisoryReviewRule.md
  exchange/exchange-ps/exchange/Preview-QuarantineMessage.md
  exchange/exchange-ps/exchange/Release-QuarantineMessage.md
  exchange/exchange-ps/exchange/Remove-ComplianceRetentionEventType.md
  exchange/exchange-ps/exchange/Remove-LabelPolicy.md
  exchange/exchange-ps/exchange/Search-AdminAuditLog.md
  exchange/exchange-ps/exchange/Set-ComplianceSearch.md
  exchange/exchange-ps/exchange/Set-ComplianceSearchAction.md
  exchange/exchange-ps/exchange/Set-DlpComplianceRule.md
  exchange/exchange-ps/exchange/Set-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/Set-LabelPolicy.md
  exchange/exchange-ps/exchange/Set-ProtectionAlert.md
  exchange/exchange-ps/exchange/Set-SupervisoryReviewPolicyV2.md
  exchange/exchange-ps/exchange/Start-HistoricalSearch.md
Labels: Microsoft submitter

#7402 Chrisda to Master
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/exchange-ps/exchange/Enable-App.md
  exchange/exchange-ps/exchange/Get-WebServicesVirtualDirectory.md
  exchange/exchange-ps/exchange/New-AutoSensitivityLabelRule.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#7371 Update sharepoint-pnp-cmdlets.md
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
Labels: Microsoft submitter, area:pnp-powershell

#7420 Chrisda to Master
  exchange/exchange-ps/exchange/Get-ExternalInOutlook.md
  exchange/exchange-ps/exchange/Set-ExternalInOutlook.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
  exchange/exchange-ps/exchange/Set-MailboxDatabase.md
Labels: Microsoft submitter

#7421 Master to Live
  exchange/exchange-ps/exchange/Get-ExternalInOutlook.md
  exchange/exchange-ps/exchange/New-LabelPolicy.md
  exchange/exchange-ps/exchange/Set-ExternalInOutlook.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
  exchange/exchange-ps/exchange/Set-MailboxDatabase.md
Labels: Microsoft submitter

#7424 Update Set-MailboxRegionalConfiguration.md
  exchange/exchange-ps/exchange/Set-MailboxRegionalConfiguration.md
Labels: Microsoft submitter

#7426 Chrisda to Master
  exchange/exchange-ps/exchange/Get-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/New-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/New-Mailbox.md
  exchange/exchange-ps/exchange/New-MigrationBatch.md
  exchange/exchange-ps/exchange/New-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/Remove-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/Remove-PublicFolderAdministrativePermission.md
  exchange/exchange-ps/exchange/Set-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/Test-ApplicationAccessPolicy.md
Labels: Microsoft submitter

#7427 Chrisda to Master
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Enable-Mailbox.md
  exchange/exchange-ps/exchange/Enable-RemoteMailbox.md
  exchange/exchange-ps/exchange/Remove-PublicFolderAdministrativePermission.md
Labels: Microsoft submitter

#7428 Master to Live
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Enable-Mailbox.md
  exchange/exchange-ps/exchange/Enable-RemoteMailbox.md
  exchange/exchange-ps/exchange/Get-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/New-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/New-Mailbox.md
  exchange/exchange-ps/exchange/New-MigrationBatch.md
  exchange/exchange-ps/exchange/New-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/Remove-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/Remove-PublicFolderAdministrativePermission.md
  exchange/exchange-ps/exchange/Set-ApplicationAccessPolicy.md
  exchange/exchange-ps/exchange/Set-MailboxRegionalConfiguration.md
  exchange/exchange-ps/exchange/Test-ApplicationAccessPolicy.md
Labels: Microsoft submitter

#7436 Fixed docs.microsoft.com links
  exchange/docs-conceptual/basic-auth-connect-to-eop-powershell.md
  exchange/docs-conceptual/basic-auth-connect-to-exo-powershell.md
  exchange/docs-conceptual/basic-auth-connect-to-scc-powershell.md
  exchange/docs-conceptual/cmdlet-property-sets.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-exchange-servers-using-remote-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/docs-conceptual/control-remote-powershell-access-to-exchange-servers.md
  exchange/docs-conceptual/disable-access-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-cmdlet-syntax.md
  exchange/docs-conceptual/exchange-management-shell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online-protection-powershell.md
  exchange/docs-conceptual/filter-properties.md
  exchange/docs-conceptual/filters-v2.md
  exchange/docs-conceptual/find-exchange-cmdlet-permissions.md
  exchange/docs-conceptual/open-the-exchange-management-shell.md
  exchange/docs-conceptual/recipient-filters.md
  exchange/docs-conceptual/recipientfilter-properties.md
  exchange/docs-conceptual/scc-powershell.md
  exchange/docs-conceptual/use-update-exchangehelp.md
  exchange/docs-conceptual/v1-module-mfa-connect-to-exo-powershell.md
  exchange/docs-conceptual/v1-module-mfa-connect-to-scc-powershell.md
  exchange/docs-conceptual/values-for-custompropertynames-parameter.md
Labels: Microsoft submitter

#7437 Master to Live
  exchange/docs-conceptual/basic-auth-connect-to-eop-powershell.md
  exchange/docs-conceptual/basic-auth-connect-to-exo-powershell.md
  exchange/docs-conceptual/basic-auth-connect-to-scc-powershell.md
  exchange/docs-conceptual/cmdlet-property-sets.md
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/connect-to-exchange-online-protection-powershell.md
  exchange/docs-conceptual/connect-to-exchange-servers-using-remote-powershell.md
  exchange/docs-conceptual/connect-to-scc-powershell.md
  exchange/docs-conceptual/control-remote-powershell-access-to-exchange-servers.md
  exchange/docs-conceptual/disable-access-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-cmdlet-syntax.md
  exchange/docs-conceptual/exchange-management-shell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online-protection-powershell.md
  exchange/docs-conceptual/filter-properties.md
  exchange/docs-conceptual/filters-v2.md
  exchange/docs-conceptual/find-exchange-cmdlet-permissions.md
  exchange/docs-conceptual/open-the-exchange-management-shell.md
  exchange/docs-conceptual/recipient-filters.md
  exchange/docs-conceptual/recipientfilter-properties.md
  exchange/docs-conceptual/scc-powershell.md
  exchange/docs-conceptual/use-update-exchangehelp.md
  exchange/docs-conceptual/v1-module-mfa-connect-to-exo-powershell.md
  exchange/docs-conceptual/v1-module-mfa-connect-to-scc-powershell.md
  exchange/docs-conceptual/values-for-custompropertynames-parameter.md
Labels: Microsoft submitter

#7441 Typo fixes
  exchange/exchange-ps/exchange/Enable-Mailbox.md
  exchange/exchange-ps/exchange/Get-ActivityAlert.md
  exchange/exchange-ps/exchange/Get-AdministrativeUnit.md
  exchange/exchange-ps/exchange/Get-CASMailboxPlan.md
  exchange/exchange-ps/exchange/Get-DlpComplianceRule.md
  exchange/exchange-ps/exchange/Get-DlpDetailReport.md
  exchange/exchange-ps/exchange/Get-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/Get-MailTrafficATPReport.md
  exchange/exchange-ps/exchange/Get-MessageTrackingReport.md
  exchange/exchange-ps/exchange/Get-OnlineMeetingConfiguration.md
  exchange/exchange-ps/exchange/Get-PublicFolderMigrationRequestStatistics.md
  exchange/exchange-ps/exchange/Get-QueueDigest.md
  exchange/exchange-ps/exchange/Get-User.md
  exchange/exchange-ps/exchange/New-AdminAuditLogSearch.md
  exchange/exchange-ps/exchange/New-ClientAccessRule.md
  exchange/exchange-ps/exchange/New-InboundConnector.md
  exchange/exchange-ps/exchange/New-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/New-Label.md
  exchange/exchange-ps/exchange/New-LabelPolicy.md
  exchange/exchange-ps/exchange/Remove-DlpSensitiveInformationType.md
  exchange/exchange-ps/exchange/Remove-MailboxFolderPermission.md
  exchange/exchange-ps/exchange/Set-AccessToCustomerDataRequest.md
  exchange/exchange-ps/exchange/Set-AdminAuditLogConfig.md
  exchange/exchange-ps/exchange/Set-ClientAccessRule.md
  exchange/exchange-ps/exchange/Set-DlpSensitiveInformationType.md
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-MailboxServer.md
  exchange/exchange-ps/exchange/Set-PublicFolder.md
  exchange/exchange-ps/exchange/Set-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/Set-TransportServer.md
  exchange/exchange-ps/exchange/Set-UserBriefingConfig.md
Labels: Microsoft submitter, area:exchange

#7446 Update Get-MessageTraceDetail.md
  exchange/exchange-ps/exchange/Get-MessageTraceDetail.md
Labels: Microsoft submitter

#7431 Adding installation instructions
  whiteboard/docs-conceptual/overview.md
Labels: area:whiteboard

#7449 Publish 03/17/2021, 3:30 PM
  exchange/exchange-ps/exchange/Enable-Mailbox.md
  exchange/exchange-ps/exchange/Get-ActivityAlert.md
  exchange/exchange-ps/exchange/Get-AdministrativeUnit.md
  exchange/exchange-ps/exchange/Get-CASMailboxPlan.md
  exchange/exchange-ps/exchange/Get-DlpComplianceRule.md
  exchange/exchange-ps/exchange/Get-DlpDetailReport.md
  exchange/exchange-ps/exchange/Get-HostedContentFilterRule.md
  exchange/exchange-ps/exchange/Get-MailTrafficATPReport.md
  exchange/exchange-ps/exchange/Get-MessageTraceDetail.md
  exchange/exchange-ps/exchange/Get-MessageTrackingReport.md
  exchange/exchange-ps/exchange/Get-OnlineMeetingConfiguration.md
  exchange/exchange-ps/exchange/Get-PublicFolderMigrationRequestStatistics.md
  exchange/exchange-ps/exchange/Get-QueueDigest.md
  exchange/exchange-ps/exchange/Get-User.md
  exchange/exchange-ps/exchange/New-AdminAuditLogSearch.md
  exchange/exchange-ps/exchange/New-ClientAccessRule.md
  exchange/exchange-ps/exchange/New-InboundConnector.md
  exchange/exchange-ps/exchange/New-InformationBarrierPolicy.md
  exchange/exchange-ps/exchange/New-Label.md
  exchange/exchange-ps/exchange/New-LabelPolicy.md
  exchange/exchange-ps/exchange/Remove-DlpSensitiveInformationType.md
  exchange/exchange-ps/exchange/Remove-MailboxFolderPermission.md
  exchange/exchange-ps/exchange/Set-AccessToCustomerDataRequest.md
  exchange/exchange-ps/exchange/Set-AdminAuditLogConfig.md
  exchange/exchange-ps/exchange/Set-ClientAccessRule.md
  exchange/exchange-ps/exchange/Set-DlpSensitiveInformationType.md
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-MailboxServer.md
  exchange/exchange-ps/exchange/Set-PublicFolder.md
  exchange/exchange-ps/exchange/Set-PublicFolderMigrationRequest.md
  exchange/exchange-ps/exchange/Set-TransportServer.md
  exchange/exchange-ps/exchange/Set-UserBriefingConfig.md
  whiteboard/docs-conceptual/overview.md
Labels: Microsoft submitter

#7450 Parameter type '$true | $false' to 'Boolean'
  exchange/exchange-ps/exchange/Get-DlpComplianceRule.md
  exchange/exchange-ps/exchange/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/Set-DlpComplianceRule.md
Labels: Microsoft submitter

#7433 Adding more examples
  teams/teams-ps/teams/Connect-MicrosoftTeams.md
Labels: area:teams

#7456 3/18/2021 10:30 AM publish
  exchange/exchange-ps/exchange/Get-DlpComplianceRule.md
  exchange/exchange-ps/exchange/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/Set-DlpComplianceRule.md
  teams/teams-ps/teams/Connect-MicrosoftTeams.md
Labels: Microsoft submitter

#7459 Chrisda to Master
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/New-MailboxImportRequest.md
Labels: Microsoft submitter

#7432 Correcting typo
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOUserAndContentMoveState.md
Labels: area:spo-powershell

#7425 adding desc
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteContentMove.md
Labels: area:spo-powershell

#7405 Removed CallingLineIdentity as unsupported
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#7461 Publish 03/18/2021, 3:30 PM
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/New-MailboxImportRequest.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOUserAndContentMoveState.md
  sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteContentMove.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#7448 Adding new doc for TeamsNetworkRoamingPolicy
  skype/skype-ps/skype/Get-CsTeamsNetworkRoamingPolicy.md
  skype/skype-ps/skype/New-CsTeamsNetworkRoamingPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsNetworkRoamingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsNetworkRoamingPolicy.md
Labels: area:teams / skype

#7465 Publish 03/19/2021, 3:30 PM
  skype/skype-ps/skype/Get-CsTeamsNetworkRoamingPolicy.md
  skype/skype-ps/skype/New-CsTeamsNetworkRoamingPolicy.md
  skype/skype-ps/skype/Remove-CsTeamsNetworkRoamingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsNetworkRoamingPolicy.md
Labels: Microsoft submitter

#7467 Chrisda to Master
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/exchange-ps/exchange/Disable-AntiPhishRule.md
  exchange/exchange-ps/exchange/Disable-Mailbox.md
  exchange/exchange-ps/exchange/Get-ActiveSyncDeviceAutoblockThreshold.md
  exchange/exchange-ps/exchange/Get-MonitoringItemHelp.md
  exchange/exchange-ps/exchange/Get-OutboundConnector.md
  exchange/exchange-ps/exchange/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/New-EdgeSubscription.md
  exchange/exchange-ps/exchange/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/New-MigrationBatch.md
  exchange/exchange-ps/exchange/New-ReceiveConnector.md
  exchange/exchange-ps/exchange/Remove-OrganizationSegment.md
  exchange/exchange-ps/exchange/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/Set-CASMailbox.md
  exchange/exchange-ps/exchange/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/Set-PopSettings.md
  exchange/exchange-ps/exchange/Set-UnifiedGroup.md
Labels: Microsoft submitter

#7466 Added note about ShowProgress in Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
Labels: area:exchange

#7462 Fixed typo in example 1 (New-MailboxRestoreRequest.md)
  exchange/exchange-ps/exchange/New-MailboxRestoreRequest.md
Labels: area:exchange

#7468 Master to Live
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Disable-AntiPhishRule.md
  exchange/exchange-ps/exchange/Disable-Mailbox.md
  exchange/exchange-ps/exchange/Get-ActiveSyncDeviceAutoblockThreshold.md
  exchange/exchange-ps/exchange/Get-MonitoringItemHelp.md
  exchange/exchange-ps/exchange/Get-OutboundConnector.md
  exchange/exchange-ps/exchange/New-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/New-EdgeSubscription.md
  exchange/exchange-ps/exchange/New-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/New-MigrationBatch.md
  exchange/exchange-ps/exchange/New-ReceiveConnector.md
  exchange/exchange-ps/exchange/Remove-OrganizationSegment.md
  exchange/exchange-ps/exchange/Set-AntiPhishPolicy.md
  exchange/exchange-ps/exchange/Set-CASMailbox.md
  exchange/exchange-ps/exchange/Set-HostedContentFilterPolicy.md
  exchange/exchange-ps/exchange/Set-Label.md
  exchange/exchange-ps/exchange/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/Set-PopSettings.md
  exchange/exchange-ps/exchange/Set-UnifiedGroup.md
Labels: Microsoft submitter

#7472 DLPv2-chrisda to Master
  exchange/exchange-ps/exchange/New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/Set-DlpCompliancePolicy.md
Labels: Microsoft submitter

#7443 [Hold until 3/22]New ODB DLP scoping changes
  exchange/exchange-ps/exchange/New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/Set-DlpCompliancePolicy.md
Labels: Microsoft submitter, area:exchange

#7473 Chrisda to Master
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
  exchange/exchange-ps/exchange/Get-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/Set-UnifiedAuditLogRetentionPolicy.md
Labels: Microsoft submitter

#7475 Master to Live
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  exchange/exchange-ps/exchange/Connect-IPPSSession.md
  exchange/exchange-ps/exchange/Get-UnifiedAuditLogRetentionPolicy.md
  exchange/exchange-ps/exchange/New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/Set-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/Set-UnifiedAuditLogRetentionPolicy.md
Labels: Microsoft submitter

#7396 Update Set-CsTeamsGuestMeetingConfiguration.md
  skype/skype-ps/skype/Set-CsTeamsGuestMeetingConfiguration.md
Labels: In review, Microsoft submitter, Sign off, area:teams / skype

#7476 Publish 03/22/2021, 3:30 PM
  skype/skype-ps/skype/Set-CsTeamsGuestMeetingConfiguration.md
Labels: Microsoft submitter

#7435 Adding propagation SLA
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: In review, Microsoft submitter, Sign off, area:teams

#7482 Publish 3/23/2021 10:30 AM PT
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#7440 Update Remove-SPOUserInfo.md
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOUserInfo.md
Labels: In review, Sign off, area:sp-server-powershell

#7447 Adding missing description
  skype/skype-ps/skype/Get-CsOnlineDialinConferencingPolicy.md
Labels: In review, Sign off, area:teams / skype

#7488 Publish 3/24/2021 10:30 AM PT
  sharepoint/sharepoint-ps/sharepoint-online/Remove-SPOUserInfo.md
  skype/skype-ps/skype/Get-CsOnlineDialinConferencingPolicy.md
Labels: Microsoft submitter

#7489 DLP-chrisda to Master
  exchange/exchange-ps/exchange/Get-PolicyConfig.md
  exchange/exchange-ps/exchange/New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/Set-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/Set-DlpComplianceRule.md
  exchange/exchange-ps/exchange/Set-PolicyConfig.md
Labels: Microsoft submitter

#7490 Master to Live
  exchange/exchange-ps/exchange/Get-PolicyConfig.md
  exchange/exchange-ps/exchange/New-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/New-DlpComplianceRule.md
  exchange/exchange-ps/exchange/Set-DlpCompliancePolicy.md
  exchange/exchange-ps/exchange/Set-DlpComplianceRule.md
  exchange/exchange-ps/exchange/Set-PolicyConfig.md
Labels: Microsoft submitter

#7477 Update Get-Team.md
  teams/teams-ps/teams/Get-Team.md
Labels: Microsoft submitter, area:teams

#7494 Update New-Label.md
  exchange/exchange-ps/exchange/New-Label.md
Labels: Microsoft submitter

#7502 Publish 3/26/2021 10:30 AM PT
  exchange/docfx.json
  officewebapps/docfx.json
  sharepoint/docfx.json
  skype/docfx.json
  spmt/docfx.json
  teams/docfx.json
Labels: Microsoft submitter

#7523 Chrisda to Master
  exchange/exchange-ps/exchange/Get-PhishFilterPolicy.md
  exchange/exchange-ps/exchange/Get-SpoofMailReport.md
Labels: Microsoft submitter

#7524 Master to Live
  exchange/exchange-ps/exchange/Get-PhishFilterPolicy.md
  exchange/exchange-ps/exchange/Get-SpoofMailReport.md
Labels: Microsoft submitter
