Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2021-10, with the labels that each got.

#8405 Publish 10/01/2021, 10:30 AM
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: Microsoft submitter

#8382 Update Get-CsOnlineDialInConferencingUserState.md
  skype/skype-ps/skype/Get-CsOnlineDialInConferencingUserState.md
Labels: area:teams / skype, Microsoft submitter

#8381 Update Get-CsOnlineDialInConferencingUserInfo.md
  skype/skype-ps/skype/Get-CsOnlineDialInConferencingUserInfo.md
Labels: area:teams / skype, Microsoft submitter

#8400 Update Move-CsUser.md
  skype/skype-ps/skype/Move-CsUser.md
Labels: area:teams / skype, Microsoft submitter

#8402 fixing cmdlet rendering
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: area:teams

#8404 Remove *-CsTenantBlockedNumberExceptionPattern cmdlet docs
  skype/skype-ps/skype/Get-CsTenantBlockedNumberExceptionPattern.md
  skype/skype-ps/skype/New-CsTenantBlockedNumberExceptionPattern.md
  skype/skype-ps/skype/Remove-CsTenantBlockedNumberExceptionPattern.md
  skype/skype-ps/skype/Set-CsTenantBlockedNumberExceptionPattern.md
Labels: area:teams / skype, Microsoft submitter

#8403 Aligning to
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:teams / skype

#8407 Update Set-OutboundConnector.md
  exchange/exchange-ps/exchange/Set-OutboundConnector.md
Labels: area:exchange, Microsoft submitter

#8408 Update New-OutboundConnector.md
  exchange/exchange-ps/exchange/New-OutboundConnector.md
Labels: area:exchange, Microsoft submitter

#8416 Publish 10/04/2021, 10:30 AM
  exchange/exchange-ps/exchange/New-OutboundConnector.md
  exchange/exchange-ps/exchange/Set-OutboundConnector.md
  skype/skype-ps/skype/Get-CsOnlineDialInConferencingUserInfo.md
  skype/skype-ps/skype/Get-CsOnlineDialInConferencingUserState.md
  skype/skype-ps/skype/Get-CsTenantBlockedNumberExceptionPattern.md
  skype/skype-ps/skype/Move-CsUser.md
  skype/skype-ps/skype/New-CsTenantBlockedNumberExceptionPattern.md
  skype/skype-ps/skype/Remove-CsTenantBlockedNumberExceptionPattern.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTenantBlockedNumberExceptionPattern.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter

#8339 Update New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/New-SafeLinksPolicy.md
Labels: area:exchange, Microsoft submitter

#8340 Update Set-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/Set-SafeLinksPolicy.md
Labels: area:exchange, Microsoft submitter

#8418 Publish 10/05/2021, 10:30 AM
  exchange/exchange-ps/exchange/New-SafeLinksPolicy.md
  exchange/exchange-ps/exchange/Set-SafeLinksPolicy.md
Labels: Microsoft submitter

#8410 Clarifying default value for MaskBits - Closes #8350
  skype/skype-ps/skype/New-CsTenantTrustedIPAddress.md
Labels: area:teams / skype

#8417 SubscriptionEnabled
  exchange/exchange-ps/exchange/Set-UnifiedGroup.md
Labels: area:exchange, Microsoft submitter

#8423 Chrisda to Master
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Test-ActiveSyncConnectivity.md
Labels: Microsoft submitter
