Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2021-02, with the labels that each got.

#7179 Fix note and param type
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:teams / skype

#7177 Adding missing params
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: area:teams / skype

#7199 Chrisda to Master
  exchange/docs-conceptual/recipient-filters.md
  exchange/docs-conceptual/recipientfilter-properties.md
  exchange/exchange-ps/exchange/Set-User.md
Labels: Microsoft submitter

#7203 Master to Live
  exchange/docs-conceptual/recipient-filters.md
  exchange/docs-conceptual/recipientfilter-properties.md
  exchange/exchange-ps/exchange/Set-User.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
  teams/teams-ps/teams/Get-CsBatchPolicyAssignmentOperation.md
  teams/teams-ps/teams/New-CsBatchPolicyAssignmentOperation.md
Labels: Microsoft submitter

#7175 Added metadata to SharePoint PnP Cmdlets
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
Labels: Microsoft submitter, area:pnp-powershell

#7204 Master to Live
  sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md
Labels: Microsoft submitter

#7106 improving detailed
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
Labels: area:spo-powershell

#7218 Adding NumberOfThreads param
  teams/teams-ps/teams/Get-Team.md
Labels: area:teams

#7219 Adding missing parameters
  teams/teams-ps/teams/Connect-MicrosoftTeams.md
Labels: area:teams

#7220 Adding missing parameters
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
Labels: area:teams

#7221 Adding missing params
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
Labels: area:teams

#7222 Adding missing parameters
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
Labels: area:teams

#7224 Update Get-SPOSite.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
Labels: Microsoft submitter, area:spo-powershell

#7232 Adding DisableAppInteractionForAnonymousUsers
  skype/skype-ps/skype/Set-CsTeamsMeetingConfiguration.md
Labels: area:teams / skype

#7230 Adding missing params
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
Labels: area:teams / skype

#7244 ExOv205-chrisda to Master
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
Labels: Microsoft submitter

#7245 Master to Live
  exchange/docs-conceptual/connect-to-exchange-online-powershell.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
  sharepoint/sharepoint-ps/sharepoint-online/Get-SPOSite.md
  skype/skype-ps/skype/Set-CsTeamsCallingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingConfiguration.md
  teams/teams-ps/teams/Connect-MicrosoftTeams.md
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
  teams/teams-ps/teams/Get-Team.md
  teams/teams-ps/teams/New-CsGroupPolicyAssignment.md
  teams/teams-ps/teams/Remove-CsGroupPolicyAssignment.md
Labels: Microsoft submitter

#7231 Adding missing parameters
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
Labels: area:teams / skype

#7236 Clarifying use
  skype/skype-ps/skype/New-CsOnlineAudioFile.md
Labels: area:teams / skype

#7211 remove content_git_url which can be auto generated
  spmt/spmt-ps/spmt/spmt.md
Labels: Microsoft submitter

#7235 [Do not merge yet] Update policy package documentation
  teams/teams-ps/teams/Grant-CsGroupPolicyPackageAssignment.md
  teams/teams-ps/teams/New-CsCustomPolicyPackage.md
  teams/teams-ps/teams/Remove-CsCustomPolicyPackage.md
  teams/teams-ps/teams/Update-CsCustomPolicyPackage.md
Labels: Microsoft submitter, area:teams

#7242 Update Get-UserAnalyticsConfig.md
  exchange/exchange-ps/exchange/Get-UserAnalyticsConfig.md
Labels: Microsoft submitter

#7243 Update Set-UserAnalyticsConfig.md
  exchange/exchange-ps/exchange/Set-UserAnalyticsConfig.md
Labels: Microsoft submitter

#6948 Update Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/Get-MailDetailATPReport.md
Labels: Microsoft submitter, area:exchange

#7171 Update New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/New-MailboxRestoreRequest.md
Labels: area:exchange

#7234 Update Set-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/Set-MailboxRestoreRequest.md
Labels: area:exchange

#7246 Chrisda to Master
  exchange/exchange-ps/exchange/Get-UserAnalyticsConfig.md
  exchange/exchange-ps/exchange/New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/Set-TenantAnalyticsConfig.md
  exchange/exchange-ps/exchange/Set-UserAnalyticsConfig.md
Labels: Microsoft submitter

#7247 Master to Live
  exchange/exchange-ps/exchange/Get-MailDetailATPReport.md
  exchange/exchange-ps/exchange/Get-UserAnalyticsConfig.md
  exchange/exchange-ps/exchange/New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/Set-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/Set-TenantAnalyticsConfig.md
  exchange/exchange-ps/exchange/Set-UserAnalyticsConfig.md
  skype/skype-ps/skype/New-CsOnlineAudioFile.md
  skype/skype-ps/skype/New-CsTeamsMeetingPolicy.md
  skype/skype-ps/skype/Set-CsTeamsMeetingPolicy.md
  spmt/spmt-ps/spmt/spmt.md
  teams/teams-ps/teams/Grant-CsGroupPolicyPackageAssignment.md
  teams/teams-ps/teams/New-CsCustomPolicyPackage.md
  teams/teams-ps/teams/Remove-CsCustomPolicyPackage.md
  teams/teams-ps/teams/Update-CsCustomPolicyPackage.md
Labels: Microsoft submitter

#7249 Chrisda to Master
  exchange/exchange-ps/exchange/Get-ManagedContentSettings.md
  exchange/exchange-ps/exchange/Get-ManagedFolder.md
  exchange/exchange-ps/exchange/Get-ManagedFolderMailboxPolicy.md
  exchange/exchange-ps/exchange/New-ActiveSyncMailboxPolicy.md
  exchange/exchange-ps/exchange/New-DistributionGroup.md
  exchange/exchange-ps/exchange/New-MailContact.md
  exchange/exchange-ps/exchange/New-MailMessage.md
  exchange/exchange-ps/exchange/New-ManagedContentSettings.md
  exchange/exchange-ps/exchange/New-ManagedFolder.md
  exchange/exchange-ps/exchange/New-ManagedFolderMailboxPolicy.md
  exchange/exchange-ps/exchange/New-PublicFolderDatabase.md
  exchange/exchange-ps/exchange/New-RemoteMailbox.md
  exchange/exchange-ps/exchange/New-RoleGroup.md
  exchange/exchange-ps/exchange/New-UMDialPlan.md
  exchange/exchange-ps/exchange/New-UMIPGateway.md
  exchange/exchange-ps/exchange/New-UMMailboxPolicy.md
  exchange/exchange-ps/exchange/Remove-ManagementRoleAssignment.md
  exchange/exchange-ps/exchange/Remove-ManagementRoleEntry.md
  exchange/exchange-ps/exchange/Remove-ManagementScope.md
  exchange/exchange-ps/exchange/Remove-RoleGroup.md
  exchange/exchange-ps/exchange/Set-AdminAuditLogConfig.md
  exchange/exchange-ps/exchange/Set-CASMailbox.md
  exchange/exchange-ps/exchange/Set-EcpVirtualDirectory.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
  exchange/exchange-ps/exchange/Set-ManagementScope.md
  exchange/exchange-ps/exchange/Set-RemoteDomain.md
  exchange/exchange-ps/exchange/Set-ThrottlingPolicyAssociation.md
  exchange/exchange-ps/exchange/Set-TransportConfig.md
  exchange/exchange-ps/exchange/Set-UMDialPlan.md
  exchange/exchange-ps/exchange/Set-UMMailbox.md
  exchange/exchange-ps/exchange/Set-WebServicesVirtualDirectory.md
Labels: Microsoft submitter

#7250 Master to Live
  exchange/exchange-ps/exchange/Get-ManagedContentSettings.md
  exchange/exchange-ps/exchange/Get-ManagedFolder.md
  exchange/exchange-ps/exchange/Get-ManagedFolderMailboxPolicy.md
  exchange/exchange-ps/exchange/New-ActiveSyncMailboxPolicy.md
  exchange/exchange-ps/exchange/New-DistributionGroup.md
  exchange/exchange-ps/exchange/New-MailContact.md
  exchange/exchange-ps/exchange/New-MailMessage.md
  exchange/exchange-ps/exchange/New-ManagedContentSettings.md
  exchange/exchange-ps/exchange/New-ManagedFolder.md
  exchange/exchange-ps/exchange/New-ManagedFolderMailboxPolicy.md
  exchange/exchange-ps/exchange/New-PublicFolderDatabase.md
  exchange/exchange-ps/exchange/New-RemoteMailbox.md
  exchange/exchange-ps/exchange/New-RoleGroup.md
  exchange/exchange-ps/exchange/New-UMDialPlan.md
  exchange/exchange-ps/exchange/New-UMIPGateway.md
  exchange/exchange-ps/exchange/New-UMMailboxPolicy.md
  exchange/exchange-ps/exchange/Remove-ManagementRoleAssignment.md
  exchange/exchange-ps/exchange/Remove-ManagementRoleEntry.md
  exchange/exchange-ps/exchange/Remove-ManagementScope.md
  exchange/exchange-ps/exchange/Remove-RoleGroup.md
  exchange/exchange-ps/exchange/Set-AdminAuditLogConfig.md
  exchange/exchange-ps/exchange/Set-CASMailbox.md
  exchange/exchange-ps/exchange/Set-EcpVirtualDirectory.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
  exchange/exchange-ps/exchange/Set-ManagementScope.md
  exchange/exchange-ps/exchange/Set-RemoteDomain.md
  exchange/exchange-ps/exchange/Set-ThrottlingPolicyAssociation.md
  exchange/exchange-ps/exchange/Set-TransportConfig.md
  exchange/exchange-ps/exchange/Set-UMDialPlan.md
  exchange/exchange-ps/exchange/Set-UMMailbox.md
  exchange/exchange-ps/exchange/Set-WebServicesVirtualDirectory.md
Labels: Microsoft submitter

#7253 Update Add-SPOOrgAssetsLibrary.md
  sharepoint/sharepoint-ps/sharepoint-online/Add-SPOOrgAssetsLibrary.md
Labels: Microsoft submitter

#7238 Adding Set-SPODisableSpacesActivation
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPODisableSpacesActivation.md
Labels: area:spo-powershell

#7259 Updating for the PnP cmdlet index
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPODisableSpacesActivation.md
  sharepoint/sharepoint-ps/sharepoint-pnp/sharepoint-pnp.md
Labels: Microsoft submitter

#7239 Correct example
  skype/skype-ps/skype/Remove-CsOnlineApplicationInstanceAssociation.md
Labels: area:teams / skype

#7228 ProtectionLevelName parameter is missing
  sharepoint/sharepoint-ps/sharepoint-online/Set-SPOSite.md
Labels: area:spo-powershell

#7279 Update Set-MyAnalyticsFeatureConfig.md
  exchange/exchange-ps/exchange/Set-MyAnalyticsFeatureConfig.md
Labels: Microsoft submitter

#7278 Update Get-MyAnalyticsFeatureConfig.md
  exchange/exchange-ps/exchange/Get-MyAnalyticsFeatureConfig.md
Labels: Microsoft submitter

#7281 2016 fixes
  exchange/exchange-ps/exchange/Get-ComplianceSearch.md
  exchange/exchange-ps/exchange/Get-ComplianceSearchAction.md
  exchange/exchange-ps/exchange/Get-ComplianceSecurityFilter.md
  exchange/exchange-ps/exchange/Get-EligibleDistributionGroupForMigration.md
  exchange/exchange-ps/exchange/Get-LogonStatistics.md
  exchange/exchange-ps/exchange/Get-Mailbox.md
  exchange/exchange-ps/exchange/Get-ManagementRoleAssignment.md
  exchange/exchange-ps/exchange/Get-User.md
  exchange/exchange-ps/exchange/Invoke-ComplianceSearchActionStep.md
  exchange/exchange-ps/exchange/New-AuthServer.md
  exchange/exchange-ps/exchange/New-ComplianceSearch.md
  exchange/exchange-ps/exchange/New-ComplianceSearchAction.md
  exchange/exchange-ps/exchange/New-ComplianceSecurityFilter.md
  exchange/exchange-ps/exchange/New-Mailbox.md
  exchange/exchange-ps/exchange/New-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/New-MigrationBatch.md
  exchange/exchange-ps/exchange/Remove-ComplianceSecurityFilter.md
  exchange/exchange-ps/exchange/Remove-Mailbox.md
  exchange/exchange-ps/exchange/Remove-MailboxPermission.md
  exchange/exchange-ps/exchange/Remove-MigrationEndpoint.md
  exchange/exchange-ps/exchange/Set-AuthServer.md
  exchange/exchange-ps/exchange/Set-ComplianceSearch.md
  exchange/exchange-ps/exchange/Set-ComplianceSearchAction.md
  exchange/exchange-ps/exchange/Set-ComplianceSecurityFilter.md
  exchange/exchange-ps/exchange/Set-DatabaseAvailabilityGroup.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
  exchange/exchange-ps/exchange/Set-MailboxAutoReplyConfiguration.md
  exchange/exchange-ps/exchange/Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/Set-MalwareFilterPolicy.md
  exchange/exchange-ps/exchange/Set-ManagementRoleAssignment.md
  exchange/exchange-ps/exchange/Set-MigrationConfig.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/exchange/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/exchange/Set-TransportService.md
  exchange/exchange-ps/exchange/Test-MigrationServerAvailability.md
  exchange/exchange-ps/exchange/Test-OutlookWebServices.md
  exchange/exchange-ps/exchange/Test-WebServicesConnectivity.md
  exchange/exchange-ps/exchange/Update-MailboxDatabaseCopy.md
Labels: Microsoft submitter

#7280 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
Labels: Microsoft submitter

#7284 Minor formatting fixes
  exchange/exchange-ps/exchange/Get-MyAnalyticsFeatureConfig.md
  exchange/exchange-ps/exchange/Set-MyAnalyticsFeatureConfig.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
Labels: Microsoft submitter

#7289 Added more information about New-RetentionComplianceRule to New-RetentionCompliancePolicy.md
  exchange/exchange-ps/exchange/New-RetentionCompliancePolicy.md
Labels: area:exchange

#7294 Added sentence about Recoverable Items folder using the IncludeFolders parameter to New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/New-MailboxExportRequest.md
Labels: area:exchange

#7295 Update Set-MailUser.md
  exchange/exchange-ps/exchange/Set-MailUser.md
Labels: Microsoft submitter, area:exchange

#7043 add teams templates documentation
  teams/teams-ps/teams/Get-CsTeamTemplate.md
  teams/teams-ps/teams/Get-CsTeamTemplateList.md
  teams/teams-ps/teams/New-CsTeamTemplate.md
  teams/teams-ps/teams/Remove-CsTeamTemplate.md
  teams/teams-ps/teams/Update-CsTeamTemplate.md
Labels: area:teams

#7301 Master to Live
  exchange/exchange-ps/exchange/Get-DlpDetailReport.md
  exchange/exchange-ps/exchange/New-MailboxExportRequest.md
  exchange/exchange-ps/exchange/New-RetentionCompliancePolicy.md
  exchange/exchange-ps/exchange/Set-MailUser.md
  teams/teams-ps/teams/Get-CsTeamTemplate.md
  teams/teams-ps/teams/Get-CsTeamTemplateList.md
  teams/teams-ps/teams/New-CsTeamTemplate.md
  teams/teams-ps/teams/Remove-CsTeamTemplate.md
  teams/teams-ps/teams/Update-CsTeamTemplate.md
Labels: Microsoft submitter

#7265 Replacing sintax with syntax (2x) - Closing #7233
  skype/skype-ps/skype/Set-CsSlaConfiguration.md
Labels: area:teams / skype

#7237 Update Get-CsUserPolicyAssignment.md
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
Labels: area:teams

#7308 Update Set-Place.md
  exchange/exchange-ps/exchange/Set-Place.md
Labels: Microsoft submitter

#7312 Master to Live
  exchange/docs-conceptual/disable-access-to-exchange-online-powershell.md
  exchange/exchange-ps/exchange/Set-Place.md
  skype/skype-ps/skype/Set-CsSlaConfiguration.md
  teams/teams-ps/teams/Get-CsUserPolicyAssignment.md
Labels: Microsoft submitter

#7297 Adding note about cba
  teams/teams-ps/teams/New-Team.md
Labels: area:teams

#7298 Adding note
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
Labels: area:teams

#7300 Adding missing params
  skype/skype-ps/skype/New-CsTeamsFeedbackPolicy.md
  skype/skype-ps/skype/Set-CsTeamsFeedbackPolicy.md
Labels: area:teams / skype

#7317 Journal-chrisda to Master
  exchange/exchange-ps/exchange/Set-TransportConfig.md
Labels: Microsoft submitter
