Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2024-11, with the labels that each got.

#12332 Update Set-CsCallQueue.md
  teams/teams-ps/teams/New-CsAutoAttendant.md
  teams/teams-ps/teams/New-CsCallQueue.md
  teams/teams-ps/teams/Set-CsCallQueue.md
Labels: Microsoft submitter

#12336 Update New-MailboxRestoreRequest.md
  exchange/exchange-ps/exchange/New-MailboxRestoreRequest.md
Labels: Microsoft submitter

#12337 publish main to live, 11/4/24, 3:30 pm
  exchange/exchange-ps/exchange/New-MailboxRestoreRequest.md
  teams/teams-ps/teams/New-CsAutoAttendant.md
  teams/teams-ps/teams/New-CsCallQueue.md
  teams/teams-ps/teams/Set-CsCallQueue.md
Labels: Microsoft submitter

#12338 Grace-chrisda to Main
  exchange/exchange-ps/exchange/Expedite-Delicensing.md
  exchange/exchange-ps/exchange/Get-PendingDelicenseUser.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter

#12339 Publish main to live, Tuesday 10:30 AM PST, 11/05
  exchange/exchange-ps/exchange/Expedite-Delicensing.md
  exchange/exchange-ps/exchange/Get-PendingDelicenseUser.md
  exchange/exchange-ps/exchange/Set-OrganizationConfig.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter

#12345 Publish main to live, Wednesday 3:30PM PST, 11/06
  exchange/exchange-ps/exchange/Get-EXOMailboxStatistics.md
  exchange/exchange-ps/exchange/Set-UserPhoto.md
Labels: Microsoft submitter

#12346 Update Get-IPv6StatusForAcceptedDomain.md
  exchange/exchange-ps/exchange/Get-IPv6StatusForAcceptedDomain.md
Labels: Microsoft submitter

#12343 Update Get-CsExportAcquiredPhoneNumberStatus.md
  teams/teams-ps/teams/Get-CsExportAcquiredPhoneNumberStatus.md
Labels: In review, Sign off

#12349 Publish main to live, 11/07, 11:00 AM IST
  exchange/exchange-ps/exchange/Get-IPv6StatusForAcceptedDomain.md
  teams/teams-ps/teams/Get-CsExportAcquiredPhoneNumberStatus.md
Labels: Microsoft submitter

#12314 Patch 794734
  skype/skype-ps/skype/Update-CsAdminRole.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12312 Patch 56132
  skype/skype-ps/skype/Test-CsXmppIM.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12311 Patch 255203
  skype/skype-ps/skype/Test-CsVoiceNormalizationRule.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12310 Patch 35943
  skype/skype-ps/skype/Test-CsPersistentChatMessage.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12309 Patch 346253
  skype/skype-ps/skype/Test-CsMcxPushNotification.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12308 Patch 826039
  skype/skype-ps/skype/Test-CsMcxP2PIM.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12307 Patch 84526
  skype/skype-ps/skype/Test-CsMcxConference.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12306 Patch 56092
  skype/skype-ps/skype/Set-CsXmppGatewayConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12305 Patch 943934
  skype/skype-ps/skype/Set-CsXmppAllowedPartner.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12304 Patch 606193
  skype/skype-ps/skype/Set-CsUserAcp.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12302 Patch 392619
  skype/skype-ps/skype/Set-CsUCPhoneConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12348 Update Set-MailboxCalendarConfiguration.md
  exchange/exchange-ps/exchange/Set-MailboxCalendarConfiguration.md
Labels: Microsoft submitter

#12350 Publish main to live, Thursday 10:30 AM PST, 11/07
  exchange/exchange-ps/exchange/Set-MailboxCalendarConfiguration.md
Labels: Microsoft submitter

#12300 Patch 143025
  skype/skype-ps/skype/Set-CsTeamsUpgradePolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12299 Patch 436130
  skype/skype-ps/skype/Set-CsTeamsUpgradeConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12298 Patch 199746
  skype/skype-ps/skype/Set-CsSlaConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12297 Patch 384607
  skype/skype-ps/skype/Set-CsPushNotificationConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12295 Patch 542162
  skype/skype-ps/skype/Set-CsPlatformServiceSettings.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12294 Patch 803476
  skype/skype-ps/skype/Set-CsPersistentChatState.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12293 Patch 486525
  skype/skype-ps/skype/Set-CsPersistentChatRoom.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12292 Patch 174556
  skype/skype-ps/skype/Set-CsPersistentChatPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12291 Patch 322570
  skype/skype-ps/skype/Set-CsPersistentChatConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12289 Patch 912309
  skype/skype-ps/skype/Set-CsPersistentChatComplianceConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12288 Patch 728127
  skype/skype-ps/skype/Set-CsPersistentChatCategory.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12287 Patch 451711
  skype/skype-ps/skype/Set-CsPersistentChatAddin.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12286 Patch 451198
  skype/skype-ps/skype/Set-CsPersistentChatActiveServer.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12285 Patch 144240
  skype/skype-ps/skype/Set-CsOAuthConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12284 Patch 922428
  skype/skype-ps/skype/Set-CsNetworkConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12283 Patch 178392
  skype/skype-ps/skype/Set-CsMobilityPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12316 Update Cmdlet Docs
  teams/teams-ps/teams/New-CsExternalAccessPolicy.md
  teams/teams-ps/teams/New-CsTeamsAppSetupPolicy.md
  teams/teams-ps/teams/New-CsTeamsMessagingPolicy.md
  teams/teams-ps/teams/Set-CsExternalAccessPolicy.md
  teams/teams-ps/teams/Set-CsTeamsAppSetupPolicy.md
  teams/teams-ps/teams/Set-CsTeamsMessagingPolicy.md
  teams/teams-ps/teams/set-csteamsmessagingconfiguration.md
Labels: area:teams / skype, Microsoft submitter

#12282 Patch 179376
  skype/skype-ps/skype/Set-CsMeetingRoom.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12281 Patch 892514
  skype/skype-ps/skype/Set-CsMeetingConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12280 Patch 795606
  skype/skype-ps/skype/Set-CsMcxConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12278 Patch 19886
  skype/skype-ps/skype/Set-CsIPPhonePolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12277 Patch 213346
  skype/skype-ps/skype/Set-CsExternalAccessPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12276 Patch 610513
  skype/skype-ps/skype/Set-CsConferencingPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12275 Patch 738190
  skype/skype-ps/skype/Set-CsClientPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12274 Patch 476890
  skype/skype-ps/skype/Set-CsAutodiscoverConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12273 Patch 226753
  skype/skype-ps/skype/Remove-CsXmppAllowedPartner.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12272 Patch 666290
  skype/skype-ps/skype/Remove-CsUserAcp.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12271 Patch 865370
  skype/skype-ps/skype/Remove-CsTeamsUpgradePolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12270 Patch 421815
  skype/skype-ps/skype/Remove-CsSlaDelegates.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12269 Patch 500801
  skype/skype-ps/skype/Remove-CsSlaConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12268 Patch 99
  skype/skype-ps/skype/Remove-CsPushNotificationConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12267 Patch 98
  skype/skype-ps/skype/Remove-CsPlatformServiceSettings.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12266 Patch 97
  skype/skype-ps/skype/Remove-CsPersistentChatConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12265 Patch 96
  skype/skype-ps/skype/Remove-CsPersistentChatRoom.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12264 Patch 94
  skype/skype-ps/skype/Remove-CsPersistentChatMessage.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12262 Patch 90
  skype/skype-ps/skype/Remove-CsPersistentChatComplianceConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12261 Patch 89
  skype/skype-ps/skype/Remove-CsPersistentChatCategory.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12260 Patch 88
  skype/skype-ps/skype/Remove-CsPersistentChatAddin.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12258 Patch 86
  skype/skype-ps/skype/Remove-CsMcxConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12257 Patch 85
  skype/skype-ps/skype/Remove-CsExternalAccessPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12255 Patch 83
  skype/skype-ps/skype/Remove-CsClientPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12254 Patch 82
  skype/skype-ps/skype/Remove-CsAutodiscoverConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12253 Patch 81
  skype/skype-ps/skype/New-CsWebOrigin.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12252 Patch 80
  skype/skype-ps/skype/New-CsXmppAllowedPartner.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12251 Patch 79
  skype/skype-ps/skype/New-CsWebLink.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12250 Patch 78
  skype/skype-ps/skype/New-CsVoiceRegex.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12249 Patch 77
  skype/skype-ps/skype/New-CsVoiceNormalizationRule.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12248 Patch 76
  skype/skype-ps/skype/New-CsTeamsUpgradePolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12246 Patch 74
  skype/skype-ps/skype/New-CsPlatformServiceSettings.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12245 Patch 73
  skype/skype-ps/skype/New-CsPersistentChatRoom.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12244 Patch 72
  skype/skype-ps/skype/New-CsPersistentChatPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12243 Patch 71
  skype/skype-ps/skype/New-CsPersistentChatEndpoint.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12242 Patch 70
  skype/skype-ps/skype/New-CsPersistentChatConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12241 Patch 69
  skype/skype-ps/skype/New-CsPersistentChatComplianceConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12238 Patch 66
  skype/skype-ps/skype/New-CsNetworkMediaBypassConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12236 Patch 64
  skype/skype-ps/skype/New-CsMcxConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12235 Patch 63
  skype/skype-ps/skype/New-CsConferencingPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12234 Patch 62
  skype/skype-ps/skype/New-CsClientPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12233 Patch 61
  skype/skype-ps/skype/New-CsAutodiscoverConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12232 Patch 60
  skype/skype-ps/skype/Move-CsUser.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12230 Patch 58
  skype/skype-ps/skype/Import-CsPersistentChatData.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12229 Patch 57
  skype/skype-ps/skype/Grant-CsTeamsUpgradePolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12228 Patch 56
  skype/skype-ps/skype/Grant-CsPersistentChatPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12227 Patch 55
  skype/skype-ps/skype/Grant-CsMobilityPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12226 Patch 54
  skype/skype-ps/skype/Grant-CsIPPhonePolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12225 Patch 53
  skype/skype-ps/skype/Grant-CsExternalAccessPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12224 Patch 52
  skype/skype-ps/skype/Grant-CsConferencingPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12223 Patch 51
  skype/skype-ps/skype/Get-CsXmppGatewayConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12222 Patch 50
  skype/skype-ps/skype/Get-CsXmppAllowedPartner.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12221 Patch 49
  skype/skype-ps/skype/Get-CsVoiceRoutingPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12220 Patch 48
  skype/skype-ps/skype/Get-CsUserServicesPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12219 Patch 47
  skype/skype-ps/skype/Get-CsUserSettingsPageConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12218 Patch 46
  skype/skype-ps/skype/Get-CsUserAcp.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12217 Patch 45
  skype/skype-ps/skype/Get-CsUCPhoneConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12216 Patch 44
  skype/skype-ps/skype/Get-CsTenantHybridConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12215 Patch 42
  skype/skype-ps/skype/Get-CsTeamsUpgradeConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12214 Patch 41
  skype/skype-ps/skype/Get-CsSlaConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12213 Patch 40
  skype/skype-ps/skype/Get-CsPushNotificationConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12212 Patch 39
  skype/skype-ps/skype/Get-CsPrivacyConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12211 Patch 38
  skype/skype-ps/skype/Get-CsPresencePolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12209 Patch 37
  skype/skype-ps/skype/Get-CsPlatformServiceSettings.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12208 Patch 36
  skype/skype-ps/skype/Get-CsPersistentChatState.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12207 Patch 35
  skype/skype-ps/skype/Get-CsPersistentChatRoom.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12206 Patch 34
  skype/skype-ps/skype/Get-CsPersistentChatPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12205 Patch 33
  skype/skype-ps/skype/Get-CsPersistentChatEndpoint.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12204 Patch 32
  skype/skype-ps/skype/Get-CsPersistentChatEligiblePrincipal.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12203 Patch 31
  skype/skype-ps/skype/Get-CsPersistentChatConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12202 Patch 30
  skype/skype-ps/skype/Get-CsPersistentChatComplianceConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12201 Patch 29
  skype/skype-ps/skype/Get-CsPersistentChatCategory.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12200 Patch 28
  skype/skype-ps/skype/Get-CsPersistentChatAddin.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12199 Patch 27
  skype/skype-ps/skype/Get-CsOAuthConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12198 Patch 26
  skype/skype-ps/skype/Get-CsNetworkConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12197 Patch 25
  skype/skype-ps/skype/Get-CsMobilityPolicy.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12196 Patch 24
  skype/skype-ps/skype/Get-CsMeetingRoom.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12195 Patch 23
  skype/skype-ps/skype/Get-CsMeetingConfiguration.md
Labels: area:teams / skype, Microsoft submitter, Admin review

#12193 Patch 21
  skype/skype-ps/skype/Get-CsIPPhonePolicy.md
Labels: area:teams / skype, Microsoft submitter

#12191 Patch 19
  skype/skype-ps/skype/Get-CsImFilterConfiguration.md
Labels: area:teams / skype, Microsoft submitter

#12190 Patch 18
  skype/skype-ps/skype/Get-CsDatabaseMirrorState.md
Labels: area:teams / skype, Microsoft submitter

#12189 Patch 17
  skype/skype-ps/skype/Get-CsConferencingPolicy.md
Labels: area:teams / skype, Microsoft submitter

#12187 Patch 15
  skype/skype-ps/skype/Get-CsAutodiscoverConfiguration.md
Labels: area:teams / skype, Microsoft submitter

#12186 Patch 14
  skype/skype-ps/skype/Get-CsAuthConfig.md
Labels: area:teams / skype, Microsoft submitter

#12185 Patch 13
  skype/skype-ps/skype/Export-CsPersistentChatData.md
Labels: area:teams / skype, Microsoft submitter

#12184 Patch 12
  skype/skype-ps/skype/Enable-CsMeetingRoom.md
Labels: area:teams / skype, Microsoft submitter

#12183 Patch 11
  skype/skype-ps/skype/Disable-CsMeetingRoom.md
Labels: area:teams / skype, Microsoft submitter

#12182 Patch 10
  skype/skype-ps/skype/Debug-CsUnifiedContactStore.md
Labels: area:teams / skype, Microsoft submitter

#12181 Patch 9
  skype/skype-ps/skype/Copy-CsVoicePolicy.md
Labels: area:teams / skype, Microsoft submitter

#12180 Patch 8
  skype/skype-ps/skype/Clear-CsPersistentChatRoom.md
Labels: area:teams / skype, Microsoft submitter

#12179 Update Add-CsSlaDelegates.md
  skype/skype-ps/skype/Add-CsSlaDelegates.md
Labels: Microsoft submitter

#12342 OfficeDocs PowerShell - v-smandalika - 9509824 - Made changes in codeblock parameters terminologies
  exchange/exchange-ps/exchange/Get-MailUser.md
  exchange/exchange-ps/exchange/New-MailUser.md
  exchange/exchange-ps/exchange/Set-MailUser.md
Labels: area:exchange, Microsoft submitter, In review, Sign off

#12357 Update New-ComplianceSearchAction.md
  exchange/exchange-ps/exchange/New-ComplianceSearchAction.md
Labels: Microsoft submitter

#12358 Publish main to live 10/08/2024, 3:30 PM
  exchange/exchange-ps/exchange/New-ComplianceSearchAction.md
Labels: Microsoft submitter

#12347 Update Set-CsTeamsEventsPolicy.md
  teams/teams-ps/teams/New-CsTeamsEventsPolicy.md
  teams/teams-ps/teams/Set-CsTeamsEventsPolicy.md
Labels: Microsoft submitter, In review, Sign off

#12355 Set-CsTenantFederationConfiguration - new AllowedTrialTenantDomains parameter docs
  teams/teams-ps/teams/Set-CsTenantFederationConfiguration.md
Labels: In review, Sign off, PubOps fixes

#12361 Publish main to live, Tuesday 10:30 AM PST, 11/12
  teams/teams-ps/teams/New-CsTeamsEventsPolicy.md
  teams/teams-ps/teams/Set-CsTeamsEventsPolicy.md
  teams/teams-ps/teams/Set-CsTenantFederationConfiguration.md
Labels: Microsoft submitter

#12359 Adding missing parameters from TPM release
  teams/teams-ps/teams/New-CsTeamsCallingPolicy.md
  teams/teams-ps/teams/New-CsTeamsMeetingPolicy.md
  teams/teams-ps/teams/Set-CsTeamsCallingPolicy.md
  teams/teams-ps/teams/Set-CsTeamsMeetingPolicy.md
  teams/teams-ps/teams/set-csteamsmessagingconfiguration.md
Labels: Microsoft submitter, In review, Sign off

#12362 Publish main to live, Tuesday 10:30 AM PST, 11/12
  teams/teams-ps/teams/New-CsTeamsCallingPolicy.md
  teams/teams-ps/teams/New-CsTeamsMeetingPolicy.md
  teams/teams-ps/teams/Set-CsTeamsCallingPolicy.md
  teams/teams-ps/teams/Set-CsTeamsMeetingPolicy.md
  teams/teams-ps/teams/set-csteamsmessagingconfiguration.md
Labels: Microsoft submitter

#12365 Update Get-App.md
  exchange/exchange-ps/exchange/Get-App.md
Labels: Microsoft submitter

#12364 introduce Desk type
  exchange/exchange-ps/exchange/Set-Mailbox.md
Labels: area:exchange, Microsoft submitter

#12363 Updating to correct name
  teams/teams-ps/teams/New-CsTeamsMeetingPolicy.md
  teams/teams-ps/teams/Set-CsTeamsMeetingPolicy.md
Labels: area:teams / skype, Microsoft submitter, In review, Sign off

#12366 Publish main to live, Tuesday 6:30PM PST, 11/12
  exchange/exchange-ps/exchange/Get-App.md
  exchange/exchange-ps/exchange/Set-Mailbox.md
  teams/teams-ps/teams/New-CsTeamsMeetingPolicy.md
  teams/teams-ps/teams/Set-CsTeamsMeetingPolicy.md
Labels: Microsoft submitter

#12368 Published main to live, Wednesday 10:30 AM PST, 11/13
  exchange/exchange-ps/exchange/New-ApplicationAccessPolicy.md
Labels: Microsoft submitter

#12351 Update New-CsTeamsVoiceApplicationsPolicy.md
  teams/teams-ps/teams/New-CsTeamsVoiceApplicationsPolicy.md
  teams/teams-ps/teams/Set-CsTeamsVoiceApplicationsPolicy.md
Labels: Microsoft submitter

#12369 Publish main to live, Wednesday 3:30PM PST, 11/13
  teams/teams-ps/teams/New-CsTeamsVoiceApplicationsPolicy.md
  teams/teams-ps/teams/Set-CsTeamsVoiceApplicationsPolicy.md
Labels: Microsoft submitter

#12370 Viva-chrisda to Main
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Add-VivaOrgInsightsDelegatedRole.md
  exchange/exchange-ps/exchange/Get-VivaOrgInsightsDelegatedRole.md
  exchange/exchange-ps/exchange/Remove-VivaOrgInsightsDelegatedRole.md
  exchange/exchange-ps/exchange/exchange.md
  exchange/mapping/serviceMapping.json
Labels: Microsoft submitter, exchange-powershell/svc

#12371 Connect-chrisda to Main
  exchange/exchange-ps/exchange/Connect-ExchangeOnline.md
Labels: Microsoft submitter

#12373 Chrisda to Main
  exchange/exchange-ps/exchange/New-TenantAllowBlockListItems.md
Labels: Microsoft submitter

#12372 Efrene-patch-1 to Main
  exchange/exchange-ps/exchange/Get-App.md
Labels: Microsoft submitter

#12375 publish main to live, 11/15/2024, 3:30 pm PT
  exchange/exchange-ps/exchange/Get-App.md
Labels: Microsoft submitter
