Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2025-08, with the labels that each got.

#12949 Revert "Correct the description of the OnSendAddinsEnabled parameter"
  exchange/exchange-ps/ExchangePowerShell/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#12950 Restore "Correct the description of the OnSendAddinsEnabled parameter"
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter

#12958 OOB publish main to live to restore changes from PRs 12930 and 12933
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/exchange/Set-OwaMailboxPolicy.md
Labels: Microsoft submitter, exchange-powershell/svc

#12963 Fix final build warning for new pipeline
  exchange/exchange-ps/ExchangePowerShell/Get-ADSiteLink.md
  exchange/exchange-ps/ExchangePowerShell/Set-Mailbox.md
  officewebapps/docs-conceptual/intro.md
  skype/skype-ps/SkypeForBusiness/SkypeForBusiness.md
  teams/teams-ps/MicrosoftTeams/Get-CsAutoAttendantStatus.md
  teams/teams-ps/MicrosoftTeams/Get-CsOnlineSipDomain.md
  teams/teams-ps/MicrosoftTeams/Get-CsTeamsSipDevicesConfiguration.md
  teams/teams-ps/MicrosoftTeams/MicrosoftTeams.md
  teams/teams-ps/MicrosoftTeams/Set-CsTeamsCustomBannerText.md
  teams/teams-ps/MicrosoftTeams/Set-CsTeamsEducationConfiguration.md
  teams/teams-ps/MicrosoftTeams/Test-CsTeamsUnassignedNumberTreatment.md
  test/MicrosoftTeams/Get-CsTeamsSipDevicesConfiguration.yml
  test/MicrosoftTeams/Set-CsTeamsEdcuationConfiguration.yml
  test/MicrosoftTeams/Test-CsTeamsUnassignedNumberTreatment.yml
Labels: Microsoft submitter

#12964 Publish to live
  exchange/exchange-ps/ExchangePowerShell/Get-ADSiteLink.md
  exchange/exchange-ps/ExchangePowerShell/Set-Mailbox.md
  officewebapps/docs-conceptual/intro.md
  skype/skype-ps/SkypeForBusiness/SkypeForBusiness.md
  teams/teams-ps/MicrosoftTeams/Get-CsAutoAttendantStatus.md
  teams/teams-ps/MicrosoftTeams/Get-CsOnlineSipDomain.md
  teams/teams-ps/MicrosoftTeams/Get-CsTeamsSipDevicesConfiguration.md
  teams/teams-ps/MicrosoftTeams/MicrosoftTeams.md
  teams/teams-ps/MicrosoftTeams/Set-CsTeamsCustomBannerText.md
  teams/teams-ps/MicrosoftTeams/Set-CsTeamsEducationConfiguration.md
  teams/teams-ps/MicrosoftTeams/Test-CsTeamsUnassignedNumberTreatment.md
  test/MicrosoftTeams/Get-CsTeamsSipDevicesConfiguration.yml
  test/MicrosoftTeams/Set-CsTeamsEdcuationConfiguration.yml
  test/MicrosoftTeams/Test-CsTeamsUnassignedNumberTreatment.yml
Labels: Microsoft submitter

#12965 Fix last 2 content errors
  exchange/exchange-ps/ExchangePowerShell/Set-Mailbox.md
  teams/teams-ps/MicrosoftTeams/Set-CsTeamsEducationConfiguration.md
  test/MicrosoftTeams/Get-CsTeamsSipDevicesConfiguration.yml
  test/MicrosoftTeams/Set-CsTeamsEdcuationConfiguration.yml
  test/MicrosoftTeams/Test-CsTeamsUnassignedNumberTreatment.yml
Labels: Microsoft submitter

#12966 Publish to live
  exchange/exchange-ps/ExchangePowerShell/Set-Mailbox.md
  teams/teams-ps/MicrosoftTeams/Set-CsTeamsEducationConfiguration.md
  test/MicrosoftTeams/Get-CsTeamsSipDevicesConfiguration.yml
  test/MicrosoftTeams/Set-CsTeamsEdcuationConfiguration.yml
  test/MicrosoftTeams/Test-CsTeamsUnassignedNumberTreatment.yml
Labels: Microsoft submitter

#12929 Update remarks about legacy Exchange Online tokens
  exchange/exchange-ps/ExchangePowerShell/Get-AuthenticationPolicy.md
  exchange/exchange-ps/ExchangePowerShell/Remove-AuthenticationPolicy.md
  exchange/exchange-ps/ExchangePowerShell/Set-AuthenticationPolicy.md
Labels: Microsoft submitter

#12970 Publish 8/4
  .openpublishing.publish.config.json
  exchange/mapping/monikerMapping.json
  skype/mapping/monikerMapping.json
  spmt/mapping/monikerMapping.json
  teams/mapping/monikerMapping.json
  whiteboard/mapping/monikerMapping.json
Labels: Microsoft submitter

#12980 Updating syntax and examples for email notifcation during telephone n…
  teams/teams-ps/MicrosoftTeams/Get-CsPhoneNumberAssignment.md
  teams/teams-ps/MicrosoftTeams/Remove-CsPhoneNumberAssignment.md
  teams/teams-ps/MicrosoftTeams/Set-CsPhoneNumberAssignment.md
Labels: Microsoft submitter

#12979 Update New-CsAutoAttendantCallFlow.md
  teams/teams-ps/MicrosoftTeams/Get-CsMainlineAttendantAppointmentBookingFlow.md
  teams/teams-ps/MicrosoftTeams/Get-CsMainlineAttendantFlow.md
  teams/teams-ps/MicrosoftTeams/Get-CsMainlineAttendantQuestionAnswerFlow.md
  teams/teams-ps/MicrosoftTeams/MicrosoftTeams.md
  teams/teams-ps/MicrosoftTeams/New-CsAutoAttendantCallFlow.md
  teams/teams-ps/MicrosoftTeams/New-CsComplianceRecordingForCallQueueTemplate.md
  teams/teams-ps/MicrosoftTeams/New-CsMainlineAttendantAppointmentBookingFlow.md
  teams/teams-ps/MicrosoftTeams/New-CsMainlineAttendantQuestionAnswerFlow.md
  teams/teams-ps/MicrosoftTeams/Remove-CsMainlineAttendantAppointmentBookingFlow.md
  teams/teams-ps/MicrosoftTeams/Remove-CsMainlineAttendantQuestionAnswerFlow.md
  teams/teams-ps/MicrosoftTeams/Set-CsMainlineAttendantAppointmentBookingFlow.md
  teams/teams-ps/MicrosoftTeams/Set-CsMainlineAttendantQuestionAnswerFlow.md
Labels: Microsoft submitter

#13003 Acrolinx 16
  exchange/exchange-ps/ExchangePowerShell/Test-OwaConnectivity.md
  exchange/exchange-ps/ExchangePowerShell/Test-PopConnectivity.md
  exchange/exchange-ps/ExchangePowerShell/Test-PowerShellConnectivity.md
  exchange/exchange-ps/ExchangePowerShell/Test-ReplicationHealth.md
  exchange/exchange-ps/ExchangePowerShell/Test-SenderId.md
  exchange/exchange-ps/ExchangePowerShell/Test-ServiceHealth.md
  exchange/exchange-ps/ExchangePowerShell/Test-ServicePrincipalAuthorization.md
  exchange/exchange-ps/ExchangePowerShell/Test-SiteMailbox.md
  exchange/exchange-ps/ExchangePowerShell/Test-SmtpConnectivity.md
  exchange/exchange-ps/ExchangePowerShell/Test-SystemHealth.md
  exchange/exchange-ps/ExchangePowerShell/Test-TextExtraction.md
  exchange/exchange-ps/ExchangePowerShell/Test-UMConnectivity.md
  exchange/exchange-ps/ExchangePowerShell/Test-WebServicesConnectivity.md
  exchange/exchange-ps/ExchangePowerShell/Undo-SoftDeletedMailbox.md
  exchange/exchange-ps/ExchangePowerShell/Undo-SoftDeletedUnifiedGroup.md
  exchange/exchange-ps/ExchangePowerShell/Uninstall-TransportAgent.md
  exchange/exchange-ps/ExchangePowerShell/Update-AddressList.md
  exchange/exchange-ps/ExchangePowerShell/Update-ComplianceCaseMember.md
  exchange/exchange-ps/ExchangePowerShell/Update-DatabaseSchema.md
  exchange/exchange-ps/ExchangePowerShell/Update-DistributionGroupMember.md
  exchange/exchange-ps/ExchangePowerShell/Update-EmailAddressPolicy.md
  exchange/exchange-ps/ExchangePowerShell/Update-ExchangeHelp.md
  exchange/exchange-ps/ExchangePowerShell/Update-FileDistributionService.md
  exchange/exchange-ps/ExchangePowerShell/Update-GlobalAddressList.md
  exchange/exchange-ps/ExchangePowerShell/Update-HybridConfiguration.md
  exchange/exchange-ps/ExchangePowerShell/Update-MailboxDatabaseCopy.md
  exchange/exchange-ps/ExchangePowerShell/Update-OfflineAddressBook.md
  exchange/exchange-ps/ExchangePowerShell/Update-PublicFolder.md
  exchange/exchange-ps/ExchangePowerShell/Update-PublicFolderHierarchy.md
  exchange/exchange-ps/ExchangePowerShell/Update-PublicFolderMailbox.md
  exchange/exchange-ps/ExchangePowerShell/Update-Recipient.md
  exchange/exchange-ps/ExchangePowerShell/Update-RoleGroupMember.md
  exchange/exchange-ps/ExchangePowerShell/Update-SafeList.md
  exchange/exchange-ps/ExchangePowerShell/Update-SiteMailbox.md
  exchange/exchange-ps/ExchangePowerShell/Update-StoreMailboxState.md
  exchange/exchange-ps/ExchangePowerShell/Update-eDiscoveryCaseAdmin.md
  exchange/exchange-ps/ExchangePowerShell/Upgrade-DistributionGroup.md
  exchange/exchange-ps/ExchangePowerShell/Validate-OutboundConnector.md
  exchange/exchange-ps/ExchangePowerShell/Write-AdminAuditLog.md
Labels: Microsoft submitter, Merge large pull request

#12994 Update New-CsCallQueue.md
  teams/teams-ps/MicrosoftTeams/Get-CsPersonalAttendantSettings.md
  teams/teams-ps/MicrosoftTeams/Get-CsTeamsPersonalAttendantPolicy.md
  teams/teams-ps/MicrosoftTeams/Grant-CsTeamsPersonalAttendantPolicy.md
  teams/teams-ps/MicrosoftTeams/MicrosoftTeams.md
  teams/teams-ps/MicrosoftTeams/New-CsCallQueue.md
  teams/teams-ps/MicrosoftTeams/New-CsTeamsPersonalAttendantPolicy.md
  teams/teams-ps/MicrosoftTeams/Remove-CsTeamsPersonalAttendantPolicy.md
  teams/teams-ps/MicrosoftTeams/Set-CsPersonalAttendantSettings.md
  teams/teams-ps/MicrosoftTeams/Set-CsTeamsPersonalAttendantPolicy.md
Labels: Microsoft submitter, In review, Sign off

#13017 Add Exchange Server SE 8
  exchange/exchange-ps/ExchangePowerShell/Set-OwaMailboxPolicy.md
  exchange/exchange-ps/ExchangePowerShell/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-PartnerApplication.md
  exchange/exchange-ps/ExchangePowerShell/Set-PendingFederatedDomain.md
  exchange/exchange-ps/ExchangePowerShell/Set-PolicyTipConfig.md
  exchange/exchange-ps/ExchangePowerShell/Set-PopSettings.md
  exchange/exchange-ps/ExchangePowerShell/Set-PowerShellVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-PublicFolder.md
  exchange/exchange-ps/ExchangePowerShell/Set-PublicFolderMigrationRequest.md
  exchange/exchange-ps/ExchangePowerShell/Set-PublicFolderMoveRequest.md
  exchange/exchange-ps/ExchangePowerShell/Set-ReceiveConnector.md
  exchange/exchange-ps/ExchangePowerShell/Set-RecipientFilterConfig.md
  exchange/exchange-ps/ExchangePowerShell/Set-RemoteDomain.md
  exchange/exchange-ps/ExchangePowerShell/Set-RemoteMailbox.md
  exchange/exchange-ps/ExchangePowerShell/Set-ResourceConfig.md
  exchange/exchange-ps/ExchangePowerShell/Set-ResubmitRequest.md
  exchange/exchange-ps/ExchangePowerShell/Set-RetentionPolicy.md
  exchange/exchange-ps/ExchangePowerShell/Set-RetentionPolicyTag.md
  exchange/exchange-ps/ExchangePowerShell/Set-RoleAssignmentPolicy.md
  exchange/exchange-ps/ExchangePowerShell/Set-RoleGroup.md
  exchange/exchange-ps/ExchangePowerShell/Set-RpcClientAccess.md
  exchange/exchange-ps/ExchangePowerShell/Set-SearchDocumentFormat.md
  exchange/exchange-ps/ExchangePowerShell/Set-SendConnector.md
  exchange/exchange-ps/ExchangePowerShell/Set-SenderFilterConfig.md
  exchange/exchange-ps/ExchangePowerShell/Set-SenderIdConfig.md
  exchange/exchange-ps/ExchangePowerShell/Set-SenderReputationConfig.md
  exchange/exchange-ps/ExchangePowerShell/Set-ServerComponentState.md
  exchange/exchange-ps/ExchangePowerShell/Set-ServerMonitor.md
  exchange/exchange-ps/ExchangePowerShell/Set-SettingOverride.md
  exchange/exchange-ps/ExchangePowerShell/Set-SharingPolicy.md
  exchange/exchange-ps/ExchangePowerShell/Set-SiteMailbox.md
  exchange/exchange-ps/ExchangePowerShell/Set-SiteMailboxProvisioningPolicy.md
  exchange/exchange-ps/ExchangePowerShell/Set-SmimeConfig.md
  exchange/exchange-ps/ExchangePowerShell/Set-SweepRule.md
  exchange/exchange-ps/ExchangePowerShell/Set-SystemMessage.md
  exchange/exchange-ps/ExchangePowerShell/Set-TextMessagingAccount.md
  exchange/exchange-ps/ExchangePowerShell/Set-ThrottlingPolicy.md
  exchange/exchange-ps/ExchangePowerShell/Set-ThrottlingPolicyAssociation.md
  exchange/exchange-ps/ExchangePowerShell/Set-TransportAgent.md
  exchange/exchange-ps/ExchangePowerShell/Set-TransportConfig.md
  exchange/exchange-ps/ExchangePowerShell/Set-TransportRule.md
  exchange/exchange-ps/ExchangePowerShell/Set-TransportServer.md
  exchange/exchange-ps/ExchangePowerShell/Set-TransportService.md
  exchange/exchange-ps/ExchangePowerShell/Set-User.md
  exchange/exchange-ps/ExchangePowerShell/Set-UserPhoto.md
  exchange/exchange-ps/ExchangePowerShell/Set-WebServicesVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-X400AuthoritativeDomain.md
  exchange/exchange-ps/ExchangePowerShell/Start-ComplianceSearch.md
  exchange/exchange-ps/ExchangePowerShell/Start-DatabaseAvailabilityGroup.md
  exchange/exchange-ps/ExchangePowerShell/Start-EdgeSynchronization.md
  exchange/exchange-ps/ExchangePowerShell/Start-MailboxAssistant.md
  exchange/exchange-ps/ExchangePowerShell/Start-MailboxSearch.md
  exchange/exchange-ps/ExchangePowerShell/Start-ManagedFolderAssistant.md
  exchange/exchange-ps/ExchangePowerShell/Start-MigrationBatch.md
  exchange/exchange-ps/ExchangePowerShell/Start-MigrationUser.md
  exchange/exchange-ps/ExchangePowerShell/Stop-ComplianceSearch.md
  exchange/exchange-ps/ExchangePowerShell/Stop-DatabaseAvailabilityGroup.md
  exchange/exchange-ps/ExchangePowerShell/Stop-MailboxSearch.md
  exchange/exchange-ps/ExchangePowerShell/Stop-ManagedFolderAssistant.md
  exchange/exchange-ps/ExchangePowerShell/Stop-MigrationBatch.md
Labels: Microsoft submitter, Merge large pull request

#13022 Update Set-SafeLinksPolicy.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/exchange-ps/ExchangePowerShell/Set-SafeLinksPolicy.md
Labels: Microsoft submitter, exchange-powershell/svc

#13025 Chrisda to Main
  exchange/docs-conceptual/exchange-online-powershell-v2.md
Labels: Microsoft submitter, exchange-powershell/svc

#13026 Chrisda to Main
  exchange/docs-conceptual/exchange-online-powershell-v2.md
Labels: Microsoft submitter, exchange-powershell/svc

#13028 Delete duplicated content in Cs-TeamsCallingPolicy
  teams/teams-ps/MicrosoftTeams/New-CsTeamsCallingPolicy.md
  teams/teams-ps/MicrosoftTeams/Set-CsTeamsCallingPolicy.md
Labels: Microsoft submitter, In review, Sign off

#12976 Update app-only-auth-powershell-v2.md
  exchange/docs-conceptual/app-only-auth-powershell-v2.md
Labels: exchange-online/svc

#13046 More fixes per build report
  skype/skype-ps/SkypeForBusiness/Get-CsUser.md
  teams/teams-ps/MicrosoftTeams/Grant-CsTeamsMeetingBroadcastPolicy.md
  teams/teams-ps/MicrosoftTeams/Grant-CsTeamsMessagingPolicy.md
  teams/teams-ps/MicrosoftTeams/New-CsTeamsShiftsConnection.md
  teams/teams-ps/MicrosoftTeams/New-CsTeamsShiftsConnectionInstance.md
  teams/teams-ps/MicrosoftTeams/Set-CsTeamsGuestMessagingConfiguration.md
Labels: Microsoft submitter

#13047 Update .openpublishing.redirection.teams.json
  .openpublishing.redirection.teams.json
Labels: Microsoft submitter

#13049 30 days data in AE
  exchange/exchange-ps/ExchangePowerShell/Export-ActivityExplorerData.md
Labels: Microsoft submitter

#13051 Removing EXO references to BadItemLimit and LargeItemLimit
  exchange/exchange-ps/ExchangePowerShell/New-MigrationBatch.md
Labels: Microsoft submitter

#13055 Update Set-CsMainlineAttendantAppointmentBookingFlow.md
  teams/teams-ps/MicrosoftTeams/Get-CsMainlineAttendantFlow.md
  teams/teams-ps/MicrosoftTeams/Get-CsPersonalAttendantSettings.md
  teams/teams-ps/MicrosoftTeams/New-CsAutoAttendantMenuOption.md
  teams/teams-ps/MicrosoftTeams/Set-CsMainlineAttendantAppointmentBookingFlow.md
  teams/teams-ps/MicrosoftTeams/Set-CsMainlineAttendantQuestionAnswerFlow.md
Labels: Microsoft submitter, In review, Sign off

#13060 Update cmdlets to remove BIL/LIL in ExO
  exchange/exchange-ps/ExchangePowerShell/New-MailboxImportRequest.md
  exchange/exchange-ps/ExchangePowerShell/New-MailboxRestoreRequest.md
  exchange/exchange-ps/ExchangePowerShell/New-MigrationBatch.md
  exchange/exchange-ps/ExchangePowerShell/New-MoveRequest.md
  exchange/exchange-ps/ExchangePowerShell/New-PublicFolderMoveRequest.md
  exchange/exchange-ps/ExchangePowerShell/Set-MailboxExportRequest.md
  exchange/exchange-ps/ExchangePowerShell/Set-MailboxImportRequest.md
  exchange/exchange-ps/ExchangePowerShell/Set-MailboxRestoreRequest.md
  exchange/exchange-ps/ExchangePowerShell/Set-MigrationBatch.md
  exchange/exchange-ps/ExchangePowerShell/Set-MigrationUser.md
  exchange/exchange-ps/ExchangePowerShell/Set-MoveRequest.md
Labels: Microsoft submitter

#13062 LargeItemLimit description consistency
  exchange/exchange-ps/ExchangePowerShell/New-MailboxExportRequest.md
  exchange/exchange-ps/ExchangePowerShell/New-PublicFolderMigrationRequest.md
  exchange/exchange-ps/ExchangePowerShell/Set-PublicFolderMigrationRequest.md
  exchange/exchange-ps/ExchangePowerShell/Set-PublicFolderMoveRequest.md
Labels: Microsoft submitter

#13069 Chrisda to Main
  exchange/exchange-ps/ExchangePowerShell/Enable-ExchangeCertificate.md
  exchange/exchange-ps/ExchangePowerShell/Enable-OutlookAnywhere.md
  exchange/exchange-ps/ExchangePowerShell/Get-FederationInformation.md
  exchange/exchange-ps/ExchangePowerShell/Import-ExchangeCertificate.md
  exchange/exchange-ps/ExchangePowerShell/New-ActiveSyncVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/New-AutodiscoverVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/New-EcpVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/New-ExchangeCertificate.md
  exchange/exchange-ps/ExchangePowerShell/New-MapiVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/New-MigrationEndpoint.md
  exchange/exchange-ps/ExchangePowerShell/New-OabVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/New-OwaVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/New-PowerShellVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/New-WebServicesVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Remove-ExchangeCertificate.md
  exchange/exchange-ps/ExchangePowerShell/Set-ActiveSyncVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-AutodiscoverVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-EcpVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-ImapSettings.md
  exchange/exchange-ps/ExchangePowerShell/Set-MapiVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-OabVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-OutlookAnywhere.md
  exchange/exchange-ps/ExchangePowerShell/Set-OutlookProvider.md
  exchange/exchange-ps/ExchangePowerShell/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-PopSettings.md
  exchange/exchange-ps/ExchangePowerShell/Set-PowerShellVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-WebServicesVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Test-ActiveSyncConnectivity.md
  exchange/exchange-ps/ExchangePowerShell/Test-MigrationServerAvailability.md
  exchange/exchange-ps/ExchangePowerShell/Test-OwaConnectivity.md
  exchange/exchange-ps/ExchangePowerShell/Test-PowerShellConnectivity.md
  exchange/exchange-ps/ExchangePowerShell/Test-WebServicesConnectivity.md
Labels: Microsoft submitter, Merge large pull request

#13072 ExtendedProtectionTokenChecking consistency updates
  exchange/exchange-ps/ExchangePowerShell/Enable-OutlookAnywhere.md
  exchange/exchange-ps/ExchangePowerShell/New-ActiveSyncVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/New-AutodiscoverVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/New-EcpVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/New-MapiVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/New-OabVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/New-OwaVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/New-PowerShellVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/New-WebServicesVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-ActiveSyncVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-AutodiscoverVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-EcpVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-MapiVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-OabVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-OutlookAnywhere.md
  exchange/exchange-ps/ExchangePowerShell/Set-OwaVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-PowerShellVirtualDirectory.md
  exchange/exchange-ps/ExchangePowerShell/Set-WebServicesVirtualDirectory.md
Labels: Microsoft submitter

#13075 Adding new cmdlets for telephone number specific policies
  teams/teams-ps/MicrosoftTeams/Get-CsPhoneNumberPolicyAssignment.md
  teams/teams-ps/MicrosoftTeams/MicrosoftTeams.md
  teams/teams-ps/MicrosoftTeams/Set-CsPhoneNumberPolicyAssignment.md
Labels: Microsoft submitter, In review, Sign off, Triage-Completed

#13078 Update Get- and Set- CsPhoneNumberPolicyAssignment to fix formatting errors
  teams/teams-ps/MicrosoftTeams/Get-CsPhoneNumberPolicyAssignment.md
  teams/teams-ps/MicrosoftTeams/Set-CsPhoneNumberPolicyAssignment.md
Labels: In review, Sign off, Triage-Completed

#13039 Update New-MailboxRestoreRequest.md to remove BIL and LIL from ExOnline
  exchange/exchange-ps/ExchangePowerShell/New-MailboxRestoreRequest.md
Labels: area:exchange, Microsoft submitter
