Repository MicrosoftDocs/office-docs-powershell, pull requests merged in 2025-09, with the labels that each got.

#13086 Update New-CaseHoldPolicy.md
  exchange/exchange-ps/ExchangePowerShell/New-CaseHoldPolicy.md
Labels: Microsoft submitter

#13103 Update exchange-online-powershell-v2.md
  exchange/docs-conceptual/exchange-online-powershell-v2.md
Labels: Microsoft submitter, exchange-powershell/svc

#13105 38chrisda to Main
  exchange/docs-conceptual/exchange-online-powershell-v2.md
  exchange/docs-conceptual/whats-new-in-the-exo-module.md
  exchange/exchange-ps/ExchangePowerShell/Add-VivaModuleFeaturePolicy.md
  exchange/exchange-ps/ExchangePowerShell/Connect-ExchangeOnline.md
  exchange/exchange-ps/ExchangePowerShell/Connect-IPPSSession.md
  exchange/exchange-ps/ExchangePowerShell/Disconnect-ExchangeOnline.md
  exchange/exchange-ps/ExchangePowerShell/Get-ConnectionInformation.md
  exchange/exchange-ps/ExchangePowerShell/Get-VivaModuleFeatureEnablement.md
  exchange/exchange-ps/ExchangePowerShell/Get-VivaModuleFeaturePolicy.md
  exchange/exchange-ps/ExchangePowerShell/Update-VivaModuleFeaturePolicy.md
Labels: Microsoft submitter, exchange-online/svc, exchange-powershell/svc

#13112 Update Export-ContentExplorerData documentation
  exchange/exchange-ps/ExchangePowerShell/Export-ContentExplorerData.md
Labels: Microsoft submitter

#13116 New/Update cmdlet article updates
  repo_docs/NEW_CMDLETS.md
  repo_docs/UPDATE_CMDLETS.md
Labels: Microsoft submitter

#13111 Update New-CsAutoAttendant.md
  teams/teams-ps/MicrosoftTeams/New-CsAutoAttendant.md
Labels: Microsoft submitter

#13134 Update New-CsComplianceRecordingForCallQueueTemplate.md
  teams/teams-ps/MicrosoftTeams/Get-CsTagsTemplate.md
  teams/teams-ps/MicrosoftTeams/New-CsComplianceRecordingForCallQueueTemplate.md
Labels: Microsoft submitter

#13140 Fixing typo
  exchange/docs-conceptual/connect-exo-powershell-managed-identity.md
Labels: exchange-online/svc

#13043 Update New-MoveRequest.md to clarify when to check status
  exchange/exchange-ps/ExchangePowerShell/New-MoveRequest.md
Labels: Microsoft submitter
